nodered/zrh/bacnet/MUV-EDGE.json
{
    "id": "a51495243d507bef",
    "label": "65d7224130a69205eb45fdc3",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "8bfcnrs1y4tocsks",
            "type": "mqtt out",
            "z": "a51495243d507bef",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 780,
            "wires": []
        },
        {
            "id": "02zua250g9qxwagp",
            "type": "inject",
            "z": "a51495243d507bef",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "dl7qrmz5z46h6yj9"
                ]
            ]
        },
        {
            "id": "dl7qrmz5z46h6yj9",
            "type": "getflows",
            "z": "a51495243d507bef",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "9kw8880q1d4u4gn9"
                ]
            ]
        },
        {
            "id": "9kw8880q1d4u4gn9",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "xytezcclek2uu4ko"
                ]
            ]
        },
        {
            "id": "kkne7xpvmsiwdz6y",
            "type": "comment",
            "z": "a51495243d507bef",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "elnz9639en2t9vqz",
            "type": "comment",
            "z": "a51495243d507bef",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "xytezcclek2uu4ko",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "ksup5sxxr5v9elt2"
                ]
            ]
        },
        {
            "id": "9l3k1ckufqj5d3s5",
            "type": "comment",
            "z": "a51495243d507bef",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "gbslf3jga0g2gysy",
            "type": "inject",
            "z": "a51495243d507bef",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "60",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "9ua2bq9cfhlhyjfu"
                ]
            ]
        },
        {
            "id": "l4g2yysbv030l9zu",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Set data point values",
            "func": "var bacnetPoints = []\nvar dataPointvalues = {\"payload\" :{}};\n\nfor (var propertyName in msg.payload) {\n    if (propertyName.includes(\"OBJECT_LIST\")){\n        msg.payload[propertyName].map(bacnetObject => {\n            let point = {};\n            Object.keys(bacnetObject).forEach(key => {\n                if (key.includes(\"OBJECT_NAME\")){\n                    point.id = bacnetObject[key];\n                } else if (key.includes(\"PRESENT_VALUE\")) {\n                    point.value = bacnetObject[key];\n                }\n            })\n            if(point.id && point.value){\n                bacnetPoints.push(point);\n            }\n        });\n    }\n}\n\nflow.get(\"bridge.image.protocols\").map(dataPoint => {\n    let bacnetPoint = bacnetPoints.find(element => element.id === dataPoint.id);\n    if (bacnetPoint && dataPoint.topic.includes(\"bool\"))  {\n        dataPointvalues.payload[dataPoint.id] = bacnetPoint.value.includes(\"ACTIVE\") ? true : false;\n    } else if (bacnetPoint) {\n        dataPointvalues.payload[dataPoint.id] = bacnetPoint.value;\n    }\n});\n\nreturn dataPointvalues;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 820,
            "y": 520,
            "wires": [
                [
                    "qr37h3i07kn3n1rr"
                ]
            ]
        },
        {
            "id": "wel7dq9ux78lrsxw",
            "type": "delay",
            "z": "a51495243d507bef",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "8bfcnrs1y4tocsks"
                ]
            ]
        },
        {
            "id": "putqr4to39tlbejx",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 780,
            "wires": [
                [
                    "8bfcnrs1y4tocsks"
                ]
            ]
        },
        {
            "id": "ksup5sxxr5v9elt2",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "8ytk5xm4c4zxhvnq",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 740,
            "wires": [
                [
                    "tegpd5k76dx7276b"
                ]
            ]
        },
        {
            "id": "tegpd5k76dx7276b",
            "type": "mqtt out",
            "z": "a51495243d507bef",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 720,
            "wires": []
        },
        {
            "id": "4ob0yvv2t7n25c96",
            "type": "comment",
            "z": "a51495243d507bef",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "9ua2bq9cfhlhyjfu",
            "type": "link out",
            "z": "a51495243d507bef",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "23gxn86y3qo5k6uh",
                "lmv8uc3prs4dulol"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "23gxn86y3qo5k6uh",
            "type": "link in",
            "z": "a51495243d507bef",
            "name": "Protocol Read",
            "links": [
                "9ua2bq9cfhlhyjfu",
                "79tc6iikarcz45k8"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "eqfh4prsb6v0tc89"
                ]
            ]
        },
        {
            "id": "eqfh4prsb6v0tc89",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "rdw4dga2k5hk39qi"
                ]
            ]
        },
        {
            "id": "79tc6iikarcz45k8",
            "type": "link out",
            "z": "a51495243d507bef",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "23gxn86y3qo5k6uh"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "lmv8uc3prs4dulol",
            "type": "link in",
            "z": "a51495243d507bef",
            "name": "Virtual Read",
            "links": [
                "9ua2bq9cfhlhyjfu"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "mcvzifg8mgse031f"
                ]
            ]
        },
        {
            "id": "mcvzifg8mgse031f",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "zewddyx5efmclpil"
                ]
            ]
        },
        {
            "id": "61al0zy9km2oz094",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "7uz1v810hwt4klzu"
                ]
            ]
        },
        {
            "id": "5htygxuz2pjar5bm",
            "type": "comment",
            "z": "a51495243d507bef",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 640,
            "wires": []
        },
        {
            "id": "5ac72aga0k5om8vd",
            "type": "link in",
            "z": "a51495243d507bef",
            "name": "Update Metrics",
            "links": [
                "7uz1v810hwt4klzu",
                "qr37h3i07kn3n1rr",
                "904fe2b07f50ce47"
            ],
            "x": 75,
            "y": 740,
            "wires": [
                [
                    "qsb6oiqmxigzz5v0"
                ]
            ]
        },
        {
            "id": "qsb6oiqmxigzz5v0",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 740,
            "wires": [
                [
                    "putqr4to39tlbejx",
                    "8ytk5xm4c4zxhvnq"
                ]
            ]
        },
        {
            "id": "qr37h3i07kn3n1rr",
            "type": "link out",
            "z": "a51495243d507bef",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "5ac72aga0k5om8vd"
            ],
            "x": 1275,
            "y": 520
        },
        {
            "id": "w893i8k9tn2krao8",
            "type": "flogger",
            "z": "a51495243d507bef",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "cojfiqccjh3tc73s",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "jj5g9fsxcguvdqvt"
                ]
            ]
        },
        {
            "id": "4u4cytazfadygzlb",
            "type": "catch",
            "z": "a51495243d507bef",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "cojfiqccjh3tc73s"
                ]
            ]
        },
        {
            "id": "jj5g9fsxcguvdqvt",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "w893i8k9tn2krao8"
                ]
            ]
        },
        {
            "id": "7uz1v810hwt4klzu",
            "type": "link out",
            "z": "a51495243d507bef",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "5ac72aga0k5om8vd"
            ],
            "x": 1275,
            "y": 260
        },
        {
            "id": "ohgtnix3z6hikbbd",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "61al0zy9km2oz094"
                ]
            ]
        },
        {
            "id": "zewddyx5efmclpil",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "ohgtnix3z6hikbbd"
                ]
            ]
        },
        {
            "id": "rdw4dga2k5hk39qi",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "4fb6bf9552d1c542"
                ]
            ]
        },
        {
            "id": "10elx4q1ki0tupfi",
            "type": "mqtt in",
            "z": "a51495243d507bef",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "0lkf39hj9xei14hr"
                ]
            ]
        },
        {
            "id": "121k6mfzxdczks2g",
            "type": "inject",
            "z": "a51495243d507bef",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "ttucwp8dbvxwo63a"
                ]
            ]
        },
        {
            "id": "a896fo32jo9h2s7e",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "10elx4q1ki0tupfi"
                ]
            ]
        },
        {
            "id": "ttucwp8dbvxwo63a",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "m685l6evk932tuwg"
                ],
                [
                    "a896fo32jo9h2s7e"
                ]
            ]
        },
        {
            "id": "m685l6evk932tuwg",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "0lkf39hj9xei14hr",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "alhc3poep2tdnxsf"
                ],
                [
                    "wp659m0msozl21z3"
                ]
            ]
        },
        {
            "id": "luiiu9xrj97917b4",
            "type": "mqtt out",
            "z": "a51495243d507bef",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "alhc3poep2tdnxsf",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "7mi9eyxtvrbgu4qe"
                ],
                [
                    "0gwp9j2inw6kft4z"
                ]
            ]
        },
        {
            "id": "pkm5r33l3rhzamtz",
            "type": "debug",
            "z": "a51495243d507bef",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "7mi9eyxtvrbgu4qe",
            "type": "switch",
            "z": "a51495243d507bef",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "t2q0jw7n0nqmk02g"
                ],
                [
                    "pkm5r33l3rhzamtz"
                ]
            ]
        },
        {
            "id": "t2q0jw7n0nqmk02g",
            "type": "debug",
            "z": "a51495243d507bef",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "abe4n8b6mvvkdsra",
            "type": "comment",
            "z": "a51495243d507bef",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "ce3y0xg9mvf2ngz4",
            "type": "catch",
            "z": "a51495243d507bef",
            "name": "",
            "scope": [
                "3v8asazcjzcmssk3"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "djwm2fkcs6we3sq8"
                ]
            ]
        },
        {
            "id": "wp659m0msozl21z3",
            "type": "delay",
            "z": "a51495243d507bef",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "luiiu9xrj97917b4"
                ]
            ]
        },
        {
            "id": "kkesvq99nyxgemlt",
            "type": "change",
            "z": "a51495243d507bef",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "wp659m0msozl21z3"
                ]
            ]
        },
        {
            "id": "0gwp9j2inw6kft4z",
            "type": "delay",
            "z": "a51495243d507bef",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "luiiu9xrj97917b4"
                ]
            ]
        },
        {
            "id": "djwm2fkcs6we3sq8",
            "type": "change",
            "z": "a51495243d507bef",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "0gwp9j2inw6kft4z"
                ]
            ]
        },
        {
            "id": "4fb6bf9552d1c542",
            "type": "function",
            "z": "a51495243d507bef",
            "name": "Set Bacnet parameters",
            "func": "// msg.apduTimeout = flow.get(\"bridge.image.controller.apduTimeout\");\n// msg.broadcastAddress = flow.get(\"bridge.image.controller.broadcastAddress\");\n// msg.communicationPort = flow.get(\"bridge.image.controller.tcpPort\");\nmsg.deviceId = flow.get(\"bridge.image.controller.unitId\");\nmsg.address = flow.get(\"bridge.image.controller.tcpHost\");\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 400,
            "y": 520,
            "wires": [
                [
                    "ede5e2d97a9ff630"
                ]
            ]
        },
        {
            "id": "ede5e2d97a9ff630",
            "type": "read-single-device",
            "z": "a51495243d507bef",
            "name": "",
            "x": 610,
            "y": 520,
            "wires": [
                [
                    "l4g2yysbv030l9zu"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "0ej5nk3u852eja5o",
            "type": "modbus-client",
            "z": "a51495243d507bef",
            "name": "Flexible Channel",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "10502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": "1",
            "commandDelay": "1",
            "clientTimeout": "1000",
            "reconnectOnTimeout": true,
            "reconnectTimeout": "2000",
            "parallelUnitIdsAllowed": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}