nodered/generic/edge/MUV-EDGE-ULTRA-IOTD-IMX8P.json
{
    "id": "2db35774679ef5c5",
    "label": "1231222223123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "238fbf2ig25m3oyx",
            "type": "mqtt out",
            "z": "2db35774679ef5c5",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 920,
            "wires": []
        },
        {
            "id": "bt2s9wnocrzciid4",
            "type": "inject",
            "z": "2db35774679ef5c5",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "sfqgeganc23cevpt"
                ]
            ]
        },
        {
            "id": "sfqgeganc23cevpt",
            "type": "getflows",
            "z": "2db35774679ef5c5",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "o7nuc3pnti127b6i"
                ]
            ]
        },
        {
            "id": "o7nuc3pnti127b6i",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "4anypq7ozr8vv3zp"
                ]
            ]
        },
        {
            "id": "dc4hju0dsysaudeh",
            "type": "comment",
            "z": "2db35774679ef5c5",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "h5hnuslj6v0xxtor",
            "type": "comment",
            "z": "2db35774679ef5c5",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "4anypq7ozr8vv3zp",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "7xj5zx2dqjoouecc"
                ]
            ]
        },
        {
            "id": "t5iqezbts4x7m4jj",
            "type": "comment",
            "z": "2db35774679ef5c5",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "d5pc2hqbuvdztb14",
            "type": "inject",
            "z": "2db35774679ef5c5",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "6x741ll87n96fm07"
                ]
            ]
        },
        {
            "id": "orwkgi3zy3spnito",
            "type": "delay",
            "z": "2db35774679ef5c5",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "238fbf2ig25m3oyx"
                ]
            ]
        },
        {
            "id": "g4q5br8yzcev9uvj",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 920,
            "wires": [
                [
                    "238fbf2ig25m3oyx"
                ]
            ]
        },
        {
            "id": "7xj5zx2dqjoouecc",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "hoi85ln6vmt9ubj4",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "q9mgk79tvu2j91i4"
                ]
            ]
        },
        {
            "id": "q9mgk79tvu2j91i4",
            "type": "mqtt out",
            "z": "2db35774679ef5c5",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 860,
            "wires": []
        },
        {
            "id": "gzio194db131gkr5",
            "type": "comment",
            "z": "2db35774679ef5c5",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "6x741ll87n96fm07",
            "type": "link out",
            "z": "2db35774679ef5c5",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "hu20tk6a6u5qqici",
                "z4dyyvmemq9txhoy"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "hu20tk6a6u5qqici",
            "type": "link in",
            "z": "2db35774679ef5c5",
            "name": "Protocol Read",
            "links": [
                "6x741ll87n96fm07",
                "ybg4khrze1mh15af"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "16asyjjjb3nlaxcr"
                ]
            ]
        },
        {
            "id": "16asyjjjb3nlaxcr",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "e763nzmpeuyop7xl"
                ]
            ]
        },
        {
            "id": "ybg4khrze1mh15af",
            "type": "link out",
            "z": "2db35774679ef5c5",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "hu20tk6a6u5qqici"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "z4dyyvmemq9txhoy",
            "type": "link in",
            "z": "2db35774679ef5c5",
            "name": "Virtual Read",
            "links": [
                "6x741ll87n96fm07"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "o27hw2641s6ncvbs"
                ]
            ]
        },
        {
            "id": "o27hw2641s6ncvbs",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "ilpufgydmgxe6obf"
                ]
            ]
        },
        {
            "id": "b9f35fuq5xkxuif6",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "k8k44ysg02m1yda0"
                ]
            ]
        },
        {
            "id": "eg3ewhoqusm3wi3x",
            "type": "comment",
            "z": "2db35774679ef5c5",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 800,
            "wires": []
        },
        {
            "id": "v2zhp89iacngedcq",
            "type": "link in",
            "z": "2db35774679ef5c5",
            "name": "Update Metrics",
            "links": [
                "k8k44ysg02m1yda0",
                "4qh93m8coljjsqz1"
            ],
            "x": 75,
            "y": 880,
            "wires": [
                [
                    "5dbb328b774ad428"
                ]
            ]
        },
        {
            "id": "4qh93m8coljjsqz1",
            "type": "link out",
            "z": "2db35774679ef5c5",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "v2zhp89iacngedcq"
            ],
            "x": 1275,
            "y": 480
        },
        {
            "id": "6rv09vn8gp8cnyrw",
            "type": "flogger",
            "z": "2db35774679ef5c5",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "tw296w644elsi4be",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "3cpv5io9cc35n9uy"
                ]
            ]
        },
        {
            "id": "fude42v3ba6kv7ok",
            "type": "catch",
            "z": "2db35774679ef5c5",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "tw296w644elsi4be"
                ]
            ]
        },
        {
            "id": "3cpv5io9cc35n9uy",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "6rv09vn8gp8cnyrw"
                ]
            ]
        },
        {
            "id": "k8k44ysg02m1yda0",
            "type": "link out",
            "z": "2db35774679ef5c5",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "v2zhp89iacngedcq"
            ],
            "x": 1275,
            "y": 260
        },
        {
            "id": "g9o8s9sc4ixobts1",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "b9f35fuq5xkxuif6"
                ]
            ]
        },
        {
            "id": "ilpufgydmgxe6obf",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "g9o8s9sc4ixobts1"
                ]
            ]
        },
        {
            "id": "e763nzmpeuyop7xl",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "e1vru6dixce1f7x7",
                    "388bd936a4509613"
                ]
            ]
        },
        {
            "id": "2d9mbobc2fnydi5a",
            "type": "mqtt in",
            "z": "2db35774679ef5c5",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "b50or65rcl6255qf"
                ]
            ]
        },
        {
            "id": "edxfsocx4xpfjjar",
            "type": "inject",
            "z": "2db35774679ef5c5",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "xx7zsbr4ztatbpxx"
                ]
            ]
        },
        {
            "id": "v943v0a2ozcikmqn",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "2d9mbobc2fnydi5a"
                ]
            ]
        },
        {
            "id": "xx7zsbr4ztatbpxx",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "teeesmztgjy7h08b"
                ],
                [
                    "v943v0a2ozcikmqn"
                ]
            ]
        },
        {
            "id": "teeesmztgjy7h08b",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "b50or65rcl6255qf",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    msg.payload[\"id\"] = matchingProtocol.id;\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "kq05rw18wzxvhez3"
                ],
                [
                    "22cyzbzly2g692wr"
                ]
            ]
        },
        {
            "id": "tcaco2suz3ov7mga",
            "type": "mqtt out",
            "z": "2db35774679ef5c5",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "kq05rw18wzxvhez3",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "zhmcf971wvr28g8w"
                ],
                [
                    "yeidxiiravjy4x9e"
                ]
            ]
        },
        {
            "id": "p5uloem1iwvwxxy4",
            "type": "debug",
            "z": "2db35774679ef5c5",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "zhmcf971wvr28g8w",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 730,
            "y": 1220,
            "wires": [
                [
                    "yp8p836l3qptff1h"
                ],
                [
                    "p5uloem1iwvwxxy4",
                    "7452bb14a525bd23"
                ]
            ]
        },
        {
            "id": "yp8p836l3qptff1h",
            "type": "debug",
            "z": "2db35774679ef5c5",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "zm0args79q06o306",
            "type": "comment",
            "z": "2db35774679ef5c5",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "cprxn8bqkf1p5l5o",
            "type": "catch",
            "z": "2db35774679ef5c5",
            "name": "",
            "scope": [
                "47q5z9xpu2ppcd5w"
            ],
            "uncaught": false,
            "x": 610,
            "y": 1360,
            "wires": [
                [
                    "sqiwxvnwoir5pdaw"
                ]
            ]
        },
        {
            "id": "22cyzbzly2g692wr",
            "type": "delay",
            "z": "2db35774679ef5c5",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1000,
            "y": 1300,
            "wires": [
                [
                    "tcaco2suz3ov7mga"
                ]
            ]
        },
        {
            "id": "1lvf5ioti4zg9qk6",
            "type": "change",
            "z": "2db35774679ef5c5",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1020,
            "y": 1260,
            "wires": [
                [
                    "22cyzbzly2g692wr"
                ]
            ]
        },
        {
            "id": "yeidxiiravjy4x9e",
            "type": "delay",
            "z": "2db35774679ef5c5",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1000,
            "y": 1400,
            "wires": [
                [
                    "tcaco2suz3ov7mga"
                ]
            ]
        },
        {
            "id": "sqiwxvnwoir5pdaw",
            "type": "change",
            "z": "2db35774679ef5c5",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1020,
            "y": 1360,
            "wires": [
                [
                    "yeidxiiravjy4x9e"
                ]
            ]
        },
        {
            "id": "964igwbj006manr4",
            "type": "delay",
            "z": "2db35774679ef5c5",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 850,
            "y": 700,
            "wires": [
                [
                    "7j5qzkoxr0r375wa"
                ]
            ]
        },
        {
            "id": "e1vru6dixce1f7x7",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "send virtual data",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 560,
            "wires": [
                [
                    "5zq52d6vjfczrs03"
                ]
            ]
        },
        {
            "id": "1bxuh9x50mtqz9ak",
            "type": "change",
            "z": "2db35774679ef5c5",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 440,
            "y": 700,
            "wires": [
                [
                    "964igwbj006manr4"
                ]
            ]
        },
        {
            "id": "7j5qzkoxr0r375wa",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 660,
            "wires": [
                [
                    "015tcz7xdqlszrea"
                ]
            ]
        },
        {
            "id": "ae5q5hprf1735od2",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 620,
            "wires": [
                [
                    "015tcz7xdqlszrea"
                ]
            ]
        },
        {
            "id": "015tcz7xdqlszrea",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1180,
            "y": 620,
            "wires": [
                [
                    "4qh93m8coljjsqz1"
                ]
            ]
        },
        {
            "id": "5zq52d6vjfczrs03",
            "type": "switch",
            "z": "2db35774679ef5c5",
            "name": "",
            "property": "bridge.image.metrics.COMMUNICATION_ERRORS",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 610,
            "y": 680,
            "wires": [
                [
                    "964igwbj006manr4"
                ],
                [
                    "964igwbj006manr4"
                ]
            ]
        },
        {
            "id": "3gkk7ugkwdkmjh1g",
            "type": "delay",
            "z": "2db35774679ef5c5",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 860,
            "y": 580,
            "wires": [
                [
                    "ae5q5hprf1735od2",
                    "1bxuh9x50mtqz9ak"
                ]
            ]
        },
        {
            "id": "fe37161984f3a027",
            "type": "exec",
            "z": "2db35774679ef5c5",
            "command": "gpioset ",
            "addpay": "payload",
            "append": "",
            "useSpawn": "false",
            "timer": "",
            "winHide": false,
            "name": "Write GPIO",
            "x": 1090,
            "y": 1180,
            "wires": [
                [
                    "ybg4khrze1mh15af",
                    "orwkgi3zy3spnito",
                    "1lvf5ioti4zg9qk6"
                ],
                [],
                []
            ]
        },
        {
            "id": "0824b35ed9bf9bc0",
            "type": "exec",
            "z": "2db35774679ef5c5",
            "command": "gpioget ",
            "addpay": "payload",
            "append": "",
            "useSpawn": "false",
            "timer": "",
            "winHide": false,
            "name": "Read GPIO",
            "x": 790,
            "y": 480,
            "wires": [
                [
                    "babc0af61f7276bc"
                ],
                [],
                []
            ]
        },
        {
            "id": "207f349e25f207c6",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Read I/O",
            "func": "const ios = {\"IOTD-IMX8P-DI-0\" :\"4 3\",\"IOTD-IMX8P-DI-1\":\"4 0\",\"IOTD-IMX8P-DO-0\":\"4 4\",\"IOTD-IMX8P-DO-1\":\"3 30\"}\n\nmsg.sequences.forEach(sequence => {\n    if(ios[sequence.name]){\n        const read = sequence;\n        read.payload = ios[sequence.name]\n        node.send(read);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 480,
            "wires": [
                [
                    "0824b35ed9bf9bc0"
                ]
            ]
        },
        {
            "id": "babc0af61f7276bc",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Parse response",
            "func": "const value = parseFloat(msg.payload);\nmsg.payload = {};\nmsg.payload[msg.name] = value;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 980,
            "y": 480,
            "wires": [
                [
                    "4qh93m8coljjsqz1",
                    "3gkk7ugkwdkmjh1g"
                ]
            ]
        },
        {
            "id": "388bd936a4509613",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "207f349e25f207c6"
                ]
            ]
        },
        {
            "id": "5dbb328b774ad428",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 240,
            "y": 880,
            "wires": [
                [
                    "hoi85ln6vmt9ubj4",
                    "g4q5br8yzcev9uvj"
                ]
            ]
        },
        {
            "id": "7452bb14a525bd23",
            "type": "function",
            "z": "2db35774679ef5c5",
            "name": "Read I/O",
            "func": "const outputs = {\"IOTD-IMX8P-DO-0\":\"4 4=\",\"IOTD-IMX8P-DO-1\":\"3 30=\"}\nconst value = msg.payload.value;\nconst id = msg.payload.id\n\nif(outputs[id]){\n    const write = {}\n    write.payload = outputs[id] + value\n\n    return write;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 1180,
            "wires": [
                [
                    "fe37161984f3a027"
                ]
            ]
        }
    ],
    "configs": []
}