nodered/automation/A1PM.E6S-MUV-EDGE-BUS-30-FLOATSWAP.json
{
    "id": "818f4d5a42e7b5fe",
    "label": "123123123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "42nucwzntzg2nmrx",
            "type": "mqtt out",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "vmfhjlok52nb9r5t",
            "type": "inject",
            "z": "818f4d5a42e7b5fe",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "9dt1v2kzqac5noxj"
                ]
            ]
        },
        {
            "id": "9dt1v2kzqac5noxj",
            "type": "getflows",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "9l14b4rfmu11rkca"
                ]
            ]
        },
        {
            "id": "9l14b4rfmu11rkca",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "bmkh3axdworwbzaa"
                ]
            ]
        },
        {
            "id": "sj1hd75ksq89pbhm",
            "type": "modbus-flex-sequencer",
            "z": "818f4d5a42e7b5fe",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "2cwa7te3htuyjz1r",
                    "obisb41p0s9t7452",
                    "lvw13cfstt5b2ym7",
                    "uf8i5de2130hywdr"
                ],
                []
            ]
        },
        {
            "id": "6pa356n7jwwizboj",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "2cf3cuyfsc4fh525"
                ]
            ]
        },
        {
            "id": "21vzghgke8c2t2ag",
            "type": "comment",
            "z": "818f4d5a42e7b5fe",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "6fmrvfdghnz1luia",
            "type": "comment",
            "z": "818f4d5a42e7b5fe",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "bmkh3axdworwbzaa",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "xfxw8bwzbscutkyt"
                ]
            ]
        },
        {
            "id": "0ef1mdkzn2dv315g",
            "type": "comment",
            "z": "818f4d5a42e7b5fe",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "2cwa7te3htuyjz1r",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    if ((msg.dataPoint.type === \"floatbe\" || msg.dataPoint.type === \"floatle\" || msg.dataPoint.type === \"uint32be\") && msg.dataPoint.byteswap === true) {\n        node.done();\n        return;\n    }\n    let byteSwap = false;\n    if (msg.dataPoint.byteswap !== undefined && msg.dataPoint.byteswap !== null){\n        byteSwap = msg.dataPoint.byteswap;\n    } else if (msg.dataPoint.type.includes(\"bool\")){\n        byteSwap = true;\n    }\n    \n    msg.spec = {\n        \"options\": {\n            \"byteSwap\": byteSwap,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\"\n        },\n        \"items\": []\n    };\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1);\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 340,
            "wires": [
                [
                    "8p6sc8506u6ab3tg"
                ]
            ]
        },
        {
            "id": "lvw13cfstt5b2ym7",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Set byteswap data point values",
            "func": "if ((msg.dataPoint.type === \"floatbe\" || msg.dataPoint.type === \"floatle\") && msg.dataPoint.byteswap === true) {\n    const buf = Buffer.alloc(4);\n    buf.writeUInt16BE(msg.payload[1], 0);\n    buf.writeUInt16BE(msg.payload[0], 2);\n    let value = msg.dataPoint.type === \"floatbe\" ? buf.readFloatBE(0) : buf.readFloatLE(0);\n    value = Math.round((value * msg.dataPoint.scale + Number.EPSILON) * 10000) / 10000;\n    var result = {};\n    result[msg.name] = value;\n    msg.payload = result;\n    node.send(msg);\n    node.done();\n    return;\n}\nif (msg.dataPoint.type === \"uint32be\" && msg.dataPoint.byteswap === true) {\n    const buf = Buffer.alloc(4);\n    buf.writeUInt16BE(msg.payload[1], 0);\n    buf.writeUInt16BE(msg.payload[0], 2);\n    let value = buf.readUInt32BE(0);\n    value = Math.round(value * msg.dataPoint.scale);\n    var result = {};\n    result[msg.name] = value;\n    msg.payload = result;\n    node.send(msg);\n    node.done();\n    return;\n}\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 500,
            "wires": [
                [
                    "jqmtuq5aur2f5jr3"
                ]
            ]
        },
        {
            "id": "8p6sc8506u6ab3tg",
            "type": "buffer-parser",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1210,
            "y": 380,
            "wires": [
                [
                    "jqmtuq5aur2f5jr3"
                ]
            ]
        },
        {
            "id": "d5339o567q53iyc9",
            "type": "inject",
            "z": "818f4d5a42e7b5fe",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "lhaem8khwryygonw"
                ]
            ]
        },
        {
            "id": "qw6si6vl40cj7lag",
            "type": "modbus-flex-write",
            "z": "818f4d5a42e7b5fe",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "9b0hrmszdad3hl1j",
                    "zq2xhc1p28c4wvh1",
                    "nbbx8jbvf7ky0wnd"
                ],
                []
            ]
        },
        {
            "id": "obisb41p0s9t7452",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 420,
            "wires": [
                [
                    "jqmtuq5aur2f5jr3"
                ]
            ]
        },
        {
            "id": "9b0hrmszdad3hl1j",
            "type": "delay",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1140,
            "wires": [
                [
                    "42nucwzntzg2nmrx"
                ]
            ]
        },
        {
            "id": "7qawz88hxpursvme",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "42nucwzntzg2nmrx"
                ]
            ]
        },
        {
            "id": "xfxw8bwzbscutkyt",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "0f4t9ue2sdtw0xel"
                ]
            ]
        },
        {
            "id": "8rxyayyfsh00pu7w",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "yh4ylcnfx1ivpaej"
                ]
            ]
        },
        {
            "id": "yh4ylcnfx1ivpaej",
            "type": "mqtt out",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "0f4t9ue2sdtw0xel",
            "type": "modbus-flex-connector",
            "z": "818f4d5a42e7b5fe",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "v7vnv135xn77ypw6",
            "type": "comment",
            "z": "818f4d5a42e7b5fe",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "lhaem8khwryygonw",
            "type": "link out",
            "z": "818f4d5a42e7b5fe",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "2f59k5p0hf3rpvsp",
                "daz0emht7l6sxdf7"
            ],
            "x": 295,
            "y": 120,
            "wires": []
        },
        {
            "id": "2f59k5p0hf3rpvsp",
            "type": "link in",
            "z": "818f4d5a42e7b5fe",
            "name": "Protocol Read",
            "links": [
                "lhaem8khwryygonw",
                "5cdobalv92u2fgtl"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "3feizjf7zq4eth65"
                ]
            ]
        },
        {
            "id": "3feizjf7zq4eth65",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "vy0t7h5t4l0lx8vx"
                ]
            ]
        },
        {
            "id": "5cdobalv92u2fgtl",
            "type": "link out",
            "z": "818f4d5a42e7b5fe",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "2f59k5p0hf3rpvsp"
            ],
            "x": 1465,
            "y": 1180,
            "wires": []
        },
        {
            "id": "daz0emht7l6sxdf7",
            "type": "link in",
            "z": "818f4d5a42e7b5fe",
            "name": "Virtual Read",
            "links": [
                "lhaem8khwryygonw"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "f06qc8e14tzd9ls8"
                ]
            ]
        },
        {
            "id": "f06qc8e14tzd9ls8",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "dbkc963x64zq4y4k"
                ]
            ]
        },
        {
            "id": "lrkoqu1x98bifv5r",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "petasiua2ux9ql5a"
                ]
            ]
        },
        {
            "id": "r0kzh373kii6j7iz",
            "type": "comment",
            "z": "818f4d5a42e7b5fe",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "bybjh4kjcpbj7mvq",
            "type": "link in",
            "z": "818f4d5a42e7b5fe",
            "name": "Update Metrics",
            "links": [
                "petasiua2ux9ql5a",
                "jqmtuq5aur2f5jr3"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "3ca4tpti5tubacv8"
                ]
            ]
        },
        {
            "id": "3ca4tpti5tubacv8",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "7qawz88hxpursvme",
                    "8rxyayyfsh00pu7w"
                ]
            ]
        },
        {
            "id": "jqmtuq5aur2f5jr3",
            "type": "link out",
            "z": "818f4d5a42e7b5fe",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "bybjh4kjcpbj7mvq"
            ],
            "x": 1435,
            "y": 480,
            "wires": []
        },
        {
            "id": "6e5sghx96z62nxks",
            "type": "flogger",
            "z": "818f4d5a42e7b5fe",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "creh8dkh2zvl1osl",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "v9hu2s6tcu7szhhq"
                ]
            ]
        },
        {
            "id": "jnoqz90cogqox2a6",
            "type": "catch",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "creh8dkh2zvl1osl"
                ]
            ]
        },
        {
            "id": "v9hu2s6tcu7szhhq",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "6e5sghx96z62nxks"
                ]
            ]
        },
        {
            "id": "petasiua2ux9ql5a",
            "type": "link out",
            "z": "818f4d5a42e7b5fe",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "bybjh4kjcpbj7mvq"
            ],
            "x": 1435,
            "y": 260,
            "wires": []
        },
        {
            "id": "aecmc3ias0f5jucg",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "lrkoqu1x98bifv5r"
                ]
            ]
        },
        {
            "id": "dbkc963x64zq4y4k",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "aecmc3ias0f5jucg"
                ]
            ]
        },
        {
            "id": "vy0t7h5t4l0lx8vx",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "6pa356n7jwwizboj"
                ]
            ]
        },
        {
            "id": "hy3x5b36jmewmiop",
            "type": "mqtt in",
            "z": "818f4d5a42e7b5fe",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "cgh21ykzllyp192g"
                ]
            ]
        },
        {
            "id": "pk0ah9qh48l2iegu",
            "type": "inject",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "lcoetwb582rr7u57"
                ]
            ]
        },
        {
            "id": "lnncjt9sb12i1lg7",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "hy3x5b36jmewmiop"
                ]
            ]
        },
        {
            "id": "lcoetwb582rr7u57",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "lcyyfk5gqgqgp6v1"
                ],
                [
                    "lnncjt9sb12i1lg7"
                ]
            ]
        },
        {
            "id": "lcyyfk5gqgqgp6v1",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "cgh21ykzllyp192g",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id);\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\n// FC 15/16 => value muss Array sein\nfunction ensureArrayForMultipleFC(value, fc) {\n    if (fc === 15 || fc === 16) {\n        return Array.isArray(value) ? value : [value];\n    }\n    return value;\n}\n\n// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\n// 32-Bit Wert in zwei 16-Bit Register umwandeln\nfunction encode32ToRegisters(value, type) {\n    const buf = Buffer.alloc(4);\n\n    switch (type) {\n        case \"int32le\":\n            buf.writeInt32LE(value);\n            break;\n        case \"int32be\":\n            buf.writeInt32BE(value);\n            break;\n        case \"uint32le\":\n            buf.writeUInt32LE(value);\n            break;\n        case \"uint32be\":\n            buf.writeUInt32BE(value);\n            break;\n        case \"floatle\":\n            buf.writeFloatLE(value);\n            break;\n        case \"floatbe\":\n            buf.writeFloatBE(value);\n            break;\n        case \"bool32\":\n            buf.writeUInt32BE(value);\n            break;\n        default:\n            throw new Error(\"Unsupported 32-bit type: \" + type);\n    }\n\n    const useLE = type.endsWith(\"le\");\n    const reg0 = useLE ? buf.readUInt16LE(0) : buf.readUInt16BE(0);\n    const reg1 = useLE ? buf.readUInt16LE(2) : buf.readUInt16BE(2);\n\n    return [reg0, reg1];\n}\n\nif (matchingProtocol && matchingCommand && matchingProtocol.scale <= 1) {\n    if (typeof command.value === \"string\") {\n        const trimmed = command.value.trim();\n        if (trimmed !== \"\" && !isNaN(trimmed)) {\n            command.value = Number(trimmed);\n        }\n    }\n    const registerLength = global.get(\"function.typeToRegisterLength\")(matchingProtocol.type);\n    response.value = {\n        actual: flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        target: command.value\n    };\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n\n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n\n        if (matchingCommand.fc === 6 || matchingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n\n        if (matchingCommand.fc === 6 || matchingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (typeof command.value === \"number\") {\n        // scale first (logical -> raw)\n        let scaledValue = command.value * (1 / (matchingProtocol.scale || 1));\n        let valueToSend;\n\n        if (registerLength === 2) {\n            // 32-Bit Wert in zwei Register nach Typ\n            valueToSend = encode32ToRegisters(scaledValue, matchingProtocol.type);\n        } else {\n            // 1 Register: 8-/16-Bit Typen\n            const regValue = encode16ToRegister(scaledValue, matchingProtocol.type);\n            valueToSend = regValue;\n        }\n\n        valueToSend = ensureArrayForMultipleFC(valueToSend, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    } else {\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    }\n\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage];\n\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n\n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "ogqutldtnp6mggmt"
                ],
                [
                    "xajtf8sqsh8j8vr4"
                ]
            ]
        },
        {
            "id": "ylu8r5cunckjskie",
            "type": "mqtt out",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "ogqutldtnp6mggmt",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "za8g3ehmwryar6t6"
                ],
                [
                    "f2vq2m2amndxnqw5"
                ]
            ]
        },
        {
            "id": "dq1g33wkt78uaf32",
            "type": "debug",
            "z": "818f4d5a42e7b5fe",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "za8g3ehmwryar6t6",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "ckby3qje7ac06lgx"
                ],
                [
                    "qw6si6vl40cj7lag",
                    "dq1g33wkt78uaf32"
                ]
            ]
        },
        {
            "id": "ckby3qje7ac06lgx",
            "type": "debug",
            "z": "818f4d5a42e7b5fe",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "s7inu8l0nisf241d",
            "type": "comment",
            "z": "818f4d5a42e7b5fe",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "9htcfgq1laqssxwc",
            "type": "catch",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "scope": [
                "qw6si6vl40cj7lag"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "qnrghew38zwni22x"
                ]
            ]
        },
        {
            "id": "xajtf8sqsh8j8vr4",
            "type": "delay",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "ylu8r5cunckjskie"
                ]
            ]
        },
        {
            "id": "zq2xhc1p28c4wvh1",
            "type": "change",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "xajtf8sqsh8j8vr4"
                ]
            ]
        },
        {
            "id": "f2vq2m2amndxnqw5",
            "type": "delay",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "ylu8r5cunckjskie"
                ]
            ]
        },
        {
            "id": "qnrghew38zwni22x",
            "type": "change",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "f2vq2m2amndxnqw5"
                ]
            ]
        },
        {
            "id": "1g3w8crgfd99ti4i",
            "type": "delay",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 680,
            "wires": [
                [
                    "4nxs14c7lm2v74kl"
                ]
            ]
        },
        {
            "id": "h5yuhcmjt0x03gpm",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 600,
            "wires": [
                [
                    "hmjybbmjjfaduqur"
                ]
            ]
        },
        {
            "id": "hmjybbmjjfaduqur",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 600,
            "wires": [
                [
                    "jqmtuq5aur2f5jr3"
                ]
            ]
        },
        {
            "id": "4t3azjjkm1t3ropu",
            "type": "change",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 640,
            "wires": [
                [
                    "1g3w8crgfd99ti4i"
                ]
            ]
        },
        {
            "id": "4nxs14c7lm2v74kl",
            "type": "function",
            "z": "818f4d5a42e7b5fe",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 950,
            "y": 720,
            "wires": [
                [
                    "hmjybbmjjfaduqur"
                ]
            ]
        },
        {
            "id": "c9hnb7wrpeq67r0b",
            "type": "catch",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "scope": [
                "sj1hd75ksq89pbhm"
            ],
            "uncaught": false,
            "x": 690,
            "y": 680,
            "wires": [
                [
                    "8anfh55l98n02l7e",
                    "519e1fxdxkiq07cl"
                ]
            ]
        },
        {
            "id": "8anfh55l98n02l7e",
            "type": "change",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 680,
            "wires": [
                [
                    "1g3w8crgfd99ti4i"
                ]
            ]
        },
        {
            "id": "519e1fxdxkiq07cl",
            "type": "delay",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 760,
            "wires": [
                [
                    "m30hyk9vms96yhkf"
                ]
            ]
        },
        {
            "id": "m30hyk9vms96yhkf",
            "type": "change",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 760,
            "wires": [
                []
            ]
        },
        {
            "id": "uf8i5de2130hywdr",
            "type": "delay",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 880,
            "y": 560,
            "wires": [
                [
                    "h5yuhcmjt0x03gpm",
                    "4t3azjjkm1t3ropu"
                ]
            ]
        },
        {
            "id": "2cf3cuyfsc4fh525",
            "type": "switch",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "sj1hd75ksq89pbhm"
                ],
                [
                    "sj1hd75ksq89pbhm"
                ]
            ]
        },
        {
            "id": "nbbx8jbvf7ky0wnd",
            "type": "change",
            "z": "818f4d5a42e7b5fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1290,
            "y": 1180,
            "wires": [
                [
                    "5cdobalv92u2fgtl"
                ]
            ]
        }
    ]
}