nodered/carel/modbus/MASTERCELLA-MD33.json
{
    "id": "2edd852dec51e4c1",
    "label": "653a3935023cf87ca14dbd88",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "fc2lsxnlpy63wcg0",
            "type": "mqtt in",
            "z": "2edd852dec51e4c1",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 120,
            "y": 1160,
            "wires": [
                [
                    "k907l14e5l3rqo70"
                ]
            ]
        },
        {
            "id": "q1ys36dznpsq0lgn",
            "type": "mqtt out",
            "z": "2edd852dec51e4c1",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1120,
            "y": 800,
            "wires": []
        },
        {
            "id": "8pu3vait2wq5o1ao",
            "type": "inject",
            "z": "2edd852dec51e4c1",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 130,
            "y": 1040,
            "wires": [
                [
                    "awesn6qu9tr1g3bh"
                ]
            ]
        },
        {
            "id": "hqltircgh2762jz0",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 210,
            "y": 1120,
            "wires": [
                [
                    "fc2lsxnlpy63wcg0"
                ]
            ]
        },
        {
            "id": "vbc8mnjvrdlcclv7",
            "type": "inject",
            "z": "2edd852dec51e4c1",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "bw38l2s6n696wgze"
                ]
            ]
        },
        {
            "id": "bw38l2s6n696wgze",
            "type": "getflows",
            "z": "2edd852dec51e4c1",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "tcawgnkqbgaqy5ie"
                ]
            ]
        },
        {
            "id": "tcawgnkqbgaqy5ie",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "5epcrmb23tk0qutv"
                ]
            ]
        },
        {
            "id": "awesn6qu9tr1g3bh",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1080,
            "wires": [
                [
                    "g4tq4lb4cr3hs4ww"
                ],
                [
                    "hqltircgh2762jz0"
                ]
            ]
        },
        {
            "id": "g4tq4lb4cr3hs4ww",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 1080,
            "wires": []
        },
        {
            "id": "qubs2qlbdptaz2n0",
            "type": "modbus-flex-sequencer",
            "z": "2edd852dec51e4c1",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 640,
            "y": 480,
            "wires": [
                [
                    "lx9xap41wbxvzyiz",
                    "q8j18ona2ilix1z4"
                ],
                []
            ]
        },
        {
            "id": "bxcn3j81rhki1dq0",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "qubs2qlbdptaz2n0"
                ]
            ]
        },
        {
            "id": "6sz60x2iwx2ei8pi",
            "type": "comment",
            "z": "2edd852dec51e4c1",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 980,
            "wires": []
        },
        {
            "id": "qdraev4dcqr1vyzk",
            "type": "comment",
            "z": "2edd852dec51e4c1",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "5epcrmb23tk0qutv",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "ldbwzch2gtytfnfd"
                ]
            ]
        },
        {
            "id": "pqxeey8toqk9spym",
            "type": "comment",
            "z": "2edd852dec51e4c1",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "lx9xap41wbxvzyiz",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": msg.dataPoint.type.includes(\"bool\"),\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 900,
            "y": 480,
            "wires": [
                [
                    "509pq8ezjmf74js8"
                ]
            ]
        },
        {
            "id": "509pq8ezjmf74js8",
            "type": "buffer-parser",
            "z": "2edd852dec51e4c1",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1110,
            "y": 480,
            "wires": [
                [
                    "6uzvjc5xw82i1hhm"
                ]
            ]
        },
        {
            "id": "8rovjuu0bj9o0h7c",
            "type": "inject",
            "z": "2edd852dec51e4c1",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "60",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "v7ivftrbnorocdhc"
                ]
            ]
        },
        {
            "id": "t7pxsroa9z6xcvyf",
            "type": "modbus-flex-write",
            "z": "2edd852dec51e4c1",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 760,
            "y": 1160,
            "wires": [
                [
                    "6u6oln4o7iurgr6q",
                    "0m7h981tkdhr5py6"
                ],
                []
            ]
        },
        {
            "id": "q8j18ona2ilix1z4",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 520,
            "wires": [
                [
                    "6uzvjc5xw82i1hhm"
                ]
            ]
        },
        {
            "id": "6u6oln4o7iurgr6q",
            "type": "delay",
            "z": "2edd852dec51e4c1",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 960,
            "y": 1160,
            "wires": [
                [
                    "q1ys36dznpsq0lgn"
                ]
            ]
        },
        {
            "id": "o5f8xi1qkeifpm8b",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 780,
            "wires": [
                [
                    "q1ys36dznpsq0lgn"
                ]
            ]
        },
        {
            "id": "vnjbfss0d51o54yw",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Channel 1",
            "property": "channel",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "1",
                    "vt": "num"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 550,
            "y": 1160,
            "wires": [
                [
                    "t7pxsroa9z6xcvyf"
                ]
            ]
        },
        {
            "id": "k907l14e5l3rqo70",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "send write data",
            "func": "if (msg.payload.protocol.type.includes(\"bool\") && typeof msg.payload.value === \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = !msg.payload.value;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 5,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else if (msg.payload.protocol.type.includes(\"bool\") && typeof msg.payload.value !== \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = msg.payload.value * -1;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 6,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else {\n    msg.payload = {\n        \"value\": parseInt(msg.payload.value) * (1 / msg.payload.protocol.scale),\n        \"fc\": 16,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.protocol.type)\n    }\n}\n\nnode.send(msg);\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 1160,
            "wires": [
                [
                    "vnjbfss0d51o54yw"
                ]
            ]
        },
        {
            "id": "ldbwzch2gtytfnfd",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nconst channel = global.get(\"hardware.interface.serial.channels\").find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "476xzvl2nbplfuhl"
                ]
            ]
        },
        {
            "id": "77t86nnetouhla7d",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 740,
            "wires": [
                [
                    "ptarf5z7bn20nthn"
                ]
            ]
        },
        {
            "id": "ptarf5z7bn20nthn",
            "type": "mqtt out",
            "z": "2edd852dec51e4c1",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1120,
            "y": 740,
            "wires": []
        },
        {
            "id": "476xzvl2nbplfuhl",
            "type": "modbus-flex-connector",
            "z": "2edd852dec51e4c1",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "tzts4e1z6b5ev7yc",
            "type": "comment",
            "z": "2edd852dec51e4c1",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "v7ivftrbnorocdhc",
            "type": "link out",
            "z": "2edd852dec51e4c1",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "ctzdavtvh0ffj0q8",
                "dya3v05quj5cj38y"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "ctzdavtvh0ffj0q8",
            "type": "link in",
            "z": "2edd852dec51e4c1",
            "name": "Protocol Read",
            "links": [
                "v7ivftrbnorocdhc",
                "0m7h981tkdhr5py6"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "xruby64zprxu71lr"
                ]
            ]
        },
        {
            "id": "xruby64zprxu71lr",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "sxuiifdtzhlvgudk"
                ]
            ]
        },
        {
            "id": "0m7h981tkdhr5py6",
            "type": "link out",
            "z": "2edd852dec51e4c1",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "ctzdavtvh0ffj0q8",
                "dya3v05quj5cj38y"
            ],
            "x": 905,
            "y": 1120
        },
        {
            "id": "dya3v05quj5cj38y",
            "type": "link in",
            "z": "2edd852dec51e4c1",
            "name": "Virtual Read",
            "links": [
                "0m7h981tkdhr5py6",
                "v7ivftrbnorocdhc"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "z1x0uieip3tx6kn9"
                ]
            ]
        },
        {
            "id": "z1x0uieip3tx6kn9",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "cz035bdy9vbgudj8"
                ]
            ]
        },
        {
            "id": "admwp4rsaihxf2uz",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"kwh\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = flow.get(\"bridge.image.metrics\")[metricId];\n        }\n        msg.payload[metricId] = msg.payload[metricId] + (flow.get(\"bridge.image.metrics\")[parameterIds[0]] / 3600);\n    },\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        functions[calc.func](sequence.dataPoint.id, calc.ids)\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "ejros374235gwzlx"
                ]
            ]
        },
        {
            "id": "77pswn76dltanenx",
            "type": "comment",
            "z": "2edd852dec51e4c1",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 640,
            "wires": []
        },
        {
            "id": "wzzc1hd4epo7rcc7",
            "type": "link in",
            "z": "2edd852dec51e4c1",
            "name": "Update Metrics",
            "links": [
                "ejros374235gwzlx",
                "6uzvjc5xw82i1hhm"
            ],
            "x": 75,
            "y": 740,
            "wires": [
                [
                    "cmxnu1n3afzxawm8"
                ]
            ]
        },
        {
            "id": "cmxnu1n3afzxawm8",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 740,
            "wires": [
                [
                    "o5f8xi1qkeifpm8b",
                    "77t86nnetouhla7d"
                ]
            ]
        },
        {
            "id": "6uzvjc5xw82i1hhm",
            "type": "link out",
            "z": "2edd852dec51e4c1",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "wzzc1hd4epo7rcc7"
            ],
            "x": 1265,
            "y": 480
        },
        {
            "id": "uaagjwxf7wvsxnfs",
            "type": "flogger",
            "z": "2edd852dec51e4c1",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1380,
            "wires": [
                []
            ]
        },
        {
            "id": "5xmq1frg7wprkfn0",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1380,
            "wires": [
                [
                    "hn6pmuwyxnejns49"
                ]
            ]
        },
        {
            "id": "lsw6jax5kutvbk41",
            "type": "catch",
            "z": "2edd852dec51e4c1",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1380,
            "wires": [
                [
                    "5xmq1frg7wprkfn0"
                ]
            ]
        },
        {
            "id": "hn6pmuwyxnejns49",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1380,
            "wires": [
                [
                    "uaagjwxf7wvsxnfs"
                ]
            ]
        },
        {
            "id": "ejros374235gwzlx",
            "type": "link out",
            "z": "2edd852dec51e4c1",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "wzzc1hd4epo7rcc7"
            ],
            "x": 1265,
            "y": 260
        },
        {
            "id": "aw9b94wba4cwv41c",
            "type": "function",
            "z": "2edd852dec51e4c1",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "admwp4rsaihxf2uz"
                ]
            ]
        },
        {
            "id": "cz035bdy9vbgudj8",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "aw9b94wba4cwv41c"
                ]
            ]
        },
        {
            "id": "sxuiifdtzhlvgudk",
            "type": "switch",
            "z": "2edd852dec51e4c1",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "bxcn3j81rhki1dq0"
                ]
            ]
        }
    ]
}