nodered/lasco/LA150P.json
{
    "id": "2c43cf6cc7734068",
    "label": "6524fcf72cee6969cbd400f4",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "kwavc6jq5jfkpb5m",
            "type": "mqtt in",
            "z": "2c43cf6cc7734068",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 940,
            "wires": [
                [
                    "x09ppgz34tkcm2w6"
                ]
            ]
        },
        {
            "id": "ms67qtibem3o5ioa",
            "type": "mqtt out",
            "z": "2c43cf6cc7734068",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1140,
            "y": 900,
            "wires": []
        },
        {
            "id": "50egh170bqx0b9s5",
            "type": "inject",
            "z": "2c43cf6cc7734068",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 130,
            "y": 780,
            "wires": [
                [
                    "kgyfk7orzkoug89e"
                ]
            ]
        },
        {
            "id": "oktm73tv3tsuhq1r",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 170,
            "y": 900,
            "wires": [
                [
                    "kwavc6jq5jfkpb5m"
                ]
            ]
        },
        {
            "id": "hhq8rtiihum67sky",
            "type": "inject",
            "z": "2c43cf6cc7734068",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "lx5aoer1dj2e5e3t"
                ]
            ]
        },
        {
            "id": "lx5aoer1dj2e5e3t",
            "type": "getflows",
            "z": "2c43cf6cc7734068",
            "name": "",
            "x": 300,
            "y": 80,
            "wires": [
                [
                    "8g1yj8uzi2i2n36m"
                ]
            ]
        },
        {
            "id": "8g1yj8uzi2i2n36m",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\nflow.set(\"data\", \"\");\nflow.set(\"edge\", {\"calculated\": {}});\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 80,
            "wires": [
                [
                    "e0a9hplxix643oku"
                ]
            ]
        },
        {
            "id": "kgyfk7orzkoug89e",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 820,
            "wires": [
                [
                    "dkx17570873v9t82"
                ],
                [
                    "lx2id3vkwlg4yie6"
                ]
            ]
        },
        {
            "id": "dkx17570873v9t82",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 820,
            "wires": []
        },
        {
            "id": "iu1xf2lhoyybmiq4",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "send bridge data request",
            "func": "msg.sequences = flow.get(\"bridge.image.protocols\").filter(dataPoint => dataPoint.request === msg.payload);\n\nif (msg.payload !== \"$app data_list_hs\" && msg.sequences.length > 0) {\n    return msg;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 730,
            "y": 440,
            "wires": [
                [
                    "14okrbkkpfbef1ud"
                ]
            ]
        },
        {
            "id": "wobfjwgqeitlmo97",
            "type": "comment",
            "z": "2c43cf6cc7734068",
            "name": "----- Register for commands from cloud",
            "info": "",
            "x": 150,
            "y": 720,
            "wires": []
        },
        {
            "id": "dfxs111l11b9oogh",
            "type": "comment",
            "z": "2c43cf6cc7734068",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "e0a9hplxix643oku",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 580,
            "y": 80,
            "wires": [
                [
                    "4eifkdz4nwstmn8y"
                ]
            ]
        },
        {
            "id": "mhd3l873ef35qj04",
            "type": "comment",
            "z": "2c43cf6cc7734068",
            "name": "---- Data",
            "info": "",
            "x": 60,
            "y": 320,
            "wires": []
        },
        {
            "id": "ir0yggy8fxrviwnw",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 160,
            "y": 400,
            "wires": [
                [
                    "k6t0w973u06zaa0s"
                ]
            ]
        },
        {
            "id": "3ngbgm7qjfb7vvfd",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var metricId in msg.payload) {\n    if (typeof msg.payload[metricId] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[metricId] = Math.round((msg.payload[metricId] + Number.EPSILON) * 100) / 100\n    }\n    if (flow.get(\"bridge\").image.protocols.find(protocol => protocol.id === metricId).topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[metricId] !== msg.payload[metricId]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (flow.get(\"bridge\").image.protocols.find(protocol => protocol.id === metricId).topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[metricId] !== msg.payload[metricId]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[metricId] = msg.payload[metricId];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1740,
            "y": 440,
            "wires": [
                [
                    "eguzmgwyf65sseug",
                    "uoqibgr14ydjeo0c"
                ]
            ]
        },
        {
            "id": "i7epe8qsfupiuzzi",
            "type": "inject",
            "z": "2c43cf6cc7734068",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "20",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 360,
            "wires": [
                [
                    "ir0yggy8fxrviwnw"
                ]
            ]
        },
        {
            "id": "062zrjqlzv8bvg9s",
            "type": "delay",
            "z": "2c43cf6cc7734068",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 940,
            "y": 900,
            "wires": [
                [
                    "ms67qtibem3o5ioa"
                ]
            ]
        },
        {
            "id": "eguzmgwyf65sseug",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1160,
            "y": 860,
            "wires": [
                [
                    "ms67qtibem3o5ioa"
                ]
            ]
        },
        {
            "id": "x09ppgz34tkcm2w6",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "send write data",
            "func": "if (msg.payload.protocol.type === \"bool\" && typeof msg.payload.value === \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = !msg.payload.value;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 5,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else if (msg.payload.protocol.type === \"bool\" && typeof msg.payload.value !== \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = msg.payload.value * -1;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 6,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else {\n    msg.payload = {\n        \"value\": parseInt(msg.payload.value) * (1 / msg.payload.protocol.scale),\n        \"fc\": 16,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.protocol.type)\n    }\n}\n\nnode.send(msg);\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 940,
            "wires": [
                [
                    "iw8doy7w8nvou52l"
                ]
            ]
        },
        {
            "id": "uoqibgr14ydjeo0c",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1160,
            "y": 780,
            "wires": [
                [
                    "h86h5wirpt7ci1t7"
                ]
            ]
        },
        {
            "id": "h86h5wirpt7ci1t7",
            "type": "mqtt out",
            "z": "2c43cf6cc7734068",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1140,
            "y": 820,
            "wires": []
        },
        {
            "id": "iw8doy7w8nvou52l",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Channel 1",
            "property": "channel",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "1",
                    "vt": "num"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 540,
            "y": 940,
            "wires": [
                []
            ]
        },
        {
            "id": "ytp1kem40q2rsl0x",
            "type": "serial in",
            "z": "2c43cf6cc7734068",
            "name": "",
            "serial": "536ubhk87crdjavi",
            "x": 150,
            "y": 180,
            "wires": [
                [
                    "2edz99tnm3ukgkg8"
                ]
            ]
        },
        {
            "id": "1w3p6gt7v4xct5ry",
            "type": "serial out",
            "z": "2c43cf6cc7734068",
            "name": "",
            "serial": "536ubhk87crdjavi",
            "x": 1080,
            "y": 300,
            "wires": []
        },
        {
            "id": "hm9rgkpzgazoreie",
            "type": "change",
            "z": "2c43cf6cc7734068",
            "name": "set data from message",
            "rules": [
                {
                    "t": "set",
                    "p": "data",
                    "pt": "flow",
                    "to": "payload",
                    "tot": "msg"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 460,
            "y": 180,
            "wires": [
                [
                    "5a94f8ae6c375cd5"
                ]
            ]
        },
        {
            "id": "xv3sshhifoceovlc",
            "type": "serial request",
            "z": "2c43cf6cc7734068",
            "name": "",
            "serial": "536ubhk87crdjavi",
            "x": 1080,
            "y": 360,
            "wires": [
                [
                    "0be9o5830m2bv816"
                ]
            ]
        },
        {
            "id": "14okrbkkpfbef1ud",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "\\n",
            "func": "msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 440,
            "wires": [
                []
            ]
        },
        {
            "id": "2edz99tnm3ukgkg8",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "",
            "property": "payload",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "cont",
                    "v": "pm ",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 290,
            "y": 180,
            "wires": [
                [
                    "hm9rgkpzgazoreie"
                ]
            ]
        },
        {
            "id": "e2tazc05madzztev",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "send requests",
            "func": "function extractUniqueValues(jsonArray, property) {\n    var values = jsonArray.map(function (item) {\n        return item[property];\n    });\n\n    return values.filter((value, index, self) => self.indexOf(value) === index);\n}\n\nconst requests = extractUniqueValues(flow.get(\"bridge.image.protocols\").filter(dataPoint => dataPoint.operations === \"R\" || dataPoint.operations === \"R/W\"), \"request\");\n\nrequests.forEach(request => {\n    msg.payload = request;\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 340,
            "y": 440,
            "wires": [
                [
                    "6s651khapldxhvrw"
                ]
            ]
        },
        {
            "id": "6s651khapldxhvrw",
            "type": "delay",
            "z": "2c43cf6cc7734068",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "2",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 520,
            "y": 440,
            "wires": [
                []
            ]
        },
        {
            "id": "9itsb6eh5zuc9rcd",
            "type": "inject",
            "z": "2c43cf6cc7734068",
            "name": "Sumalted Data",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "pm 50.0 50.0 0.0 400.0 8.3 28.5 82.1 141.1 540.9 141.1 24.0 106.3 32.6 100 70 0 0 0.0 0.0 0 0 0 0 0 7 11 1000.0 3007 0 0 0 0 0 0 0",
            "payloadType": "str",
            "x": 180,
            "y": 240,
            "wires": [
                [
                    "n65i0mym8lxs52ix"
                ]
            ]
        },
        {
            "id": "n65i0mym8lxs52ix",
            "type": "change",
            "z": "2c43cf6cc7734068",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "data",
                    "pt": "flow",
                    "to": "pm 50.0 50.0 0.0 400.0 8.3 28.5 82.1 141.1 540.9 141.1 24.0 106.3 32.6 100 70 0 0 0.0 0.0 0 0 0 0 0 7 0 1000.0 3007 0 0 0 0 0 0 0",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "edge",
                    "pt": "flow",
                    "to": "{\"calculated\": {}}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 360,
            "y": 240,
            "wires": [
                []
            ]
        },
        {
            "id": "c0l3f59ftwm7qkq9",
            "type": "flogger",
            "z": "2c43cf6cc7734068",
            "name": "Debug",
            "logfile": "${NR_FLOW_NAME}.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "DEBUG",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 910,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "4eifkdz4nwstmn8y",
            "type": "change",
            "z": "2c43cf6cc7734068",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "Bridge config found",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 760,
            "y": 80,
            "wires": [
                [
                    "c0l3f59ftwm7qkq9"
                ]
            ]
        },
        {
            "id": "7lq4f6rv68knyeh9",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Set data point values",
            "func": "const data = msg.payload\nif (data.includes(\"pm \")) {\n    node.done();\n}\n\nfunction hex2bin(hex) {\n    return (parseInt(hex, 16).toString(2)).padStart(8, '0');\n}\n\nvar dataPoints = {}\nvar values = data.split(Buffer.from(\"0D\", \"hex\").toString());\nmsg.sequences.forEach(sequence => {\n    if (values.length < sequence.address) {\n        node.warn(\"Response doesn't contain value: \" + sequence.id);\n    } else if (sequence.type === \"bit\") {\n        dataPoints[sequence.id] = parseInt(hex2bin(values[sequence.address]).charAt(sequence.offsetbit))\n    }\n    else {\n        dataPoints[sequence.id] = parseInt(values[sequence.address]);\n    }\n});\n\nmsg.payload = dataPoints;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1420,
            "y": 440,
            "wires": [
                [
                    "3ngbgm7qjfb7vvfd"
                ]
            ]
        },
        {
            "id": "qf9p929l4hkm19yu",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Set notified values",
            "func": "const data = flow.get(\"data\");\nif (!data.includes(\"pm \")) {\n    node.warn(\"Value notification invalid!\");\n    node.done();\n}\n\nfunction hex2bin(hex) {\n    return (parseInt(hex, 16).toString(2)).padStart(8, '0');\n}\n\nvar values = data.replace('pm ', '').split(\" \");\nvar dataPoints = {}\nmsg.sequences.forEach(sequence => {\n    if (values.length < sequence.address) {\n        node.warn(\"Value notification doesn't contain value: \" + sequence.id);\n    } else if (sequence.type === \"bit\") {\n        dataPoints[sequence.id] = parseInt(hex2bin(values[sequence.address]).charAt(sequence.offsetbit))\n    }\n    else{\n        dataPoints[sequence.id] = parseFloat(values[sequence.address]);\n    }\n});\n\nmsg.payload = dataPoints;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1310,
            "y": 180,
            "wires": [
                [
                    "3ngbgm7qjfb7vvfd"
                ]
            ]
        },
        {
            "id": "9zbthz117jepouhm",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "send bridge data processing",
            "func": "msg.sequences = flow.get(\"bridge.image.protocols\").filter(dataPoint => dataPoint.request === msg.payload);\n\nif (msg.payload === \"$app data_list_hs\" && msg.sequences.length > 0) {\n    return msg;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 880,
            "y": 180,
            "wires": [
                [
                    "2fvorzjeug4yejmm"
                ]
            ]
        },
        {
            "id": "4m3gtxjl5gzeej06",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "",
            "property": "payload",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nempty"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1250,
            "y": 440,
            "wires": [
                [
                    "7lq4f6rv68knyeh9"
                ]
            ]
        },
        {
            "id": "2fvorzjeug4yejmm",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "",
            "property": "data",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "nempty"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1130,
            "y": 180,
            "wires": [
                [
                    "qf9p929l4hkm19yu"
                ]
            ]
        },
        {
            "id": "gfv4l56zkyutjmxm",
            "type": "flogger",
            "z": "2c43cf6cc7734068",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 600,
            "y": 1140,
            "wires": [
                []
            ]
        },
        {
            "id": "8p13f695g3jbyomd",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 270,
            "y": 1140,
            "wires": [
                [
                    "pfk2o9tah0ctbbxa"
                ]
            ]
        },
        {
            "id": "yxtt73ke9a50md23",
            "type": "catch",
            "z": "2c43cf6cc7734068",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 130,
            "y": 1140,
            "wires": [
                [
                    "8p13f695g3jbyomd"
                ]
            ]
        },
        {
            "id": "pfk2o9tah0ctbbxa",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 1140,
            "wires": [
                [
                    "gfv4l56zkyutjmxm"
                ]
            ]
        },
        {
            "id": "6rdh3ptezagprcjv",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "send edge requests",
            "func": "msg.sequences = flow.get(\"bridge.image.protocols\").filter(dataPoint => dataPoint.operations === \"EDGE_READ\" && dataPoint.type === \"calculated\");\nmsg.payload = {};\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1150,
            "y": 540,
            "wires": [
                [
                    "kpoz054llk3t1b9j"
                ]
            ]
        },
        {
            "id": "kpoz054llk3t1b9j",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "set calculated edge values",
            "func": "const functions = {\n    \"kwh\" : (metricId, valueId) => {\n        if (!flow.get(\"edge.calculated\").hasOwnProperty(metricId)){\n            flow.get(\"edge.calculated\")[metricId] = 0;\n        }\n        flow.get(\"edge.calculated\")[metricId] = flow.get(\"edge.calculated\")[metricId] + (flow.get(\"bridge.image.metrics\")[valueId] / 3600);\n    }\n}\n\nmsg.sequences.forEach(sequence => {\n    let calc = sequence.calcuation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if(metricsExist){\n        functions[calc.func](sequence.id, ...calc.ids)\n    }\n});\n\nmsg.payload = flow.get(\"edge.calculated\");\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1400,
            "y": 540,
            "wires": [
                [
                    "3ngbgm7qjfb7vvfd"
                ]
            ]
        },
        {
            "id": "y7u01xvsxzavtdzg",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Check BLE",
            "property": "hardware.ble",
            "propertyType": "global",
            "rules": [
                {
                    "t": "nempty"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 190,
            "y": 660,
            "wires": [
                [
                    "6rdh3ptezagprcjv"
                ]
            ]
        },
        {
            "id": "m8tu8wmp2ggys9m4",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 180,
            "y": 620,
            "wires": [
                [
                    "y7u01xvsxzavtdzg"
                ]
            ]
        },
        {
            "id": "0f10clx9knn3qzlu",
            "type": "inject",
            "z": "2c43cf6cc7734068",
            "name": "Calculation intervall",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 200,
            "y": 580,
            "wires": [
                [
                    "m8tu8wmp2ggys9m4"
                ]
            ]
        },
        {
            "id": "lx2id3vkwlg4yie6",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Check BLE",
            "property": "hardware.ble",
            "propertyType": "global",
            "rules": [
                {
                    "t": "nempty"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 150,
            "y": 860,
            "wires": [
                [
                    "oktm73tv3tsuhq1r"
                ]
            ]
        },
        {
            "id": "k6t0w973u06zaa0s",
            "type": "switch",
            "z": "2c43cf6cc7734068",
            "name": "Check BLE",
            "property": "hardware.ble",
            "propertyType": "global",
            "rules": [
                {
                    "t": "nempty"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 170,
            "y": 440,
            "wires": [
                [
                    "e2tazc05madzztev"
                ]
            ]
        },
        {
            "id": "0be9o5830m2bv816",
            "type": "debug",
            "z": "2c43cf6cc7734068",
            "name": "debug 2",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 1300,
            "y": 360,
            "wires": []
        },
        {
            "id": "ao9bktm8gb3ruxm4",
            "type": "inject",
            "z": "2c43cf6cc7734068",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "$app data_list_hs",
            "payloadType": "str",
            "x": 500,
            "y": 360,
            "wires": [
                [
                    "xv3sshhifoceovlc"
                ]
            ]
        },
        {
            "id": "858c44e0585d8169",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "function 1",
            "func": "msg.payload = Buffer.from(msg.payload);\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 700,
            "y": 300,
            "wires": [
                [
                    "xv3sshhifoceovlc"
                ]
            ]
        },
        {
            "id": "5a94f8ae6c375cd5",
            "type": "function",
            "z": "2c43cf6cc7734068",
            "name": "send requests",
            "func": "function extractUniqueValues(jsonArray, property) {\n    var values = jsonArray.map(function (item) {\n        return item[property];\n    });\n\n    return values.filter((value, index, self) => self.indexOf(value) === index);\n}\n\nconst requests = extractUniqueValues(flow.get(\"bridge.image.protocols\").filter(dataPoint => dataPoint.operations === \"R\" || dataPoint.operations === \"R/W\"), \"request\");\n\nrequests.forEach(request => {\n    msg.payload = request;\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 660,
            "y": 180,
            "wires": [
                [
                    "9zbthz117jepouhm"
                ]
            ]
        },
        {
            "id": "fa68898306979786",
            "type": "debug",
            "z": "2c43cf6cc7734068",
            "name": "debug 3",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false",
            "statusVal": "",
            "statusType": "auto",
            "x": 340,
            "y": 140,
            "wires": []
        }
    ],
    "configs": [
        {
            "id": "536ubhk87crdjavi",
            "type": "serial-port",
            "z": "2c43cf6cc7734068",
            "serialport": "/dev/rfcomm0",
            "serialbaud": "19200",
            "databits": "8",
            "parity": "none",
            "stopbits": "1",
            "waitfor": "",
            "dtr": "none",
            "rts": "none",
            "cts": "none",
            "dsr": "none",
            "newline": "\\n",
            "bin": "false",
            "out": "char",
            "addchar": "\\r\\n",
            "responsetimeout": "2000"
        }
    ]
}