nodered/danfoss/AK-SM-800A.json
{
    "id": "688d57797e81855e",
    "label": "68f0b90f4cb3ecaf28b8056f",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "9nfayrgmhwg9l7mo",
            "type": "tcp in",
            "z": "688d57797e81855e",
            "name": "Receive raw XML alarm",
            "server": "server",
            "host": "",
            "port": "4000",
            "datamode": "stream",
            "datatype": "utf8",
            "newline": "",
            "topic": "",
            "trim": false,
            "base64": false,
            "tls": "",
            "x": 180,
            "y": 480,
            "wires": [
                [
                    "00lxdosq6oaxflsl"
                ]
            ]
        },
        {
            "id": "00lxdosq6oaxflsl",
            "type": "xml",
            "z": "688d57797e81855e",
            "name": "Parse XML",
            "property": "payload",
            "attr": "",
            "chr": "",
            "x": 400,
            "y": 480,
            "wires": [
                [
                    "im6ajxivxuvsc5ax"
                ]
            ]
        },
        {
            "id": "im6ajxivxuvsc5ax",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Extract values",
            "func": "const a = msg.payload.alarm;\n\nfunction parseDateTime(dateStr, timeStr) {\n    if (!dateStr || !timeStr) return null;\n    const [day, month, year] = dateStr.split(\"/\").map(s => s.trim());\n    const [hour, minute] = timeStr.trim().split(\":\");\n    return `${\"20\" + year}-${month.padStart(2, \"0\")}-${day.padStart(2, \"0\")}T${hour}:${minute}:00`;\n}\n\nmsg.payload = {\n    ref: a.ref?.[0],\n    store: a.storeName?.[0],\n    unit: a.unitName?.[0],\n    device: a.deviceName?.[0]?.trim(),\n    name: a.name?.[0],\n    status: a.status?.[0],\n    action: a.action?.[0],\n    severity: a.severity?.[0],\n    setting: a.setting?.[0],\n    occurred: parseDateTime(a.occurDate?.[0], a.occurTime?.[0]),\n    cleared: parseDateTime(a.clearDate?.[0], a.clearTime?.[0]),\n    acknowledged: parseDateTime(a.ackDate?.[0], a.ackTime?.[0]),\n    ackUser: a.ackUserAcct?.[0],\n    value: a.value?.[0]?._,\n    parval: a.value?.[0]?.$?.parval,\n    ip: msg.ip?.replace(\"::ffff:\", \"\")\n};\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 600,
            "y": 480,
            "wires": [
                [
                    "m7z4zqrjgqkyvz51",
                    "n3niiag02gqr739c",
                    "03cs5lqu075bhpx7"
                ]
            ]
        },
        {
            "id": "r7zr4cg3demgvgv6",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Send ack",
            "func": "const ref = msg.payload.ref\nif (ref !== undefined && ref !== null) {\n    msg.payload = `<ack ref=\"${ref}\"/>`;\n\n    return msg;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1240,
            "y": 480,
            "wires": [
                [
                    "aozsb00tv1rj4u7q",
                    "y69fsjg7jq5vgjut"
                ]
            ]
        },
        {
            "id": "aozsb00tv1rj4u7q",
            "type": "tcp out",
            "z": "688d57797e81855e",
            "name": "",
            "host": "",
            "port": "",
            "beserver": "reply",
            "base64": false,
            "end": false,
            "tls": "",
            "x": 1390,
            "y": 480,
            "wires": []
        },
        {
            "id": "cohf58mip6bzucp7",
            "type": "comment",
            "z": "688d57797e81855e",
            "name": "Interface Docu",
            "info": "# 📘 Danfoss Alarm XML Format\n\nEach alarm is represented by an `<alarm>` element with the following structure:\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `alarm`             | —                 | Identifies this message as an alarm |\n\n## Alarm Metadata\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `ref`               | int               | Unique alarm reference number (range 1–2,147,483,647); resets after alarm log is cleared |\n| `storeName`         | string            | Configured name of store (max 16 chars) |\n| `unitNumber`        | int               | System Manager unit number (0–9, 0 = master) |\n| `unitName`          | string            | Name of System Manager unit (max 16 chars) |\n| `deviceName`        | string            | Name of device (e.g. AKC55, EKC204A) |\n| `deviceModel`       | string            | Model number (e.g. 084B8520) |\n| `nodetype`          | int               | Number identifying the device type (see \"Node Types\") |\n| `addr`              | string            | Board and point number in display format (e.g. \" 20\") |\n| `class`             | string            | Alarm class name (used for routing) |\n| `class_id`          | int               | ID for alarm class |\n| `level_id`          | int               | ID for alarm severity/type (e.g. Hi_Temp) |\n| `name`              | string            | Alarm name |\n| `name_id`           | int               | ID for generic alarm name (0-based index from EDF) |\n| `device_id`         | string            | Composed of `<MODEL>_<VERSION>` from EDF file (e.g. `080Z0124_012x`) |\n\n## Alarm State\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `status`            | string            | \"active\" or \"cleared\" |\n| `action`            | string            | \"Critical\", \"Normal\", \"Log only\", or \"Disabled\" |\n| `acked_clearable`   | int               | `1` = can be cleared, `0` = not clearable |\n| `value`             | string / decimal  | Value when alarm tripped (e.g. \"Trip\", \"OK\", or numeric) |\n| `current_value`     | string            | Current value (may match `value`) |\n| `parval`            | int / decimal     | Raw numeric value (may be `null`) |\n| `units`             | string            | Units of the value |\n| `units_index`       | int               | Index for the units |\n| `setting`           | string            | Alarm description or trigger setting |\n| `acknowledgement`   | string            | \"Yes\" if acknowledged, \"No\" if not |\n\n## Timestamps\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `occurDate`         | date              | Date when alarm occurred |\n| `occurTime`         | time              | Time when alarm occurred |\n| `clearDate`         | date              | Date when alarm was cleared |\n| `clearTime`         | time              | Time when alarm was cleared |\n| `epoch`             | int               | Epoch timestamp when alarm occurred |\n| `epoch_cleared`     | int               | Epoch timestamp when alarm was cleared |\n| `ackDate`           | string            | Date when alarm was acknowledged |\n| `ackTime`           | string            | Time when alarm was acknowledged |\n| `epoch_acked`       | int               | Epoch timestamp of acknowledgement |\n| `inactiveDate`      | string            | Date when alarm became inactive |\n| `inactiveTime`      | string            | Time when alarm became inactive |\n| `epoch_inactive`    | int               | Epoch timestamp when alarm became inactive |\n\n## Networking & Identity\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `ipAddr`            | string            | IP address of System Manager (e.g. `192.168.1.51`) |\n| `macAddr`           | string            | MAC address of System Manager (e.g. `00-0B-2D-0D-17-7E`) |\n| `storeId1`          | string            | Store ID (8 characters, left-justified with spaces if short) |\n| `storeId2`          | string            | Secondary store ID (8 characters) |\n\n## Transmission Info\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `xmitNum`           | int               | Retransmission counter (starts at 1) |\n| `routingAction`     | int               | Routing action (range: 1–15) |\n\n## State Flags\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `active_state`      | int               | `1` = alarm active, `0` = condition returned to normal |\n| `acked_state`       | int               | `1` = acknowledged; may be forced depending on firmware |\n| `cleared_state`     | int               | `1` = cleared manually; may be forced depending on firmware |\n\n## User Info\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `ackUserAcct`       | string            | User account (e.g. `99-99`) that acknowledged the alarm |\n| `clearUserAcct`     | string            | User account that cleared the alarm |\n\n## System View\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `listed_as`         | int               | Display list: `1` = active, `2` = acknowledged, `3` = cleared |",
            "x": 600,
            "y": 440,
            "wires": []
        },
        {
            "id": "zt9f25dhy0cr2azx",
            "type": "inject",
            "z": "688d57797e81855e",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 60,
            "wires": [
                [
                    "doijrn2zk5aqx6c4"
                ]
            ]
        },
        {
            "id": "doijrn2zk5aqx6c4",
            "type": "getflows",
            "z": "688d57797e81855e",
            "name": "",
            "x": 320,
            "y": 60,
            "wires": [
                [
                    "1tvlvl1hnayxq636"
                ]
            ]
        },
        {
            "id": "1tvlvl1hnayxq636",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 60,
            "wires": [
                [
                    "z4ybljc9uwh3oe5s"
                ]
            ]
        },
        {
            "id": "z4ybljc9uwh3oe5s",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 60,
            "wires": [
                [
                    "kmvm2322d7t46nos"
                ]
            ]
        },
        {
            "id": "dz3icsp2jdpq2zqz",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 280,
            "y": 320,
            "wires": [
                [
                    "2bt3lew38i52jnjd"
                ]
            ]
        },
        {
            "id": "1qedo22et5mkdpjo",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 700,
            "y": 320,
            "wires": [
                [
                    "4gygac0meytxm0s3"
                ]
            ]
        },
        {
            "id": "dwov1c440elj3agp",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 500,
            "y": 320,
            "wires": [
                [
                    "1qedo22et5mkdpjo"
                ]
            ]
        },
        {
            "id": "2bt3lew38i52jnjd",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 280,
            "y": 360,
            "wires": [
                [
                    "dwov1c440elj3agp"
                ]
            ]
        },
        {
            "id": "w9des63v3grnhswi",
            "type": "comment",
            "z": "688d57797e81855e",
            "name": "---- Virtual Read",
            "info": "",
            "x": 160,
            "y": 260,
            "wires": []
        },
        {
            "id": "a0eg5mu10y5ct7rv",
            "type": "inject",
            "z": "688d57797e81855e",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 160,
            "wires": [
                [
                    "f146jnh4jgert27z"
                ]
            ]
        },
        {
            "id": "f146jnh4jgert27z",
            "type": "link out",
            "z": "688d57797e81855e",
            "name": "link out 28",
            "mode": "link",
            "links": [
                "vrd94d3y3kj2mgvp"
            ],
            "x": 365,
            "y": 160
        },
        {
            "id": "4gygac0meytxm0s3",
            "type": "link out",
            "z": "688d57797e81855e",
            "name": "link out 29",
            "mode": "link",
            "links": [
                "mwu4qyhd63hjkfzk"
            ],
            "x": 1045,
            "y": 320
        },
        {
            "id": "vrd94d3y3kj2mgvp",
            "type": "link in",
            "z": "688d57797e81855e",
            "name": "Virtual read",
            "links": [
                "f146jnh4jgert27z"
            ],
            "x": 95,
            "y": 320,
            "wires": [
                [
                    "dz3icsp2jdpq2zqz"
                ]
            ]
        },
        {
            "id": "cnl3pax52qx013ib",
            "type": "mqtt out",
            "z": "688d57797e81855e",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1480,
            "wires": []
        },
        {
            "id": "kkknifywv7y6q9hw",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1040,
            "y": 1420,
            "wires": [
                [
                    "cnl3pax52qx013ib"
                ]
            ]
        },
        {
            "id": "w4yyw3ghqxp3p0fx",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1040,
            "y": 1380,
            "wires": [
                [
                    "7kb9pt4euzbi1as8"
                ]
            ]
        },
        {
            "id": "7kb9pt4euzbi1as8",
            "type": "mqtt out",
            "z": "688d57797e81855e",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1420,
            "wires": []
        },
        {
            "id": "h1tdf0q4pz2mnz0p",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 650,
            "y": 1440,
            "wires": [
                [
                    "kkknifywv7y6q9hw",
                    "w4yyw3ghqxp3p0fx",
                    "kqiqgqvkto91fg3g"
                ]
            ]
        },
        {
            "id": "ifhfcu5wjssgn97t",
            "type": "link in",
            "z": "688d57797e81855e",
            "name": "Set values on bridge",
            "links": [
                "ghn8d62zmyvys7ia"
            ],
            "x": 105,
            "y": 1400,
            "wires": [
                [
                    "sz0b5wv7g4toynf7"
                ]
            ]
        },
        {
            "id": "bg12qcj2yzdz90pc",
            "type": "flogger",
            "z": "688d57797e81855e",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 660,
            "y": 1960,
            "wires": [
                []
            ]
        },
        {
            "id": "gdxhy19m8akvchfp",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 1960,
            "wires": [
                [
                    "rlzqlrq71z7yjngb"
                ]
            ]
        },
        {
            "id": "ru8xlxqlhqx2vam0",
            "type": "catch",
            "z": "688d57797e81855e",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 190,
            "y": 1960,
            "wires": [
                [
                    "gdxhy19m8akvchfp"
                ]
            ]
        },
        {
            "id": "rlzqlrq71z7yjngb",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 500,
            "y": 1960,
            "wires": [
                [
                    "bg12qcj2yzdz90pc"
                ]
            ]
        },
        {
            "id": "t5rve8chhtbqiaww",
            "type": "comment",
            "z": "688d57797e81855e",
            "name": "---- Handle errors",
            "info": "",
            "x": 150,
            "y": 1920,
            "wires": []
        },
        {
            "id": "n3niiag02gqr739c",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "send alarm data",
            "func": "msg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.topic[0] === \"error\" || protocol.topic[0] === \"state\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 540,
            "wires": [
                [
                    "6zw56bv1c9vtu7on"
                ]
            ]
        },
        {
            "id": "6zw56bv1c9vtu7on",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "set alarm values",
            "func": "const alarmMessage = msg.payload;\nconst name = alarmMessage.name;\nconst status = alarmMessage.status;\nconst action = alarmMessage.action;\nconst sequences = Object.assign(msg.sequences);\nvar sendMessage = false;\n\nif (action === \"Disabled\") {\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_DISABLED\");\n    // no message\n} else if (action === \"Log only\") {\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_LOG\");\n    // no message\n} else if (action === \"Normal\") {\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_NORMAL\");\n    sendMessage = true;\n} else {\n    // Critical\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_CRITICAL\");\n    sendMessage = true;\n}\n\nif(sendMessage){\n    // Set alarm state\n    msg.payload = {};\n    msg.payload[msg.dataPoint.id] = status.toLowerCase() === \"aktiv\" || status.toLowerCase() === \"active\" ? true : false;\n    node.send(msg);\n\n    // Set alarm message\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_MESSAGE\");\n    msg.payload = {};\n    msg.payload[msg.dataPoint.id] = status.toLowerCase() === \"aktiv\" || status.toLowerCase() === \"active\" ? name : name;\n    node.send(msg);\n\n    // Set notification message\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_NOTIFICATION_MESSAGE\");\n    msg.payload = {};\n    msg.payload[msg.dataPoint.id] = status.toLowerCase() === \"aktiv\" || status.toLowerCase() === \"active\" ? name : \"\";\n    node.send(msg);\n}\n\nnode.done()",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 580,
            "wires": [
                [
                    "ghn8d62zmyvys7ia"
                ]
            ]
        },
        {
            "id": "m7z4zqrjgqkyvz51",
            "type": "delay",
            "z": "688d57797e81855e",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1080,
            "y": 480,
            "wires": [
                [
                    "r7zr4cg3demgvgv6"
                ]
            ]
        },
        {
            "id": "ghn8d62zmyvys7ia",
            "type": "link out",
            "z": "688d57797e81855e",
            "name": "link out 30",
            "mode": "link",
            "links": [
                "ifhfcu5wjssgn97t"
            ],
            "x": 1345,
            "y": 580
        },
        {
            "id": "9j3lfp13l7wizk0k",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 250,
            "y": 1440,
            "wires": [
                [
                    "h1tdf0q4pz2mnz0p"
                ]
            ]
        },
        {
            "id": "sz0b5wv7g4toynf7",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 250,
            "y": 1400,
            "wires": [
                [
                    "9j3lfp13l7wizk0k"
                ]
            ]
        },
        {
            "id": "xs0iff8sexul7w3x",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Init error values",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nflow.get(\"bridge\").image.metrics[\"ALARM_CRITICAL\"] = false;\nflow.get(\"bridge\").image.metrics[\"ALARM_NORMAL\"] = false;\nflow.get(\"bridge\").image.metrics[\"ALARM_MESSAGE\"] = \"\";\nflow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] = \"\";\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 610,
            "y": 1640,
            "wires": [
                []
            ]
        },
        {
            "id": "vjo9lp2e8sva974o",
            "type": "file",
            "z": "688d57797e81855e",
            "name": "Persist States",
            "filename": "/data/danfoss-ak-sm-800a.json",
            "filenameType": "str",
            "appendNewline": true,
            "createDir": true,
            "overwriteFile": "true",
            "encoding": "utf8",
            "x": 650,
            "y": 1820,
            "wires": [
                []
            ]
        },
        {
            "id": "aqhae32fxlgs5w7k",
            "type": "file in",
            "z": "688d57797e81855e",
            "name": "Read States",
            "filename": "/data/danfoss-ak-sm-800a.json",
            "filenameType": "str",
            "format": "utf8",
            "chunk": false,
            "sendError": false,
            "encoding": "utf8",
            "allProps": false,
            "x": 210,
            "y": 1740,
            "wires": [
                [
                    "hhk0qtzr2cersj4s"
                ]
            ]
        },
        {
            "id": "44bholjpwxy9psxf",
            "type": "catch",
            "z": "688d57797e81855e",
            "name": "",
            "scope": [
                "aqhae32fxlgs5w7k"
            ],
            "uncaught": false,
            "x": 140,
            "y": 1640,
            "wires": [
                [
                    "xs0iff8sexul7w3x"
                ]
            ]
        },
        {
            "id": "fudbyiphlzhlkfe2",
            "type": "change",
            "z": "688d57797e81855e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "bridge.image.metrics",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 410,
            "y": 1820,
            "wires": [
                [
                    "vjo9lp2e8sva974o"
                ]
            ]
        },
        {
            "id": "hhk0qtzr2cersj4s",
            "type": "json",
            "z": "688d57797e81855e",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 350,
            "y": 1740,
            "wires": [
                [
                    "t46ujb8ni17coc40"
                ]
            ]
        },
        {
            "id": "t46ujb8ni17coc40",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Set persisted values",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nflow.get(\"bridge\").image.metrics = msg.payload;\n\nif (flow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] === undefined || flow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] === null){\n    flow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] = \"\";\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 680,
            "y": 1740,
            "wires": [
                []
            ]
        },
        {
            "id": "03cs5lqu075bhpx7",
            "type": "debug",
            "z": "688d57797e81855e",
            "name": "Alarm message",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload.name",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 820,
            "y": 420,
            "wires": []
        },
        {
            "id": "y69fsjg7jq5vgjut",
            "type": "debug",
            "z": "688d57797e81855e",
            "name": "Ack message",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload.name",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1420,
            "y": 440,
            "wires": []
        },
        {
            "id": "r3qvqsbb8qciuu33",
            "type": "delay",
            "z": "688d57797e81855e",
            "name": "",
            "pauseType": "rate",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 230,
            "y": 1820,
            "wires": [
                [
                    "fudbyiphlzhlkfe2"
                ]
            ]
        },
        {
            "id": "ai9zhah9tjgpl1aj",
            "type": "comment",
            "z": "688d57797e81855e",
            "name": "---- Persistence",
            "info": "",
            "x": 170,
            "y": 1600,
            "wires": []
        },
        {
            "id": "trh9rw0mex9kq6y9",
            "type": "link in",
            "z": "688d57797e81855e",
            "name": "Load persisted values",
            "links": [
                "j9xxxz7dt7kksyrf"
            ],
            "x": 95,
            "y": 1740,
            "wires": [
                [
                    "aqhae32fxlgs5w7k"
                ]
            ]
        },
        {
            "id": "j9xxxz7dt7kksyrf",
            "type": "link out",
            "z": "688d57797e81855e",
            "name": "link out 31",
            "mode": "link",
            "links": [
                "trh9rw0mex9kq6y9"
            ],
            "x": 1015,
            "y": 60
        },
        {
            "id": "kmvm2322d7t46nos",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 60,
            "wires": [
                [
                    "j9xxxz7dt7kksyrf"
                ]
            ]
        },
        {
            "id": "cshtz8o9czf4tuf0",
            "type": "link in",
            "z": "688d57797e81855e",
            "name": "Persist values",
            "links": [
                "kqiqgqvkto91fg3g"
            ],
            "x": 95,
            "y": 1820,
            "wires": [
                [
                    "r3qvqsbb8qciuu33"
                ]
            ]
        },
        {
            "id": "kqiqgqvkto91fg3g",
            "type": "link out",
            "z": "688d57797e81855e",
            "name": "link out 32",
            "mode": "link",
            "links": [
                "cshtz8o9czf4tuf0"
            ],
            "x": 825,
            "y": 1520
        },
        {
            "id": "9lalm0koizmm3x8b",
            "type": "inject",
            "z": "688d57797e81855e",
            "name": "Poll alle Kältestellen",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "60",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "poll",
            "payloadType": "str",
            "x": 200,
            "y": 780,
            "wires": [
                [
                    "ugsfc9pmmslq0ujz"
                ]
            ]
        },
        {
            "id": "ugsfc9pmmslq0ujz",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Init",
            "func": "msg.svb5_url  = 'http://'+ env.get(\"REMOTE_MANAGER_HOST\") + '/html/xml.cgi' ;\nmsg.svb5_user = env.get(\"REMOTE_MANAGER_USER\");\nmsg.svb5_pass = env.get(\"REMOTE_MANAGER_PW\");\nmsg.svb5_ts   = new Date().toISOString();\nnode.status({ fill: 'blue', shape: 'ring', text: 'Discovery...' });\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 400,
            "y": 780,
            "wires": [
                [
                    "3d71y2eb7bwzmahe"
                ]
            ]
        },
        {
            "id": "3d71y2eb7bwzmahe",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Build read_devices",
            "func": "const user = msg.svb5_user;\nconst pass = msg.svb5_pass;\n\nconst xml = `<cmd user=\"${user}\" password=\"${pass}\" action=\"read_devices\" storeview_only=\"1\" version=\"C\" lang=\"ger\" session_update=\"no\"/>`;\n\nmsg.url     = msg.svb5_url;\nmsg.method  = 'POST';\nmsg.headers = {\n    'Content-Type': 'text/plain',\n    'AKSM-auth': 'Basic ' + Buffer.from(user + ':' + pass).toString('base64')\n};\nmsg.payload = 'xml=' + encodeURIComponent(xml);\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 650,
            "y": 780,
            "wires": [
                [
                    "ngkh4uyv5jwf6hvk"
                ]
            ]
        },
        {
            "id": "ngkh4uyv5jwf6hvk",
            "type": "http request",
            "z": "688d57797e81855e",
            "name": "POST read_devices",
            "method": "use",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "",
            "persist": false,
            "authType": "",
            "x": 660,
            "y": 820,
            "wires": [
                [
                    "gdqp0d0hcezisbox",
                    "wiju225s4vnlcp47"
                ]
            ]
        },
        {
            "id": "gdqp0d0hcezisbox",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Parse read_devices → Nodes",
            "func": "const body = msg.payload;\n\nif (msg.statusCode !== 200) {\n    node.error(`HTTP ${msg.statusCode} bei read_devices`);\n    return null;\n}\nconst errMatch = body.match(/error=\"(\\d+)\"/);\nif (errMatch && errMatch[1] !== '0') {\n    node.error(`read_devices error=${errMatch[1]}`);\n    return null;\n}\n\nconst blocks = body.split('<device ');\nconst results = [];\n\nfor (const block of blocks) {\n    if (!block.startsWith('device ') && !block.trim()) continue;\n    const b = block.startsWith('device ') ? block : ('device ' + block);\n\n    const tagEnd = b.indexOf('>');\n    if (tagEnd === -1) continue;\n    const attrs = b.substring(7, tagEnd);\n    const inner = b.substring(tagEnd + 1);\n\n    const get = k => { const r = attrs.match(new RegExp('\\\\b' + k + '=\"([^\"]*)\"')); return r ? r[1].trim() : null; };\n    const getChild = tag => { const r = inner.match(new RegExp('<' + tag + '>([^<]*)</' + tag + '>')); return r ? r[1].trim() : null; };\n\n    const type = getChild('type');\n    const stype = getChild('stype');\n    if (type !== 'EVAP' || stype !== '2') continue;\n\n    const nd = parseInt(get('node'));\n    const bpidx = parseInt(get('bpidx'));\n    const name = getChild('name');\n    const online = get('online') === '1';\n\n    if (!bpidx || !nd || !name) continue;\n\n    const rawValue = get('value');\n    const actualValue = rawValue ? parseFloat(rawValue) : null;\n\n    const raw = {\n        node: nd,\n        bpidx: bpidx,\n        name: name,\n        online: online,\n        timestamp: msg.svb5_ts,\n        status: get('status') || null,\n        alarm: get('alarm') === '1',\n        actualValue: (actualValue !== null && !isNaN(actualValue)) ? actualValue : null,\n    };\n\n    const result = Object.fromEntries(Object.entries(raw).filter(([, v]) => v !== null));\n    results.push(result);\n}\n\nif (results.length === 0) {\n    node.error('Keine EVAP-Devices gefunden');\n    return null;\n}\n\nnode.status({ fill: 'green', shape: 'dot', text: `${results.length} Nodes — ${new Date().toLocaleTimeString()}` });\nnode.log('Nodes: ' + results.map(r => `${r.name}(node=${r.node} actualValue=${r.actualValue}°C)`).join(', '));\n\nconst summary = results.map(x =>\n    `[node=${x.node}] ${x.name}\\n` +\n    `  Status      : ${x.status ?? 'n/a'}\\n` +\n    `  actualValue : ${x.actualValue !== undefined ? x.actualValue + ' °C' : 'n/a'}\\n` +\n    `  Alarm       : ${x.alarm ? '⚠ ALARM' : 'OK'}`\n).join('\\n\\n');\n\nmsg.svb5_results = results;\nmsg.payload = {\n    timestamp: msg.svb5_ts,\n    count: results.length,\n    results: results,\n    summary: summary\n};\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 690,
            "y": 860,
            "wires": [
                [
                    "6yd2nc446e3o3yt5",
                    "gi3lblvygttyys45",
                    "5dt84x6w8exggayy"
                ]
            ]
        },
        {
            "id": "gi3lblvygttyys45",
            "type": "debug",
            "z": "688d57797e81855e",
            "name": "Alle Nodes (lesbar)",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload.summary",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1570,
            "y": 920,
            "wires": []
        },
        {
            "id": "6yd2nc446e3o3yt5",
            "type": "debug",
            "z": "688d57797e81855e",
            "name": "Alle Nodes (JSON)",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload.results",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1570,
            "y": 880,
            "wires": []
        },
        {
            "id": "5dt84x6w8exggayy",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Normalize",
            "func": "const results = msg.payload.results;\n\nconst flat = results.reduce((acc, x) => {\n    const prefix = `controller_${x.node}_`;\n    Object.entries(x).forEach(([k, v]) => {\n        acc[prefix + k] = v;\n    });\n    return acc;\n}, {});\n\nmsg.payload = flat;\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 660,
            "y": 1040,
            "wires": [
                [
                    "rdm81akz74ze0zwk",
                    "3ii3mmozcrmxao13",
                    "ke6ft96zga3tmfll",
                    "sne18mxh996xbf7v",
                    "h8y4a2eq1tm9od1j"
                ]
            ]
        },
        {
            "id": "rdm81akz74ze0zwk",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Generate Image",
            "func": "const flat = msg.payload;\n\nconst topicMap = {\n    alarm: ['state', 'bool'],\n    status: ['state', 'string'],\n    online: ['state', 'bool'],\n    actualValue: ['telemetry', 'number'],\n};\nconst skipKeys = ['node', 'bpidx', 'name', 'timestamp'];\n\nconst protocols = Object.entries(flat)\n    .filter(([key]) => {\n        const prop = key.split('_').slice(2).join('_');\n        return !skipKeys.includes(prop);\n    })\n    .map(([key, value]) => {\n        const nodeNr = parseInt(key.split('_')[1]);\n        const prop = key.split('_').slice(2).join('_');\n\n        const topic = topicMap[prop]\n            ?? ['state', typeof value === 'number' ? 'number' : 'string'];\n\n        return {\n            id: key,\n            address: nodeNr,\n            type: typeof value === 'boolean' ? 'bool'\n                : typeof value === 'number' ? 'float'\n                    : 'string',\n            fc: 3,\n            offsetbit: 0,\n            scale: 1,\n            mask: \"\",\n            topic\n        };\n    });\n\nmsg.payload = { protocols };\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1280,
            "y": 1100,
            "wires": [
                [
                    "9283jcfud04yujis"
                ]
            ]
        },
        {
            "id": "9283jcfud04yujis",
            "type": "debug",
            "z": "688d57797e81855e",
            "name": "Image",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1490,
            "y": 1100,
            "wires": []
        },
        {
            "id": "3ii3mmozcrmxao13",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Generate Metadata",
            "func": "const flat = msg.payload;\nconst results = msg.svb5_results;\n\nconst skipKeys = ['node', 'bpidx', 'name', 'timestamp'];\n\nconst propMeta = {\n    alarm: { de: 'Alarm', unit: '', render: [{ measurement: true, de: 'Alarm' }, { measurement: false, de: 'OK' }] },\n    status: { de: 'Betriebsstatus', unit: '', render: [{ measurement: '', de: '-' }] },\n    online: { de: 'Online', unit: '', render: [{ measurement: true, de: 'Online' }, { measurement: false, de: 'Offline' }] },\n    actualValue: { de: 'Istwert', unit: '°C', render: null },\n};\n\nconst topicMap = {\n    alarm: ['state', 'bool'],\n    status: ['state', 'string'],\n    online: ['state', 'bool'],\n    actualValue: ['telemetry', 'number'],\n};\n\nconst nameByNode = {};\nresults.forEach(r => { nameByNode[r.node] = r.name; });\n\nconst metricSources = Object.entries(flat)\n    .filter(([key]) => {\n        const prop = key.split('_').slice(2).join('_');\n        return !skipKeys.includes(prop);\n    })\n    .map(([key]) => {\n        const nodeNr = parseInt(key.split('_')[1]);\n        const prop = key.split('_').slice(2).join('_');\n        const meta = propMeta[prop];\n        const ndName = nameByNode[nodeNr] || `Node ${nodeNr}`;\n\n        const topic = topicMap[prop]\n            ?? ['state', 'string'];\n\n        const entry = {\n            metricId: key,\n            topic,\n            unit: meta ? meta.unit : '',\n            translations: { de: `${ndName} — ${meta ? meta.de : prop}` },\n        };\n\n        if (meta && meta.render) {\n            entry.render = meta.render.map(r => ({\n                measurement: r.measurement,\n                translations: { de: r.de }\n            }));\n        }\n\n        if (topic[1] === 'number') {\n            entry.min = prop === 'actualValue' ? -40 : 0;\n            entry.max = prop === 'actualValue' ? 60 : 9999;\n        }\n\n        return entry;\n    });\n\nmsg.payload = { metricSources };\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1270,
            "y": 1060,
            "wires": [
                [
                    "pf20s26w3x6tju3j"
                ]
            ]
        },
        {
            "id": "pf20s26w3x6tju3j",
            "type": "debug",
            "z": "688d57797e81855e",
            "name": "Metadata",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1500,
            "y": 1060,
            "wires": []
        },
        {
            "id": "ofidbxqh59brk1t5",
            "type": "comment",
            "z": "688d57797e81855e",
            "name": "---- XML Alarm Port 4000",
            "info": "",
            "x": 190,
            "y": 420,
            "wires": []
        },
        {
            "id": "16fover7t3h8q0ky",
            "type": "comment",
            "z": "688d57797e81855e",
            "name": "---- Data Poll",
            "info": "",
            "x": 150,
            "y": 720,
            "wires": []
        },
        {
            "id": "h8y4a2eq1tm9od1j",
            "type": "link out",
            "z": "688d57797e81855e",
            "name": "link out 21",
            "mode": "link",
            "links": [
                "mwu4qyhd63hjkfzk"
            ],
            "x": 695,
            "y": 1100
        },
        {
            "id": "zm9i3k6jy6n5xnrx",
            "type": "function",
            "z": "688d57797e81855e",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 660,
            "y": 1320,
            "wires": [
                [
                    "w4yyw3ghqxp3p0fx",
                    "kkknifywv7y6q9hw"
                ]
            ]
        },
        {
            "id": "mwu4qyhd63hjkfzk",
            "type": "link in",
            "z": "688d57797e81855e",
            "name": "Set values on bridge",
            "links": [
                "h8y4a2eq1tm9od1j",
                "4gygac0meytxm0s3"
            ],
            "x": 115,
            "y": 1280,
            "wires": [
                [
                    "3lsbpvnyxrz0zg6d"
                ]
            ]
        },
        {
            "id": "1yvup9nakfckstw3",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 260,
            "y": 1320,
            "wires": [
                [
                    "zm9i3k6jy6n5xnrx"
                ]
            ]
        },
        {
            "id": "3lsbpvnyxrz0zg6d",
            "type": "switch",
            "z": "688d57797e81855e",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 260,
            "y": 1280,
            "wires": [
                [
                    "1yvup9nakfckstw3"
                ]
            ]
        },
        {
            "id": "ke6ft96zga3tmfll",
            "type": "delay",
            "z": "688d57797e81855e",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1250,
            "y": 1160,
            "wires": [
                [
                    "p4s15qu6xf7j0ynu"
                ]
            ]
        },
        {
            "id": "p4s15qu6xf7j0ynu",
            "type": "change",
            "z": "688d57797e81855e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.image.metrics[\"COMMUNICATION_ERROR\"]",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1560,
            "y": 1160,
            "wires": [
                []
            ]
        },
        {
            "id": "sne18mxh996xbf7v",
            "type": "change",
            "z": "688d57797e81855e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.image.metrics[\"COMMUNICATION_ERROR\"]",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1400,
            "y": 1200,
            "wires": [
                []
            ]
        },
        {
            "id": "wiju225s4vnlcp47",
            "type": "change",
            "z": "688d57797e81855e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1060,
            "y": 800,
            "wires": [
                [
                    "ke6ft96zga3tmfll"
                ]
            ]
        },
        {
            "id": "5qrpplmk9eev9hq7",
            "type": "catch",
            "z": "688d57797e81855e",
            "name": "",
            "scope": [
                "ngkh4uyv5jwf6hvk"
            ],
            "uncaught": false,
            "x": 630,
            "y": 1160,
            "wires": [
                [
                    "ke6ft96zga3tmfll"
                ]
            ]
        }
    ]
}