nodered/danfoss/AK-SM-800A-XML-ALARM.json
{
    "id": "932c97ea1c375733",
    "label": "123123123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "6db9a8xu4pivntds",
            "type": "tcp in",
            "z": "932c97ea1c375733",
            "name": "Receive raw XML alarm",
            "server": "server",
            "host": "",
            "port": "4000",
            "datamode": "stream",
            "datatype": "utf8",
            "newline": "",
            "topic": "",
            "trim": false,
            "base64": false,
            "tls": "",
            "x": 180,
            "y": 480,
            "wires": [
                [
                    "ykp7hlppwzvm3qu9"
                ]
            ]
        },
        {
            "id": "ykp7hlppwzvm3qu9",
            "type": "xml",
            "z": "932c97ea1c375733",
            "name": "Parse XML",
            "property": "payload",
            "attr": "",
            "chr": "",
            "x": 400,
            "y": 480,
            "wires": [
                [
                    "udn2ye2deo8anb9s"
                ]
            ]
        },
        {
            "id": "udn2ye2deo8anb9s",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Extract values",
            "func": "const a = msg.payload.alarm;\n\nfunction parseDateTime(dateStr, timeStr) {\n    if (!dateStr || !timeStr) return null;\n    const [day, month, year] = dateStr.split(\"/\").map(s => s.trim());\n    const [hour, minute] = timeStr.trim().split(\":\");\n    return `${\"20\" + year}-${month.padStart(2, \"0\")}-${day.padStart(2, \"0\")}T${hour}:${minute}:00`;\n}\n\nmsg.payload = {\n    ref: a.ref?.[0],\n    store: a.storeName?.[0],\n    unit: a.unitName?.[0],\n    device: a.deviceName?.[0]?.trim(),\n    name: a.name?.[0],\n    status: a.status?.[0],\n    action: a.action?.[0],\n    severity: a.severity?.[0],\n    setting: a.setting?.[0],\n    occurred: parseDateTime(a.occurDate?.[0], a.occurTime?.[0]),\n    cleared: parseDateTime(a.clearDate?.[0], a.clearTime?.[0]),\n    acknowledged: parseDateTime(a.ackDate?.[0], a.ackTime?.[0]),\n    ackUser: a.ackUserAcct?.[0],\n    value: a.value?.[0]?._,\n    parval: a.value?.[0]?.$?.parval,\n    ip: msg.ip?.replace(\"::ffff:\", \"\")\n};\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 600,
            "y": 480,
            "wires": [
                [
                    "lece497nriuprlh4",
                    "06qpywe88r9qot5p",
                    "fnt6z68hmqxcojzp"
                ]
            ]
        },
        {
            "id": "efp6rceu5y55ar63",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Send ack",
            "func": "const ref = msg.payload.ref\nif (ref !== undefined && ref !== null) {\n    msg.payload = `<ack ref=\"${ref}\"/>`;\n\n    return msg;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1240,
            "y": 480,
            "wires": [
                [
                    "zi0eihyosotttd26",
                    "unpmlo44vjsovn6m"
                ]
            ]
        },
        {
            "id": "zi0eihyosotttd26",
            "type": "tcp out",
            "z": "932c97ea1c375733",
            "name": "",
            "host": "",
            "port": "",
            "beserver": "reply",
            "base64": false,
            "end": false,
            "tls": "",
            "x": 1390,
            "y": 480,
            "wires": []
        },
        {
            "id": "4oayek43u75enh4x",
            "type": "comment",
            "z": "932c97ea1c375733",
            "name": "Interface Docu",
            "info": "# 📘 Danfoss Alarm XML Format\n\nEach alarm is represented by an `<alarm>` element with the following structure:\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `alarm`             | —                 | Identifies this message as an alarm |\n\n## Alarm Metadata\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `ref`               | int               | Unique alarm reference number (range 1–2,147,483,647); resets after alarm log is cleared |\n| `storeName`         | string            | Configured name of store (max 16 chars) |\n| `unitNumber`        | int               | System Manager unit number (0–9, 0 = master) |\n| `unitName`          | string            | Name of System Manager unit (max 16 chars) |\n| `deviceName`        | string            | Name of device (e.g. AKC55, EKC204A) |\n| `deviceModel`       | string            | Model number (e.g. 084B8520) |\n| `nodetype`          | int               | Number identifying the device type (see \"Node Types\") |\n| `addr`              | string            | Board and point number in display format (e.g. \" 20\") |\n| `class`             | string            | Alarm class name (used for routing) |\n| `class_id`          | int               | ID for alarm class |\n| `level_id`          | int               | ID for alarm severity/type (e.g. Hi_Temp) |\n| `name`              | string            | Alarm name |\n| `name_id`           | int               | ID for generic alarm name (0-based index from EDF) |\n| `device_id`         | string            | Composed of `<MODEL>_<VERSION>` from EDF file (e.g. `080Z0124_012x`) |\n\n## Alarm State\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `status`            | string            | \"active\" or \"cleared\" |\n| `action`            | string            | \"Critical\", \"Normal\", \"Log only\", or \"Disabled\" |\n| `acked_clearable`   | int               | `1` = can be cleared, `0` = not clearable |\n| `value`             | string / decimal  | Value when alarm tripped (e.g. \"Trip\", \"OK\", or numeric) |\n| `current_value`     | string            | Current value (may match `value`) |\n| `parval`            | int / decimal     | Raw numeric value (may be `null`) |\n| `units`             | string            | Units of the value |\n| `units_index`       | int               | Index for the units |\n| `setting`           | string            | Alarm description or trigger setting |\n| `acknowledgement`   | string            | \"Yes\" if acknowledged, \"No\" if not |\n\n## Timestamps\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `occurDate`         | date              | Date when alarm occurred |\n| `occurTime`         | time              | Time when alarm occurred |\n| `clearDate`         | date              | Date when alarm was cleared |\n| `clearTime`         | time              | Time when alarm was cleared |\n| `epoch`             | int               | Epoch timestamp when alarm occurred |\n| `epoch_cleared`     | int               | Epoch timestamp when alarm was cleared |\n| `ackDate`           | string            | Date when alarm was acknowledged |\n| `ackTime`           | string            | Time when alarm was acknowledged |\n| `epoch_acked`       | int               | Epoch timestamp of acknowledgement |\n| `inactiveDate`      | string            | Date when alarm became inactive |\n| `inactiveTime`      | string            | Time when alarm became inactive |\n| `epoch_inactive`    | int               | Epoch timestamp when alarm became inactive |\n\n## Networking & Identity\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `ipAddr`            | string            | IP address of System Manager (e.g. `192.168.1.51`) |\n| `macAddr`           | string            | MAC address of System Manager (e.g. `00-0B-2D-0D-17-7E`) |\n| `storeId1`          | string            | Store ID (8 characters, left-justified with spaces if short) |\n| `storeId2`          | string            | Secondary store ID (8 characters) |\n\n## Transmission Info\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `xmitNum`           | int               | Retransmission counter (starts at 1) |\n| `routingAction`     | int               | Routing action (range: 1–15) |\n\n## State Flags\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `active_state`      | int               | `1` = alarm active, `0` = condition returned to normal |\n| `acked_state`       | int               | `1` = acknowledged; may be forced depending on firmware |\n| `cleared_state`     | int               | `1` = cleared manually; may be forced depending on firmware |\n\n## User Info\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `ackUserAcct`       | string            | User account (e.g. `99-99`) that acknowledged the alarm |\n| `clearUserAcct`     | string            | User account that cleared the alarm |\n\n## System View\n\n| Element             | Data Type         | Definition |\n|---------------------|-------------------|------------|\n| `listed_as`         | int               | Display list: `1` = active, `2` = acknowledged, `3` = cleared |",
            "x": 600,
            "y": 440,
            "wires": []
        },
        {
            "id": "v4ltzf1ayx1jsy1l",
            "type": "inject",
            "z": "932c97ea1c375733",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 60,
            "wires": [
                [
                    "k89odii85e0d7kp7"
                ]
            ]
        },
        {
            "id": "k89odii85e0d7kp7",
            "type": "getflows",
            "z": "932c97ea1c375733",
            "name": "",
            "x": 320,
            "y": 60,
            "wires": [
                [
                    "nxl2uz7fa4u4pbb5"
                ]
            ]
        },
        {
            "id": "nxl2uz7fa4u4pbb5",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 60,
            "wires": [
                [
                    "zff21w024vgv8ms3"
                ]
            ]
        },
        {
            "id": "zff21w024vgv8ms3",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 60,
            "wires": [
                [
                    "mrft3i2dsf6e3qz5"
                ]
            ]
        },
        {
            "id": "12f8ugi53oq7g9du",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 280,
            "y": 320,
            "wires": [
                [
                    "nbyuh69h1ronur7a"
                ]
            ]
        },
        {
            "id": "3elg06w2628jinzb",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 700,
            "y": 320,
            "wires": [
                [
                    "5cvysd474nyqr6cm"
                ]
            ]
        },
        {
            "id": "v8ml2my75c2b0jkd",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 500,
            "y": 320,
            "wires": [
                [
                    "3elg06w2628jinzb"
                ]
            ]
        },
        {
            "id": "nbyuh69h1ronur7a",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 280,
            "y": 360,
            "wires": [
                [
                    "v8ml2my75c2b0jkd"
                ]
            ]
        },
        {
            "id": "6w1frkkpr5k7tyx4",
            "type": "comment",
            "z": "932c97ea1c375733",
            "name": "---- Virtual Read",
            "info": "",
            "x": 160,
            "y": 260,
            "wires": []
        },
        {
            "id": "ux6wkdy6edjxy7ly",
            "type": "inject",
            "z": "932c97ea1c375733",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 160,
            "wires": [
                [
                    "yagkp4krse37jrmk"
                ]
            ]
        },
        {
            "id": "yagkp4krse37jrmk",
            "type": "link out",
            "z": "932c97ea1c375733",
            "name": "link out 28",
            "mode": "link",
            "links": [
                "quql7h6hjx0qvgqd"
            ],
            "x": 365,
            "y": 160
        },
        {
            "id": "5cvysd474nyqr6cm",
            "type": "link out",
            "z": "932c97ea1c375733",
            "name": "link out 29",
            "mode": "link",
            "links": [
                "xc8p3ze2run5l1fm"
            ],
            "x": 1045,
            "y": 320
        },
        {
            "id": "quql7h6hjx0qvgqd",
            "type": "link in",
            "z": "932c97ea1c375733",
            "name": "Virtual read",
            "links": [
                "yagkp4krse37jrmk"
            ],
            "x": 95,
            "y": 320,
            "wires": [
                [
                    "12f8ugi53oq7g9du"
                ]
            ]
        },
        {
            "id": "t7x299io1bjmmhnw",
            "type": "mqtt out",
            "z": "932c97ea1c375733",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 780,
            "wires": []
        },
        {
            "id": "qhjohsw9rb83xi1h",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 920,
            "y": 780,
            "wires": [
                [
                    "t7x299io1bjmmhnw"
                ]
            ]
        },
        {
            "id": "134gjjh1q5lrfmmo",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 920,
            "y": 740,
            "wires": [
                [
                    "c4efudaqeo0v79d7"
                ]
            ]
        },
        {
            "id": "c4efudaqeo0v79d7",
            "type": "mqtt out",
            "z": "932c97ea1c375733",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 720,
            "wires": []
        },
        {
            "id": "iepcz535j35hdu0a",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 640,
            "y": 740,
            "wires": [
                [
                    "qhjohsw9rb83xi1h",
                    "134gjjh1q5lrfmmo",
                    "kihxft9sjfz0swg6"
                ]
            ]
        },
        {
            "id": "xc8p3ze2run5l1fm",
            "type": "link in",
            "z": "932c97ea1c375733",
            "name": "Set values on bridge",
            "links": [
                "5cvysd474nyqr6cm",
                "t6f7af00a4mjluw7"
            ],
            "x": 95,
            "y": 700,
            "wires": [
                [
                    "tgazh78qyjtzi5l6"
                ]
            ]
        },
        {
            "id": "pd2kktpydbj8ci30",
            "type": "flogger",
            "z": "932c97ea1c375733",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 610,
            "y": 1480,
            "wires": [
                []
            ]
        },
        {
            "id": "2clk2wtzxm2u0o1u",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 280,
            "y": 1480,
            "wires": [
                [
                    "6jubcv033b8kcmoh"
                ]
            ]
        },
        {
            "id": "xzwx0hzm9baxzftc",
            "type": "catch",
            "z": "932c97ea1c375733",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 140,
            "y": 1480,
            "wires": [
                [
                    "2clk2wtzxm2u0o1u"
                ]
            ]
        },
        {
            "id": "6jubcv033b8kcmoh",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 1480,
            "wires": [
                [
                    "pd2kktpydbj8ci30"
                ]
            ]
        },
        {
            "id": "0lg6nxmfz98mmrud",
            "type": "comment",
            "z": "932c97ea1c375733",
            "name": "---- Handle errors",
            "info": "",
            "x": 100,
            "y": 1440,
            "wires": []
        },
        {
            "id": "06qpywe88r9qot5p",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "send alarm data",
            "func": "msg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.topic[0] === \"error\" || protocol.topic[0] === \"state\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 540,
            "wires": [
                [
                    "6aov60buog2azq3j"
                ]
            ]
        },
        {
            "id": "6aov60buog2azq3j",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "set alarm values",
            "func": "const alarmMessage = msg.payload;\nconst name = alarmMessage.name;\nconst status = alarmMessage.status;\nconst action = alarmMessage.action;\nconst sequences = Object.assign(msg.sequences);\nvar sendMessage = false;\n\nif (action === \"Disabled\") {\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_DISABLED\");\n    // no message\n} else if (action === \"Log only\") {\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_LOG\");\n    // no message\n} else if (action === \"Normal\") {\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_NORMAL\");\n    sendMessage = true;\n} else {\n    // Critical\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_CRITICAL\");\n    sendMessage = true;\n}\n\nif(sendMessage){\n    // Set alarm state\n    msg.payload = {};\n    msg.payload[msg.dataPoint.id] = status.toLowerCase() === \"aktiv\" || status.toLowerCase() === \"active\" ? true : false;\n    node.send(msg);\n\n    // Set alarm message\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_MESSAGE\");\n    msg.payload = {};\n    msg.payload[msg.dataPoint.id] = status.toLowerCase() === \"aktiv\" || status.toLowerCase() === \"active\" ? name : name;\n    node.send(msg);\n\n    // Set notification message\n    msg = sequences.find(x => x.dataPoint.id === \"ALARM_NOTIFICATION_MESSAGE\");\n    msg.payload = {};\n    msg.payload[msg.dataPoint.id] = status.toLowerCase() === \"aktiv\" || status.toLowerCase() === \"active\" ? name : \"\";\n    node.send(msg);\n}\n\nnode.done()",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 580,
            "wires": [
                [
                    "t6f7af00a4mjluw7"
                ]
            ]
        },
        {
            "id": "lece497nriuprlh4",
            "type": "delay",
            "z": "932c97ea1c375733",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1080,
            "y": 480,
            "wires": [
                [
                    "efp6rceu5y55ar63"
                ]
            ]
        },
        {
            "id": "t6f7af00a4mjluw7",
            "type": "link out",
            "z": "932c97ea1c375733",
            "name": "link out 30",
            "mode": "link",
            "links": [
                "xc8p3ze2run5l1fm"
            ],
            "x": 1345,
            "y": 580
        },
        {
            "id": "ce3sva6m8rwq8eyo",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 240,
            "y": 740,
            "wires": [
                [
                    "iepcz535j35hdu0a"
                ]
            ]
        },
        {
            "id": "tgazh78qyjtzi5l6",
            "type": "switch",
            "z": "932c97ea1c375733",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 240,
            "y": 700,
            "wires": [
                [
                    "ce3sva6m8rwq8eyo"
                ]
            ]
        },
        {
            "id": "z940h3rmjsnb0cu2",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Init error values",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nflow.get(\"bridge\").image.metrics[\"ALARM_CRITICAL\"] = false;\nflow.get(\"bridge\").image.metrics[\"ALARM_NORMAL\"] = false;\nflow.get(\"bridge\").image.metrics[\"ALARM_MESSAGE\"] = \"\";\nflow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] = \"\";\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 600,
            "y": 1160,
            "wires": [
                []
            ]
        },
        {
            "id": "xvab1ep6pnyfig0n",
            "type": "file",
            "z": "932c97ea1c375733",
            "name": "Persist States",
            "filename": "/data/danfoss-ak-sm-800a.json",
            "filenameType": "str",
            "appendNewline": true,
            "createDir": true,
            "overwriteFile": "true",
            "encoding": "utf8",
            "x": 600,
            "y": 1340,
            "wires": [
                []
            ]
        },
        {
            "id": "vu2n6zq4bf6geu7k",
            "type": "file in",
            "z": "932c97ea1c375733",
            "name": "Read States",
            "filename": "/data/danfoss-ak-sm-800a.json",
            "filenameType": "str",
            "format": "utf8",
            "chunk": false,
            "sendError": false,
            "encoding": "utf8",
            "allProps": false,
            "x": 150,
            "y": 1200,
            "wires": [
                [
                    "9a9b10h75i4mmt7x"
                ]
            ]
        },
        {
            "id": "ca7b7qpeej9arx6e",
            "type": "catch",
            "z": "932c97ea1c375733",
            "name": "",
            "scope": [
                "vu2n6zq4bf6geu7k"
            ],
            "uncaught": false,
            "x": 130,
            "y": 1160,
            "wires": [
                [
                    "z940h3rmjsnb0cu2"
                ]
            ]
        },
        {
            "id": "itddsgadblwjbpce",
            "type": "change",
            "z": "932c97ea1c375733",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "bridge.image.metrics",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 360,
            "y": 1340,
            "wires": [
                [
                    "xvab1ep6pnyfig0n"
                ]
            ]
        },
        {
            "id": "9a9b10h75i4mmt7x",
            "type": "json",
            "z": "932c97ea1c375733",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "fgevgnwton84wpwc"
                ]
            ]
        },
        {
            "id": "fgevgnwton84wpwc",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Set persisted values",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nflow.get(\"bridge\").image.metrics = msg.payload;\n\nif (flow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] === undefined || flow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] === null){\n    flow.get(\"bridge\").image.metrics[\"ALARM_NOTIFICATION_MESSAGE\"] = \"\";\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 1200,
            "wires": [
                []
            ]
        },
        {
            "id": "fnt6z68hmqxcojzp",
            "type": "debug",
            "z": "932c97ea1c375733",
            "name": "Alarm message",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload.name",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 820,
            "y": 420,
            "wires": []
        },
        {
            "id": "unpmlo44vjsovn6m",
            "type": "debug",
            "z": "932c97ea1c375733",
            "name": "Ack message",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload.name",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1420,
            "y": 440,
            "wires": []
        },
        {
            "id": "e1bnsd6vw17vqah9",
            "type": "delay",
            "z": "932c97ea1c375733",
            "name": "",
            "pauseType": "rate",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 180,
            "y": 1340,
            "wires": [
                [
                    "itddsgadblwjbpce"
                ]
            ]
        },
        {
            "id": "8n101slvw10qxlb5",
            "type": "comment",
            "z": "932c97ea1c375733",
            "name": "---- Persistence",
            "info": "",
            "x": 100,
            "y": 1120,
            "wires": []
        },
        {
            "id": "nknis1ra4bk8recj",
            "type": "link in",
            "z": "932c97ea1c375733",
            "name": "Load persisted values",
            "links": [
                "7ix9ktyl63ch3dtb"
            ],
            "x": 45,
            "y": 1200,
            "wires": [
                [
                    "vu2n6zq4bf6geu7k"
                ]
            ]
        },
        {
            "id": "7ix9ktyl63ch3dtb",
            "type": "link out",
            "z": "932c97ea1c375733",
            "name": "link out 31",
            "mode": "link",
            "links": [
                "nknis1ra4bk8recj"
            ],
            "x": 1015,
            "y": 60
        },
        {
            "id": "mrft3i2dsf6e3qz5",
            "type": "function",
            "z": "932c97ea1c375733",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 60,
            "wires": [
                [
                    "7ix9ktyl63ch3dtb"
                ]
            ]
        },
        {
            "id": "cu74mco3io5l97bu",
            "type": "link in",
            "z": "932c97ea1c375733",
            "name": "Persist values",
            "links": [
                "kihxft9sjfz0swg6"
            ],
            "x": 45,
            "y": 1340,
            "wires": [
                [
                    "e1bnsd6vw17vqah9"
                ]
            ]
        },
        {
            "id": "kihxft9sjfz0swg6",
            "type": "link out",
            "z": "932c97ea1c375733",
            "name": "link out 32",
            "mode": "link",
            "links": [
                "cu74mco3io5l97bu"
            ],
            "x": 815,
            "y": 820
        }
    ]
}