nodered/zrh/custom/AOP-LOGIC.json
{
    "id": "5c0cf66e996cb52c",
    "label": "1231321321321",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "vy1eli2jgv2k4ctv",
            "type": "inject",
            "z": "5c0cf66e996cb52c",
            "name": "AOP API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "120",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 130,
            "y": 320,
            "wires": [
                [
                    "define_credentials_privatekey"
                ]
            ]
        },
        {
            "id": "k94nwwz0qj8y8atp",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Create AOP PAX Data Array for Modbus Communication",
            "func": "// Definiere die Größe des Arrays (n kann z. B. aus msg.n kommen oder festgelegt sein)\nvar n = msg.n || 10;  // Falls msg.n nicht gesetzt ist, wird n=5 als Standardwert genommen\n\n// Initialisiere das Array mit Standardwerten (z. B. 0 oder eine Sequenz)\nvar dataArray = new Array(n).fill(0);  // Füllt das Array mit n Elementen, alle auf 0 gesetzt\n\n// Falls du das Array mit einer Sequenz befüllen möchtest, kannst du dies tun:\nfor (let i = 0; i < n; i++) {\n    dataArray[i] = msg.payload.data[i].estimated_passenger_count;  // Erzeugt ein Array [mit den Passagierdaten]\n}\n\n// Setze das Array als msg.payload\nmsg.payload = dataArray;\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 690,
            "y": 460,
            "wires": [
                [
                    "ao5re903erhrt6th",
                    "3omelfbs0fcoi0dc",
                    "1jvnli96bp81pxqu"
                ]
            ]
        },
        {
            "id": "ao5re903erhrt6th",
            "type": "debug",
            "z": "5c0cf66e996cb52c",
            "name": "AOP Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1680,
            "y": 400,
            "wires": []
        },
        {
            "id": "3omelfbs0fcoi0dc",
            "type": "modbus-write",
            "z": "5c0cf66e996cb52c",
            "name": "AOP Data to Belimo",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "11100",
            "quantity": "10",
            "server": "3vtsaxox9l6ia4ax",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 460,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "xz7mgypg0936ei2q",
            "type": "comment",
            "z": "5c0cf66e996cb52c",
            "name": "AOP-> Belimo",
            "info": "",
            "x": 70,
            "y": 280,
            "wires": []
        },
        {
            "id": "qe2gwwkj376uy8jd",
            "type": "modbus-read",
            "z": "5c0cf66e996cb52c",
            "name": "Beckhoff Sensor Data",
            "topic": "Read Sensor Data from Beckhoff",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "32768",
            "quantity": "100",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "7bypa7bte0v84e8q",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 180,
            "y": 960,
            "wires": [
                [
                    "2rhjm6ywhflu1dpz",
                    "nfuodxwrymjte7rp",
                    "k3d2qhjn0o1tr8m0"
                ],
                []
            ]
        },
        {
            "id": "nfuodxwrymjte7rp",
            "type": "modbus-write",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo Sensor Data",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "0",
            "quantity": "100",
            "server": "3vtsaxox9l6ia4ax",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 1000,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "2rhjm6ywhflu1dpz",
            "type": "debug",
            "z": "5c0cf66e996cb52c",
            "name": "Beckhoff Sensor Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1720,
            "y": 960,
            "wires": []
        },
        {
            "id": "ssvcxssd1sxwdjix",
            "type": "comment",
            "z": "5c0cf66e996cb52c",
            "name": "Beckhoff -> Belimo",
            "info": "",
            "x": 130,
            "y": 900,
            "wires": []
        },
        {
            "id": "q194b29txbts656e",
            "type": "modbus-read",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo Setpoints",
            "topic": "Read Setpoints from Belimo",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "1000",
            "quantity": "5",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "3vtsaxox9l6ia4ax",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 160,
            "y": 1200,
            "wires": [
                [
                    "pw74sfjbnblwe04o",
                    "ltm2v617901uoa3o",
                    "p1t4eyve3khv6je7"
                ],
                []
            ]
        },
        {
            "id": "ltm2v617901uoa3o",
            "type": "modbus-write",
            "z": "5c0cf66e996cb52c",
            "name": "Beckhoff setpoints",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "32768",
            "quantity": "5",
            "server": "7bypa7bte0v84e8q",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "12",
            "x": 1150,
            "y": 1240,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "pw74sfjbnblwe04o",
            "type": "debug",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo Setpoints",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1710,
            "y": 1200,
            "wires": []
        },
        {
            "id": "44woff3ytrxew3ho",
            "type": "modbus-read",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo Setpoints",
            "topic": "Read Setpoints from Belimo",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "1040",
            "quantity": "8",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "3vtsaxox9l6ia4ax",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 160,
            "y": 1420,
            "wires": [
                [
                    "lytol8xku92f2ut8",
                    "bmj1s9y1vquar1oj"
                ],
                []
            ]
        },
        {
            "id": "bmj1s9y1vquar1oj",
            "type": "modbus-write",
            "z": "5c0cf66e996cb52c",
            "name": "Beckhoff setpoints",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "32808",
            "quantity": "8",
            "server": "7bypa7bte0v84e8q",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "12",
            "x": 1150,
            "y": 1480,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "lytol8xku92f2ut8",
            "type": "debug",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo Setpoints",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1710,
            "y": 1440,
            "wires": []
        },
        {
            "id": "vhu0j986l8ux5lps",
            "type": "comment",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo -> Beckhoff ",
            "info": "",
            "x": 130,
            "y": 1140,
            "wires": []
        },
        {
            "id": "xqiywmap76tzio8o",
            "type": "inject",
            "z": "5c0cf66e996cb52c",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "0.1",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 60,
            "wires": [
                [
                    "ioja1c3xrrdgjjbw",
                    "lamn4mrsdrrnlijh"
                ]
            ]
        },
        {
            "id": "ioja1c3xrrdgjjbw",
            "type": "getflows",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "x": 280,
            "y": 60,
            "wires": [
                [
                    "dcu14bobd6uu3ldc"
                ]
            ]
        },
        {
            "id": "dcu14bobd6uu3ldc",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 410,
            "y": 60,
            "wires": [
                [
                    "261ibxjknrqavye1"
                ]
            ]
        },
        {
            "id": "261ibxjknrqavye1",
            "type": "switch",
            "z": "5c0cf66e996cb52c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 560,
            "y": 60,
            "wires": [
                [
                    "azg6h2btb5ur51us"
                ]
            ]
        },
        {
            "id": "azg6h2btb5ur51us",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 790,
            "y": 60,
            "wires": [
                []
            ]
        },
        {
            "id": "nnl5pd2uvgwhnago",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 140,
            "wires": [
                []
            ]
        },
        {
            "id": "b2662goazvwdbk4r",
            "type": "inject",
            "z": "5c0cf66e996cb52c",
            "name": "error interval",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 220,
            "wires": [
                [
                    "jg66uw4id2t3ec3y",
                    "fvxdqlu10em65m3f"
                ]
            ]
        },
        {
            "id": "lamn4mrsdrrnlijh",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"SYSTEM-0\":0,\"COMMUNICATION_ERROR\":false,\"BECKHOFF_COMMUNICATION_ERROR\":false,\"BELIMO_COMMUNICATION_ERROR\":false,\"AOP_COMMUNICATION_ERROR\":false,\"MUV_API_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 300,
            "y": 100,
            "wires": [
                [
                    "nnl5pd2uvgwhnago"
                ]
            ]
        },
        {
            "id": "p1t4eyve3khv6je7",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BELIMO_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 1040,
            "wires": [
                [
                    "405myobncqfe5oqa",
                    "bsfuhewnsno3ib0z"
                ]
            ]
        },
        {
            "id": "k3d2qhjn0o1tr8m0",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BECKHOFF_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 1280,
            "wires": [
                [
                    "405myobncqfe5oqa",
                    "nztnwa5p8dhcmfrf"
                ]
            ]
        },
        {
            "id": "1x37as97f6074izw",
            "type": "link in",
            "z": "5c0cf66e996cb52c",
            "name": "Write Values",
            "links": [
                "405myobncqfe5oqa"
            ],
            "x": 365,
            "y": 140,
            "wires": [
                [
                    "nnl5pd2uvgwhnago"
                ]
            ]
        },
        {
            "id": "405myobncqfe5oqa",
            "type": "link out",
            "z": "5c0cf66e996cb52c",
            "name": "link out 20",
            "mode": "link",
            "links": [
                "1x37as97f6074izw"
            ],
            "x": 1595,
            "y": 1100
        },
        {
            "id": "zd4ldk34mtdtlplj",
            "type": "catch",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "scope": [
                "nfuodxwrymjte7rp",
                "q194b29txbts656e",
                "44woff3ytrxew3ho",
                "sadk8fb6eklagd0f",
                "hfmlnhcwd8ovp44g",
                "3omelfbs0fcoi0dc"
            ],
            "uncaught": false,
            "x": 530,
            "y": 1120,
            "wires": [
                [
                    "p8brxe5ql2z21lvv"
                ]
            ]
        },
        {
            "id": "17xtysaeh2199vg2",
            "type": "catch",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "scope": [
                "ltm2v617901uoa3o",
                "qe2gwwkj376uy8jd"
            ],
            "uncaught": false,
            "x": 530,
            "y": 1360,
            "wires": [
                [
                    "al9u6eev9i2ci8v6"
                ]
            ]
        },
        {
            "id": "dnp3u3sjpvq52sj8",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BECKHOFF_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 1400,
            "wires": [
                [
                    "405myobncqfe5oqa"
                ]
            ]
        },
        {
            "id": "k0oe4ers0tmun6gc",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BELIMO_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 1160,
            "wires": [
                [
                    "405myobncqfe5oqa"
                ]
            ]
        },
        {
            "id": "1jvnli96bp81pxqu",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"AOP_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 540,
            "wires": [
                [
                    "405myobncqfe5oqa",
                    "2fn1dde7026g9m57"
                ]
            ]
        },
        {
            "id": "z0s3kqsenvuzwdz2",
            "type": "catch",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "scope": [
                "k94nwwz0qj8y8atp",
                "iz08c00ubjm6dw5y",
                "nf75zqpu23estg5t",
                "bmbfyte5z36p57t7",
                "wrbbwg9vk8k5hrmj"
            ],
            "uncaught": false,
            "x": 530,
            "y": 620,
            "wires": [
                [
                    "t4qd4qv9x5l0jlsj"
                ]
            ]
        },
        {
            "id": "ysigncxjwu5vwyau",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"AOP_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 660,
            "wires": [
                [
                    "405myobncqfe5oqa"
                ]
            ]
        },
        {
            "id": "jg66uw4id2t3ec3y",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Set error indicator",
            "func": "const filtered = Object.fromEntries(\n    Object.entries(flow.get(\"bridge\").image.metrics).filter(\n        ([key, value]) => key.includes(\"ERROR\") && value === true\n    )\n);\n\nif (Object.keys(filtered).length > 0) {\n    msg.payload = { \"SYSTEM-0\": 2 }\n} else {\n    msg.payload = { \"SYSTEM-0\": 0 }\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 180,
            "wires": [
                [
                    "nnl5pd2uvgwhnago"
                ]
            ]
        },
        {
            "id": "g8eughit7xc98c52",
            "type": "http request",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/67ff4f0493299f82a9c194f3/aggregated",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 490,
            "y": 800,
            "wires": [
                [
                    "tr35mljrfbeahfrm"
                ]
            ]
        },
        {
            "id": "pou6nlyg10u9e7x2",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes() + 1560);\nfrom_ts.setMinutes(to_ts.getMinutes() + 60);\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    \"FORECAST_TEMPERATURE\",\n    \"FORECAST_HUMIDITY\",\n    \"FORECAST_UVINDEX\"\n  ],\n  \"aggregation\": {\n    \"method\": \"mean\",\n    \"interval\": \"1h\"\n  }\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 800,
            "wires": [
                [
                    "g8eughit7xc98c52"
                ]
            ]
        },
        {
            "id": "tr35mljrfbeahfrm",
            "type": "json",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 630,
            "y": 800,
            "wires": [
                [
                    "42txa2cbk9plyacm"
                ]
            ]
        },
        {
            "id": "3tt0l4ee2iwlxivg",
            "type": "comment",
            "z": "5c0cf66e996cb52c",
            "name": "Weather -> Belimo ",
            "info": "",
            "x": 130,
            "y": 760,
            "wires": []
        },
        {
            "id": "42txa2cbk9plyacm",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Set Modbus data",
            "func": "msg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value });\n    data.pop();\n    const metricId = metric.metricId;\n    if (metricId === \"FORECAST_TEMPERATURE\") {\n        const registerStart = 12100;\n        node.send({ \"payload\": { value: data.map(x => { return Math.round(x * 100) }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else if (metricId === \"FORECAST_HUMIDITY\") {\n        const registerStart = 12200;\n        node.send({ \"payload\": { value: data.map(x => { return Math.round(x * 100) }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else if (metricId === \"FORECAST_UVINDEX\") {\n        const registerStart = 12300;\n        node.send({ \"payload\": { value: data, 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else {\n        throw new Error(\"API data missing\");\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 790,
            "y": 800,
            "wires": [
                [
                    "sadk8fb6eklagd0f",
                    "ub1yvaxqfda94zv1"
                ]
            ]
        },
        {
            "id": "sadk8fb6eklagd0f",
            "type": "modbus-flex-write",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo Weather Data",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "server": "3vtsaxox9l6ia4ax",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 800,
            "wires": [
                [
                    "gpz1cjd2ims487pa"
                ],
                []
            ]
        },
        {
            "id": "gpz1cjd2ims487pa",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"MUV_API_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 800,
            "wires": [
                [
                    "405myobncqfe5oqa",
                    "yz9xxhg1qgkxz4il"
                ]
            ]
        },
        {
            "id": "zfp2vvpv8xc1qkja",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"MUV_API_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 920,
            "wires": [
                [
                    "405myobncqfe5oqa"
                ]
            ]
        },
        {
            "id": "psu1of9ostlr9ucn",
            "type": "catch",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "scope": [
                "42txa2cbk9plyacm",
                "tr35mljrfbeahfrm",
                "g8eughit7xc98c52"
            ],
            "uncaught": false,
            "x": 530,
            "y": 880,
            "wires": [
                [
                    "c0l7apgkz8xa60k5"
                ]
            ]
        },
        {
            "id": "z047vvrgvgcb9wfy",
            "type": "inject",
            "z": "5c0cf66e996cb52c",
            "name": "MUV API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 150,
            "y": 800,
            "wires": [
                [
                    "pou6nlyg10u9e7x2"
                ]
            ]
        },
        {
            "id": "ub1yvaxqfda94zv1",
            "type": "debug",
            "z": "5c0cf66e996cb52c",
            "name": "MUV API Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1700,
            "y": 720,
            "wires": []
        },
        {
            "id": "hfmlnhcwd8ovp44g",
            "type": "modbus-write",
            "z": "5c0cf66e996cb52c",
            "name": "AOP Data to Belimo",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "10000",
            "quantity": "2",
            "server": "3vtsaxox9l6ia4ax",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 260,
            "wires": [
                [
                    "ewi8hcqcpeb4or3y"
                ],
                []
            ]
        },
        {
            "id": "ewi8hcqcpeb4or3y",
            "type": "debug",
            "z": "5c0cf66e996cb52c",
            "name": "Health State",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1690,
            "y": 260,
            "wires": []
        },
        {
            "id": "fvxdqlu10em65m3f",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Set health values",
            "func": "const filtered = Object.fromEntries(\n    Object.entries(flow.get(\"bridge\").image.metrics).filter(\n        ([key, value]) => key.includes(\"ERROR\") && value === true\n    )\n);\n\nif (Object.keys(filtered).length > 0) {\n    msg.payload = [Math.floor(Math.random() * 10000), 1]\n} else {\n    msg.payload = [Math.floor(Math.random() * 10000), 0]\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 260,
            "wires": [
                [
                    "hfmlnhcwd8ovp44g"
                ]
            ]
        },
        {
            "id": "t4qd4qv9x5l0jlsj",
            "type": "delay",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1370,
            "y": 620,
            "wires": [
                [
                    "ysigncxjwu5vwyau"
                ]
            ]
        },
        {
            "id": "2fn1dde7026g9m57",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 580,
            "wires": [
                [
                    "t4qd4qv9x5l0jlsj"
                ]
            ]
        },
        {
            "id": "yz9xxhg1qgkxz4il",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 840,
            "wires": [
                [
                    "c0l7apgkz8xa60k5"
                ]
            ]
        },
        {
            "id": "c0l7apgkz8xa60k5",
            "type": "delay",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "pauseType": "delay",
            "timeout": "120",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1370,
            "y": 880,
            "wires": [
                [
                    "zfp2vvpv8xc1qkja"
                ]
            ]
        },
        {
            "id": "uqc10124cd73vyb9",
            "type": "delay",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1360,
            "y": 1120,
            "wires": [
                [
                    "k0oe4ers0tmun6gc"
                ]
            ]
        },
        {
            "id": "bsfuhewnsno3ib0z",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 1080,
            "wires": [
                [
                    "uqc10124cd73vyb9"
                ]
            ]
        },
        {
            "id": "nztnwa5p8dhcmfrf",
            "type": "change",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 1320,
            "wires": [
                [
                    "al9u6eev9i2ci8v6"
                ]
            ]
        },
        {
            "id": "al9u6eev9i2ci8v6",
            "type": "delay",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1360,
            "y": 1360,
            "wires": [
                [
                    "dnp3u3sjpvq52sj8"
                ]
            ]
        },
        {
            "id": "p8brxe5ql2z21lvv",
            "type": "switch",
            "z": "5c0cf66e996cb52c",
            "name": "",
            "property": "error.message",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "neq",
                    "v": "Error: Modbus exception 2: Illegal data address (register not supported by device)",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 670,
            "y": 1120,
            "wires": [
                [
                    "uqc10124cd73vyb9"
                ]
            ]
        },
        {
            "id": "lfyegh3jjtrt1c5q",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "define_query_params",
            "func": "const to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes() + 200);\nconst gate_area = 'A81-A86'\nconst obs_from = from_ts.toJSON()\nconst obs_to = to_ts.toJSON()\n\nmsg.headers = {\n        'Authorization': 'Bearer ' + msg.payload.access_token\n}\nmsg.url = `https://api.zurich-airport.com/airport_operations_plan/v3/passenger-demand/gate-areas/${gate_area}?observation_time_window_from=${obs_from}&observation_time_window_to=${obs_to}`;\nmsg.method = \"GET\";\nmsg.payload = {};\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 480,
            "y": 360,
            "wires": [
                [
                    "gtvsb63hokfwcspf"
                ]
            ]
        },
        {
            "id": "gtvsb63hokfwcspf",
            "type": "http request",
            "z": "5c0cf66e996cb52c",
            "name": "Request Gate Demand Data",
            "method": "use",
            "ret": "obj",
            "paytoqs": "ignore",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [],
            "x": 780,
            "y": 360,
            "wires": [
                [
                    "k94nwwz0qj8y8atp"
                ]
            ]
        },
        {
            "id": "define_credentials_privatekey",
            "type": "function",
            "z": "5c0cf66e996cb52c",
            "name": "Define credentials (cert auth)",
            "func": "// @ts-ignore\nconst jwt = global.get('jsonwebtoken');\nconst fs = global.get('fs');\nconst crypto = global.get('crypto');\n\nconst clientId = env.get('AOP_API_CLIENT_ID');\nconst scope = env.get('AOP_API_SCOPE');\nconst tenantId = env.get('AOP_TENANT_ID');\nconst tokenEndpoint = `https://login.microsoftonline.com/${tenantId}/oauth2/v2.0/token`;\nconst privateKey = fs.readFileSync(\"/config/aopPrivateKey.pem\");\nconst cert = fs.readFileSync(\"/config/aopCertificate.pem\");\nconst x509 = new crypto.X509Certificate(cert);\nconst sha1 = crypto.createHash(\"sha1\").update(x509.raw).digest(\"hex\").toUpperCase();\nconst base64urlThumbprint = Buffer.from(sha1, \"hex\")\n  .toString(\"base64\")\n  .replace(/\\+/g, \"-\")\n  .replace(/\\//g, \"_\")\n  .replace(/=+$/, \"\");\n\nconst now = Math.floor(Date.now() / 1000);\n// build JWT payload (valid for 10 min is allowed — 1 min is too short)\nconst payload = {\n  aud: tokenEndpoint, // must match your /oauth2/v2.0/token URL exactly\n  iss: clientId,\n  sub: clientId,\n  jti: crypto.randomUUID(),\n  nbf: now,\n  exp: now + 600 // 10 minutes is OK\n};\n\n// JWT header — use x5t (base64url thumbprint)\nconst header = {\n  alg: \"RS256\",\n  typ: \"JWT\",\n  x5t: base64urlThumbprint\n}\n\n// sign JWT\nconst token = jwt.sign(payload, privateKey, {\n  algorithm: \"RS256\",\n  header\n});\n\n// use URLSearchParams for correct form encoding\nconst params = new URLSearchParams({\n  grant_type: \"client_credentials\",\n  client_id: clientId,\n  scope: scope,\n  client_assertion_type: \"urn:ietf:params:oauth:client-assertion-type:jwt-bearer\",\n  client_assertion: token\n});\n\nmsg.payload = params.toString();\nmsg.url = tokenEndpoint;\nmsg.method = \"POST\";\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [
                {
                    "var": "jwt",
                    "module": "jsonwebtoken"
                }
            ],
            "x": 500,
            "y": 320,
            "wires": [
                [
                    "a6640634eb96f52a"
                ]
            ]
        },
        {
            "id": "a6640634eb96f52a",
            "type": "http request",
            "z": "5c0cf66e996cb52c",
            "name": "Aquire Authorization Token",
            "method": "use",
            "ret": "obj",
            "paytoqs": "body",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "Content-Type",
                    "valueType": "other",
                    "valueValue": "application/x-www-form-urlencoded"
                }
            ],
            "x": 780,
            "y": 320,
            "wires": [
                [
                    "lfyegh3jjtrt1c5q"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "7bypa7bte0v84e8q",
            "type": "modbus-client",
            "z": "5c0cf66e996cb52c",
            "name": "Beckhoff",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "192.168.1.50",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 100,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": true,
            "showWarnings": true,
            "showLogs": true
        },
        {
            "id": "3vtsaxox9l6ia4ax",
            "type": "modbus-client",
            "z": "5c0cf66e996cb52c",
            "name": "Belimo",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "192.168.1.61",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 100,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}