nodered/zrh/custom/AOP-CLOUD-WATCHDOG.json
{
    "id": "bf2ef0ac927ac65b",
    "label": "67f66d4f9caec53a5ce7506e",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "hpt6i1tbe0ustfih",
            "type": "inject",
            "z": "bf2ef0ac927ac65b",
            "name": "AOP API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "120",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 130,
            "y": 320,
            "wires": [
                [
                    "msv63cokhisg19yz"
                ]
            ]
        },
        {
            "id": "jibbybhurgfd265z",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Create AOP PAX Data Array for Modbus Communication",
            "func": "// Definiere die Größe des Arrays (n kann z. B. aus msg.n kommen oder festgelegt sein)\nvar n = msg.n || 10;  // Falls msg.n nicht gesetzt ist, wird n=5 als Standardwert genommen\n\n// Initialisiere das Array mit Standardwerten (z. B. 0 oder eine Sequenz)\nvar dataArray = new Array(n).fill(0);  // Füllt das Array mit n Elementen, alle auf 0 gesetzt\n\n// Falls du das Array mit einer Sequenz befüllen möchtest, kannst du dies tun:\nfor (let i = 0; i < n; i++) {\n    dataArray[i] = msg.payload.data[i].estimated_passenger_count;  // Erzeugt ein Array [mit den Passagierdaten]\n}\n\n// Setze das Array als msg.payload\nmsg.payload = dataArray;\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 690,
            "y": 460,
            "wires": [
                [
                    "47b0kxaxbsc3olfb",
                    "ltzen0frtrrcesi1",
                    "q04fwhjv6nnm4d40"
                ]
            ]
        },
        {
            "id": "47b0kxaxbsc3olfb",
            "type": "debug",
            "z": "bf2ef0ac927ac65b",
            "name": "AOP Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1680,
            "y": 400,
            "wires": []
        },
        {
            "id": "ltzen0frtrrcesi1",
            "type": "modbus-write",
            "z": "bf2ef0ac927ac65b",
            "name": "AOP Data to Belimo",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "11100",
            "quantity": "10",
            "server": "pwvhqrxmhbc3v09z",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 460,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "ew03pf9d4qsctcrb",
            "type": "comment",
            "z": "bf2ef0ac927ac65b",
            "name": "AOP-> Belimo",
            "info": "",
            "x": 70,
            "y": 280,
            "wires": []
        },
        {
            "id": "aljrai6tafqhe9h9",
            "type": "modbus-read",
            "z": "bf2ef0ac927ac65b",
            "name": "Beckhoff Sensor Data",
            "topic": "Read Sensor Data from Beckhoff",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "32768",
            "quantity": "100",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "ed6g8vue2y8ocktm",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 220,
            "y": 1180,
            "wires": [
                [
                    "yvzxdfoqxtt70uab",
                    "x5i3l5gunwclpd8x",
                    "on6ff1xvvlv4gfyd"
                ],
                []
            ]
        },
        {
            "id": "x5i3l5gunwclpd8x",
            "type": "modbus-write",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo Sensor Data",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "0",
            "quantity": "100",
            "server": "pwvhqrxmhbc3v09z",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1200,
            "y": 1220,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "yvzxdfoqxtt70uab",
            "type": "debug",
            "z": "bf2ef0ac927ac65b",
            "name": "Beckhoff Sensor Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1760,
            "y": 1180,
            "wires": []
        },
        {
            "id": "zs6leh17xrle2r90",
            "type": "comment",
            "z": "bf2ef0ac927ac65b",
            "name": "Beckhoff -> Belimo",
            "info": "",
            "x": 170,
            "y": 1120,
            "wires": []
        },
        {
            "id": "ezryw9aniz2fuvot",
            "type": "modbus-read",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo Setpoints",
            "topic": "Read Setpoints from Belimo",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "1000",
            "quantity": "5",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "pwvhqrxmhbc3v09z",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 200,
            "y": 1420,
            "wires": [
                [
                    "aakgji4bix09su9c",
                    "ay0flx4vgn3o9eqb",
                    "0lagcku3pjla8guw"
                ],
                []
            ]
        },
        {
            "id": "ay0flx4vgn3o9eqb",
            "type": "modbus-write",
            "z": "bf2ef0ac927ac65b",
            "name": "Beckhoff setpoints",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "32768",
            "quantity": "5",
            "server": "ed6g8vue2y8ocktm",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "12",
            "x": 1190,
            "y": 1460,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "aakgji4bix09su9c",
            "type": "debug",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo Setpoints",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1750,
            "y": 1420,
            "wires": []
        },
        {
            "id": "vw1w0czwda5w5grp",
            "type": "modbus-read",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo Setpoints",
            "topic": "Read Setpoints from Belimo",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "1040",
            "quantity": "8",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "pwvhqrxmhbc3v09z",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 200,
            "y": 1640,
            "wires": [
                [
                    "s47ea8t1qs9wkw65",
                    "wcdj4ya3zxomtrip"
                ],
                []
            ]
        },
        {
            "id": "wcdj4ya3zxomtrip",
            "type": "modbus-write",
            "z": "bf2ef0ac927ac65b",
            "name": "Beckhoff setpoints",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "32808",
            "quantity": "8",
            "server": "ed6g8vue2y8ocktm",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "12",
            "x": 1190,
            "y": 1700,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "s47ea8t1qs9wkw65",
            "type": "debug",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo Setpoints",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1750,
            "y": 1660,
            "wires": []
        },
        {
            "id": "jkepi5kr6hvfcpf3",
            "type": "comment",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo -> Beckhoff ",
            "info": "",
            "x": 170,
            "y": 1360,
            "wires": []
        },
        {
            "id": "oi8jnvkpqu15wq1w",
            "type": "inject",
            "z": "bf2ef0ac927ac65b",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "0.1",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 60,
            "wires": [
                [
                    "x9tap2fcfzzzdpzv",
                    "9k5o2b78vpmlllyf"
                ]
            ]
        },
        {
            "id": "x9tap2fcfzzzdpzv",
            "type": "getflows",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "x": 280,
            "y": 60,
            "wires": [
                [
                    "sviggddrzbwlq3i8"
                ]
            ]
        },
        {
            "id": "sviggddrzbwlq3i8",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 410,
            "y": 60,
            "wires": [
                [
                    "nzkpwb2ilwfdj135"
                ]
            ]
        },
        {
            "id": "nzkpwb2ilwfdj135",
            "type": "switch",
            "z": "bf2ef0ac927ac65b",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 560,
            "y": 60,
            "wires": [
                [
                    "8aamgjkyhrhfwmfz"
                ]
            ]
        },
        {
            "id": "8aamgjkyhrhfwmfz",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 790,
            "y": 60,
            "wires": [
                []
            ]
        },
        {
            "id": "ueweotojwyxuxfsg",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 140,
            "wires": [
                []
            ]
        },
        {
            "id": "oezibenc8y7hv35t",
            "type": "inject",
            "z": "bf2ef0ac927ac65b",
            "name": "error interval",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 220,
            "wires": [
                [
                    "50yl4zm34rkcwx4j",
                    "5akx1cl1qf1aa74t"
                ]
            ]
        },
        {
            "id": "9k5o2b78vpmlllyf",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"SYSTEM-0\":0,\"COMMUNICATION_ERROR\":false,\"BECKHOFF_COMMUNICATION_ERROR\":false,\"BELIMO_COMMUNICATION_ERROR\":false,\"AOP_COMMUNICATION_ERROR\":false,\"MUV_API_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 300,
            "y": 100,
            "wires": [
                [
                    "ueweotojwyxuxfsg"
                ]
            ]
        },
        {
            "id": "0lagcku3pjla8guw",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BELIMO_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1260,
            "wires": [
                [
                    "efo0ij5fgumcpxta",
                    "8j4t9u26sfq5jsq2"
                ]
            ]
        },
        {
            "id": "on6ff1xvvlv4gfyd",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BECKHOFF_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1500,
            "wires": [
                [
                    "efo0ij5fgumcpxta",
                    "967zjd30kkn2gt3l"
                ]
            ]
        },
        {
            "id": "hcs39jji0g1pp56c",
            "type": "link in",
            "z": "bf2ef0ac927ac65b",
            "name": "Write Values",
            "links": [
                "efo0ij5fgumcpxta"
            ],
            "x": 365,
            "y": 140,
            "wires": [
                [
                    "ueweotojwyxuxfsg"
                ]
            ]
        },
        {
            "id": "efo0ij5fgumcpxta",
            "type": "link out",
            "z": "bf2ef0ac927ac65b",
            "name": "link out 20",
            "mode": "link",
            "links": [
                "hcs39jji0g1pp56c"
            ],
            "x": 1635,
            "y": 1320
        },
        {
            "id": "grqs8zqa18cz4qao",
            "type": "catch",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "scope": [
                "x5i3l5gunwclpd8x",
                "ezryw9aniz2fuvot",
                "vw1w0czwda5w5grp",
                "grhjgeim2igj11i8",
                "28nivw4lwpknf4eb",
                "ltzen0frtrrcesi1"
            ],
            "uncaught": false,
            "x": 570,
            "y": 1340,
            "wires": [
                [
                    "goyidp8c9ybp6bny"
                ]
            ]
        },
        {
            "id": "ntl5bhp2sa00340k",
            "type": "catch",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "scope": [
                "ay0flx4vgn3o9eqb",
                "aljrai6tafqhe9h9"
            ],
            "uncaught": false,
            "x": 570,
            "y": 1580,
            "wires": [
                [
                    "0mf613g6b4246ak3"
                ]
            ]
        },
        {
            "id": "jllmvbklqupm3u61",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BECKHOFF_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1620,
            "wires": [
                [
                    "efo0ij5fgumcpxta"
                ]
            ]
        },
        {
            "id": "xfnary9wyqwnskyb",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BELIMO_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1380,
            "wires": [
                [
                    "efo0ij5fgumcpxta"
                ]
            ]
        },
        {
            "id": "q04fwhjv6nnm4d40",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"AOP_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 540,
            "wires": [
                [
                    "efo0ij5fgumcpxta",
                    "sg5nfpyh2xvv2eji"
                ]
            ]
        },
        {
            "id": "jpyjjhxi3dpw841f",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"AOP_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 660,
            "wires": [
                [
                    "efo0ij5fgumcpxta"
                ]
            ]
        },
        {
            "id": "50yl4zm34rkcwx4j",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set error indicator",
            "func": "const filtered = Object.fromEntries(\n    Object.entries(flow.get(\"bridge\").image.metrics).filter(\n        ([key, value]) => key.includes(\"ERROR\") && value === true\n    )\n);\n\nif (Object.keys(filtered).length > 0) {\n    msg.payload = { \"SYSTEM-0\": 2 }\n} else {\n    msg.payload = { \"SYSTEM-0\": 0 }\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 180,
            "wires": [
                [
                    "ueweotojwyxuxfsg"
                ]
            ]
        },
        {
            "id": "0303je5yyolvqnl2",
            "type": "http request",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/67ff4f0493299f82a9c194f3/aggregated",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 530,
            "y": 880,
            "wires": [
                [
                    "225seo9vwt8adkb7"
                ]
            ]
        },
        {
            "id": "w7lwzh0i1wwlkvkt",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes() + 1560);\nfrom_ts.setMinutes(to_ts.getMinutes() + 60);\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    \"FORECAST_TEMPERATURE\",\n    \"FORECAST_HUMIDITY\",\n    \"FORECAST_UVINDEX\"\n  ],\n  \"aggregation\": {\n    \"method\": \"mean\",\n    \"interval\": \"1h\"\n  }\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 370,
            "y": 880,
            "wires": [
                [
                    "0303je5yyolvqnl2"
                ]
            ]
        },
        {
            "id": "225seo9vwt8adkb7",
            "type": "json",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 670,
            "y": 880,
            "wires": [
                [
                    "h6qqgxdle6jich5d"
                ]
            ]
        },
        {
            "id": "99vkbq1wlwv5c9d4",
            "type": "comment",
            "z": "bf2ef0ac927ac65b",
            "name": "Weather -> Belimo ",
            "info": "",
            "x": 170,
            "y": 840,
            "wires": []
        },
        {
            "id": "h6qqgxdle6jich5d",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set Modbus data",
            "func": "msg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value });\n    data.pop();\n    const metricId = metric.metricId;\n    if (metricId === \"FORECAST_TEMPERATURE\") {\n        const registerStart = 12100;\n        node.send({ \"payload\": { value: data.map(x => { return Math.round(x * 100) }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else if (metricId === \"FORECAST_HUMIDITY\") {\n        const registerStart = 12200;\n        node.send({ \"payload\": { value: data.map(x => { return Math.round(x * 100) }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else if (metricId === \"FORECAST_UVINDEX\") {\n        const registerStart = 12300;\n        node.send({ \"payload\": { value: data, 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else {\n        throw new Error(\"API data missing\");\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 880,
            "wires": [
                [
                    "grhjgeim2igj11i8",
                    "nxxlo38u8thltfzd"
                ]
            ]
        },
        {
            "id": "grhjgeim2igj11i8",
            "type": "modbus-flex-write",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo MUV API Data",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "server": "pwvhqrxmhbc3v09z",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1200,
            "y": 1020,
            "wires": [
                [
                    "fr7fsq31aww2srro"
                ],
                []
            ]
        },
        {
            "id": "fr7fsq31aww2srro",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"MUV_API_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1020,
            "wires": [
                [
                    "efo0ij5fgumcpxta",
                    "smiy3erhi2rw9wft"
                ]
            ]
        },
        {
            "id": "rpl53r1algvq89us",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"MUV_API_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1140,
            "wires": [
                [
                    "efo0ij5fgumcpxta"
                ]
            ]
        },
        {
            "id": "l3u6vod0c9ef216u",
            "type": "catch",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "scope": [
                "0303je5yyolvqnl2",
                "225seo9vwt8adkb7",
                "h6qqgxdle6jich5d",
                "7s865we92cme2vz9",
                "337ivxtahv7zpii6",
                "ca3u7f28a29i8k7i",
                "e25c7be7f00da1dc",
                "9da4fdfe4e245715",
                "6f6c0602cd6efa67"
            ],
            "uncaught": false,
            "x": 570,
            "y": 1100,
            "wires": [
                [
                    "mh93750559o83plb"
                ]
            ]
        },
        {
            "id": "9q4h6zvx0ar3rec4",
            "type": "inject",
            "z": "bf2ef0ac927ac65b",
            "name": "MUV API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 190,
            "y": 880,
            "wires": [
                [
                    "w7lwzh0i1wwlkvkt"
                ]
            ]
        },
        {
            "id": "nxxlo38u8thltfzd",
            "type": "debug",
            "z": "bf2ef0ac927ac65b",
            "name": "MUV API Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1740,
            "y": 940,
            "wires": []
        },
        {
            "id": "28nivw4lwpknf4eb",
            "type": "modbus-write",
            "z": "bf2ef0ac927ac65b",
            "name": "AOP Data to Belimo",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "10000",
            "quantity": "2",
            "server": "pwvhqrxmhbc3v09z",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 260,
            "wires": [
                [
                    "ctktcqs0bztwzy3h"
                ],
                []
            ]
        },
        {
            "id": "ctktcqs0bztwzy3h",
            "type": "debug",
            "z": "bf2ef0ac927ac65b",
            "name": "Health State",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1690,
            "y": 260,
            "wires": []
        },
        {
            "id": "5akx1cl1qf1aa74t",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set health values",
            "func": "const filtered = Object.fromEntries(\n    Object.entries(flow.get(\"bridge\").image.metrics).filter(\n        ([key, value]) => key.includes(\"ERROR\") && value === true\n    )\n);\n\nif (Object.keys(filtered).length > 0) {\n    msg.payload = [Math.floor(Math.random() * 10000), 1]\n} else {\n    msg.payload = [Math.floor(Math.random() * 10000), 0]\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 260,
            "wires": [
                [
                    "28nivw4lwpknf4eb"
                ]
            ]
        },
        {
            "id": "d35kk70i7bv1i2f8",
            "type": "delay",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1370,
            "y": 620,
            "wires": [
                [
                    "jpyjjhxi3dpw841f"
                ]
            ]
        },
        {
            "id": "sg5nfpyh2xvv2eji",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 580,
            "wires": [
                [
                    "d35kk70i7bv1i2f8"
                ]
            ]
        },
        {
            "id": "smiy3erhi2rw9wft",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1060,
            "wires": [
                [
                    "mh93750559o83plb"
                ]
            ]
        },
        {
            "id": "mh93750559o83plb",
            "type": "delay",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "pauseType": "delay",
            "timeout": "120",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1410,
            "y": 1100,
            "wires": [
                [
                    "rpl53r1algvq89us"
                ]
            ]
        },
        {
            "id": "6j20nwig03vdufdb",
            "type": "delay",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1400,
            "y": 1340,
            "wires": [
                [
                    "xfnary9wyqwnskyb"
                ]
            ]
        },
        {
            "id": "8j4t9u26sfq5jsq2",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1300,
            "wires": [
                [
                    "6j20nwig03vdufdb"
                ]
            ]
        },
        {
            "id": "967zjd30kkn2gt3l",
            "type": "change",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1540,
            "wires": [
                [
                    "0mf613g6b4246ak3"
                ]
            ]
        },
        {
            "id": "0mf613g6b4246ak3",
            "type": "delay",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1400,
            "y": 1580,
            "wires": [
                [
                    "jllmvbklqupm3u61"
                ]
            ]
        },
        {
            "id": "goyidp8c9ybp6bny",
            "type": "switch",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "property": "error.message",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "neq",
                    "v": "Error: Modbus exception 2: Illegal data address (register not supported by device)",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 710,
            "y": 1340,
            "wires": [
                [
                    "6j20nwig03vdufdb"
                ]
            ]
        },
        {
            "id": "uempt1bzdxrjmxk2",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "define_query_params",
            "func": "const to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes() + 200);\nconst gate_area = 'A81-A86'\nconst obs_from = from_ts.toJSON()\nconst obs_to = to_ts.toJSON()\n\nmsg.headers = {\n        'Authorization': 'Bearer ' + msg.payload.access_token\n}\nmsg.url = `https://api.zurich-airport.com/airport_operations_plan/v3/passenger-demand/gate-areas/${gate_area}?observation_time_window_from=${obs_from}&observation_time_window_to=${obs_to}`;\nmsg.method = \"GET\";\nmsg.payload = {};\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 480,
            "y": 360,
            "wires": [
                [
                    "k6k9itjnj372zx9v"
                ]
            ]
        },
        {
            "id": "k6k9itjnj372zx9v",
            "type": "http request",
            "z": "bf2ef0ac927ac65b",
            "name": "Request Gate Demand Data",
            "method": "use",
            "ret": "obj",
            "paytoqs": "ignore",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [],
            "x": 780,
            "y": 360,
            "wires": [
                [
                    "jibbybhurgfd265z"
                ]
            ]
        },
        {
            "id": "msv63cokhisg19yz",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Define credentials (cert auth)",
            "func": "// @ts-ignore\nconst jwt = global.get('jsonwebtoken');\nconst fs = global.get('fs');\nconst crypto = global.get('crypto');\n\nconst clientId = env.get('AOP_API_CLIENT_ID');\nconst scope = env.get('AOP_API_SCOPE');\nconst tenantId = env.get('AOP_TENANT_ID');\nconst tokenEndpoint = `https://login.microsoftonline.com/${tenantId}/oauth2/v2.0/token`;\nconst privateKey = fs.readFileSync(\"/config/aopPrivateKey.pem\");\nconst cert = fs.readFileSync(\"/config/aopCertificate.pem\");\nconst x509 = new crypto.X509Certificate(cert);\nconst sha1 = crypto.createHash(\"sha1\").update(x509.raw).digest(\"hex\").toUpperCase();\nconst base64urlThumbprint = Buffer.from(sha1, \"hex\")\n  .toString(\"base64\")\n  .replace(/\\+/g, \"-\")\n  .replace(/\\//g, \"_\")\n  .replace(/=+$/, \"\");\n\nconst now = Math.floor(Date.now() / 1000);\n// build JWT payload (valid for 10 min is allowed — 1 min is too short)\nconst payload = {\n  aud: tokenEndpoint, // must match your /oauth2/v2.0/token URL exactly\n  iss: clientId,\n  sub: clientId,\n  jti: crypto.randomUUID(),\n  nbf: now,\n  exp: now + 600 // 10 minutes is OK\n};\n\n// JWT header — use x5t (base64url thumbprint)\nconst header = {\n  alg: \"RS256\",\n  typ: \"JWT\",\n  x5t: base64urlThumbprint\n}\n\n// sign JWT\nconst token = jwt.sign(payload, privateKey, {\n  algorithm: \"RS256\",\n  header\n});\n\n// use URLSearchParams for correct form encoding\nconst params = new URLSearchParams({\n  grant_type: \"client_credentials\",\n  client_id: clientId,\n  scope: scope,\n  client_assertion_type: \"urn:ietf:params:oauth:client-assertion-type:jwt-bearer\",\n  client_assertion: token\n});\n\nmsg.payload = params.toString();\nmsg.url = tokenEndpoint;\nmsg.method = \"POST\";\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [
                {
                    "var": "jwt",
                    "module": "jsonwebtoken"
                }
            ],
            "x": 500,
            "y": 320,
            "wires": [
                [
                    "chgwkst33eg3j8xl"
                ]
            ]
        },
        {
            "id": "chgwkst33eg3j8xl",
            "type": "http request",
            "z": "bf2ef0ac927ac65b",
            "name": "Aquire Authorization Token",
            "method": "use",
            "ret": "obj",
            "paytoqs": "body",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "Content-Type",
                    "valueType": "other",
                    "valueValue": "application/x-www-form-urlencoded"
                }
            ],
            "x": 780,
            "y": 320,
            "wires": [
                [
                    "uempt1bzdxrjmxk2"
                ]
            ]
        },
        {
            "id": "m5y3yp115ahqlp0q",
            "type": "catch",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "scope": [
                "msv63cokhisg19yz",
                "uempt1bzdxrjmxk2",
                "chgwkst33eg3j8xl",
                "k6k9itjnj372zx9v",
                "jibbybhurgfd265z"
            ],
            "uncaught": false,
            "x": 430,
            "y": 620,
            "wires": [
                [
                    "d35kk70i7bv1i2f8"
                ]
            ]
        },
        {
            "id": "8tobnsmp6ct39boa",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes());\nfrom_ts.setMinutes(to_ts.getMinutes() - 60);\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    \"A020_133_1141_AAA_Z01Bew01_BV01\",\n    \"A020_133_1141_AAA_Z01Tfq01_AV01\",\n    \"A020_133_1141_AAA_Z01Tfq01_AV02\",\n    \"A020_133_1141_AAA_Z01Tfq01_AV03\",\n    \"A020_133_1141_AAA_Z01Tfq02_AV01\",\n    \"A020_133_1141_AAA_Z01Tfq02_AV02\",\n    \"A020_133_1141_AAA_Z01Tfq02_AV03\",\n    \"A020_133_1141_AAA_Z01Tfq03_AV01\",\n    \"A020_133_1141_AAA_Z01Tfq03_AV02\",\n    \"A020_133_1141_AAA_Z01Tfq03_AV03\"\n  ],\n  \"limit\": 100,\n  \"skip\": 0\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 780,
            "wires": [
                [
                    "7s865we92cme2vz9"
                ]
            ]
        },
        {
            "id": "7s865we92cme2vz9",
            "type": "http request",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/68d23ed2115f2fa209181001/raw",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 610,
            "y": 780,
            "wires": [
                [
                    "337ivxtahv7zpii6"
                ]
            ]
        },
        {
            "id": "337ivxtahv7zpii6",
            "type": "json",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 750,
            "y": 780,
            "wires": [
                [
                    "ca3u7f28a29i8k7i"
                ]
            ]
        },
        {
            "id": "ca3u7f28a29i8k7i",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set Modbus data",
            "func": "msg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value }).pop();\n    const metricId = metric.metricId;\n    if (metricId === \"A020_133_1141_AAA_Z01Bew01_BV01\") {\n        const registerStart = 13000;\n        node.send({ \"payload\": { value: Math.round(data * 1) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1 } });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq01_AV01\") {\n        const registerStart = 13001;\n        node.send({ \"payload\": { value: Math.round(data * 100) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq01_AV02\") {\n        const registerStart = 13002;\n        node.send({ \"payload\": { value: Math.round(data * 100) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq01_AV03\") {\n        const registerStart = 13003;\n        node.send({ \"payload\": { value: Math.round(data * 1) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq02_AV01\") {\n        const registerStart = 13004;\n        node.send({ \"payload\": { value: Math.round(data * 100) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq02_AV02\") {\n        const registerStart = 13005;\n        node.send({ \"payload\": { value: Math.round(data * 100) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq02_AV03\") {\n        const registerStart = 13006;\n        node.send({ \"payload\": { value: Math.round(data * 1) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq03_AV01\") {\n        const registerStart = 13007;\n        node.send({ \"payload\": { value: Math.round(data * 100) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq03_AV02\") {\n        const registerStart = 13008;\n        node.send({ \"payload\": { value: Math.round(data * 100) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    } else if (metricId === \"A020_133_1141_AAA_Z01Tfq03_AV03\") {\n        const registerStart = 13009;\n        node.send({ \"payload\": { value: Math.round(data * 1) , 'fc': 6, 'unitid': 1, 'address': registerStart, 'quantity': 1} });\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 780,
            "wires": [
                [
                    "grhjgeim2igj11i8",
                    "nxxlo38u8thltfzd"
                ]
            ]
        },
        {
            "id": "a7l6tczg0jnvn2pe",
            "type": "inject",
            "z": "bf2ef0ac927ac65b",
            "name": "MUV API interval (Monzoon)",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "600",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 230,
            "y": 780,
            "wires": [
                [
                    "8tobnsmp6ct39boa"
                ]
            ]
        },
        {
            "id": "bihavsnj2b8qifhr",
            "type": "comment",
            "z": "bf2ef0ac927ac65b",
            "name": "Monzoon -> Belimo ",
            "info": "",
            "x": 170,
            "y": 740,
            "wires": []
        },
        {
            "id": "e25c7be7f00da1dc",
            "type": "http request",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/693035bf6a0e1456a414a7c8/raw",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 530,
            "y": 980,
            "wires": [
                [
                    "9da4fdfe4e245715"
                ]
            ]
        },
        {
            "id": "06afb74994a892f1",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes());\nfrom_ts.setMinutes(to_ts.getMinutes() - 60);\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    \"SAT_Sp_C\",\n    \"SAV_Sp_m3h\",\n    \"Z01Sol01_AV01\",\n    \"Z01Sol01_AV11\",\n    \"Z01Sol01_AV03\",\n    \"Z01Sol01_AV13\",\n    \"Z01Sol01_AV05\",\n    \"ZulReg01_AV01\",\n    \"ZulReg01_AV02\",\n    \"WrgReg01_AV01\",\n    \"AnlSch01_MV90\",\n    \"AulReg01_AV02\",\n    \"AulKlp01_AV01\",\n    \"FolKlp01_AV01\",\n    \"UmlKlp01_AV01\",\n    \"ZulVen01_AV01\",\n    \"FolVen01_AV01\",\n    \"WrgMot01_AV01\",\n    \"LueVtl01_AV01\",\n    \"LkuVtl01_AV01\",\n    \"VarSet01_AV01\",\n    \"VarSet02_AV01\",\n    \"SteSet01_AV01\",\n    \"SteSet02_AV01\",\n    \"SteSet03_AV01\"\n  ],\n  \"limit\": 100,\n  \"skip\": 0\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 370,
            "y": 980,
            "wires": [
                [
                    "e25c7be7f00da1dc"
                ]
            ]
        },
        {
            "id": "9da4fdfe4e245715",
            "type": "json",
            "z": "bf2ef0ac927ac65b",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 670,
            "y": 980,
            "wires": [
                [
                    "6f6c0602cd6efa67"
                ]
            ]
        },
        {
            "id": "f03157496fa35b6f",
            "type": "comment",
            "z": "bf2ef0ac927ac65b",
            "name": "Predict -> Belimo ",
            "info": "",
            "x": 160,
            "y": 940,
            "wires": []
        },
        {
            "id": "6f6c0602cd6efa67",
            "type": "function",
            "z": "bf2ef0ac927ac65b",
            "name": "Set Modbus data",
            "func": "msg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value });\n    if (data.length > 0) {\n        const lastValue = data.pop();\n        const metricId = metric.metricId;\n        const sendScaled = (register, scale) => {\n            const factor = scale === 0 ? 1 : 1 / scale; // safety for scale 0\n            node.send({\n                payload: {\n                    value: Math.round(lastValue * factor),\n                    fc: 6,\n                    unitid: 1,\n                    address: register,\n                    quantity: 1\n                }\n            });\n        };\n\n        if (metricId.includes(\"SAT_Sp_C\")) {\n            sendScaled(10405, 0.01);\n        } else if (metricId.includes(\"SAV_Sp_m3h\")) {\n            sendScaled(10406, 1);\n        } else if (metricId.includes(\"Z01Sol01_AV01\")) {\n            sendScaled(10400, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV11\")) {\n            sendScaled(10401, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV03\")) {\n            sendScaled(10402, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV13\")) {\n            sendScaled(10403, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV05\")) {\n            sendScaled(10404, 1);\n        } else if (metricId.includes(\"ZulReg01_AV01\")) {\n            sendScaled(10405, 0.01);\n        } else if (metricId.includes(\"ZulReg01_AV02\")) {\n            sendScaled(10406, 1);\n        } else if (metricId.includes(\"WrgReg01_AV01\")) {\n            sendScaled(10407, 0.01);\n        } else if (metricId.includes(\"AnlSch01_MV90\")) {\n            sendScaled(10408, 1);\n        } else if (metricId.includes(\"AulReg01_AV02\")) {\n            sendScaled(10409, 1);\n        } else if (metricId.includes(\"AulKlp01_AV01\")) {\n            sendScaled(10410, 0.01);\n        } else if (metricId.includes(\"FolKlp01_AV01\")) {\n            sendScaled(10411, 0.01);\n        } else if (metricId.includes(\"UmlKlp01_AV01\")) {\n            sendScaled(10412, 0.01);\n        } else if (metricId.includes(\"ZulVen01_AV01\")) {\n            sendScaled(10413, 0.01);\n        } else if (metricId.includes(\"FolVen01_AV01\")) {\n            sendScaled(10414, 0.01);\n        } else if (metricId.includes(\"WrgMot01_AV01\")) {\n            sendScaled(10415, 0.01);\n        } else if (metricId.includes(\"LueVtl01_AV01\")) {\n            sendScaled(10416, 0.01);\n        } else if (metricId.includes(\"LkuVtl01_AV01\")) {\n            sendScaled(10417, 0.01);\n        } else if (metricId.includes(\"VarSet01_AV01\")) {\n            sendScaled(10418, 0.01);\n        } else if (metricId.includes(\"VarSet02_AV01\")) {\n            sendScaled(10419, 0.01);\n        } else if (metricId.includes(\"SteSet01_AV01\")) {\n            sendScaled(10420, 1);\n        } else if (metricId.includes(\"SteSet02_AV01\")) {\n            sendScaled(10421, 1);\n        } else if (metricId.includes(\"SteSet03_AV01\")) {\n            sendScaled(10422, 1);\n        }\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 980,
            "wires": [
                [
                    "grhjgeim2igj11i8",
                    "nxxlo38u8thltfzd"
                ]
            ]
        },
        {
            "id": "bc7fb57cad03c81c",
            "type": "inject",
            "z": "bf2ef0ac927ac65b",
            "name": "MUV API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "300",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 190,
            "y": 980,
            "wires": [
                [
                    "06afb74994a892f1"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "ed6g8vue2y8ocktm",
            "type": "modbus-client",
            "z": "bf2ef0ac927ac65b",
            "name": "Beckhoff",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "192.168.1.50",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 100,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": true,
            "showWarnings": true,
            "showLogs": true
        },
        {
            "id": "pwvhqrxmhbc3v09z",
            "type": "modbus-client",
            "z": "bf2ef0ac927ac65b",
            "name": "Belimo",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "192.168.1.61",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 100,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}