nodered/zrh/custom/AOP-CLOUD-WATCHDOG.json
{
    "id": "f8551448ba785c4c",
    "label": "67f66d4f9caec53a5ce7506e",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "gb9g7apck9pefnhp",
            "type": "inject",
            "z": "f8551448ba785c4c",
            "name": "AOP API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "120",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 130,
            "y": 320,
            "wires": [
                [
                    "vx50sty867julurt"
                ]
            ]
        },
        {
            "id": "xw843c4anwmqfe0t",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Create AOP PAX Data Array for Modbus Communication",
            "func": "// Definiere die Größe des Arrays (n kann z. B. aus msg.n kommen oder festgelegt sein)\nvar n = msg.n || 10;  // Falls msg.n nicht gesetzt ist, wird n=5 als Standardwert genommen\n\n// Initialisiere das Array mit Standardwerten (z. B. 0 oder eine Sequenz)\nvar dataArray = new Array(n).fill(0);  // Füllt das Array mit n Elementen, alle auf 0 gesetzt\n\n// Falls du das Array mit einer Sequenz befüllen möchtest, kannst du dies tun:\nfor (let i = 0; i < n; i++) {\n    dataArray[i] = msg.payload.data[i].estimated_passenger_count;  // Erzeugt ein Array [mit den Passagierdaten]\n}\n\n// Setze das Array als msg.payload\nmsg.payload = dataArray;\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 690,
            "y": 460,
            "wires": [
                [
                    "3e4m8blr78i3ukht",
                    "y307qb41jit399wp",
                    "6c8264rfi8gwwa5j"
                ]
            ]
        },
        {
            "id": "3e4m8blr78i3ukht",
            "type": "debug",
            "z": "f8551448ba785c4c",
            "name": "AOP Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1680,
            "y": 400,
            "wires": []
        },
        {
            "id": "y307qb41jit399wp",
            "type": "modbus-write",
            "z": "f8551448ba785c4c",
            "name": "AOP Data to Belimo",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "11100",
            "quantity": "10",
            "server": "dzpe5q5bfg7mzeq2",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 460,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "unjhmvkzl51cspih",
            "type": "comment",
            "z": "f8551448ba785c4c",
            "name": "AOP-> Belimo",
            "info": "",
            "x": 70,
            "y": 280,
            "wires": []
        },
        {
            "id": "rvefci6scz2j3x9m",
            "type": "modbus-read",
            "z": "f8551448ba785c4c",
            "name": "Beckhoff Sensor Data",
            "topic": "Read Sensor Data from Beckhoff",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "32768",
            "quantity": "100",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "o01t1xri9iww9tvd",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 220,
            "y": 1180,
            "wires": [
                [
                    "1s0zeryg5dtobipr",
                    "f4aw5uf0k3fotl3i",
                    "5dwvdvmfk9w9lwcr"
                ],
                []
            ]
        },
        {
            "id": "f4aw5uf0k3fotl3i",
            "type": "modbus-write",
            "z": "f8551448ba785c4c",
            "name": "Belimo Sensor Data",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "0",
            "quantity": "100",
            "server": "dzpe5q5bfg7mzeq2",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1200,
            "y": 1220,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "1s0zeryg5dtobipr",
            "type": "debug",
            "z": "f8551448ba785c4c",
            "name": "Beckhoff Sensor Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1760,
            "y": 1180,
            "wires": []
        },
        {
            "id": "9iacq7hzcompuwvf",
            "type": "comment",
            "z": "f8551448ba785c4c",
            "name": "Beckhoff -> Belimo",
            "info": "",
            "x": 170,
            "y": 1120,
            "wires": []
        },
        {
            "id": "3ecpz4xibdm8xx7p",
            "type": "modbus-read",
            "z": "f8551448ba785c4c",
            "name": "Belimo Setpoints",
            "topic": "Read Setpoints from Belimo",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "1000",
            "quantity": "5",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "dzpe5q5bfg7mzeq2",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 200,
            "y": 1420,
            "wires": [
                [
                    "mtspnyklb2zm5u4x",
                    "avi0xwdjuzp5web9",
                    "sj6cu2rx7wz0b9j2"
                ],
                []
            ]
        },
        {
            "id": "avi0xwdjuzp5web9",
            "type": "modbus-write",
            "z": "f8551448ba785c4c",
            "name": "Beckhoff setpoints",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "32768",
            "quantity": "5",
            "server": "o01t1xri9iww9tvd",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "12",
            "x": 1190,
            "y": 1460,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "mtspnyklb2zm5u4x",
            "type": "debug",
            "z": "f8551448ba785c4c",
            "name": "Belimo Setpoints",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1750,
            "y": 1420,
            "wires": []
        },
        {
            "id": "gv6chwcciyy545cb",
            "type": "modbus-read",
            "z": "f8551448ba785c4c",
            "name": "Belimo Setpoints",
            "topic": "Read Setpoints from Belimo",
            "showStatusActivities": false,
            "logIOActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "InputRegister",
            "adr": "1040",
            "quantity": "8",
            "rate": "1",
            "rateUnit": "s",
            "delayOnStart": false,
            "startDelayTime": "",
            "server": "dzpe5q5bfg7mzeq2",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "x": 200,
            "y": 1640,
            "wires": [
                [
                    "r15ingvbtxod0e13",
                    "7aamggzi1ud9u5ow"
                ],
                []
            ]
        },
        {
            "id": "7aamggzi1ud9u5ow",
            "type": "modbus-write",
            "z": "f8551448ba785c4c",
            "name": "Beckhoff setpoints",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "32808",
            "quantity": "8",
            "server": "o01t1xri9iww9tvd",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "12",
            "x": 1190,
            "y": 1700,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "r15ingvbtxod0e13",
            "type": "debug",
            "z": "f8551448ba785c4c",
            "name": "Belimo Setpoints",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1750,
            "y": 1660,
            "wires": []
        },
        {
            "id": "3dpbw7hxx5kdho03",
            "type": "comment",
            "z": "f8551448ba785c4c",
            "name": "Belimo -> Beckhoff ",
            "info": "",
            "x": 170,
            "y": 1360,
            "wires": []
        },
        {
            "id": "hfv8gjroumvnfbop",
            "type": "inject",
            "z": "f8551448ba785c4c",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "0.1",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 60,
            "wires": [
                [
                    "v3gv11fic6l41j7v",
                    "3k0pbtca2kax9n50"
                ]
            ]
        },
        {
            "id": "v3gv11fic6l41j7v",
            "type": "getflows",
            "z": "f8551448ba785c4c",
            "name": "",
            "x": 280,
            "y": 60,
            "wires": [
                [
                    "gpkqh64ol1wy8m87"
                ]
            ]
        },
        {
            "id": "gpkqh64ol1wy8m87",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 410,
            "y": 60,
            "wires": [
                [
                    "lneavyxriyyjo8v8"
                ]
            ]
        },
        {
            "id": "lneavyxriyyjo8v8",
            "type": "switch",
            "z": "f8551448ba785c4c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 560,
            "y": 60,
            "wires": [
                [
                    "91qdlxih1g07irzu"
                ]
            ]
        },
        {
            "id": "91qdlxih1g07irzu",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 790,
            "y": 60,
            "wires": [
                []
            ]
        },
        {
            "id": "fpe53ja1j5zq2ayh",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 780,
            "y": 140,
            "wires": [
                []
            ]
        },
        {
            "id": "hakutcwftlaybviq",
            "type": "inject",
            "z": "f8551448ba785c4c",
            "name": "error interval",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 220,
            "wires": [
                [
                    "gbpe2x3tci85or29",
                    "tincdviwy1f1u3lz"
                ]
            ]
        },
        {
            "id": "3k0pbtca2kax9n50",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"SYSTEM-0\":0,\"COMMUNICATION_ERROR\":false,\"BECKHOFF_COMMUNICATION_ERROR\":false,\"BELIMO_COMMUNICATION_ERROR\":false,\"AOP_COMMUNICATION_ERROR\":false,\"MUV_API_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 300,
            "y": 100,
            "wires": [
                [
                    "fpe53ja1j5zq2ayh"
                ]
            ]
        },
        {
            "id": "sj6cu2rx7wz0b9j2",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BELIMO_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1260,
            "wires": [
                [
                    "o01ky61x3j7bve3r",
                    "b5i18p99s47v2jb2"
                ]
            ]
        },
        {
            "id": "5dwvdvmfk9w9lwcr",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BECKHOFF_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1500,
            "wires": [
                [
                    "o01ky61x3j7bve3r",
                    "do1umfv3nfkji1a5"
                ]
            ]
        },
        {
            "id": "dxu7it7j4sf8uhca",
            "type": "link in",
            "z": "f8551448ba785c4c",
            "name": "Write Values",
            "links": [
                "o01ky61x3j7bve3r"
            ],
            "x": 365,
            "y": 140,
            "wires": [
                [
                    "fpe53ja1j5zq2ayh"
                ]
            ]
        },
        {
            "id": "o01ky61x3j7bve3r",
            "type": "link out",
            "z": "f8551448ba785c4c",
            "name": "link out 20",
            "mode": "link",
            "links": [
                "dxu7it7j4sf8uhca"
            ],
            "x": 1635,
            "y": 1320
        },
        {
            "id": "iqylecgpkffmgw5a",
            "type": "catch",
            "z": "f8551448ba785c4c",
            "name": "",
            "scope": [
                "f4aw5uf0k3fotl3i",
                "3ecpz4xibdm8xx7p",
                "gv6chwcciyy545cb",
                "f18zu2d8ewtxb5ri",
                "569jvmpnx8bq0fqo",
                "y307qb41jit399wp"
            ],
            "uncaught": false,
            "x": 570,
            "y": 1340,
            "wires": [
                [
                    "blyiq80z13l29mop"
                ]
            ]
        },
        {
            "id": "mgqhm6fqs5xl44vq",
            "type": "catch",
            "z": "f8551448ba785c4c",
            "name": "",
            "scope": [
                "avi0xwdjuzp5web9",
                "rvefci6scz2j3x9m"
            ],
            "uncaught": false,
            "x": 570,
            "y": 1580,
            "wires": [
                [
                    "n6i9vmracelvp3me"
                ]
            ]
        },
        {
            "id": "1g8hn071een6qa2x",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BECKHOFF_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1620,
            "wires": [
                [
                    "o01ky61x3j7bve3r"
                ]
            ]
        },
        {
            "id": "k1i2jiycpjx3ymhn",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"BELIMO_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1380,
            "wires": [
                [
                    "o01ky61x3j7bve3r"
                ]
            ]
        },
        {
            "id": "6c8264rfi8gwwa5j",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"AOP_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 540,
            "wires": [
                [
                    "o01ky61x3j7bve3r",
                    "twptptues2nqhonv"
                ]
            ]
        },
        {
            "id": "cot2vcsfp8swzkt8",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"AOP_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 660,
            "wires": [
                [
                    "o01ky61x3j7bve3r"
                ]
            ]
        },
        {
            "id": "gbpe2x3tci85or29",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set error indicator",
            "func": "const filtered = Object.fromEntries(\n    Object.entries(flow.get(\"bridge\").image.metrics).filter(\n        ([key, value]) => key.includes(\"ERROR\") && value === true\n    )\n);\n\nif (Object.keys(filtered).length > 0) {\n    msg.payload = { \"SYSTEM-0\": 2 }\n} else {\n    msg.payload = { \"SYSTEM-0\": 0 }\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 180,
            "wires": [
                [
                    "fpe53ja1j5zq2ayh"
                ]
            ]
        },
        {
            "id": "tu1ourst4jqywd8e",
            "type": "http request",
            "z": "f8551448ba785c4c",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/67ff4f0493299f82a9c194f3/aggregated",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 530,
            "y": 880,
            "wires": [
                [
                    "7mp1o9s7ojycangd"
                ]
            ]
        },
        {
            "id": "i2e1giptv4q67sc5",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes() + 1560);\nfrom_ts.setMinutes(to_ts.getMinutes() + 60);\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    \"FORECAST_TEMPERATURE\",\n    \"FORECAST_HUMIDITY\",\n    \"FORECAST_UVINDEX\"\n  ],\n  \"aggregation\": {\n    \"method\": \"mean\",\n    \"interval\": \"1h\"\n  }\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 370,
            "y": 880,
            "wires": [
                [
                    "tu1ourst4jqywd8e"
                ]
            ]
        },
        {
            "id": "7mp1o9s7ojycangd",
            "type": "json",
            "z": "f8551448ba785c4c",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 670,
            "y": 880,
            "wires": [
                [
                    "zwbws755mg5learp"
                ]
            ]
        },
        {
            "id": "12amo2xlw1k0qaho",
            "type": "comment",
            "z": "f8551448ba785c4c",
            "name": "Weather -> Belimo ",
            "info": "",
            "x": 170,
            "y": 840,
            "wires": []
        },
        {
            "id": "zwbws755mg5learp",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set Modbus data",
            "func": "// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\nmsg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value });\n    data.pop();\n    const metricId = metric.metricId;\n    if (metricId === \"FORECAST_TEMPERATURE\") {\n        const registerStart = 12100;\n        node.send({ \"payload\": { value: data.map(x => { return encode16ToRegister(Math.round(x * 100), 'int16be') }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else if (metricId === \"FORECAST_HUMIDITY\") {\n        const registerStart = 12200;\n        node.send({ \"payload\": { value: data.map(x => { return encode16ToRegister(Math.round(x * 100), 'int16be') }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else if (metricId === \"FORECAST_UVINDEX\") {\n        const registerStart = 12300;\n        node.send({ \"payload\": { value: data.map(x => { return encode16ToRegister(Math.round(x), 'int16be') }), 'fc': 16, 'unitid': 1, 'address': registerStart, 'quantity': data.length } });\n    } else {\n        throw new Error(\"API data missing\");\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 880,
            "wires": [
                [
                    "f18zu2d8ewtxb5ri",
                    "8z4bfyv1ezv90pwv"
                ]
            ]
        },
        {
            "id": "f18zu2d8ewtxb5ri",
            "type": "modbus-flex-write",
            "z": "f8551448ba785c4c",
            "name": "Belimo MUV API Data",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "server": "dzpe5q5bfg7mzeq2",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1200,
            "y": 1020,
            "wires": [
                [
                    "9ykmzh24y6x1abvf"
                ],
                []
            ]
        },
        {
            "id": "9ykmzh24y6x1abvf",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"MUV_API_COMMUNICATION_ERROR\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1020,
            "wires": [
                [
                    "o01ky61x3j7bve3r",
                    "pp0jxc718j6k785b"
                ]
            ]
        },
        {
            "id": "y2ccf5yu1u1olx5q",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "{\"MUV_API_COMMUNICATION_ERROR\":true}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1140,
            "wires": [
                [
                    "o01ky61x3j7bve3r"
                ]
            ]
        },
        {
            "id": "lj3wvi0l6zeob78b",
            "type": "catch",
            "z": "f8551448ba785c4c",
            "name": "",
            "scope": [
                "tu1ourst4jqywd8e",
                "7mp1o9s7ojycangd",
                "zwbws755mg5learp",
                "risd8nvk9rxodyvt",
                "hrhy5ybms4tomhly",
                "5de1uoc5l92ks1d7",
                "m7cz38u5fiwk0vsx",
                "whlbabbsy5ulmtd6",
                "4ryfji9djbgcku6h"
            ],
            "uncaught": false,
            "x": 570,
            "y": 1100,
            "wires": [
                [
                    "eb1818aloja6fjtk"
                ]
            ]
        },
        {
            "id": "ox8w6f4zx6sqiian",
            "type": "inject",
            "z": "f8551448ba785c4c",
            "name": "MUV API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 190,
            "y": 880,
            "wires": [
                [
                    "i2e1giptv4q67sc5"
                ]
            ]
        },
        {
            "id": "8z4bfyv1ezv90pwv",
            "type": "debug",
            "z": "f8551448ba785c4c",
            "name": "MUV API Data",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1740,
            "y": 940,
            "wires": []
        },
        {
            "id": "569jvmpnx8bq0fqo",
            "type": "modbus-write",
            "z": "f8551448ba785c4c",
            "name": "AOP Data to Belimo",
            "showStatusActivities": false,
            "showErrors": true,
            "showWarnings": true,
            "unitid": "1",
            "dataType": "MHoldingRegisters",
            "adr": "10000",
            "quantity": "2",
            "server": "dzpe5q5bfg7mzeq2",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1160,
            "y": 260,
            "wires": [
                [
                    "546g854lj1pgyva0"
                ],
                []
            ]
        },
        {
            "id": "546g854lj1pgyva0",
            "type": "debug",
            "z": "f8551448ba785c4c",
            "name": "Health State",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1690,
            "y": 260,
            "wires": []
        },
        {
            "id": "tincdviwy1f1u3lz",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set health values",
            "func": "const filtered = Object.fromEntries(\n    Object.entries(flow.get(\"bridge\").image.metrics).filter(\n        ([key, value]) => key.includes(\"ERROR\") && value === true\n    )\n);\n\nif (Object.keys(filtered).length > 0) {\n    msg.payload = [Math.floor(Math.random() * 10000), 1]\n} else {\n    msg.payload = [Math.floor(Math.random() * 10000), 0]\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 260,
            "wires": [
                [
                    "569jvmpnx8bq0fqo"
                ]
            ]
        },
        {
            "id": "jjt25asv5ezwm5j4",
            "type": "delay",
            "z": "f8551448ba785c4c",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1370,
            "y": 620,
            "wires": [
                [
                    "cot2vcsfp8swzkt8"
                ]
            ]
        },
        {
            "id": "twptptues2nqhonv",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1380,
            "y": 580,
            "wires": [
                [
                    "jjt25asv5ezwm5j4"
                ]
            ]
        },
        {
            "id": "pp0jxc718j6k785b",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1060,
            "wires": [
                [
                    "eb1818aloja6fjtk"
                ]
            ]
        },
        {
            "id": "eb1818aloja6fjtk",
            "type": "delay",
            "z": "f8551448ba785c4c",
            "name": "",
            "pauseType": "delay",
            "timeout": "120",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1410,
            "y": 1100,
            "wires": [
                [
                    "y2ccf5yu1u1olx5q"
                ]
            ]
        },
        {
            "id": "oxriyyuijgxuj9gc",
            "type": "delay",
            "z": "f8551448ba785c4c",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1400,
            "y": 1340,
            "wires": [
                [
                    "k1i2jiycpjx3ymhn"
                ]
            ]
        },
        {
            "id": "b5i18p99s47v2jb2",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1300,
            "wires": [
                [
                    "oxriyyuijgxuj9gc"
                ]
            ]
        },
        {
            "id": "do1umfv3nfkji1a5",
            "type": "change",
            "z": "f8551448ba785c4c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1420,
            "y": 1540,
            "wires": [
                [
                    "n6i9vmracelvp3me"
                ]
            ]
        },
        {
            "id": "n6i9vmracelvp3me",
            "type": "delay",
            "z": "f8551448ba785c4c",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1400,
            "y": 1580,
            "wires": [
                [
                    "1g8hn071een6qa2x"
                ]
            ]
        },
        {
            "id": "blyiq80z13l29mop",
            "type": "switch",
            "z": "f8551448ba785c4c",
            "name": "",
            "property": "error.message",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "neq",
                    "v": "Error: Modbus exception 2: Illegal data address (register not supported by device)",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 710,
            "y": 1340,
            "wires": [
                [
                    "oxriyyuijgxuj9gc"
                ]
            ]
        },
        {
            "id": "ovj65cmicxsl355p",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "define_query_params",
            "func": "const to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes() + 200);\nconst gate_area = 'A81-A86'\nconst obs_from = from_ts.toJSON()\nconst obs_to = to_ts.toJSON()\n\nmsg.headers = {\n        'Authorization': 'Bearer ' + msg.payload.access_token\n}\nmsg.url = `https://api.zurich-airport.com/airport_operations_plan/v3/passenger-demand/gate-areas/${gate_area}?observation_time_window_from=${obs_from}&observation_time_window_to=${obs_to}`;\nmsg.method = \"GET\";\nmsg.payload = {};\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 480,
            "y": 360,
            "wires": [
                [
                    "jsbrc0kbrr64p3s8"
                ]
            ]
        },
        {
            "id": "jsbrc0kbrr64p3s8",
            "type": "http request",
            "z": "f8551448ba785c4c",
            "name": "Request Gate Demand Data",
            "method": "use",
            "ret": "obj",
            "paytoqs": "ignore",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [],
            "x": 780,
            "y": 360,
            "wires": [
                [
                    "xw843c4anwmqfe0t"
                ]
            ]
        },
        {
            "id": "vx50sty867julurt",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Define credentials (cert auth)",
            "func": "// @ts-ignore\nconst jwt = global.get('jsonwebtoken');\nconst fs = global.get('fs');\nconst crypto = global.get('crypto');\n\nconst clientId = env.get('AOP_API_CLIENT_ID');\nconst scope = env.get('AOP_API_SCOPE');\nconst tenantId = env.get('AOP_TENANT_ID');\nconst tokenEndpoint = `https://login.microsoftonline.com/${tenantId}/oauth2/v2.0/token`;\nconst privateKey = fs.readFileSync(\"/config/aopPrivateKey.pem\");\nconst cert = fs.readFileSync(\"/config/aopCertificate.pem\");\nconst x509 = new crypto.X509Certificate(cert);\nconst sha1 = crypto.createHash(\"sha1\").update(x509.raw).digest(\"hex\").toUpperCase();\nconst base64urlThumbprint = Buffer.from(sha1, \"hex\")\n  .toString(\"base64\")\n  .replace(/\\+/g, \"-\")\n  .replace(/\\//g, \"_\")\n  .replace(/=+$/, \"\");\n\nconst now = Math.floor(Date.now() / 1000);\n// build JWT payload (valid for 10 min is allowed — 1 min is too short)\nconst payload = {\n  aud: tokenEndpoint, // must match your /oauth2/v2.0/token URL exactly\n  iss: clientId,\n  sub: clientId,\n  jti: crypto.randomUUID(),\n  nbf: now,\n  exp: now + 600 // 10 minutes is OK\n};\n\n// JWT header — use x5t (base64url thumbprint)\nconst header = {\n  alg: \"RS256\",\n  typ: \"JWT\",\n  x5t: base64urlThumbprint\n}\n\n// sign JWT\nconst token = jwt.sign(payload, privateKey, {\n  algorithm: \"RS256\",\n  header\n});\n\n// use URLSearchParams for correct form encoding\nconst params = new URLSearchParams({\n  grant_type: \"client_credentials\",\n  client_id: clientId,\n  scope: scope,\n  client_assertion_type: \"urn:ietf:params:oauth:client-assertion-type:jwt-bearer\",\n  client_assertion: token\n});\n\nmsg.payload = params.toString();\nmsg.url = tokenEndpoint;\nmsg.method = \"POST\";\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [
                {
                    "var": "jwt",
                    "module": "jsonwebtoken"
                }
            ],
            "x": 500,
            "y": 320,
            "wires": [
                [
                    "3mp0r60jg12dkkzw"
                ]
            ]
        },
        {
            "id": "3mp0r60jg12dkkzw",
            "type": "http request",
            "z": "f8551448ba785c4c",
            "name": "Aquire Authorization Token",
            "method": "use",
            "ret": "obj",
            "paytoqs": "body",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "Content-Type",
                    "valueType": "other",
                    "valueValue": "application/x-www-form-urlencoded"
                }
            ],
            "x": 780,
            "y": 320,
            "wires": [
                [
                    "ovj65cmicxsl355p"
                ]
            ]
        },
        {
            "id": "1zd17wdbm6oe2ipe",
            "type": "catch",
            "z": "f8551448ba785c4c",
            "name": "",
            "scope": [
                "vx50sty867julurt",
                "ovj65cmicxsl355p",
                "3mp0r60jg12dkkzw",
                "jsbrc0kbrr64p3s8",
                "xw843c4anwmqfe0t"
            ],
            "uncaught": false,
            "x": 430,
            "y": 620,
            "wires": [
                [
                    "jjt25asv5ezwm5j4"
                ]
            ]
        },
        {
            "id": "ua33rtj64ww38lyg",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes());\nfrom_ts.setMinutes(to_ts.getMinutes() - 60);\nconst prefixEnv = env.get(\"AOP_STATION_NAME\");\nconst stationName = prefixEnv === null || prefixEnv === undefined || prefixEnv === \"\"\n  ? \"A020_133_1141\"\n  : prefixEnv;\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    stationName + \"_AAA_\" + \"Z01Bew01_BV01\",\n    stationName + \"_AAA_\" + \"Z01Tfq01_AV01\",\n    stationName + \"_AAA_\" + \"Z01Tfq01_AV02\",\n    stationName + \"_AAA_\" + \"Z01Tfq01_AV03\",\n    stationName + \"_AAA_\" + \"Z01Tfq02_AV01\",\n    stationName + \"_AAA_\" + \"Z01Tfq02_AV02\",\n    stationName + \"_AAA_\" + \"Z01Tfq02_AV03\",\n    stationName + \"_AAA_\" + \"Z01Tfq03_AV01\",\n    stationName + \"_AAA_\" + \"Z01Tfq03_AV02\",\n    stationName + \"_AAA_\" + \"Z01Tfq03_AV03\"\n  ],\n  \"limit\": 100,\n  \"skip\": 0\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 780,
            "wires": [
                [
                    "risd8nvk9rxodyvt"
                ]
            ]
        },
        {
            "id": "risd8nvk9rxodyvt",
            "type": "http request",
            "z": "f8551448ba785c4c",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/68d23ed2115f2fa209181001/raw",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 610,
            "y": 780,
            "wires": [
                [
                    "hrhy5ybms4tomhly"
                ]
            ]
        },
        {
            "id": "hrhy5ybms4tomhly",
            "type": "json",
            "z": "f8551448ba785c4c",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 750,
            "y": 780,
            "wires": [
                [
                    "5de1uoc5l92ks1d7"
                ]
            ]
        },
        {
            "id": "5de1uoc5l92ks1d7",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set Modbus data",
            "func": "// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\nmsg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value }).pop();\n    const metricId = metric.metricId;\n    const sendScaled = (registerStart, scale) => {\n        const factor = scale === 0 ? 1 : 1 / scale;\n        if (metric.timeseries.length > 0) {\n            node.send({\n                payload: {\n                    value: encode16ToRegister(Math.round(data * factor), 'int16be'),\n                    fc: 6,\n                    unitid: 1,\n                    address: registerStart,\n                    quantity: 1\n                }\n            });\n        } else {\n            node.warn(\"No values for: \" + metricId + \" at: \" + registerStart)\n        }\n\n    };\n\n    if (metricId.includes(\"Z01Bew01_BV01\")) {\n        sendScaled(13000, 1);\n    } else if (metricId.includes(\"Z01Tfq01_AV01\")) {\n        sendScaled(13001, 0.01);\n    } else if (metricId.includes(\"Z01Tfq01_AV02\")) {\n        sendScaled(13002, 0.01);\n    } else if (metricId.includes(\"Z01Tfq01_AV03\")) {\n        sendScaled(13003, 1);\n    } else if (metricId.includes(\"Z01Tfq02_AV01\")) {\n        sendScaled(13004, 0.01);\n    } else if (metricId.includes(\"Z01Tfq02_AV02\")) {\n        sendScaled(13005, 0.01);\n    } else if (metricId.includes(\"Z01Tfq02_AV03\")) {\n        sendScaled(13006, 1);\n    } else if (metricId.includes(\"Z01Tfq03_AV01\")) {\n        sendScaled(13007, 0.01);\n    } else if (metricId.includes(\"Z01Tfq03_AV02\")) {\n        sendScaled(13008, 0.01);\n    } else if (metricId.includes(\"Z01Tfq03_AV03\")) {\n        sendScaled(13009, 1);\n    } else if (metricId.includes(\"Z02Bew01_BV01\")) {\n        sendScaled(13010, 1);\n    } else if (metricId.includes(\"Z02Tfq01_AV01\")) {\n        sendScaled(13011, 0.01);\n    } else if (metricId.includes(\"Z02Tfq01_AV02\")) {\n        sendScaled(13012, 0.01);\n    } else if (metricId.includes(\"Z02Tfq01_AV03\")) {\n        sendScaled(13013, 1);\n    } else if (metricId.includes(\"Z02Tfq02_AV01\")) {\n        sendScaled(13014, 0.01);\n    } else if (metricId.includes(\"Z02Tfq02_AV02\")) {\n        sendScaled(13015, 0.01);\n    } else if (metricId.includes(\"Z02Tfq02_AV03\")) {\n        sendScaled(13016, 1);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 780,
            "wires": [
                [
                    "8z4bfyv1ezv90pwv",
                    "f18zu2d8ewtxb5ri"
                ]
            ]
        },
        {
            "id": "e3y3v09eut7rxgs5",
            "type": "inject",
            "z": "f8551448ba785c4c",
            "name": "MUV API interval (Monzoon)",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "600",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 230,
            "y": 780,
            "wires": [
                [
                    "ua33rtj64ww38lyg"
                ]
            ]
        },
        {
            "id": "uczrtb39pixqcyf7",
            "type": "comment",
            "z": "f8551448ba785c4c",
            "name": "Monzoon -> Belimo ",
            "info": "",
            "x": 170,
            "y": 740,
            "wires": []
        },
        {
            "id": "m7cz38u5fiwk0vsx",
            "type": "http request",
            "z": "f8551448ba785c4c",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "https://api.muv.digital/v1/query/693035bf6a0e1456a414a7c8/raw",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [
                {
                    "keyType": "other",
                    "keyValue": "accept",
                    "valueType": "other",
                    "valueValue": "application/json"
                },
                {
                    "keyType": "other",
                    "keyValue": "x-api-key",
                    "valueType": "msg",
                    "valueValue": "apiKey"
                }
            ],
            "x": 530,
            "y": 980,
            "wires": [
                [
                    "whlbabbsy5ulmtd6"
                ]
            ]
        },
        {
            "id": "y6curwzd2eijou3q",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Build query",
            "func": "const apiKey = env.get('MUV_API_TOKEN');\nconst to_ts = new Date();\nconst from_ts = new Date();\nto_ts.setMinutes(to_ts.getMinutes());\nfrom_ts.setMinutes(to_ts.getMinutes() - 60);\nconst prefixEnv = env.get(\"AOP_STATION_NAME\");\nconst stationName = prefixEnv === null || prefixEnv === undefined || prefixEnv === \"\"\n  ? \"A020_133_1141\"\n  : prefixEnv;\n\nconst body = {\n  \"timestamp\": {\n    \"from\": from_ts,\n    \"to\": to_ts\n  },\n  \"metricId\": [\n    \"SAT_Sp_C\",\n    \"SAV_Sp_m3h\",\n    stationName + \"_AAZ_\" + \"Z01Sol01_AV01\",\n    stationName + \"_AAZ_\" + \"Z01Sol01_AV11\",\n    stationName + \"_AAZ_\" + \"Z01Sol01_AV03\",\n    stationName + \"_AAZ_\" + \"Z01Sol01_AV13\",\n    stationName + \"_AAZ_\" + \"Z01Sol01_AV05\",\n    stationName + \"_AAZ_\" + \"ZulReg01_AV01\",\n    stationName + \"_AAZ_\" + \"ZulReg01_AV02\",\n    stationName + \"_AAZ_\" + \"WrgReg01_AV01\",\n    stationName + \"_AAZ_\" + \"AnlSch01_MV90\",\n    stationName + \"_AAZ_\" + \"AulReg01_AV02\",\n    stationName + \"_AAZ_\" + \"AulKlp01_AV01\",\n    stationName + \"_AAZ_\" + \"FolKlp01_AV01\",\n    stationName + \"_AAZ_\" + \"UmlKlp01_AV01\",\n    stationName + \"_AAZ_\" + \"ZulVen01_AV01\",\n    stationName + \"_AAZ_\" + \"FolVen01_AV01\",\n    stationName + \"_AAZ_\" + \"WrgMot01_AV01\",\n    stationName + \"_AAZ_\" + \"LueVtl01_AV01\",\n    stationName + \"_AAZ_\" + \"LkuVtl01_AV01\",\n    stationName + \"_AAZ_\" + \"VarSet01_AV01\",\n    stationName + \"_AAZ_\" + \"VarSet02_AV01\",\n    stationName + \"_AAZ_\" + \"SteSet01_AV01\",\n    stationName + \"_AAZ_\" + \"SteSet02_AV01\",\n    stationName + \"_AAZ_\" + \"SteSet03_AV01\"\n  ],\n  \"limit\": 100,\n  \"skip\": 0\n}\n\nmsg.apiKey = apiKey;\nmsg.payload = body;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 370,
            "y": 980,
            "wires": [
                [
                    "m7cz38u5fiwk0vsx"
                ]
            ]
        },
        {
            "id": "whlbabbsy5ulmtd6",
            "type": "json",
            "z": "f8551448ba785c4c",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 670,
            "y": 980,
            "wires": [
                [
                    "4ryfji9djbgcku6h"
                ]
            ]
        },
        {
            "id": "zas9pg4kk9tz8joo",
            "type": "comment",
            "z": "f8551448ba785c4c",
            "name": "Predict -> Belimo ",
            "info": "",
            "x": 160,
            "y": 940,
            "wires": []
        },
        {
            "id": "4ryfji9djbgcku6h",
            "type": "function",
            "z": "f8551448ba785c4c",
            "name": "Set Modbus data",
            "func": "// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\nmsg.payload.results.forEach(metric => {\n    const data = metric.timeseries.map(object => { return object.value });\n    if (data.length > 0) {\n        const lastValue = data.pop();\n        const metricId = metric.metricId;\n        const sendScaled = (register, scale) => {\n            const factor = scale === 0 ? 1 : 1 / scale; // safety for scale 0\n            node.send({\n                payload: {\n                    value: encode16ToRegister(Math.round(lastValue * factor), 'int16be'),\n                    fc: 6,\n                    unitid: 1,\n                    address: register,\n                    quantity: 1\n                }\n            });\n        };\n\n        if (metricId.includes(\"SAT_Sp_C\")) {\n            sendScaled(10405, 0.01);\n        } else if (metricId.includes(\"SAV_Sp_m3h\")) {\n            sendScaled(10406, 1);\n        } else if (metricId.includes(\"Z01Sol01_AV01\")) {\n            sendScaled(10400, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV11\")) {\n            sendScaled(10401, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV03\")) {\n            sendScaled(10402, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV13\")) {\n            sendScaled(10403, 0.01);\n        } else if (metricId.includes(\"Z01Sol01_AV05\")) {\n            sendScaled(10404, 1);\n        } else if (metricId.includes(\"ZulReg01_AV01\")) {\n            sendScaled(10405, 0.01);\n        } else if (metricId.includes(\"ZulReg01_AV02\")) {\n            sendScaled(10406, 1);\n        } else if (metricId.includes(\"WrgReg01_AV01\")) {\n            sendScaled(10407, 0.01);\n        } else if (metricId.includes(\"AnlSch01_MV90\")) {\n            sendScaled(10408, 1);\n        } else if (metricId.includes(\"AulReg01_AV02\")) {\n            sendScaled(10409, 1);\n        } else if (metricId.includes(\"AulKlp01_AV01\")) {\n            sendScaled(10410, 0.01);\n        } else if (metricId.includes(\"FolKlp01_AV01\")) {\n            sendScaled(10411, 0.01);\n        } else if (metricId.includes(\"UmlKlp01_AV01\")) {\n            sendScaled(10412, 0.01);\n        } else if (metricId.includes(\"ZulVen01_AV01\")) {\n            sendScaled(10413, 0.01);\n        } else if (metricId.includes(\"FolVen01_AV01\")) {\n            sendScaled(10414, 0.01);\n        } else if (metricId.includes(\"WrgMot01_AV01\")) {\n            sendScaled(10415, 0.01);\n        } else if (metricId.includes(\"LueVtl01_AV01\")) {\n            sendScaled(10416, 0.01);\n        } else if (metricId.includes(\"LkuVtl01_AV01\")) {\n            sendScaled(10417, 0.01);\n        } else if (metricId.includes(\"VarSet01_AV01\")) {\n            sendScaled(10418, 0.01);\n        } else if (metricId.includes(\"VarSet02_AV01\")) {\n            sendScaled(10419, 0.01);\n        } else if (metricId.includes(\"SteSet01_AV01\")) {\n            sendScaled(10420, 1);\n        } else if (metricId.includes(\"SteSet02_AV01\")) {\n            sendScaled(10421, 1);\n        } else if (metricId.includes(\"SteSet03_AV01\")) {\n            sendScaled(10422, 1);\n        }\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 980,
            "wires": [
                [
                    "8z4bfyv1ezv90pwv",
                    "f18zu2d8ewtxb5ri"
                ]
            ]
        },
        {
            "id": "ntsw24gc9tzblwn5",
            "type": "inject",
            "z": "f8551448ba785c4c",
            "name": "MUV API interval",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "300",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 190,
            "y": 980,
            "wires": [
                [
                    "y6curwzd2eijou3q"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "o01t1xri9iww9tvd",
            "type": "modbus-client",
            "z": "f8551448ba785c4c",
            "name": "Beckhoff",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "192.168.1.50",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 100,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": true,
            "showWarnings": true,
            "showLogs": true
        },
        {
            "id": "dzpe5q5bfg7mzeq2",
            "type": "modbus-client",
            "z": "f8551448ba785c4c",
            "name": "Belimo",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "192.168.1.61",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 100,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}