nodered/calanda/modbus/WEINKELLER-VADUZ.json
{
    "id": "04ab5002fa466b92",
    "label": "123123123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "jbd5l13xmox24ppu",
            "type": "mqtt out",
            "z": "04ab5002fa466b92",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "jh376061rvt84t5u",
            "type": "inject",
            "z": "04ab5002fa466b92",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "l8yaedu6wl56ncl5"
                ]
            ]
        },
        {
            "id": "l8yaedu6wl56ncl5",
            "type": "getflows",
            "z": "04ab5002fa466b92",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "qtlfjqc581cqqqaf"
                ]
            ]
        },
        {
            "id": "qtlfjqc581cqqqaf",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "q8j39p35stzhq2se"
                ]
            ]
        },
        {
            "id": "3xza7ld9nt5un7gx",
            "type": "modbus-flex-sequencer",
            "z": "04ab5002fa466b92",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "ilodvgb0cy0kahce",
                    "8eyl1adj4b0ann8l",
                    "fegv1wee2od0rnh7",
                    "7uxukp891w4rlbr7"
                ],
                []
            ]
        },
        {
            "id": "wkcnvplav2qytu4t",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "qf7u063e0xyplm34"
                ]
            ]
        },
        {
            "id": "qxfrkxl0dh7mup4k",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "v2la4rnpojttxxsv",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "q8j39p35stzhq2se",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "hmyr80hjt8nt1rpk"
                ]
            ]
        },
        {
            "id": "e2c8uuugc4llbsni",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "ilodvgb0cy0kahce",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": msg.dataPoint.type.includes(\"bool\"),\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 480,
            "wires": [
                [
                    "4ftomaywrkjyiia9"
                ]
            ]
        },
        {
            "id": "4ftomaywrkjyiia9",
            "type": "buffer-parser",
            "z": "04ab5002fa466b92",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1130,
            "y": 480,
            "wires": [
                [
                    "moougvoq5dcu8ys7"
                ]
            ]
        },
        {
            "id": "44gn3rs9zjstauyc",
            "type": "inject",
            "z": "04ab5002fa466b92",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "1fks9bj7syk2vvr8"
                ]
            ]
        },
        {
            "id": "yle7pje52wo2i0ff",
            "type": "modbus-flex-write",
            "z": "04ab5002fa466b92",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "trlsdwktpmjr5n47",
                    "c7hb3h3elvf6gdtt",
                    "8d25qv2wr374bjri"
                ],
                []
            ]
        },
        {
            "id": "8eyl1adj4b0ann8l",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 520,
            "wires": [
                [
                    "moougvoq5dcu8ys7"
                ]
            ]
        },
        {
            "id": "trlsdwktpmjr5n47",
            "type": "delay",
            "z": "04ab5002fa466b92",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "jbd5l13xmox24ppu"
                ]
            ]
        },
        {
            "id": "l3cllu55i5o8w833",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "jbd5l13xmox24ppu"
                ]
            ]
        },
        {
            "id": "hmyr80hjt8nt1rpk",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "ihpxl9ytix9j5hcw"
                ]
            ]
        },
        {
            "id": "vozlfov31w3hd2rs",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "2p293p1zhm6sbkhr"
                ]
            ]
        },
        {
            "id": "2p293p1zhm6sbkhr",
            "type": "mqtt out",
            "z": "04ab5002fa466b92",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "ihpxl9ytix9j5hcw",
            "type": "modbus-flex-connector",
            "z": "04ab5002fa466b92",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "gjdq956e4jeo9ido",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "1fks9bj7syk2vvr8",
            "type": "link out",
            "z": "04ab5002fa466b92",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "295wfu8y6plmh7yx",
                "72yn4ro8fzpqxmr6"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "295wfu8y6plmh7yx",
            "type": "link in",
            "z": "04ab5002fa466b92",
            "name": "Protocol Read",
            "links": [
                "1fks9bj7syk2vvr8",
                "c7hb3h3elvf6gdtt"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "c63gyld5y0940eg1"
                ]
            ]
        },
        {
            "id": "c63gyld5y0940eg1",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "i6jpgt2italabpli"
                ]
            ]
        },
        {
            "id": "c7hb3h3elvf6gdtt",
            "type": "link out",
            "z": "04ab5002fa466b92",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "295wfu8y6plmh7yx"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "72yn4ro8fzpqxmr6",
            "type": "link in",
            "z": "04ab5002fa466b92",
            "name": "Virtual Read",
            "links": [
                "1fks9bj7syk2vvr8"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "7u8u7x86no8ww71k"
                ]
            ]
        },
        {
            "id": "7u8u7x86no8ww71k",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "unowr0qroxuazfcf"
                ]
            ]
        },
        {
            "id": "gqjfdpns1zhzhp54",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "7vf5et945hkxi605"
                ]
            ]
        },
        {
            "id": "hwmmku7rzw66h027",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "maiclakh0c2r4xy2",
            "type": "link in",
            "z": "04ab5002fa466b92",
            "name": "Update Metrics",
            "links": [
                "7vf5et945hkxi605",
                "moougvoq5dcu8ys7"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "tb49c04sdwrn6unv"
                ]
            ]
        },
        {
            "id": "tb49c04sdwrn6unv",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "l3cllu55i5o8w833",
                    "vozlfov31w3hd2rs"
                ]
            ]
        },
        {
            "id": "moougvoq5dcu8ys7",
            "type": "link out",
            "z": "04ab5002fa466b92",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "maiclakh0c2r4xy2"
            ],
            "x": 1435,
            "y": 480
        },
        {
            "id": "vix00ss5n20ur1nr",
            "type": "flogger",
            "z": "04ab5002fa466b92",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "bhvwrma5aqhhzzbs",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "zgqq2pn4r6h07fqt"
                ]
            ]
        },
        {
            "id": "nnv9vu10e40jtgxz",
            "type": "catch",
            "z": "04ab5002fa466b92",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "bhvwrma5aqhhzzbs"
                ]
            ]
        },
        {
            "id": "zgqq2pn4r6h07fqt",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "vix00ss5n20ur1nr"
                ]
            ]
        },
        {
            "id": "7vf5et945hkxi605",
            "type": "link out",
            "z": "04ab5002fa466b92",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "maiclakh0c2r4xy2"
            ],
            "x": 1435,
            "y": 260
        },
        {
            "id": "hp70m0bi89y6j8oe",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "gqjfdpns1zhzhp54"
                ]
            ]
        },
        {
            "id": "unowr0qroxuazfcf",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "hp70m0bi89y6j8oe"
                ]
            ]
        },
        {
            "id": "i6jpgt2italabpli",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "wkcnvplav2qytu4t"
                ]
            ]
        },
        {
            "id": "j8aurwx3ql5uqaj7",
            "type": "mqtt in",
            "z": "04ab5002fa466b92",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "bcverg7yvcncwepk"
                ]
            ]
        },
        {
            "id": "c2snlx8pmnk6hydo",
            "type": "inject",
            "z": "04ab5002fa466b92",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "gwjt3h2oaqc90vrx"
                ]
            ]
        },
        {
            "id": "4jvt6r1u2it5wh5i",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "j8aurwx3ql5uqaj7"
                ]
            ]
        },
        {
            "id": "gwjt3h2oaqc90vrx",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "4dppiu3lfmv3s8ir"
                ],
                [
                    "4jvt6r1u2it5wh5i"
                ]
            ]
        },
        {
            "id": "4dppiu3lfmv3s8ir",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "bcverg7yvcncwepk",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "ue8br8qo70phclwi"
                ],
                [
                    "fprkbx4ymnpy4y9y"
                ]
            ]
        },
        {
            "id": "q9p1ltvb9s4uhn8g",
            "type": "mqtt out",
            "z": "04ab5002fa466b92",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "ue8br8qo70phclwi",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "m8zyna9s7y3h8trm"
                ],
                [
                    "mb5bam7chmg225wp"
                ]
            ]
        },
        {
            "id": "5ppkqlmnk7vlgc6l",
            "type": "debug",
            "z": "04ab5002fa466b92",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "m8zyna9s7y3h8trm",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "9bzgntwrkdi464me"
                ],
                [
                    "yle7pje52wo2i0ff",
                    "5ppkqlmnk7vlgc6l"
                ]
            ]
        },
        {
            "id": "9bzgntwrkdi464me",
            "type": "debug",
            "z": "04ab5002fa466b92",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "tlmub194myph7vsr",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "goyivndfat3zfxvm",
            "type": "catch",
            "z": "04ab5002fa466b92",
            "name": "",
            "scope": [
                "yle7pje52wo2i0ff"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "qlzy1aagz29vdfi2"
                ]
            ]
        },
        {
            "id": "fprkbx4ymnpy4y9y",
            "type": "delay",
            "z": "04ab5002fa466b92",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "q9p1ltvb9s4uhn8g"
                ]
            ]
        },
        {
            "id": "8d25qv2wr374bjri",
            "type": "change",
            "z": "04ab5002fa466b92",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "fprkbx4ymnpy4y9y"
                ]
            ]
        },
        {
            "id": "mb5bam7chmg225wp",
            "type": "delay",
            "z": "04ab5002fa466b92",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "q9p1ltvb9s4uhn8g"
                ]
            ]
        },
        {
            "id": "qlzy1aagz29vdfi2",
            "type": "change",
            "z": "04ab5002fa466b92",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "mb5bam7chmg225wp"
                ]
            ]
        },
        {
            "id": "ytwt43419aodv3s2",
            "type": "delay",
            "z": "04ab5002fa466b92",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 640,
            "wires": [
                [
                    "9l1rmep620egln3a"
                ]
            ]
        },
        {
            "id": "fegv1wee2od0rnh7",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 560,
            "wires": [
                [
                    "2guuxe4lax3nsesm"
                ]
            ]
        },
        {
            "id": "2guuxe4lax3nsesm",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 560,
            "wires": [
                [
                    "moougvoq5dcu8ys7"
                ]
            ]
        },
        {
            "id": "7uxukp891w4rlbr7",
            "type": "change",
            "z": "04ab5002fa466b92",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 600,
            "wires": [
                [
                    "ytwt43419aodv3s2"
                ]
            ]
        },
        {
            "id": "9l1rmep620egln3a",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 990,
            "y": 680,
            "wires": [
                [
                    "2guuxe4lax3nsesm"
                ]
            ]
        },
        {
            "id": "uei6g0ate2shrwv2",
            "type": "catch",
            "z": "04ab5002fa466b92",
            "name": "",
            "scope": [
                "3xza7ld9nt5un7gx"
            ],
            "uncaught": false,
            "x": 690,
            "y": 640,
            "wires": [
                [
                    "x0yhd1x68g3k6sr9",
                    "4hjtgfhhqcvtun1m"
                ]
            ]
        },
        {
            "id": "63xbszakjriw2016",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "",
            "property": "bridge.image.metrics.COMMUNICATION_ERROR",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 600,
            "wires": [
                [
                    "3xza7ld9nt5un7gx"
                ],
                [
                    "3xza7ld9nt5un7gx"
                ]
            ]
        },
        {
            "id": "x0yhd1x68g3k6sr9",
            "type": "change",
            "z": "04ab5002fa466b92",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 640,
            "wires": [
                [
                    "ytwt43419aodv3s2"
                ]
            ]
        },
        {
            "id": "qf7u063e0xyplm34",
            "type": "switch",
            "z": "04ab5002fa466b92",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "63xbszakjriw2016"
                ],
                [
                    "63xbszakjriw2016"
                ]
            ]
        },
        {
            "id": "4hjtgfhhqcvtun1m",
            "type": "delay",
            "z": "04ab5002fa466b92",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 720,
            "wires": [
                [
                    "bmi6uwlpx8twl5lm"
                ]
            ]
        },
        {
            "id": "bmi6uwlpx8twl5lm",
            "type": "change",
            "z": "04ab5002fa466b92",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 720,
            "wires": [
                []
            ]
        },
        {
            "id": "de2827b0861afef0",
            "type": "comment",
            "z": "04ab5002fa466b92",
            "name": "---- Leitsystem",
            "info": "",
            "x": 70,
            "y": 1720,
            "wires": []
        },
        {
            "id": "a70910fce1fced65",
            "type": "modbus-flex-write",
            "z": "04ab5002fa466b92",
            "name": "Leitsystem",
            "showStatusActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "server": "37ee55cae0e35568",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 630,
            "y": 1780,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "087564fedb4e1f2e",
            "type": "inject",
            "z": "04ab5002fa466b92",
            "name": "Intervall",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "10",
            "crontab": "",
            "once": true,
            "onceDelay": "60",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 1780,
            "wires": [
                [
                    "7e608b9d1fbbcaaa"
                ]
            ]
        },
        {
            "id": "7e608b9d1fbbcaaa",
            "type": "function",
            "z": "04ab5002fa466b92",
            "name": "Set values",
            "func": "const humidityBridge = global.get(\"cloud.bridges\").find(bridge => bridge.id === \"66ec2497060d8a90056b8158\");\nconst temperatureBridge = global.get(\"cloud.bridges\").find(bridge => bridge.id === \"66ec24423190fac19de105eb\");\n\nif (humidityBridge?.image.metrics[\"SYSTEM-0\"] === 0 && temperatureBridge?.image.metrics[\"SYSTEM-0\"] === 0 && typeof humidityBridge?.image.metrics[\"ANALOG-000\"] === \"number\" && typeof temperatureBridge?.image.metrics[\"ANALOG-000\"] === \"number\") {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n} else {\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n}\nnode.send(msg)\n\nif (humidityBridge?.image.metrics[\"SYSTEM-0\"] === 0 && temperatureBridge?.image.metrics[\"SYSTEM-0\"] === 0){\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 10, \"quantity\": 1 };\n} else {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 10, \"quantity\": 1 };\n}\nnode.send(msg);\n\nif (temperatureBridge?.image.metrics[\"SYSTEM-0\"] === 0 ) {\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 11, \"quantity\": 1 };\n} else {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 11, \"quantity\": 1 };\n}\nnode.send(msg);\n\nif (humidityBridge?.image.metrics[\"SYSTEM-0\"] === 0) {\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 12, \"quantity\": 1 };\n} else {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 12, \"quantity\": 1 };\n}\nnode.send(msg);\n\nif (typeof temperatureBridge?.image.metrics[\"ANALOG-000\"] === \"number\") {\n    msg.payload = { value: temperatureBridge?.image.metrics[\"ANALOG-000\"] * 10, \"fc\": 6, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n} else {\n    msg.payload = { value: -990, \"fc\": 6, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n}\nif(msg.payload.value < 0){\n   msg.payload.value = 65536 + msg.payload.value\n}\nnode.send(msg);\n\nif (typeof humidityBridge?.image.metrics[\"ANALOG-000\"] === \"number\") {\n    msg.payload = { value: humidityBridge?.image.metrics[\"ANALOG-000\"] * 10, \"fc\": 6, \"unitid\": 1, \"address\": 2, \"quantity\": 1 };\n} else {\n    msg.payload = { value: -990, \"fc\": 6, \"unitid\": 1, \"address\": 2, \"quantity\": 1 };\n}\nif(msg.payload.value < 0){\n   msg.payload.value = 65536 + msg.payload.value\n}\nnode.send(msg);\n\nnode.done()",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1780,
            "wires": [
                [
                    "a70910fce1fced65"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "37ee55cae0e35568",
            "type": "modbus-client",
            "z": "04ab5002fa466b92",
            "name": "Local",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 1,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": false,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}