nodered/calanda/modbus/WEINKELLER-VADUZ.json
{
    "id": "be1503c064741fcd",
    "label": "66ec24423190fac19de105eb",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "taur49fzn8l5jyc6",
            "type": "mqtt out",
            "z": "be1503c064741fcd",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "xdhbe4zscbxmlsvc",
            "type": "inject",
            "z": "be1503c064741fcd",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "r6hr0v6fn1j2mz40"
                ]
            ]
        },
        {
            "id": "r6hr0v6fn1j2mz40",
            "type": "getflows",
            "z": "be1503c064741fcd",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "tr67rqv1hrxmz0j5"
                ]
            ]
        },
        {
            "id": "tr67rqv1hrxmz0j5",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "wna1jwtyau1gfhjx"
                ]
            ]
        },
        {
            "id": "metngja85942bx7s",
            "type": "modbus-flex-sequencer",
            "z": "be1503c064741fcd",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "xx2idf7d448b97sc",
                    "y79k1r8t7m8yhe2n",
                    "ded9ygfshyxw173y",
                    "xm7w0vvvnhsomo8z"
                ],
                []
            ]
        },
        {
            "id": "1ma6s3q79ee5o2cv",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "610kuyqj7c1dexfg"
                ]
            ]
        },
        {
            "id": "u9dk9bfswyyebv85",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "7mewz5ll3vnh1j66",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "wna1jwtyau1gfhjx",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "89szszt9tnivepdr"
                ]
            ]
        },
        {
            "id": "wa3en7a0lejj5462",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "xx2idf7d448b97sc",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": msg.dataPoint.type.includes(\"bool\"),\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 480,
            "wires": [
                [
                    "efmgm7xl756dl0au"
                ]
            ]
        },
        {
            "id": "efmgm7xl756dl0au",
            "type": "buffer-parser",
            "z": "be1503c064741fcd",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1130,
            "y": 480,
            "wires": [
                [
                    "a3gyzi023zrbgvii"
                ]
            ]
        },
        {
            "id": "76avgc9ahyhuqv48",
            "type": "inject",
            "z": "be1503c064741fcd",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "0qtpy71joimzbq46"
                ]
            ]
        },
        {
            "id": "h36kcq7wf8kw98d9",
            "type": "modbus-flex-write",
            "z": "be1503c064741fcd",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "abodpd09a2rmtwho",
                    "9hgtkhyjo22976j1",
                    "90z7yb4oybywa1jb"
                ],
                []
            ]
        },
        {
            "id": "y79k1r8t7m8yhe2n",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 520,
            "wires": [
                [
                    "a3gyzi023zrbgvii"
                ]
            ]
        },
        {
            "id": "abodpd09a2rmtwho",
            "type": "delay",
            "z": "be1503c064741fcd",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "taur49fzn8l5jyc6"
                ]
            ]
        },
        {
            "id": "ihxm4n88dq43zh3s",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "taur49fzn8l5jyc6"
                ]
            ]
        },
        {
            "id": "89szszt9tnivepdr",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "8n3gj0pny358rglz"
                ]
            ]
        },
        {
            "id": "fpu25p6kgiobbje1",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "f9k4vkyy1fcv1etz"
                ]
            ]
        },
        {
            "id": "f9k4vkyy1fcv1etz",
            "type": "mqtt out",
            "z": "be1503c064741fcd",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "8n3gj0pny358rglz",
            "type": "modbus-flex-connector",
            "z": "be1503c064741fcd",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "xt32r05pil3cbmje",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "0qtpy71joimzbq46",
            "type": "link out",
            "z": "be1503c064741fcd",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "u7jj2munorn6s9zp",
                "x77y82yc69lycdoz"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "u7jj2munorn6s9zp",
            "type": "link in",
            "z": "be1503c064741fcd",
            "name": "Protocol Read",
            "links": [
                "0qtpy71joimzbq46",
                "9hgtkhyjo22976j1"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "a2rl0p2bl8fns5kg"
                ]
            ]
        },
        {
            "id": "a2rl0p2bl8fns5kg",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "2g5ey4gqgzgiledj"
                ]
            ]
        },
        {
            "id": "9hgtkhyjo22976j1",
            "type": "link out",
            "z": "be1503c064741fcd",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "u7jj2munorn6s9zp"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "x77y82yc69lycdoz",
            "type": "link in",
            "z": "be1503c064741fcd",
            "name": "Virtual Read",
            "links": [
                "0qtpy71joimzbq46"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "889u0c7s6sz0kgbw"
                ]
            ]
        },
        {
            "id": "889u0c7s6sz0kgbw",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "tsb9hs15ct0rdk6w"
                ]
            ]
        },
        {
            "id": "f0c5wt8fnfsodgic",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "31g0pim9ywmaatol"
                ]
            ]
        },
        {
            "id": "57ho9qc8mkp6dn79",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "vau1p4yl1ssxoxto",
            "type": "link in",
            "z": "be1503c064741fcd",
            "name": "Update Metrics",
            "links": [
                "31g0pim9ywmaatol",
                "a3gyzi023zrbgvii"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "na87fvw02xnx4fk7"
                ]
            ]
        },
        {
            "id": "na87fvw02xnx4fk7",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "ihxm4n88dq43zh3s",
                    "fpu25p6kgiobbje1"
                ]
            ]
        },
        {
            "id": "a3gyzi023zrbgvii",
            "type": "link out",
            "z": "be1503c064741fcd",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "vau1p4yl1ssxoxto"
            ],
            "x": 1435,
            "y": 480
        },
        {
            "id": "3mln8wad2q6mur3k",
            "type": "flogger",
            "z": "be1503c064741fcd",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "2yf84y5b0rfzomz7",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "higqz6mtwgnu38uo"
                ]
            ]
        },
        {
            "id": "hxy97k6k4l6ioy2y",
            "type": "catch",
            "z": "be1503c064741fcd",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "2yf84y5b0rfzomz7"
                ]
            ]
        },
        {
            "id": "higqz6mtwgnu38uo",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "3mln8wad2q6mur3k"
                ]
            ]
        },
        {
            "id": "31g0pim9ywmaatol",
            "type": "link out",
            "z": "be1503c064741fcd",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "vau1p4yl1ssxoxto"
            ],
            "x": 1435,
            "y": 260
        },
        {
            "id": "cdc6k31254wsuztz",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "f0c5wt8fnfsodgic"
                ]
            ]
        },
        {
            "id": "tsb9hs15ct0rdk6w",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "cdc6k31254wsuztz"
                ]
            ]
        },
        {
            "id": "2g5ey4gqgzgiledj",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "1ma6s3q79ee5o2cv"
                ]
            ]
        },
        {
            "id": "ofsnyjnjr8hkh2jl",
            "type": "mqtt in",
            "z": "be1503c064741fcd",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "4yq52kr8zodkr5ed"
                ]
            ]
        },
        {
            "id": "rk5w99soxpstmnv3",
            "type": "inject",
            "z": "be1503c064741fcd",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "jxl95fdmeu1xq2ur"
                ]
            ]
        },
        {
            "id": "c761pb1ip3ylkd02",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "ofsnyjnjr8hkh2jl"
                ]
            ]
        },
        {
            "id": "jxl95fdmeu1xq2ur",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "014kjg00zj56q48d"
                ],
                [
                    "c761pb1ip3ylkd02"
                ]
            ]
        },
        {
            "id": "014kjg00zj56q48d",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "4yq52kr8zodkr5ed",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "bftxfgaemn7fduec"
                ],
                [
                    "44q7mai6oplfvym4"
                ]
            ]
        },
        {
            "id": "c0932kpvqlwa1ycj",
            "type": "mqtt out",
            "z": "be1503c064741fcd",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "bftxfgaemn7fduec",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "6rihr3jx3ucme02w"
                ],
                [
                    "yolu0xeyfg8ordmn"
                ]
            ]
        },
        {
            "id": "d3640q7zjnjt53ls",
            "type": "debug",
            "z": "be1503c064741fcd",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "6rihr3jx3ucme02w",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "nbk05x7soe1atquy"
                ],
                [
                    "h36kcq7wf8kw98d9",
                    "d3640q7zjnjt53ls"
                ]
            ]
        },
        {
            "id": "nbk05x7soe1atquy",
            "type": "debug",
            "z": "be1503c064741fcd",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "ewdlgjb8t9pqp2o4",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "j3mm3any14u7k84e",
            "type": "catch",
            "z": "be1503c064741fcd",
            "name": "",
            "scope": [
                "h36kcq7wf8kw98d9"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "qcg1uzaxrff1qwpb"
                ]
            ]
        },
        {
            "id": "44q7mai6oplfvym4",
            "type": "delay",
            "z": "be1503c064741fcd",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "c0932kpvqlwa1ycj"
                ]
            ]
        },
        {
            "id": "90z7yb4oybywa1jb",
            "type": "change",
            "z": "be1503c064741fcd",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "44q7mai6oplfvym4"
                ]
            ]
        },
        {
            "id": "yolu0xeyfg8ordmn",
            "type": "delay",
            "z": "be1503c064741fcd",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "c0932kpvqlwa1ycj"
                ]
            ]
        },
        {
            "id": "qcg1uzaxrff1qwpb",
            "type": "change",
            "z": "be1503c064741fcd",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "yolu0xeyfg8ordmn"
                ]
            ]
        },
        {
            "id": "htwx6fahqgx7ntr7",
            "type": "delay",
            "z": "be1503c064741fcd",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 640,
            "wires": [
                [
                    "hxaakvjnc1e4wyyh"
                ]
            ]
        },
        {
            "id": "ded9ygfshyxw173y",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 560,
            "wires": [
                [
                    "ltzdas1igb21nvoc"
                ]
            ]
        },
        {
            "id": "ltzdas1igb21nvoc",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 560,
            "wires": [
                [
                    "a3gyzi023zrbgvii"
                ]
            ]
        },
        {
            "id": "xm7w0vvvnhsomo8z",
            "type": "change",
            "z": "be1503c064741fcd",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 600,
            "wires": [
                [
                    "htwx6fahqgx7ntr7"
                ]
            ]
        },
        {
            "id": "hxaakvjnc1e4wyyh",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 990,
            "y": 680,
            "wires": [
                [
                    "ltzdas1igb21nvoc"
                ]
            ]
        },
        {
            "id": "tuahymz7frdyhi9j",
            "type": "catch",
            "z": "be1503c064741fcd",
            "name": "",
            "scope": [
                "metngja85942bx7s"
            ],
            "uncaught": false,
            "x": 690,
            "y": 640,
            "wires": [
                [
                    "foyy9f0go0iqncmg",
                    "l0hnssolro3l933j"
                ]
            ]
        },
        {
            "id": "foyy9f0go0iqncmg",
            "type": "change",
            "z": "be1503c064741fcd",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 640,
            "wires": [
                [
                    "htwx6fahqgx7ntr7"
                ]
            ]
        },
        {
            "id": "610kuyqj7c1dexfg",
            "type": "switch",
            "z": "be1503c064741fcd",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "metngja85942bx7s"
                ],
                [
                    "metngja85942bx7s"
                ]
            ]
        },
        {
            "id": "l0hnssolro3l933j",
            "type": "delay",
            "z": "be1503c064741fcd",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 720,
            "wires": [
                [
                    "ouusvxbq7w57caoz"
                ]
            ]
        },
        {
            "id": "ouusvxbq7w57caoz",
            "type": "change",
            "z": "be1503c064741fcd",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 720,
            "wires": [
                []
            ]
        },
        {
            "id": "tlpilxpona34vezw",
            "type": "comment",
            "z": "be1503c064741fcd",
            "name": "---- Leitsystem",
            "info": "",
            "x": 70,
            "y": 1720,
            "wires": []
        },
        {
            "id": "vfy7teajovrgqxlq",
            "type": "modbus-flex-write",
            "z": "be1503c064741fcd",
            "name": "Leitsystem",
            "showStatusActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "server": "byc2pq1it2tpmcqh",
            "emptyMsgOnFail": false,
            "keepMsgProperties": false,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 630,
            "y": 1780,
            "wires": [
                [],
                []
            ]
        },
        {
            "id": "bk8s65l161zcmh0r",
            "type": "inject",
            "z": "be1503c064741fcd",
            "name": "Intervall",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "10",
            "crontab": "",
            "once": true,
            "onceDelay": "60",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 120,
            "y": 1780,
            "wires": [
                [
                    "jkukrk28sp4nsbb9"
                ]
            ]
        },
        {
            "id": "jkukrk28sp4nsbb9",
            "type": "function",
            "z": "be1503c064741fcd",
            "name": "Set values",
            "func": "const humidityBridge = global.get(\"cloud.bridges\").find(bridge => bridge.id === \"66ec2497060d8a90056b8158\");\nconst temperatureBridge = global.get(\"cloud.bridges\").find(bridge => bridge.id === \"66ec24423190fac19de105eb\");\n\nif (humidityBridge?.image.metrics[\"SYSTEM-0\"] === 0 && temperatureBridge?.image.metrics[\"SYSTEM-0\"] === 0 && typeof humidityBridge?.image.metrics[\"ANALOG-000\"] === \"number\" && typeof temperatureBridge?.image.metrics[\"ANALOG-000\"] === \"number\") {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n} else {\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n}\nnode.send(msg)\n\nif (humidityBridge?.image.metrics[\"SYSTEM-0\"] === 0 && temperatureBridge?.image.metrics[\"SYSTEM-0\"] === 0){\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 10, \"quantity\": 1 };\n} else {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 10, \"quantity\": 1 };\n}\nnode.send(msg);\n\nif (temperatureBridge?.image.metrics[\"SYSTEM-0\"] === 0 ) {\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 11, \"quantity\": 1 };\n} else {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 11, \"quantity\": 1 };\n}\nnode.send(msg);\n\nif (humidityBridge?.image.metrics[\"SYSTEM-0\"] === 0) {\n    msg.payload = { value: false, \"fc\": 5, \"unitid\": 1, \"address\": 12, \"quantity\": 1 };\n} else {\n    msg.payload = { value: true, \"fc\": 5, \"unitid\": 1, \"address\": 12, \"quantity\": 1 };\n}\nnode.send(msg);\n\nif (typeof temperatureBridge?.image.metrics[\"ANALOG-000\"] === \"number\") {\n    msg.payload = { value: temperatureBridge?.image.metrics[\"ANALOG-000\"] * 10, \"fc\": 6, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n} else {\n    msg.payload = { value: -990, \"fc\": 6, \"unitid\": 1, \"address\": 1, \"quantity\": 1 };\n}\nif(msg.payload.value < 0){\n   msg.payload.value = 65536 + msg.payload.value\n}\nnode.send(msg);\n\nif (typeof humidityBridge?.image.metrics[\"ANALOG-000\"] === \"number\") {\n    msg.payload = { value: humidityBridge?.image.metrics[\"ANALOG-000\"] * 10, \"fc\": 6, \"unitid\": 1, \"address\": 2, \"quantity\": 1 };\n} else {\n    msg.payload = { value: -990, \"fc\": 6, \"unitid\": 1, \"address\": 2, \"quantity\": 1 };\n}\nif(msg.payload.value < 0){\n   msg.payload.value = 65536 + msg.payload.value\n}\nnode.send(msg);\n\nnode.done()",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1780,
            "wires": [
                [
                    "vfy7teajovrgqxlq"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "byc2pq1it2tpmcqh",
            "type": "modbus-client",
            "z": "be1503c064741fcd",
            "name": "Local",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": 1,
            "commandDelay": 1,
            "clientTimeout": 1000,
            "reconnectOnTimeout": true,
            "reconnectTimeout": 2000,
            "parallelUnitIdsAllowed": true,
            "showErrors": false,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}