nodered/generic/modbus/MUV-EDGE.json
{
    "id": "abaab07b16bdf8cf",
    "label": "65bb4ec138cc4e9f937827f1",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "m5h7molyl7vj2f6l",
            "type": "mqtt out",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 780,
            "wires": []
        },
        {
            "id": "r0v48ybhzh6vur2e",
            "type": "inject",
            "z": "abaab07b16bdf8cf",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "gefcvbfejq1atby4"
                ]
            ]
        },
        {
            "id": "gefcvbfejq1atby4",
            "type": "getflows",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "0o0owihmop4azd94"
                ]
            ]
        },
        {
            "id": "0o0owihmop4azd94",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "0372yvbtypan7yfk"
                ]
            ]
        },
        {
            "id": "f28qtdvmf5kelnzl",
            "type": "modbus-flex-sequencer",
            "z": "abaab07b16bdf8cf",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "rlmhmyiu9oqg4rji",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 640,
            "y": 480,
            "wires": [
                [
                    "3yfg4jjbx3bly6bi",
                    "zx0tukj2ddynjv48",
                    "7eb38eb3c07abbc2"
                ],
                []
            ]
        },
        {
            "id": "a22wtmpsm2s3i4df",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "f28qtdvmf5kelnzl"
                ]
            ]
        },
        {
            "id": "v4vb6f5d27sabxvm",
            "type": "comment",
            "z": "abaab07b16bdf8cf",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "145cq83wpaibgtst",
            "type": "comment",
            "z": "abaab07b16bdf8cf",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "0372yvbtypan7yfk",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "rn3wmb2zamtcnngh"
                ]
            ]
        },
        {
            "id": "w1gyvz5jysi7swif",
            "type": "comment",
            "z": "abaab07b16bdf8cf",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "3yfg4jjbx3bly6bi",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": msg.dataPoint.type.includes(\"bool\"),\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 900,
            "y": 480,
            "wires": [
                [
                    "n2du3fuffbf472rc"
                ]
            ]
        },
        {
            "id": "n2du3fuffbf472rc",
            "type": "buffer-parser",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1110,
            "y": 480,
            "wires": [
                [
                    "d7m4chbgg2j4qfsq"
                ]
            ]
        },
        {
            "id": "gh8edzz8mm7bl29e",
            "type": "inject",
            "z": "abaab07b16bdf8cf",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "20",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "3i8ijrs2zp82wmh3"
                ]
            ]
        },
        {
            "id": "xfer7firod5n9hsz",
            "type": "modbus-flex-write",
            "z": "abaab07b16bdf8cf",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "rlmhmyiu9oqg4rji",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "uwfhpmzpdi9j5vs1",
                    "esjrnpwye46jhne0",
                    "gost8igp9n52lt6d"
                ],
                []
            ]
        },
        {
            "id": "zx0tukj2ddynjv48",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 520,
            "wires": [
                [
                    "d7m4chbgg2j4qfsq"
                ]
            ]
        },
        {
            "id": "uwfhpmzpdi9j5vs1",
            "type": "delay",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "m5h7molyl7vj2f6l"
                ]
            ]
        },
        {
            "id": "bbyhq7hwjy68j8pe",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 780,
            "wires": [
                [
                    "m5h7molyl7vj2f6l"
                ]
            ]
        },
        {
            "id": "rn3wmb2zamtcnngh",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "97df7e9t682uxx95"
                ]
            ]
        },
        {
            "id": "w5n672nf8f6lqc7r",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 740,
            "wires": [
                [
                    "ywy5bjo68d3q3b6x"
                ]
            ]
        },
        {
            "id": "ywy5bjo68d3q3b6x",
            "type": "mqtt out",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 720,
            "wires": []
        },
        {
            "id": "97df7e9t682uxx95",
            "type": "modbus-flex-connector",
            "z": "abaab07b16bdf8cf",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "rlmhmyiu9oqg4rji",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "8nq7j02i2eh5haox",
            "type": "comment",
            "z": "abaab07b16bdf8cf",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "3i8ijrs2zp82wmh3",
            "type": "link out",
            "z": "abaab07b16bdf8cf",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "6lgcgyvy6x60g95k",
                "husqf4s68sfzarhx"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "6lgcgyvy6x60g95k",
            "type": "link in",
            "z": "abaab07b16bdf8cf",
            "name": "Protocol Read",
            "links": [
                "3i8ijrs2zp82wmh3",
                "esjrnpwye46jhne0"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "zuarqatyotrg2an6"
                ]
            ]
        },
        {
            "id": "zuarqatyotrg2an6",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "pk9524am1bclxg96"
                ]
            ]
        },
        {
            "id": "esjrnpwye46jhne0",
            "type": "link out",
            "z": "abaab07b16bdf8cf",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "6lgcgyvy6x60g95k"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "husqf4s68sfzarhx",
            "type": "link in",
            "z": "abaab07b16bdf8cf",
            "name": "Virtual Read",
            "links": [
                "3i8ijrs2zp82wmh3"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "y67om1zyhjzmp16h"
                ]
            ]
        },
        {
            "id": "y67om1zyhjzmp16h",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "5s61pdk2vk85qiep"
                ]
            ]
        },
        {
            "id": "9jtqdn3me2hx84ga",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "7j2pjj18vtfl28l8"
                ]
            ]
        },
        {
            "id": "k6vg6r7r8ptc1c4n",
            "type": "comment",
            "z": "abaab07b16bdf8cf",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 640,
            "wires": []
        },
        {
            "id": "41g70cp8t4dnqobt",
            "type": "link in",
            "z": "abaab07b16bdf8cf",
            "name": "Update Metrics",
            "links": [
                "7j2pjj18vtfl28l8",
                "d7m4chbgg2j4qfsq"
            ],
            "x": 75,
            "y": 740,
            "wires": [
                [
                    "9190jhapl6i4c914"
                ]
            ]
        },
        {
            "id": "9190jhapl6i4c914",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 740,
            "wires": [
                [
                    "bbyhq7hwjy68j8pe",
                    "w5n672nf8f6lqc7r"
                ]
            ]
        },
        {
            "id": "d7m4chbgg2j4qfsq",
            "type": "link out",
            "z": "abaab07b16bdf8cf",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "41g70cp8t4dnqobt"
            ],
            "x": 1275,
            "y": 480
        },
        {
            "id": "q8gp1yd82p6vzx36",
            "type": "flogger",
            "z": "abaab07b16bdf8cf",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "pq7kx24lgwtfoftp",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "jeqdjhsdd38dhuij"
                ]
            ]
        },
        {
            "id": "so9inyf520qb1p4x",
            "type": "catch",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "pq7kx24lgwtfoftp"
                ]
            ]
        },
        {
            "id": "jeqdjhsdd38dhuij",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "q8gp1yd82p6vzx36"
                ]
            ]
        },
        {
            "id": "7j2pjj18vtfl28l8",
            "type": "link out",
            "z": "abaab07b16bdf8cf",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "41g70cp8t4dnqobt"
            ],
            "x": 1275,
            "y": 260
        },
        {
            "id": "ub71ntkgget5n9qr",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "9jtqdn3me2hx84ga"
                ]
            ]
        },
        {
            "id": "5s61pdk2vk85qiep",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "ub71ntkgget5n9qr"
                ]
            ]
        },
        {
            "id": "pk9524am1bclxg96",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "a22wtmpsm2s3i4df",
                    "c1cc2c82d275f539"
                ]
            ]
        },
        {
            "id": "ix7fdpci59utpoei",
            "type": "mqtt in",
            "z": "abaab07b16bdf8cf",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "2efb52dxaz8u2v62"
                ]
            ]
        },
        {
            "id": "kn22vbee8lull1lq",
            "type": "inject",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "whdhk29xtyhucg5l"
                ]
            ]
        },
        {
            "id": "kqw9alp9979y3gmv",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "ix7fdpci59utpoei"
                ]
            ]
        },
        {
            "id": "whdhk29xtyhucg5l",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "20y1zzum30cpcv9i"
                ],
                [
                    "kqw9alp9979y3gmv"
                ]
            ]
        },
        {
            "id": "20y1zzum30cpcv9i",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "2efb52dxaz8u2v62",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "w4sqr4ppfnm6ppxh"
                ],
                [
                    "d2exsqi7dgzollb1"
                ]
            ]
        },
        {
            "id": "v0rlg7anw67zh9iv",
            "type": "mqtt out",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "w4sqr4ppfnm6ppxh",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "6q8gl6mvhx8g1xzw"
                ],
                [
                    "xvhdbkekovq43fqh"
                ]
            ]
        },
        {
            "id": "fc24dl8a043rud73",
            "type": "debug",
            "z": "abaab07b16bdf8cf",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "6q8gl6mvhx8g1xzw",
            "type": "switch",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "bxnohuk3uxuiqf6o"
                ],
                [
                    "xfer7firod5n9hsz",
                    "fc24dl8a043rud73"
                ]
            ]
        },
        {
            "id": "bxnohuk3uxuiqf6o",
            "type": "debug",
            "z": "abaab07b16bdf8cf",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "ldox7koimw750kna",
            "type": "comment",
            "z": "abaab07b16bdf8cf",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "0sel7efef1kp15m4",
            "type": "catch",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "scope": [
                "xfer7firod5n9hsz"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "wj1u1uueincp1fwg"
                ]
            ]
        },
        {
            "id": "d2exsqi7dgzollb1",
            "type": "delay",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "v0rlg7anw67zh9iv"
                ]
            ]
        },
        {
            "id": "gost8igp9n52lt6d",
            "type": "change",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "d2exsqi7dgzollb1"
                ]
            ]
        },
        {
            "id": "xvhdbkekovq43fqh",
            "type": "delay",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "v0rlg7anw67zh9iv"
                ]
            ]
        },
        {
            "id": "wj1u1uueincp1fwg",
            "type": "change",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "xvhdbkekovq43fqh"
                ]
            ]
        },
        {
            "id": "beef2d8d3a28beab",
            "type": "delay",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 970,
            "y": 640,
            "wires": [
                [
                    "f36ec22c71e8d017"
                ]
            ]
        },
        {
            "id": "795c19f04bf70fb5",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "send virtual data",
            "func": "\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 600,
            "y": 560,
            "wires": [
                [
                    "beef2d8d3a28beab",
                    "5d846796d1f13266"
                ]
            ]
        },
        {
            "id": "5d846796d1f13266",
            "type": "function",
            "z": "abaab07b16bdf8cf",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 960,
            "y": 560,
            "wires": [
                [
                    "d7m4chbgg2j4qfsq"
                ]
            ]
        },
        {
            "id": "c1cc2c82d275f539",
            "type": "delay",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "pauseType": "rate",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "minute",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 420,
            "y": 560,
            "wires": [
                [
                    "795c19f04bf70fb5"
                ]
            ]
        },
        {
            "id": "f36ec22c71e8d017",
            "type": "change",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 960,
            "y": 600,
            "wires": [
                [
                    "5d846796d1f13266"
                ]
            ]
        },
        {
            "id": "7eb38eb3c07abbc2",
            "type": "change",
            "z": "abaab07b16bdf8cf",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 800,
            "y": 660,
            "wires": [
                [
                    "beef2d8d3a28beab"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "rlmhmyiu9oqg4rji",
            "type": "modbus-client",
            "z": "abaab07b16bdf8cf",
            "name": "Flexible Channel",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "10502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": "1",
            "commandDelay": "1",
            "clientTimeout": "1000",
            "reconnectOnTimeout": true,
            "reconnectTimeout": "2000",
            "parallelUnitIdsAllowed": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}