nodered/generic/modbus/MUV-EDGE-BUS-30.json
{
    "id": "896a55b5f71937e1",
    "label": "66e9284ad8b8d304a3824ac9",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "sw1npwhsuuds8ia6",
            "type": "mqtt out",
            "z": "896a55b5f71937e1",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "gme05510x350b08c",
            "type": "inject",
            "z": "896a55b5f71937e1",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "iu7tpe4pzfylyd5l"
                ]
            ]
        },
        {
            "id": "iu7tpe4pzfylyd5l",
            "type": "getflows",
            "z": "896a55b5f71937e1",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "g57avr1u92wkmpy2"
                ]
            ]
        },
        {
            "id": "g57avr1u92wkmpy2",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "an630567x1q3qutk"
                ]
            ]
        },
        {
            "id": "urpfm4a27pa4es7j",
            "type": "modbus-flex-sequencer",
            "z": "896a55b5f71937e1",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "64owhudszy0hmygd",
                    "jxvptrx9g46d2lqe",
                    "lx8r80femqv3ssif",
                    "2qxi9x880zmzudpl"
                ],
                []
            ]
        },
        {
            "id": "9cqs323j73e576rg",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "0iqy0yfyjo3hdlr4"
                ]
            ]
        },
        {
            "id": "ompljq3jw7dahdm7",
            "type": "comment",
            "z": "896a55b5f71937e1",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "ju0x4duxfoixzce0",
            "type": "comment",
            "z": "896a55b5f71937e1",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "an630567x1q3qutk",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "5fl8py5aqpzhcxip"
                ]
            ]
        },
        {
            "id": "z97vj0x8sltzv36w",
            "type": "comment",
            "z": "896a55b5f71937e1",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "64owhudszy0hmygd",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": msg.dataPoint.type.includes(\"bool\"),\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 480,
            "wires": [
                [
                    "2u9rqge623j86reo"
                ]
            ]
        },
        {
            "id": "2u9rqge623j86reo",
            "type": "buffer-parser",
            "z": "896a55b5f71937e1",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1130,
            "y": 480,
            "wires": [
                [
                    "073ne832b7cweu17"
                ]
            ]
        },
        {
            "id": "g7nb8m19y9c8cgn1",
            "type": "inject",
            "z": "896a55b5f71937e1",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "1akwvm95nmn187u1"
                ]
            ]
        },
        {
            "id": "3j5skewzixucsgly",
            "type": "modbus-flex-write",
            "z": "896a55b5f71937e1",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "5cdy6j0fdp9sucmf",
                    "7em7gr7944wnxeb6",
                    "u8mp4g3niu1qof4c"
                ],
                []
            ]
        },
        {
            "id": "jxvptrx9g46d2lqe",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 520,
            "wires": [
                [
                    "073ne832b7cweu17"
                ]
            ]
        },
        {
            "id": "5cdy6j0fdp9sucmf",
            "type": "delay",
            "z": "896a55b5f71937e1",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "sw1npwhsuuds8ia6"
                ]
            ]
        },
        {
            "id": "z1zpff5z227xpewa",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "sw1npwhsuuds8ia6"
                ]
            ]
        },
        {
            "id": "5fl8py5aqpzhcxip",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "unoplji3nli246vt"
                ]
            ]
        },
        {
            "id": "1d64r3ekqg1rl4ot",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "kzwywp0zhiyb4ybm"
                ]
            ]
        },
        {
            "id": "kzwywp0zhiyb4ybm",
            "type": "mqtt out",
            "z": "896a55b5f71937e1",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "unoplji3nli246vt",
            "type": "modbus-flex-connector",
            "z": "896a55b5f71937e1",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "1beoqt7dltbapnap",
            "type": "comment",
            "z": "896a55b5f71937e1",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "1akwvm95nmn187u1",
            "type": "link out",
            "z": "896a55b5f71937e1",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "2u290bu7184jpyk1",
                "4njr097q0zmyheab"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "2u290bu7184jpyk1",
            "type": "link in",
            "z": "896a55b5f71937e1",
            "name": "Protocol Read",
            "links": [
                "1akwvm95nmn187u1",
                "7em7gr7944wnxeb6"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "93evcq90gmijtpop"
                ]
            ]
        },
        {
            "id": "93evcq90gmijtpop",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "itzx3y6js0ss36io"
                ]
            ]
        },
        {
            "id": "7em7gr7944wnxeb6",
            "type": "link out",
            "z": "896a55b5f71937e1",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "2u290bu7184jpyk1"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "4njr097q0zmyheab",
            "type": "link in",
            "z": "896a55b5f71937e1",
            "name": "Virtual Read",
            "links": [
                "1akwvm95nmn187u1"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "cu2sedrbvvdodil5"
                ]
            ]
        },
        {
            "id": "cu2sedrbvvdodil5",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "49w8o52t9xc2pphv"
                ]
            ]
        },
        {
            "id": "gl4yhbwkowkpfxn3",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "zs4w074sgrjbu4jw"
                ]
            ]
        },
        {
            "id": "qc11y8l0p0oep49m",
            "type": "comment",
            "z": "896a55b5f71937e1",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "upyhwsq6w9cd2xdj",
            "type": "link in",
            "z": "896a55b5f71937e1",
            "name": "Update Metrics",
            "links": [
                "zs4w074sgrjbu4jw",
                "073ne832b7cweu17"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "9kdk527fwmhm93v8"
                ]
            ]
        },
        {
            "id": "9kdk527fwmhm93v8",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "z1zpff5z227xpewa",
                    "1d64r3ekqg1rl4ot"
                ]
            ]
        },
        {
            "id": "073ne832b7cweu17",
            "type": "link out",
            "z": "896a55b5f71937e1",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "upyhwsq6w9cd2xdj"
            ],
            "x": 1435,
            "y": 480
        },
        {
            "id": "o62s0hd0qmar9pms",
            "type": "flogger",
            "z": "896a55b5f71937e1",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "nwewncwuzw6if2qk",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "rwxiu1z08oglf1zt"
                ]
            ]
        },
        {
            "id": "phyntkzhags8dd4m",
            "type": "catch",
            "z": "896a55b5f71937e1",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "nwewncwuzw6if2qk"
                ]
            ]
        },
        {
            "id": "rwxiu1z08oglf1zt",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "o62s0hd0qmar9pms"
                ]
            ]
        },
        {
            "id": "zs4w074sgrjbu4jw",
            "type": "link out",
            "z": "896a55b5f71937e1",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "upyhwsq6w9cd2xdj"
            ],
            "x": 1435,
            "y": 260
        },
        {
            "id": "oxvlckezi4tpqltb",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "gl4yhbwkowkpfxn3"
                ]
            ]
        },
        {
            "id": "49w8o52t9xc2pphv",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "oxvlckezi4tpqltb"
                ]
            ]
        },
        {
            "id": "itzx3y6js0ss36io",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "9cqs323j73e576rg"
                ]
            ]
        },
        {
            "id": "q1kdas4l1okr0a9e",
            "type": "mqtt in",
            "z": "896a55b5f71937e1",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "s1ve2dj2qtwrzpll"
                ]
            ]
        },
        {
            "id": "wfx5yp2ojcuxxy3t",
            "type": "inject",
            "z": "896a55b5f71937e1",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "9zh7bavsgkqoxxsu"
                ]
            ]
        },
        {
            "id": "xvvgnvfou8hxfj4c",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "q1kdas4l1okr0a9e"
                ]
            ]
        },
        {
            "id": "9zh7bavsgkqoxxsu",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "9awfyep08ew3k5aa"
                ],
                [
                    "xvvgnvfou8hxfj4c"
                ]
            ]
        },
        {
            "id": "9awfyep08ew3k5aa",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "s1ve2dj2qtwrzpll",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "aptrzbn4my5ng6ey"
                ],
                [
                    "zrr1v3lm4j83qsap"
                ]
            ]
        },
        {
            "id": "lg8cjwl1topbl3o1",
            "type": "mqtt out",
            "z": "896a55b5f71937e1",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "aptrzbn4my5ng6ey",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "f4tbp6mhr5ke1kae"
                ],
                [
                    "5aousbstnhhqvcln"
                ]
            ]
        },
        {
            "id": "iispd5stzi1v5hct",
            "type": "debug",
            "z": "896a55b5f71937e1",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "f4tbp6mhr5ke1kae",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "776dru3o3grx5tof"
                ],
                [
                    "3j5skewzixucsgly",
                    "iispd5stzi1v5hct"
                ]
            ]
        },
        {
            "id": "776dru3o3grx5tof",
            "type": "debug",
            "z": "896a55b5f71937e1",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "2lij7xkeppkxy7zt",
            "type": "comment",
            "z": "896a55b5f71937e1",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "1wjpytstkszbxjru",
            "type": "catch",
            "z": "896a55b5f71937e1",
            "name": "",
            "scope": [
                "3j5skewzixucsgly"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "7z4vv04lgfm7fube"
                ]
            ]
        },
        {
            "id": "zrr1v3lm4j83qsap",
            "type": "delay",
            "z": "896a55b5f71937e1",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "lg8cjwl1topbl3o1"
                ]
            ]
        },
        {
            "id": "u8mp4g3niu1qof4c",
            "type": "change",
            "z": "896a55b5f71937e1",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "zrr1v3lm4j83qsap"
                ]
            ]
        },
        {
            "id": "5aousbstnhhqvcln",
            "type": "delay",
            "z": "896a55b5f71937e1",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "lg8cjwl1topbl3o1"
                ]
            ]
        },
        {
            "id": "7z4vv04lgfm7fube",
            "type": "change",
            "z": "896a55b5f71937e1",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "5aousbstnhhqvcln"
                ]
            ]
        },
        {
            "id": "l5je0oc9rmxd4gb2",
            "type": "delay",
            "z": "896a55b5f71937e1",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 640,
            "wires": [
                [
                    "1eyc9r169vo13zwu"
                ]
            ]
        },
        {
            "id": "lx8r80femqv3ssif",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 560,
            "wires": [
                [
                    "p6v5t6gf9mkf9i0f"
                ]
            ]
        },
        {
            "id": "p6v5t6gf9mkf9i0f",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 560,
            "wires": [
                [
                    "073ne832b7cweu17"
                ]
            ]
        },
        {
            "id": "2qxi9x880zmzudpl",
            "type": "change",
            "z": "896a55b5f71937e1",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 600,
            "wires": [
                [
                    "l5je0oc9rmxd4gb2"
                ]
            ]
        },
        {
            "id": "1eyc9r169vo13zwu",
            "type": "function",
            "z": "896a55b5f71937e1",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 950,
            "y": 680,
            "wires": [
                [
                    "p6v5t6gf9mkf9i0f"
                ]
            ]
        },
        {
            "id": "gip376dij2l5qwjq",
            "type": "catch",
            "z": "896a55b5f71937e1",
            "name": "",
            "scope": [
                "urpfm4a27pa4es7j"
            ],
            "uncaught": false,
            "x": 690,
            "y": 640,
            "wires": [
                [
                    "u4vajvxvevbj63o6",
                    "7qst2m4i46pio7zy"
                ]
            ]
        },
        {
            "id": "u4vajvxvevbj63o6",
            "type": "change",
            "z": "896a55b5f71937e1",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 640,
            "wires": [
                [
                    "l5je0oc9rmxd4gb2"
                ]
            ]
        },
        {
            "id": "0iqy0yfyjo3hdlr4",
            "type": "switch",
            "z": "896a55b5f71937e1",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "urpfm4a27pa4es7j"
                ],
                [
                    "urpfm4a27pa4es7j"
                ]
            ]
        },
        {
            "id": "7qst2m4i46pio7zy",
            "type": "delay",
            "z": "896a55b5f71937e1",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 720,
            "wires": [
                [
                    "jr5tz0phbijwlyiu"
                ]
            ]
        },
        {
            "id": "jr5tz0phbijwlyiu",
            "type": "change",
            "z": "896a55b5f71937e1",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 720,
            "wires": [
                []
            ]
        }
    ]
}