nodered/generic/modbus/MUV-EDGE-BUS.json
{
    "id": "1521ea3d0841661c",
    "label": "123123123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "opl94gyagrorhyw6",
            "type": "mqtt out",
            "z": "1521ea3d0841661c",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "gg9yfshywc7ql8y1",
            "type": "inject",
            "z": "1521ea3d0841661c",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "nru73zvp129beh6k"
                ]
            ]
        },
        {
            "id": "nru73zvp129beh6k",
            "type": "getflows",
            "z": "1521ea3d0841661c",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "f8qvd58e2zazt5fr"
                ]
            ]
        },
        {
            "id": "f8qvd58e2zazt5fr",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "ez2ltk33xaihmn4o"
                ]
            ]
        },
        {
            "id": "woo552lv0snanffi",
            "type": "modbus-flex-sequencer",
            "z": "1521ea3d0841661c",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "lj1613z4s6d20imc",
                    "1b21g132u3ofdeom",
                    "746b0f834b7d75e4"
                ],
                []
            ]
        },
        {
            "id": "jqellv6r7l5mero4",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "8s7xayr4hfo5sbng"
                ]
            ]
        },
        {
            "id": "axabhuaubafzsrlx",
            "type": "comment",
            "z": "1521ea3d0841661c",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "k7d9kgii5kt0cew2",
            "type": "comment",
            "z": "1521ea3d0841661c",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "ez2ltk33xaihmn4o",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "e572xrj49zkme5on"
                ]
            ]
        },
        {
            "id": "cbakdgd9r5tccquj",
            "type": "comment",
            "z": "1521ea3d0841661c",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "lj1613z4s6d20imc",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": msg.dataPoint.type.includes(\"bool\"),\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 480,
            "wires": [
                [
                    "4bvanerg8ul8ol85"
                ]
            ]
        },
        {
            "id": "4bvanerg8ul8ol85",
            "type": "buffer-parser",
            "z": "1521ea3d0841661c",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1130,
            "y": 480,
            "wires": [
                [
                    "9h9zelsfcbie7zr9"
                ]
            ]
        },
        {
            "id": "870bxeihiwvxvjai",
            "type": "inject",
            "z": "1521ea3d0841661c",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "150",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "97cgqwumhympfjlk"
                ]
            ]
        },
        {
            "id": "dq615i1c67ru26cd",
            "type": "modbus-flex-write",
            "z": "1521ea3d0841661c",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "txwjqy31j7tjcmn7",
                    "i3jxypufoctsq8bh",
                    "z9a4rtq2ikvvk56q"
                ],
                []
            ]
        },
        {
            "id": "1b21g132u3ofdeom",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 520,
            "wires": [
                [
                    "9h9zelsfcbie7zr9"
                ]
            ]
        },
        {
            "id": "txwjqy31j7tjcmn7",
            "type": "delay",
            "z": "1521ea3d0841661c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "opl94gyagrorhyw6"
                ]
            ]
        },
        {
            "id": "wldb9aqhnm4733p8",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "opl94gyagrorhyw6"
                ]
            ]
        },
        {
            "id": "e572xrj49zkme5on",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "1zq02qi6bigz5gt3"
                ]
            ]
        },
        {
            "id": "3kflgjlp0rd4mi5y",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "j0z1vv14sxmwt86d"
                ]
            ]
        },
        {
            "id": "j0z1vv14sxmwt86d",
            "type": "mqtt out",
            "z": "1521ea3d0841661c",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "1zq02qi6bigz5gt3",
            "type": "modbus-flex-connector",
            "z": "1521ea3d0841661c",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "gote961g0ot3jjuj",
            "type": "comment",
            "z": "1521ea3d0841661c",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "97cgqwumhympfjlk",
            "type": "link out",
            "z": "1521ea3d0841661c",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "2fthkyl8bcpqwggq",
                "hgy55huqoqj2p2mw"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "2fthkyl8bcpqwggq",
            "type": "link in",
            "z": "1521ea3d0841661c",
            "name": "Protocol Read",
            "links": [
                "97cgqwumhympfjlk",
                "i3jxypufoctsq8bh"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "g05rd9trg913yotx"
                ]
            ]
        },
        {
            "id": "g05rd9trg913yotx",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "w83xwtdxku3hqnwt"
                ]
            ]
        },
        {
            "id": "i3jxypufoctsq8bh",
            "type": "link out",
            "z": "1521ea3d0841661c",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "2fthkyl8bcpqwggq"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "hgy55huqoqj2p2mw",
            "type": "link in",
            "z": "1521ea3d0841661c",
            "name": "Virtual Read",
            "links": [
                "97cgqwumhympfjlk"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "6bzu77u5g4aytdnq"
                ]
            ]
        },
        {
            "id": "6bzu77u5g4aytdnq",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "6wbh1lp33akgcefy"
                ]
            ]
        },
        {
            "id": "ksn5v72ncisquet3",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "3m7yr3fehonreljq"
                ]
            ]
        },
        {
            "id": "it42xn9m7pvaug0f",
            "type": "comment",
            "z": "1521ea3d0841661c",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "tu5immxwopc0h156",
            "type": "link in",
            "z": "1521ea3d0841661c",
            "name": "Update Metrics",
            "links": [
                "3m7yr3fehonreljq",
                "9h9zelsfcbie7zr9"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "l8i1oklaowz9umdl"
                ]
            ]
        },
        {
            "id": "l8i1oklaowz9umdl",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "wldb9aqhnm4733p8",
                    "3kflgjlp0rd4mi5y"
                ]
            ]
        },
        {
            "id": "9h9zelsfcbie7zr9",
            "type": "link out",
            "z": "1521ea3d0841661c",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "tu5immxwopc0h156"
            ],
            "x": 1435,
            "y": 480
        },
        {
            "id": "qx25hqrkdmz13sut",
            "type": "flogger",
            "z": "1521ea3d0841661c",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "ih51fa8zhn9pu4v4",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "jl2a328w760txa11"
                ]
            ]
        },
        {
            "id": "vbl7m7lxof7mq1z5",
            "type": "catch",
            "z": "1521ea3d0841661c",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "ih51fa8zhn9pu4v4"
                ]
            ]
        },
        {
            "id": "jl2a328w760txa11",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "qx25hqrkdmz13sut"
                ]
            ]
        },
        {
            "id": "3m7yr3fehonreljq",
            "type": "link out",
            "z": "1521ea3d0841661c",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "tu5immxwopc0h156"
            ],
            "x": 1435,
            "y": 260
        },
        {
            "id": "o9k67tfmkn8vaurt",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "ksn5v72ncisquet3"
                ]
            ]
        },
        {
            "id": "6wbh1lp33akgcefy",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "o9k67tfmkn8vaurt"
                ]
            ]
        },
        {
            "id": "w83xwtdxku3hqnwt",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "jqellv6r7l5mero4"
                ]
            ]
        },
        {
            "id": "oh111gzw7r807bt8",
            "type": "mqtt in",
            "z": "1521ea3d0841661c",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "ifpw490kejzevqqh"
                ]
            ]
        },
        {
            "id": "wp0k47ha08nhybvy",
            "type": "inject",
            "z": "1521ea3d0841661c",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "8pl8t4a7n5nob1qk"
                ]
            ]
        },
        {
            "id": "utclds72299qfsk3",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "oh111gzw7r807bt8"
                ]
            ]
        },
        {
            "id": "8pl8t4a7n5nob1qk",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "7ncgri36e3qxsyz8"
                ],
                [
                    "utclds72299qfsk3"
                ]
            ]
        },
        {
            "id": "7ncgri36e3qxsyz8",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "ifpw490kejzevqqh",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "etrnx5rdnnois02f"
                ],
                [
                    "to926atms9ko2nlo"
                ]
            ]
        },
        {
            "id": "mp3u7zby63frgleo",
            "type": "mqtt out",
            "z": "1521ea3d0841661c",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "etrnx5rdnnois02f",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "mdjrd6rf2397i417"
                ],
                [
                    "5k8rof86f3h9bulf"
                ]
            ]
        },
        {
            "id": "gf1x8vm5alywts9v",
            "type": "debug",
            "z": "1521ea3d0841661c",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "mdjrd6rf2397i417",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "vms3fi2vxa8k0pmx"
                ],
                [
                    "dq615i1c67ru26cd",
                    "gf1x8vm5alywts9v"
                ]
            ]
        },
        {
            "id": "vms3fi2vxa8k0pmx",
            "type": "debug",
            "z": "1521ea3d0841661c",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "asvk6kczpsdu8q5s",
            "type": "comment",
            "z": "1521ea3d0841661c",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "dkhcwlkpv3f5kbd5",
            "type": "catch",
            "z": "1521ea3d0841661c",
            "name": "",
            "scope": [
                "dq615i1c67ru26cd"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "vlf8xb4ea85eqc2i"
                ]
            ]
        },
        {
            "id": "to926atms9ko2nlo",
            "type": "delay",
            "z": "1521ea3d0841661c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "mp3u7zby63frgleo"
                ]
            ]
        },
        {
            "id": "z9a4rtq2ikvvk56q",
            "type": "change",
            "z": "1521ea3d0841661c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "to926atms9ko2nlo"
                ]
            ]
        },
        {
            "id": "5k8rof86f3h9bulf",
            "type": "delay",
            "z": "1521ea3d0841661c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "mp3u7zby63frgleo"
                ]
            ]
        },
        {
            "id": "vlf8xb4ea85eqc2i",
            "type": "change",
            "z": "1521ea3d0841661c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "5k8rof86f3h9bulf"
                ]
            ]
        },
        {
            "id": "k78snrpclkeljto3",
            "type": "delay",
            "z": "1521ea3d0841661c",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 680,
            "wires": [
                [
                    "vyckqi2i06isipak"
                ]
            ]
        },
        {
            "id": "nn57w5rodzxxx57y",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 600,
            "wires": [
                [
                    "kl921q34uqz57fba"
                ]
            ]
        },
        {
            "id": "kl921q34uqz57fba",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 600,
            "wires": [
                [
                    "9h9zelsfcbie7zr9"
                ]
            ]
        },
        {
            "id": "pe36t39syqf2pkhh",
            "type": "change",
            "z": "1521ea3d0841661c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 640,
            "wires": [
                [
                    "k78snrpclkeljto3"
                ]
            ]
        },
        {
            "id": "vyckqi2i06isipak",
            "type": "function",
            "z": "1521ea3d0841661c",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 950,
            "y": 720,
            "wires": [
                [
                    "kl921q34uqz57fba"
                ]
            ]
        },
        {
            "id": "6kvk8vge1p72xbva",
            "type": "catch",
            "z": "1521ea3d0841661c",
            "name": "",
            "scope": [
                "woo552lv0snanffi"
            ],
            "uncaught": false,
            "x": 690,
            "y": 680,
            "wires": [
                [
                    "tbecdymgiwxefn66",
                    "ff3janf4woys0cni"
                ]
            ]
        },
        {
            "id": "tbecdymgiwxefn66",
            "type": "change",
            "z": "1521ea3d0841661c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 680,
            "wires": [
                [
                    "k78snrpclkeljto3"
                ]
            ]
        },
        {
            "id": "8s7xayr4hfo5sbng",
            "type": "switch",
            "z": "1521ea3d0841661c",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "woo552lv0snanffi"
                ],
                [
                    "woo552lv0snanffi"
                ]
            ]
        },
        {
            "id": "ff3janf4woys0cni",
            "type": "delay",
            "z": "1521ea3d0841661c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 760,
            "wires": [
                [
                    "w39wds3wzy3i7uz7"
                ]
            ]
        },
        {
            "id": "w39wds3wzy3i7uz7",
            "type": "change",
            "z": "1521ea3d0841661c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 760,
            "wires": [
                []
            ]
        },
        {
            "id": "746b0f834b7d75e4",
            "type": "delay",
            "z": "1521ea3d0841661c",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 880,
            "y": 560,
            "wires": [
                [
                    "nn57w5rodzxxx57y",
                    "pe36t39syqf2pkhh"
                ]
            ]
        }
    ]
}