nodered/generic/modbus/MUV-EDGE-BLOCK-READ.json
{
    "id": "2bca96b3d0152f5d",
    "label": "65bb4ec138cc4e9f937827f1",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "kqme80gl59muuw74",
            "type": "mqtt out",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 920,
            "wires": []
        },
        {
            "id": "353wi1syy1fmnco4",
            "type": "inject",
            "z": "2bca96b3d0152f5d",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "2hkiiptgns5h2a7t"
                ]
            ]
        },
        {
            "id": "2hkiiptgns5h2a7t",
            "type": "getflows",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "67hpieu8e2enirl9"
                ]
            ]
        },
        {
            "id": "67hpieu8e2enirl9",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "55kp074fjftszdzv"
                ]
            ]
        },
        {
            "id": "p44aknz2xumhztkv",
            "type": "comment",
            "z": "2bca96b3d0152f5d",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "uuxknnd8n1q44v7d",
            "type": "comment",
            "z": "2bca96b3d0152f5d",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "55kp074fjftszdzv",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "n6q0oibzxh89daxf"
                ]
            ]
        },
        {
            "id": "re3kcbhj38oyfskv",
            "type": "comment",
            "z": "2bca96b3d0152f5d",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "geljr53l05cj5tdp",
            "type": "inject",
            "z": "2bca96b3d0152f5d",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "tds3hv5gmjpxutgp"
                ]
            ]
        },
        {
            "id": "li8amhokr9pwz16e",
            "type": "modbus-flex-write",
            "z": "2bca96b3d0152f5d",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "xhtn7cpv4piz36js",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "iw5pia7ix02907ol",
                    "bhqd8w9c8955oqo0",
                    "ypz8m6wj9xwt4kk2"
                ],
                []
            ]
        },
        {
            "id": "tty7krjwshcb3bxm",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1050,
            "y": 520,
            "wires": [
                [
                    "3uxsdhr13okr9y68"
                ]
            ]
        },
        {
            "id": "iw5pia7ix02907ol",
            "type": "delay",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "kqme80gl59muuw74"
                ]
            ]
        },
        {
            "id": "orbbi4a69wkxe1g9",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 920,
            "wires": [
                [
                    "kqme80gl59muuw74"
                ]
            ]
        },
        {
            "id": "n6q0oibzxh89daxf",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "g3dh2ju0x63r44w2"
                ]
            ]
        },
        {
            "id": "wkx11km0c94x898l",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "dtxpp6mjfy8z1taj"
                ]
            ]
        },
        {
            "id": "dtxpp6mjfy8z1taj",
            "type": "mqtt out",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 860,
            "wires": []
        },
        {
            "id": "g3dh2ju0x63r44w2",
            "type": "modbus-flex-connector",
            "z": "2bca96b3d0152f5d",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "xhtn7cpv4piz36js",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "hr071idj8jptztfx",
            "type": "comment",
            "z": "2bca96b3d0152f5d",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "tds3hv5gmjpxutgp",
            "type": "link out",
            "z": "2bca96b3d0152f5d",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "lza3h2z0n4l3j41c",
                "eff24fmjpx3hl9wp"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "lza3h2z0n4l3j41c",
            "type": "link in",
            "z": "2bca96b3d0152f5d",
            "name": "Protocol Read",
            "links": [
                "tds3hv5gmjpxutgp",
                "bhqd8w9c8955oqo0"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "qhd3ghjggy5kr75y"
                ]
            ]
        },
        {
            "id": "qhd3ghjggy5kr75y",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "cdx58bqvagsg624x"
                ]
            ]
        },
        {
            "id": "bhqd8w9c8955oqo0",
            "type": "link out",
            "z": "2bca96b3d0152f5d",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "lza3h2z0n4l3j41c"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "eff24fmjpx3hl9wp",
            "type": "link in",
            "z": "2bca96b3d0152f5d",
            "name": "Virtual Read",
            "links": [
                "tds3hv5gmjpxutgp"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "lckezmibcqxgc39z"
                ]
            ]
        },
        {
            "id": "lckezmibcqxgc39z",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "u9c2fdu023zztcp1"
                ]
            ]
        },
        {
            "id": "ar20wtjlq2xd0khs",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "ukc6jhi8quanuc3n"
                ]
            ]
        },
        {
            "id": "135wq6p6l8fzdp5d",
            "type": "comment",
            "z": "2bca96b3d0152f5d",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 800,
            "wires": []
        },
        {
            "id": "27z9oq7z1vz25mwp",
            "type": "link in",
            "z": "2bca96b3d0152f5d",
            "name": "Update Metrics",
            "links": [
                "ukc6jhi8quanuc3n",
                "3uxsdhr13okr9y68"
            ],
            "x": 75,
            "y": 880,
            "wires": [
                [
                    "s121xqvccnmrew6t"
                ]
            ]
        },
        {
            "id": "s121xqvccnmrew6t",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 880,
            "wires": [
                [
                    "orbbi4a69wkxe1g9",
                    "wkx11km0c94x898l"
                ]
            ]
        },
        {
            "id": "3uxsdhr13okr9y68",
            "type": "link out",
            "z": "2bca96b3d0152f5d",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "27z9oq7z1vz25mwp"
            ],
            "x": 1275,
            "y": 480
        },
        {
            "id": "jlin1w4jwmzcu51u",
            "type": "flogger",
            "z": "2bca96b3d0152f5d",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "csi7dt99jskqy2jz",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "cl67qyi2k7tflptk"
                ]
            ]
        },
        {
            "id": "t28rbxf8kc7w6p45",
            "type": "catch",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "csi7dt99jskqy2jz"
                ]
            ]
        },
        {
            "id": "cl67qyi2k7tflptk",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "jlin1w4jwmzcu51u"
                ]
            ]
        },
        {
            "id": "ukc6jhi8quanuc3n",
            "type": "link out",
            "z": "2bca96b3d0152f5d",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "27z9oq7z1vz25mwp"
            ],
            "x": 1275,
            "y": 260
        },
        {
            "id": "jji3jfudvafip733",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "ar20wtjlq2xd0khs"
                ]
            ]
        },
        {
            "id": "u9c2fdu023zztcp1",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "jji3jfudvafip733"
                ]
            ]
        },
        {
            "id": "cdx58bqvagsg624x",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "im9gj91qi64nkfhr",
                    "fd85b77b19d79e20"
                ]
            ]
        },
        {
            "id": "028t36ql4m3a1l92",
            "type": "mqtt in",
            "z": "2bca96b3d0152f5d",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "uh6ve4le8ekphwsl"
                ]
            ]
        },
        {
            "id": "0eoymt19d419pcb4",
            "type": "inject",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "5pu9ap4dtgug53za"
                ]
            ]
        },
        {
            "id": "3v9irjppa80czj0c",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "028t36ql4m3a1l92"
                ]
            ]
        },
        {
            "id": "5pu9ap4dtgug53za",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "20xp3uiawf91og90"
                ],
                [
                    "3v9irjppa80czj0c"
                ]
            ]
        },
        {
            "id": "20xp3uiawf91og90",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "uh6ve4le8ekphwsl",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "ulej0jaupryapny2"
                ],
                [
                    "jalnwj8dg4ff2l51"
                ]
            ]
        },
        {
            "id": "ei1p7levdkycymv5",
            "type": "mqtt out",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "ulej0jaupryapny2",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "6o9chde4pwy8ziju"
                ],
                [
                    "a23zea6obrqfucei"
                ]
            ]
        },
        {
            "id": "m8h61sth93c3dcqr",
            "type": "debug",
            "z": "2bca96b3d0152f5d",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "6o9chde4pwy8ziju",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "8f3x3nqcb9xgzx9b"
                ],
                [
                    "li8amhokr9pwz16e",
                    "m8h61sth93c3dcqr"
                ]
            ]
        },
        {
            "id": "8f3x3nqcb9xgzx9b",
            "type": "debug",
            "z": "2bca96b3d0152f5d",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "1d81ngu85djlrna1",
            "type": "comment",
            "z": "2bca96b3d0152f5d",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "m0kh8lilxsajwmh4",
            "type": "catch",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "scope": [
                "li8amhokr9pwz16e"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "ox5j470r2qubaxwv"
                ]
            ]
        },
        {
            "id": "jalnwj8dg4ff2l51",
            "type": "delay",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "ei1p7levdkycymv5"
                ]
            ]
        },
        {
            "id": "ypz8m6wj9xwt4kk2",
            "type": "change",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "jalnwj8dg4ff2l51"
                ]
            ]
        },
        {
            "id": "a23zea6obrqfucei",
            "type": "delay",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "ei1p7levdkycymv5"
                ]
            ]
        },
        {
            "id": "ox5j470r2qubaxwv",
            "type": "change",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "a23zea6obrqfucei"
                ]
            ]
        },
        {
            "id": "1147b6mtqhpljkcl",
            "type": "delay",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 850,
            "y": 700,
            "wires": [
                [
                    "xefgpcb5j6uk791a"
                ]
            ]
        },
        {
            "id": "im9gj91qi64nkfhr",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "send virtual data",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 560,
            "wires": [
                [
                    "qbkmcdy4h2ka4bgz"
                ]
            ]
        },
        {
            "id": "3icninpk8jf99it9",
            "type": "change",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 440,
            "y": 700,
            "wires": [
                [
                    "1147b6mtqhpljkcl"
                ]
            ]
        },
        {
            "id": "xefgpcb5j6uk791a",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 660,
            "wires": [
                [
                    "pn9d7ojx9736qfpa"
                ]
            ]
        },
        {
            "id": "s4vfj89qb7dd3pw4",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 620,
            "wires": [
                [
                    "pn9d7ojx9736qfpa"
                ]
            ]
        },
        {
            "id": "pn9d7ojx9736qfpa",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1180,
            "y": 620,
            "wires": [
                [
                    "3uxsdhr13okr9y68"
                ]
            ]
        },
        {
            "id": "qbkmcdy4h2ka4bgz",
            "type": "switch",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "property": "bridge.image.metrics.COMMUNICATION_ERRORS",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 610,
            "y": 680,
            "wires": [
                [
                    "1147b6mtqhpljkcl"
                ],
                [
                    "1147b6mtqhpljkcl"
                ]
            ]
        },
        {
            "id": "1zqzgssg5km89o98",
            "type": "delay",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 860,
            "y": 580,
            "wires": [
                [
                    "s4vfj89qb7dd3pw4",
                    "3icninpk8jf99it9"
                ]
            ]
        },
        {
            "id": "fd85b77b19d79e20",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "send bridge data",
            "func": "let datapoints = flow.get(\"bridge.image.protocols\").filter(p => p.type !== \"virtual\");\n\nlet unitId = flow.get(\"bridge.image.controller.unitId\");\nlet typeToRegisterLength = global.get(\"function.typeToRegisterLength\");\n\nlet sorted = [...datapoints].sort((a, b) => a.address - b.address);\n\nlet sequences = [];\nlet currentBlock = null;\n\nfor (let dp of sorted) {\n    let length = typeToRegisterLength(dp.type);\n    let dpStart = dp.address;\n    let dpEnd = dpStart + length;\n\n    if (!currentBlock) {\n        currentBlock = {\n            startAddress: dpStart,\n            endAddress: dpEnd,\n            fc: dp.fc,\n            unitid: unitId,\n            dataPoints: [dp]\n        };\n    } else {\n        let newEnd = Math.max(currentBlock.endAddress, dpEnd);\n        let totalLength = newEnd - currentBlock.startAddress;\n\n        if (\n            dp.fc === currentBlock.fc &&\n            dpStart < currentBlock.endAddress + 1 &&\n            totalLength <= 10\n        ) {\n            currentBlock.dataPoints.push(dp);\n            currentBlock.endAddress = newEnd;\n        } else {\n            // Push the current block and start a new one\n            sequences.push({\n                fc: currentBlock.fc,\n                name: currentBlock.id,\n                unitid: currentBlock.unitid,\n                address: currentBlock.startAddress,\n                quantity: currentBlock.endAddress - currentBlock.startAddress,\n                dataPoints: currentBlock.dataPoints\n            });\n\n            currentBlock = {\n                startAddress: dpStart,\n                endAddress: dpEnd,\n                fc: dp.fc,\n                unitid: unitId,\n                dataPoints: [dp]\n            };\n        }\n    }\n}\n\n// Push the last block\nif (currentBlock) {\n    sequences.push({\n        fc: currentBlock.fc,\n        name: currentBlock.id,\n        unitid: currentBlock.unitid,\n        address: currentBlock.startAddress,\n        quantity: currentBlock.endAddress - currentBlock.startAddress,\n        dataPoints: currentBlock.dataPoints\n    });\n}\n\nmsg.payload = \"\";\nmsg.sequences = sequences;\n\nmsg.sequences.forEach(sequence => {\n    msg.payload = { value: msg.payload, 'fc': sequence.fc, 'unitid': sequence.unitid, 'address': sequence.address , 'quantity': sequence.quantity }\n    msg.sequence = sequence;\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "4517a8e72c8d9167"
                ]
            ]
        },
        {
            "id": "78a740b0bd063395",
            "type": "modbus-flex-getter",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "server": "xhtn7cpv4piz36js",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 650,
            "y": 520,
            "wires": [
                [
                    "09d0622e51322050",
                    "1zqzgssg5km89o98"
                ],
                []
            ]
        },
        {
            "id": "4517a8e72c8d9167",
            "type": "delay",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "pauseType": "rate",
            "timeout": "2.5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "0.1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 450,
            "y": 520,
            "wires": [
                [
                    "78a740b0bd063395"
                ]
            ]
        },
        {
            "id": "09d0622e51322050",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "decode",
            "func": "const values = msg.payload; // raw result array\nconst dataPoints = msg.sequence.dataPoints;\nconst baseAddress = msg.sequence.address;\nconst getLength = global.get(\"function.typeToRegisterLength\");\n\nfor (let dp of dataPoints) {\n    const startIndex = dp.address - baseAddress;\n    const length = getLength(dp.type); // usually 1 or 2\n    const payloadSlice = values.slice(startIndex, startIndex + length);\n\n    node.send({\n        payload: payloadSlice,\n        dataPoint: dp\n    });\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 840,
            "y": 440,
            "wires": [
                [
                    "6476361b3a7d5d45",
                    "tty7krjwshcb3bxm"
                ]
            ]
        },
        {
            "id": "d4fdbb8389d10170",
            "type": "buffer-parser",
            "z": "2bca96b3d0152f5d",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1090,
            "y": 480,
            "wires": [
                [
                    "3uxsdhr13okr9y68"
                ]
            ]
        },
        {
            "id": "6476361b3a7d5d45",
            "type": "function",
            "z": "2bca96b3d0152f5d",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    let byteSwap = false;\n    if (msg.dataPoint.byteswap !== undefined && msg.dataPoint.byteswap !== null){\n        byteSwap = msg.dataPoint.byteswap;\n    } else if (msg.dataPoint.type.includes(\"bool\")){\n        byteSwap = true;\n    }\n    \n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": byteSwap,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.dataPoint.id,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1040,
            "y": 440,
            "wires": [
                [
                    "d4fdbb8389d10170"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "xhtn7cpv4piz36js",
            "type": "modbus-client",
            "z": "2bca96b3d0152f5d",
            "name": "Flexible Channel",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "10502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": "1",
            "commandDelay": "1",
            "clientTimeout": "1000",
            "reconnectOnTimeout": true,
            "reconnectTimeout": "2000",
            "parallelUnitIdsAllowed": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}