nodered/generic/modbus/MUV-EDGE-FLOAT.json
{
    "id": "a380154af705ebd7",
    "label": "65bb4ec138cc4e9f937827f1",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "d4acb870d0fdca5b",
            "type": "mqtt out",
            "z": "a380154af705ebd7",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 920,
            "wires": []
        },
        {
            "id": "bceef0b82c37491f",
            "type": "inject",
            "z": "a380154af705ebd7",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "968ee4b7fbd65feb"
                ]
            ]
        },
        {
            "id": "968ee4b7fbd65feb",
            "type": "getflows",
            "z": "a380154af705ebd7",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "8befe9c38848d079"
                ]
            ]
        },
        {
            "id": "8befe9c38848d079",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "9ca68cf0d4744c95"
                ]
            ]
        },
        {
            "id": "864724a192acae96",
            "type": "modbus-flex-sequencer",
            "z": "a380154af705ebd7",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "44b98221dbd08b4c",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 640,
            "y": 480,
            "wires": [
                [
                    "f6347383f1c1d312",
                    "8514367ed678c947",
                    "4bca272959df1d8c"
                ],
                []
            ]
        },
        {
            "id": "2640944b9fa2a117",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "864724a192acae96"
                ]
            ]
        },
        {
            "id": "879c10de89cf4f5d",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "3bef0d0a9a16ea3e",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "9ca68cf0d4744c95",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "4636388f5d660566"
                ]
            ]
        },
        {
            "id": "300215fe085acfd2",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "f6347383f1c1d312",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Set number data point values",
            "func": "// Float Word-Swap Handler (CDAB byte order for WAGO PFC200)\n// Bypasses buffer-parser completely for 32-bit floats\n// Triggered only when image has type: \"floatbe\"/\"floatle\" AND byteswap: true\n// All other types (int16, bool, etc.) fall through to existing code unchanged\nif ((msg.dataPoint.type === \"floatbe\" || msg.dataPoint.type === \"floatle\")\n     && msg.dataPoint.byteswap === true) {\n    const buf = Buffer.alloc(4);\n    buf.writeUInt16BE(msg.payload[1], 0);\n    buf.writeUInt16BE(msg.payload[0], 2);\n\n    let value = msg.dataPoint.type === \"floatbe\"\n        ? buf.readFloatBE(0)\n        : buf.readFloatLE(0);\n    value = Math.round((value * msg.dataPoint.scale + Number.EPSILON) * 100) / 100;\n\n    const result = {};\n    result[msg.name] = value;\n    msg.payload = result;\n    node.send([null, msg]);\n    node.done();\n    return;\n}\n\nif (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    let byteSwap = false;\n    if (msg.dataPoint.byteswap !== undefined && msg.dataPoint.byteswap !== null){\n        byteSwap = msg.dataPoint.byteswap;\n    } else if (msg.dataPoint.type.includes(\"bool\")){\n        byteSwap = true;\n    }\n    \n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": byteSwap,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send([msg, null]);\n}\n\nnode.done();\n",
            "outputs": 2,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 900,
            "y": 480,
            "wires": [
                [
                    "cadf4fdfdb680d0f"
                ],
                [
                    "72f3184e379bd5fb"
                ]
            ]
        },
        {
            "id": "cadf4fdfdb680d0f",
            "type": "buffer-parser",
            "z": "a380154af705ebd7",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1110,
            "y": 480,
            "wires": [
                [
                    "72f3184e379bd5fb"
                ]
            ]
        },
        {
            "id": "b5733c90966d2eef",
            "type": "inject",
            "z": "a380154af705ebd7",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "bcb50ca56673034a"
                ]
            ]
        },
        {
            "id": "df071de2eb5d5c92",
            "type": "modbus-flex-write",
            "z": "a380154af705ebd7",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "44b98221dbd08b4c",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "bc57b8926b0c554b",
                    "a050a5c2bdf2720e",
                    "d98a02df20f377b0"
                ],
                []
            ]
        },
        {
            "id": "8514367ed678c947",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 910,
            "y": 520,
            "wires": [
                [
                    "72f3184e379bd5fb"
                ]
            ]
        },
        {
            "id": "bc57b8926b0c554b",
            "type": "delay",
            "z": "a380154af705ebd7",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "d4acb870d0fdca5b"
                ]
            ]
        },
        {
            "id": "9e42ba108caf49fe",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 920,
            "wires": [
                [
                    "d4acb870d0fdca5b"
                ]
            ]
        },
        {
            "id": "4636388f5d660566",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "a111f987bcf8e829"
                ]
            ]
        },
        {
            "id": "d80d97a01a506438",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "3b2a4cee9964b389"
                ]
            ]
        },
        {
            "id": "3b2a4cee9964b389",
            "type": "mqtt out",
            "z": "a380154af705ebd7",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 860,
            "wires": []
        },
        {
            "id": "a111f987bcf8e829",
            "type": "modbus-flex-connector",
            "z": "a380154af705ebd7",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "44b98221dbd08b4c",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "dfc67c744b89ed3e",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "bcb50ca56673034a",
            "type": "link out",
            "z": "a380154af705ebd7",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "b6fba85c3b920659",
                "6cd980587aa1ca72"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "b6fba85c3b920659",
            "type": "link in",
            "z": "a380154af705ebd7",
            "name": "Protocol Read",
            "links": [
                "bcb50ca56673034a",
                "a050a5c2bdf2720e"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "1a150207abc1bb78"
                ]
            ]
        },
        {
            "id": "1a150207abc1bb78",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "e1ff317a1e45c59f"
                ]
            ]
        },
        {
            "id": "a050a5c2bdf2720e",
            "type": "link out",
            "z": "a380154af705ebd7",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "b6fba85c3b920659"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "6cd980587aa1ca72",
            "type": "link in",
            "z": "a380154af705ebd7",
            "name": "Virtual Read",
            "links": [
                "bcb50ca56673034a"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "dfa3a81a0497c006"
                ]
            ]
        },
        {
            "id": "dfa3a81a0497c006",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "22344e021460e88c"
                ]
            ]
        },
        {
            "id": "b8b14635b01b75fb",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "a36be3373dd96576"
                ]
            ]
        },
        {
            "id": "d9c048b130002771",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 800,
            "wires": []
        },
        {
            "id": "090cfe63da20d1cd",
            "type": "link in",
            "z": "a380154af705ebd7",
            "name": "Update Metrics",
            "links": [
                "a36be3373dd96576",
                "72f3184e379bd5fb"
            ],
            "x": 75,
            "y": 880,
            "wires": [
                [
                    "60987ea60c251200"
                ]
            ]
        },
        {
            "id": "60987ea60c251200",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 880,
            "wires": [
                [
                    "9e42ba108caf49fe",
                    "d80d97a01a506438"
                ]
            ]
        },
        {
            "id": "72f3184e379bd5fb",
            "type": "link out",
            "z": "a380154af705ebd7",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "090cfe63da20d1cd"
            ],
            "x": 1275,
            "y": 480
        },
        {
            "id": "d409b2f2ac449ebc",
            "type": "flogger",
            "z": "a380154af705ebd7",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1920,
            "wires": [
                []
            ]
        },
        {
            "id": "072165ee2d8a7d91",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1920,
            "wires": [
                [
                    "360495caa6d1f822"
                ]
            ]
        },
        {
            "id": "53c41ef35d708ae2",
            "type": "catch",
            "z": "a380154af705ebd7",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1920,
            "wires": [
                [
                    "072165ee2d8a7d91"
                ]
            ]
        },
        {
            "id": "360495caa6d1f822",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1920,
            "wires": [
                [
                    "d409b2f2ac449ebc"
                ]
            ]
        },
        {
            "id": "a36be3373dd96576",
            "type": "link out",
            "z": "a380154af705ebd7",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "090cfe63da20d1cd"
            ],
            "x": 1275,
            "y": 260
        },
        {
            "id": "aeab9918f245343f",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "b8b14635b01b75fb"
                ]
            ]
        },
        {
            "id": "22344e021460e88c",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "aeab9918f245343f"
                ]
            ]
        },
        {
            "id": "e1ff317a1e45c59f",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "2640944b9fa2a117",
                    "f037e62299745695"
                ]
            ]
        },
        {
            "id": "82e6035560d17f39",
            "type": "mqtt in",
            "z": "a380154af705ebd7",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "97eeeac5528ef63e"
                ]
            ]
        },
        {
            "id": "0f58275630d43a23",
            "type": "inject",
            "z": "a380154af705ebd7",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "3f0d7eff1ce8e2e9"
                ]
            ]
        },
        {
            "id": "54f6f661fe876ad0",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "82e6035560d17f39"
                ]
            ]
        },
        {
            "id": "3f0d7eff1ce8e2e9",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "1e18301a6b0fff94"
                ],
                [
                    "54f6f661fe876ad0"
                ]
            ]
        },
        {
            "id": "1e18301a6b0fff94",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "97eeeac5528ef63e",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id);\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\n// FC 15/16 => value muss Array sein\nfunction ensureArrayForMultipleFC(value, fc) {\n    if (fc === 15 || fc === 16) {\n        return Array.isArray(value) ? value : [value];\n    }\n    return value;\n}\n\n// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\n// 32-Bit Wert in zwei 16-Bit Register umwandeln\nfunction encode32ToRegisters(value, type) {\n    const buf = Buffer.alloc(4);\n\n    switch (type) {\n        case \"int32le\":\n            buf.writeInt32LE(value);\n            break;\n        case \"int32be\":\n            buf.writeInt32BE(value);\n            break;\n        case \"uint32le\":\n            buf.writeUInt32LE(value);\n            break;\n        case \"uint32be\":\n            buf.writeUInt32BE(value);\n            break;\n        case \"floatle\":\n            buf.writeFloatLE(value);\n            break;\n        case \"floatbe\":\n            buf.writeFloatBE(value);\n            break;\n        case \"bool32\":\n            buf.writeUInt32BE(value);\n            break;\n        default:\n            throw new Error(\"Unsupported 32-bit type: \" + type);\n    }\n\n    const useLE = type.endsWith(\"le\");\n    const reg0 = useLE ? buf.readUInt16LE(0) : buf.readUInt16BE(0);\n    const reg1 = useLE ? buf.readUInt16LE(2) : buf.readUInt16BE(2);\n\n    return [reg0, reg1];\n}\n\nif (matchingProtocol && matchingCommand && matchingProtocol.scale <= 1) {\n    if (typeof command.value === \"string\") {\n        const trimmed = command.value.trim();\n        if (trimmed !== \"\" && !isNaN(trimmed)) {\n            command.value = Number(trimmed);\n        }\n    }\n    const registerLength = global.get(\"function.typeToRegisterLength\")(matchingProtocol.type);\n    response.value = {\n        actual: flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        target: command.value\n    };\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n\n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n\n        if (matchingCommand.fc === 6 || matchingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n\n        if (matchingCommand.fc === 6 || matchingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (typeof command.value === \"number\") {\n        // scale first (logical -> raw)\n        let scaledValue = command.value * (1 / (matchingProtocol.scale || 1));\n        let valueToSend;\n\n        if (registerLength === 2) {\n            // 32-Bit Wert in zwei Register nach Typ\n            valueToSend = encode32ToRegisters(scaledValue, matchingProtocol.type);\n        } else {\n            // 1 Register: 8-/16-Bit Typen\n            const regValue = encode16ToRegister(scaledValue, matchingProtocol.type);\n            valueToSend = regValue;\n        }\n\n        valueToSend = ensureArrayForMultipleFC(valueToSend, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    } else {\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    }\n\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage];\n\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n\n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "1e25008d116ca3d5"
                ],
                [
                    "57de944acc75fd2e"
                ]
            ]
        },
        {
            "id": "514a67c0e45dbc92",
            "type": "mqtt out",
            "z": "a380154af705ebd7",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "1e25008d116ca3d5",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "d02865e7ae233f09"
                ],
                [
                    "1e64e11f476f82ec"
                ]
            ]
        },
        {
            "id": "0a9fec3c8cb8b395",
            "type": "debug",
            "z": "a380154af705ebd7",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "d02865e7ae233f09",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "a144f05a870d22bf"
                ],
                [
                    "df071de2eb5d5c92",
                    "0a9fec3c8cb8b395"
                ]
            ]
        },
        {
            "id": "a144f05a870d22bf",
            "type": "debug",
            "z": "a380154af705ebd7",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "4e25e2a9d5d29069",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1880,
            "wires": []
        },
        {
            "id": "2fabd7cef35c2ca0",
            "type": "catch",
            "z": "a380154af705ebd7",
            "name": "",
            "scope": [
                "df071de2eb5d5c92"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "52ec77a820e4b799"
                ]
            ]
        },
        {
            "id": "57de944acc75fd2e",
            "type": "delay",
            "z": "a380154af705ebd7",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "514a67c0e45dbc92"
                ]
            ]
        },
        {
            "id": "d98a02df20f377b0",
            "type": "change",
            "z": "a380154af705ebd7",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "57de944acc75fd2e"
                ]
            ]
        },
        {
            "id": "1e64e11f476f82ec",
            "type": "delay",
            "z": "a380154af705ebd7",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "514a67c0e45dbc92"
                ]
            ]
        },
        {
            "id": "52ec77a820e4b799",
            "type": "change",
            "z": "a380154af705ebd7",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "1e64e11f476f82ec"
                ]
            ]
        },
        {
            "id": "21d73735815858d1",
            "type": "delay",
            "z": "a380154af705ebd7",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 850,
            "y": 700,
            "wires": [
                [
                    "d8c397629af35803"
                ]
            ]
        },
        {
            "id": "f037e62299745695",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "send virtual data",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 560,
            "wires": [
                [
                    "2e597718c6b76516"
                ]
            ]
        },
        {
            "id": "dad49b4f867e36c7",
            "type": "change",
            "z": "a380154af705ebd7",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 440,
            "y": 700,
            "wires": [
                [
                    "21d73735815858d1"
                ]
            ]
        },
        {
            "id": "d8c397629af35803",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 660,
            "wires": [
                [
                    "1b2465db349d61e3"
                ]
            ]
        },
        {
            "id": "8e27f59be48ee2e7",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 620,
            "wires": [
                [
                    "1b2465db349d61e3"
                ]
            ]
        },
        {
            "id": "1b2465db349d61e3",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1180,
            "y": 620,
            "wires": [
                [
                    "72f3184e379bd5fb"
                ]
            ]
        },
        {
            "id": "2e597718c6b76516",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "",
            "property": "bridge.image.metrics.COMMUNICATION_ERRORS",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 610,
            "y": 680,
            "wires": [
                [
                    "21d73735815858d1"
                ],
                [
                    "21d73735815858d1"
                ]
            ]
        },
        {
            "id": "4bca272959df1d8c",
            "type": "delay",
            "z": "a380154af705ebd7",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 860,
            "y": 580,
            "wires": [
                [
                    "8e27f59be48ee2e7",
                    "dad49b4f867e36c7"
                ]
            ]
        },
        {
            "id": "12612c5125a23f7f",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst mappingCommand = msg.payload.mappingCommand;\nconst matchingProtocol = mappingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === mappingCommand.protocolId) : undefined;\n\n// FC 15/16 => value muss Array sein\nfunction ensureArrayForMultipleFC(value, fc) {\n    if (fc === 15 || fc === 16) {\n        return Array.isArray(value) ? value : [value];\n    }\n    return value;\n}\n\n// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\n// 32-Bit Wert in zwei 16-Bit Register umwandeln\nfunction encode32ToRegisters(value, type) {\n    const buf = Buffer.alloc(4);\n\n    switch (type) {\n        case \"int32le\":\n            buf.writeInt32LE(value);\n            break;\n        case \"int32be\":\n            buf.writeInt32BE(value);\n            break;\n        case \"uint32le\":\n            buf.writeUInt32LE(value);\n            break;\n        case \"uint32be\":\n            buf.writeUInt32BE(value);\n            break;\n        case \"floatle\":\n            buf.writeFloatLE(value);\n            break;\n        case \"floatbe\":\n            buf.writeFloatBE(value);\n            break;\n        case \"bool32\":\n            buf.writeUInt32BE(value);\n            break;\n        default:\n            throw new Error(\"Unsupported 32-bit type: \" + type);\n    }\n\n    const useLE = type.endsWith(\"le\");\n    const reg0 = useLE ? buf.readUInt16LE(0) : buf.readUInt16BE(0);\n    const reg1 = useLE ? buf.readUInt16LE(2) : buf.readUInt16BE(2);\n\n    return [reg0, reg1];\n}\n\nif (matchingProtocol && mappingCommand && matchingProtocol.scale <= 1) {\n    if (typeof command.value === \"string\") {\n        const trimmed = command.value.trim();\n        if (trimmed !== \"\" && !isNaN(trimmed)) {\n            command.value = Number(trimmed);\n        }\n    }\n    const registerLength = global.get(\"function.typeToRegisterLength\")(matchingProtocol.type);\n    msg.protocolCommand = mappingCommand;\n\n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n\n        if (mappingCommand.fc === 6 || mappingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, mappingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: mappingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n\n        if (mappingCommand.fc === 6 || mappingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, mappingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: mappingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (typeof command.value === \"number\") {\n        // scale first (logical -> raw)\n        let scaledValue = command.value * (1 / (matchingProtocol.scale || 1));\n        let valueToSend;\n\n        if (registerLength === 2) {\n            // 32-Bit Wert in zwei Register nach Typ\n            valueToSend = encode32ToRegisters(scaledValue, matchingProtocol.type);\n        } else {\n            // 1 Register: 8-/16-Bit Typen\n            const regValue = encode16ToRegister(scaledValue, matchingProtocol.type);\n            valueToSend = regValue;\n        }\n\n        valueToSend = ensureArrayForMultipleFC(valueToSend, mappingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: mappingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    } else {\n        const valueToSend = ensureArrayForMultipleFC(command.value, mappingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: mappingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    }\n\n    return msg; \n\n} else {\n    node.warn(\"Command configuration wrong!\");\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 490,
            "y": 1700,
            "wires": [
                [
                    "042a48f39ef91edd"
                ]
            ]
        },
        {
            "id": "042a48f39ef91edd",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\nwriteMessage.registerType = msg.payload.fc;\n\nreturn writeMessage;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 670,
            "y": 1700,
            "wires": [
                [
                    "f4e57e833a237a3e"
                ]
            ]
        },
        {
            "id": "cda5230eeb5f3b22",
            "type": "inject",
            "z": "a380154af705ebd7",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "10",
            "crontab": "",
            "once": true,
            "onceDelay": "60",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1700,
            "wires": [
                [
                    "24469367de9c891d"
                ]
            ]
        },
        {
            "id": "24469367de9c891d",
            "type": "function",
            "z": "a380154af705ebd7",
            "name": "Send gateway values",
            "func": "if (flow.get(\"bridge.modbusGateway\") && flow.get(\"bridge.modbusGateway.enabled\") === true) {\n    flow.get(\"bridge.modbusGateway.registerMappings\").forEach(mappingRegister => {\n        if (flow.get(\"bridge.image.metrics\")[mappingRegister.protocolId]) {\n            const msgClone = RED.util.cloneMessage(msg)\n            msgClone.payload.command = { \"value\": flow.get(\"bridge.image.metrics\")[mappingRegister.protocolId] };\n            msgClone.payload.mappingCommand = {\n                \"protocolId\": mappingRegister.protocolId,\n                \"type\": mappingRegister.dataType,\n                \"fc\": mappingRegister.fc,\n            }\n            node.send(msgClone);\n        }\n    });\n}\n\nnode.done()",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 280,
            "y": 1700,
            "wires": [
                [
                    "12612c5125a23f7f"
                ]
            ]
        },
        {
            "id": "f4e57e833a237a3e",
            "type": "switch",
            "z": "a380154af705ebd7",
            "name": "",
            "property": "registerType",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "5",
                    "vt": "num"
                },
                {
                    "t": "eq",
                    "v": "6",
                    "vt": "num"
                },
                {
                    "t": "eq",
                    "v": "15",
                    "vt": "num"
                },
                {
                    "t": "eq",
                    "v": "16",
                    "vt": "num"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 4,
            "x": 830,
            "y": 1700,
            "wires": [
                [
                    "cf58ea09ece63fab"
                ],
                [
                    "c7c81a4d67459d9f"
                ],
                [
                    "cf58ea09ece63fab"
                ],
                [
                    "c7c81a4d67459d9f"
                ]
            ]
        },
        {
            "id": "cf58ea09ece63fab",
            "type": "mqtt out",
            "z": "a380154af705ebd7",
            "name": "coils",
            "topic": "bridge/command/modbusBridge/coils",
            "qos": "",
            "retain": "",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1030,
            "y": 1680,
            "wires": []
        },
        {
            "id": "c7c81a4d67459d9f",
            "type": "mqtt out",
            "z": "a380154af705ebd7",
            "name": "holding",
            "topic": "bridge/command/modbusBridge/holding",
            "qos": "",
            "retain": "",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1040,
            "y": 1740,
            "wires": []
        },
        {
            "id": "3b58ed1d3de6b00f",
            "type": "comment",
            "z": "a380154af705ebd7",
            "name": "---- Handle modbus bridge",
            "info": "",
            "x": 110,
            "y": 1640,
            "wires": []
        }
    ],
    "configs": [
        {
            "id": "44b98221dbd08b4c",
            "type": "modbus-client",
            "z": "a380154af705ebd7",
            "name": "Flexible Channel",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "10502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": "1",
            "commandDelay": "1",
            "clientTimeout": "1000",
            "reconnectOnTimeout": true,
            "reconnectTimeout": "2000",
            "parallelUnitIdsAllowed": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}
