nodered/generic/modbus/MUV-EDGE.json
{
    "id": "5d39457d47b567cb",
    "label": "64f6cf54ed53db08db10fcd8",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "wtg2gbsyywoajon7",
            "type": "mqtt in",
            "z": "5d39457d47b567cb",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 120,
            "y": 680,
            "wires": [
                [
                    "5em3s9fhs61yml92"
                ]
            ]
        },
        {
            "id": "2fait3vqrg0ol7vs",
            "type": "mqtt out",
            "z": "5d39457d47b567cb",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1140,
            "y": 680,
            "wires": []
        },
        {
            "id": "lh3b9nreaxo2mksk",
            "type": "inject",
            "z": "5d39457d47b567cb",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 130,
            "y": 560,
            "wires": [
                [
                    "1p33niu89kl410su"
                ]
            ]
        },
        {
            "id": "qjdh9rq3w3wbnnq5",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Set Command for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 180,
            "y": 640,
            "wires": [
                [
                    "wtg2gbsyywoajon7"
                ]
            ]
        },
        {
            "id": "9a0bk09rkrwyh2ey",
            "type": "inject",
            "z": "5d39457d47b567cb",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "a1ehlcjubf66scb3"
                ]
            ]
        },
        {
            "id": "a1ehlcjubf66scb3",
            "type": "getflows",
            "z": "5d39457d47b567cb",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "edk86d4e5pzr38zz"
                ]
            ]
        },
        {
            "id": "edk86d4e5pzr38zz",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "h0e296vt8sbstgee"
                ]
            ]
        },
        {
            "id": "1p33niu89kl410su",
            "type": "switch",
            "z": "5d39457d47b567cb",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 600,
            "wires": [
                [
                    "5h88ntaaj3zqtcvf"
                ],
                [
                    "qjdh9rq3w3wbnnq5"
                ]
            ]
        },
        {
            "id": "5h88ntaaj3zqtcvf",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 600,
            "wires": []
        },
        {
            "id": "vj57g73ezaopxppt",
            "type": "modbus-flex-sequencer",
            "z": "5d39457d47b567cb",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "b3aea7855b156b44",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 740,
            "y": 320,
            "wires": [
                [
                    "hjjkggpnlh53784l",
                    "kgyaapekwk454cf3"
                ],
                []
            ]
        },
        {
            "id": "uyfiy4t3kjv5mmu6",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(dataPoint => dataPoint.operations.includes(\"R\")).map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 370,
            "y": 320,
            "wires": [
                [
                    "vj57g73ezaopxppt"
                ]
            ]
        },
        {
            "id": "wn4wk0fijqrcojct",
            "type": "comment",
            "z": "5d39457d47b567cb",
            "name": "----- Register for commands from cloud",
            "info": "",
            "x": 150,
            "y": 500,
            "wires": []
        },
        {
            "id": "i8lhwa1uc3h3sjyt",
            "type": "comment",
            "z": "5d39457d47b567cb",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "h0e296vt8sbstgee",
            "type": "switch",
            "z": "5d39457d47b567cb",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "aeeaq5s418k78gng"
                ]
            ]
        },
        {
            "id": "eljsxydu8use3f3n",
            "type": "comment",
            "z": "5d39457d47b567cb",
            "name": "---- Data",
            "info": "",
            "x": 60,
            "y": 200,
            "wires": []
        },
        {
            "id": "hjjkggpnlh53784l",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Set number data point values",
            "func": "if (msg.dataPoint.type !== \"bool\" || (msg.dataPoint.type === \"bool\" && typeof msg.payload[0] !== \"boolean\")) {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": false,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1040,
            "y": 340,
            "wires": [
                [
                    "sw9idw9r6otmaz8d"
                ]
            ]
        },
        {
            "id": "sw9idw9r6otmaz8d",
            "type": "buffer-parser",
            "z": "5d39457d47b567cb",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1370,
            "y": 340,
            "wires": [
                [
                    "nmuwic435mxdpm5n"
                ]
            ]
        },
        {
            "id": "qkx88scfxr3066ks",
            "type": "switch",
            "z": "5d39457d47b567cb",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 160,
            "y": 320,
            "wires": [
                [
                    "uyfiy4t3kjv5mmu6"
                ]
            ]
        },
        {
            "id": "nmuwic435mxdpm5n",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1600,
            "y": 380,
            "wires": [
                [
                    "06e6h3ewhqr7qyrk",
                    "zcny2po9j8vrdl98"
                ]
            ]
        },
        {
            "id": "65zc3k7pzig4rn54",
            "type": "inject",
            "z": "5d39457d47b567cb",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "20",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 260,
            "wires": [
                [
                    "qkx88scfxr3066ks"
                ]
            ]
        },
        {
            "id": "k1ydwv0ur51fkw2v",
            "type": "modbus-flex-write",
            "z": "5d39457d47b567cb",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "b3aea7855b156b44",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 760,
            "y": 680,
            "wires": [
                [
                    "qkx88scfxr3066ks",
                    "qhffnpdqxx9udb73"
                ],
                []
            ]
        },
        {
            "id": "kgyaapekwk454cf3",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type === \"bool\" && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1050,
            "y": 380,
            "wires": [
                [
                    "nmuwic435mxdpm5n"
                ]
            ]
        },
        {
            "id": "qhffnpdqxx9udb73",
            "type": "delay",
            "z": "5d39457d47b567cb",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 960,
            "y": 680,
            "wires": [
                [
                    "2fait3vqrg0ol7vs"
                ]
            ]
        },
        {
            "id": "06e6h3ewhqr7qyrk",
            "type": "switch",
            "z": "5d39457d47b567cb",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1160,
            "y": 640,
            "wires": [
                [
                    "2fait3vqrg0ol7vs"
                ]
            ]
        },
        {
            "id": "phcqo18kmagzir3c",
            "type": "switch",
            "z": "5d39457d47b567cb",
            "name": "Channel 1",
            "property": "channel",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "1",
                    "vt": "num"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 550,
            "y": 680,
            "wires": [
                [
                    "k1ydwv0ur51fkw2v"
                ]
            ]
        },
        {
            "id": "5em3s9fhs61yml92",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "send write data",
            "func": "if (msg.payload.protocol.type === \"bool\" && typeof msg.payload.value === \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = !msg.payload.value;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 5,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else if (msg.payload.protocol.type === \"bool\" && typeof msg.payload.value !== \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = msg.payload.value * -1;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 6,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else {\n    msg.payload = {\n        \"value\": parseInt(msg.payload.value) * (1 / msg.payload.protocol.scale),\n        \"fc\": 16,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.protocol.type)\n    }\n}\n\nnode.send(msg);\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 680,
            "wires": [
                [
                    "phcqo18kmagzir3c"
                ]
            ]
        },
        {
            "id": "aeeaq5s418k78gng",
            "type": "function",
            "z": "5d39457d47b567cb",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nconst channel = global.get(\"hardware.interface.serial.channels\").find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "jv6xmip96l7vbvd0"
                ]
            ]
        },
        {
            "id": "zcny2po9j8vrdl98",
            "type": "switch",
            "z": "5d39457d47b567cb",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1160,
            "y": 560,
            "wires": [
                [
                    "6ngcd8mzzsla4b12"
                ]
            ]
        },
        {
            "id": "6ngcd8mzzsla4b12",
            "type": "mqtt out",
            "z": "5d39457d47b567cb",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1140,
            "y": 600,
            "wires": []
        },
        {
            "id": "jv6xmip96l7vbvd0",
            "type": "modbus-flex-connector",
            "z": "5d39457d47b567cb",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "b3aea7855b156b44",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        }
    ],
    "configs": [
        {
            "id": "b3aea7855b156b44",
            "type": "modbus-client",
            "z": "5d39457d47b567cb",
            "name": "Flexible Channel",
            "clienttype": "tcp",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "10502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyUSB",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "9600",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": "1",
            "commandDelay": "1",
            "clientTimeout": "1000",
            "reconnectOnTimeout": true,
            "reconnectTimeout": "2000",
            "parallelUnitIdsAllowed": true,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}