nodered/generic/modbus/MUV-EDGE-BUS-BLOCK-READ.json
{
    "id": "e0bb868bd3f1e16c",
    "label": "123123123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "l2yo1pwll04c9xi2",
            "type": "mqtt out",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 920,
            "wires": []
        },
        {
            "id": "s70y5fmk8v7nbaca",
            "type": "inject",
            "z": "e0bb868bd3f1e16c",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "d756s5wehvbr9077"
                ]
            ]
        },
        {
            "id": "d756s5wehvbr9077",
            "type": "getflows",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "48386wx0cwc2idve"
                ]
            ]
        },
        {
            "id": "48386wx0cwc2idve",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "91sqeylpzuojh45k"
                ]
            ]
        },
        {
            "id": "o3erxry938oty1hk",
            "type": "comment",
            "z": "e0bb868bd3f1e16c",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "aicdzbq7zkwm4897",
            "type": "comment",
            "z": "e0bb868bd3f1e16c",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "91sqeylpzuojh45k",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "8g3iy7vqb8avz6t1"
                ]
            ]
        },
        {
            "id": "t2r8rfsz6yfgegsy",
            "type": "comment",
            "z": "e0bb868bd3f1e16c",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "4cyp3xkrvoasf54b",
            "type": "inject",
            "z": "e0bb868bd3f1e16c",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "xbhtzpq49tgpuyf4"
                ]
            ]
        },
        {
            "id": "4qn5tu03958nexkr",
            "type": "modbus-flex-write",
            "z": "e0bb868bd3f1e16c",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "wv9xs2z7l1g0tzgg",
                    "k0kyhr8f6asygh5t",
                    "aiwleell5lew1a8q"
                ],
                []
            ]
        },
        {
            "id": "jgfxtp1hq3bxd1c8",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1050,
            "y": 520,
            "wires": [
                [
                    "7sveulg0k19w9vmx"
                ]
            ]
        },
        {
            "id": "wv9xs2z7l1g0tzgg",
            "type": "delay",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1180,
            "wires": [
                [
                    "l2yo1pwll04c9xi2"
                ]
            ]
        },
        {
            "id": "da4ltgive08ijuxq",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 920,
            "wires": [
                [
                    "l2yo1pwll04c9xi2"
                ]
            ]
        },
        {
            "id": "8g3iy7vqb8avz6t1",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "xxi5bckhskm2fuw7"
                ]
            ]
        },
        {
            "id": "yl19fh5xktclfndg",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "78bsx6eqtafy64v9"
                ]
            ]
        },
        {
            "id": "78bsx6eqtafy64v9",
            "type": "mqtt out",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 860,
            "wires": []
        },
        {
            "id": "xxi5bckhskm2fuw7",
            "type": "modbus-flex-connector",
            "z": "e0bb868bd3f1e16c",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "configMsgOnChange": false,
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "ge600mxrp5nu7vkg",
            "type": "comment",
            "z": "e0bb868bd3f1e16c",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "xbhtzpq49tgpuyf4",
            "type": "link out",
            "z": "e0bb868bd3f1e16c",
            "name": "link out 14",
            "mode": "link",
            "links": [
                "a82lfajpw53t42e1",
                "6qiuxlqxe3g52ebt"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "a82lfajpw53t42e1",
            "type": "link in",
            "z": "e0bb868bd3f1e16c",
            "name": "Protocol Read",
            "links": [
                "xbhtzpq49tgpuyf4",
                "k0kyhr8f6asygh5t"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "go6ri77mnr7mwjog"
                ]
            ]
        },
        {
            "id": "go6ri77mnr7mwjog",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "8edu7gxxlywklilx"
                ]
            ]
        },
        {
            "id": "k0kyhr8f6asygh5t",
            "type": "link out",
            "z": "e0bb868bd3f1e16c",
            "name": "link out 15",
            "mode": "link",
            "links": [
                "a82lfajpw53t42e1"
            ],
            "x": 1275,
            "y": 1140
        },
        {
            "id": "6qiuxlqxe3g52ebt",
            "type": "link in",
            "z": "e0bb868bd3f1e16c",
            "name": "Virtual Read",
            "links": [
                "xbhtzpq49tgpuyf4"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "bdytxlhxwi90ucyh"
                ]
            ]
        },
        {
            "id": "bdytxlhxwi90ucyh",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "y18a97u1usavooto"
                ]
            ]
        },
        {
            "id": "ljuv16ox6b1ab2uj",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "cnqkuzx481cx7fhq"
                ]
            ]
        },
        {
            "id": "a9luo47ty6mxhzyp",
            "type": "comment",
            "z": "e0bb868bd3f1e16c",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 800,
            "wires": []
        },
        {
            "id": "n4v5ojt27l8jahbu",
            "type": "link in",
            "z": "e0bb868bd3f1e16c",
            "name": "Update Metrics",
            "links": [
                "cnqkuzx481cx7fhq",
                "7sveulg0k19w9vmx"
            ],
            "x": 75,
            "y": 880,
            "wires": [
                [
                    "ts2wmrx6cvswhpjp"
                ]
            ]
        },
        {
            "id": "ts2wmrx6cvswhpjp",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 880,
            "wires": [
                [
                    "da4ltgive08ijuxq",
                    "yl19fh5xktclfndg"
                ]
            ]
        },
        {
            "id": "7sveulg0k19w9vmx",
            "type": "link out",
            "z": "e0bb868bd3f1e16c",
            "name": "link out 17",
            "mode": "link",
            "links": [
                "n4v5ojt27l8jahbu"
            ],
            "x": 1275,
            "y": 480
        },
        {
            "id": "emo3oaj52aknva3s",
            "type": "flogger",
            "z": "e0bb868bd3f1e16c",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "jv56eh99agpbk8lz",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "7329n2nye1db8e3k"
                ]
            ]
        },
        {
            "id": "a4oojuns0m55jtdi",
            "type": "catch",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "jv56eh99agpbk8lz"
                ]
            ]
        },
        {
            "id": "7329n2nye1db8e3k",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "emo3oaj52aknva3s"
                ]
            ]
        },
        {
            "id": "cnqkuzx481cx7fhq",
            "type": "link out",
            "z": "e0bb868bd3f1e16c",
            "name": "link out 16",
            "mode": "link",
            "links": [
                "n4v5ojt27l8jahbu"
            ],
            "x": 1275,
            "y": 260
        },
        {
            "id": "azmj90szi8yb4j6k",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "ljuv16ox6b1ab2uj"
                ]
            ]
        },
        {
            "id": "y18a97u1usavooto",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "azmj90szi8yb4j6k"
                ]
            ]
        },
        {
            "id": "8edu7gxxlywklilx",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "y3f2uol6w9vgj05k",
                    "olozwic4qikl1cfs"
                ]
            ]
        },
        {
            "id": "9y5kbob3serx8o79",
            "type": "mqtt in",
            "z": "e0bb868bd3f1e16c",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "ngjbkyblo0uvt49n"
                ]
            ]
        },
        {
            "id": "7dfchqhl730d5fvc",
            "type": "inject",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "ynqwchyqnbfeyv36"
                ]
            ]
        },
        {
            "id": "omzdj3iyk649ad44",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "9y5kbob3serx8o79"
                ]
            ]
        },
        {
            "id": "ynqwchyqnbfeyv36",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "sr567j1ewskrlzxm"
                ],
                [
                    "omzdj3iyk649ad44"
                ]
            ]
        },
        {
            "id": "sr567j1ewskrlzxm",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "ngjbkyblo0uvt49n",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "3kssdcgt6c6e3dah"
                ],
                [
                    "4ja44lbcamkj08re"
                ]
            ]
        },
        {
            "id": "kowd8o3rfgwi0cba",
            "type": "mqtt out",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "3kssdcgt6c6e3dah",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "mi1blmne8bogkskd"
                ],
                [
                    "mucq03r7nzst2g0x"
                ]
            ]
        },
        {
            "id": "4vlkw96lyje6ipop",
            "type": "debug",
            "z": "e0bb868bd3f1e16c",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "mi1blmne8bogkskd",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "jl4szn2y1id2lkfi"
                ],
                [
                    "4qn5tu03958nexkr",
                    "4vlkw96lyje6ipop"
                ]
            ]
        },
        {
            "id": "jl4szn2y1id2lkfi",
            "type": "debug",
            "z": "e0bb868bd3f1e16c",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "l4r2ke30q2ab0241",
            "type": "comment",
            "z": "e0bb868bd3f1e16c",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "l397zuxo6gw535jk",
            "type": "catch",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "scope": [
                "4qn5tu03958nexkr"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "eq63dj4txm6f5ykr"
                ]
            ]
        },
        {
            "id": "4ja44lbcamkj08re",
            "type": "delay",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "kowd8o3rfgwi0cba"
                ]
            ]
        },
        {
            "id": "aiwleell5lew1a8q",
            "type": "change",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "4ja44lbcamkj08re"
                ]
            ]
        },
        {
            "id": "mucq03r7nzst2g0x",
            "type": "delay",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "kowd8o3rfgwi0cba"
                ]
            ]
        },
        {
            "id": "eq63dj4txm6f5ykr",
            "type": "change",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "mucq03r7nzst2g0x"
                ]
            ]
        },
        {
            "id": "jz5g82swp35au5pe",
            "type": "delay",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 850,
            "y": 700,
            "wires": [
                [
                    "sry26djtqevxhg5p"
                ]
            ]
        },
        {
            "id": "y3f2uol6w9vgj05k",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "send virtual data",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 560,
            "wires": [
                [
                    "7uvo8x8ary7r74u2"
                ]
            ]
        },
        {
            "id": "fuzwwzbmbttine5d",
            "type": "change",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 440,
            "y": 700,
            "wires": [
                [
                    "jz5g82swp35au5pe"
                ]
            ]
        },
        {
            "id": "sry26djtqevxhg5p",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 660,
            "wires": [
                [
                    "uaubpg888w7zwqtx"
                ]
            ]
        },
        {
            "id": "ahzd1pq8dq5s9t3f",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 620,
            "wires": [
                [
                    "uaubpg888w7zwqtx"
                ]
            ]
        },
        {
            "id": "uaubpg888w7zwqtx",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1180,
            "y": 620,
            "wires": [
                [
                    "7sveulg0k19w9vmx"
                ]
            ]
        },
        {
            "id": "7uvo8x8ary7r74u2",
            "type": "switch",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "property": "bridge.image.metrics.COMMUNICATION_ERRORS",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 610,
            "y": 680,
            "wires": [
                [
                    "jz5g82swp35au5pe"
                ],
                [
                    "jz5g82swp35au5pe"
                ]
            ]
        },
        {
            "id": "oo4q0wowjzmd91ju",
            "type": "delay",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 860,
            "y": 580,
            "wires": [
                [
                    "ahzd1pq8dq5s9t3f",
                    "fuzwwzbmbttine5d"
                ]
            ]
        },
        {
            "id": "olozwic4qikl1cfs",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "send bridge data",
            "func": "let datapoints = flow.get(\"bridge.image.protocols\").filter(p => p.type !== \"virtual\");\n\nlet unitId = flow.get(\"bridge.image.controller.unitId\");\nlet typeToRegisterLength = global.get(\"function.typeToRegisterLength\");\n\nlet sorted = [...datapoints].sort((a, b) => a.address - b.address);\n\nlet sequences = [];\nlet currentBlock = null;\n\nfor (let dp of sorted) {\n    let length = typeToRegisterLength(dp.type);\n    let dpStart = dp.address;\n    let dpEnd = dpStart + length;\n\n    if (!currentBlock) {\n        currentBlock = {\n            startAddress: dpStart,\n            endAddress: dpEnd,\n            fc: dp.fc,\n            unitid: unitId,\n            dataPoints: [dp]\n        };\n    } else {\n        let newEnd = Math.max(currentBlock.endAddress, dpEnd);\n        let totalLength = newEnd - currentBlock.startAddress;\n\n        if (\n            dp.fc === currentBlock.fc &&\n            dpStart < currentBlock.endAddress + 1 &&\n            totalLength <= 10\n        ) {\n            currentBlock.dataPoints.push(dp);\n            currentBlock.endAddress = newEnd;\n        } else {\n            // Push the current block and start a new one\n            sequences.push({\n                fc: currentBlock.fc,\n                name: currentBlock.id,\n                unitid: currentBlock.unitid,\n                address: currentBlock.startAddress,\n                quantity: currentBlock.endAddress - currentBlock.startAddress,\n                dataPoints: currentBlock.dataPoints\n            });\n\n            currentBlock = {\n                startAddress: dpStart,\n                endAddress: dpEnd,\n                fc: dp.fc,\n                unitid: unitId,\n                dataPoints: [dp]\n            };\n        }\n    }\n}\n\n// Push the last block\nif (currentBlock) {\n    sequences.push({\n        fc: currentBlock.fc,\n        name: currentBlock.id,\n        unitid: currentBlock.unitid,\n        address: currentBlock.startAddress,\n        quantity: currentBlock.endAddress - currentBlock.startAddress,\n        dataPoints: currentBlock.dataPoints\n    });\n}\n\nmsg.payload = \"\";\nmsg.sequences = sequences;\n\nmsg.sequences.forEach(sequence => {\n    msg.payload = { value: msg.payload, 'fc': sequence.fc, 'unitid': sequence.unitid, 'address': sequence.address , 'quantity': sequence.quantity }\n    msg.sequence = sequence;\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "djbzd0fq6quv7lp2"
                ]
            ]
        },
        {
            "id": "10hv7rw20ox8hepe",
            "type": "modbus-flex-getter",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "server": "ay0nsn138kfojd5u",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 650,
            "y": 520,
            "wires": [
                [
                    "a3cjeyrbczu8w5a4",
                    "oo4q0wowjzmd91ju"
                ],
                []
            ]
        },
        {
            "id": "djbzd0fq6quv7lp2",
            "type": "delay",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "pauseType": "rate",
            "timeout": "2.5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "0.1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 450,
            "y": 520,
            "wires": [
                [
                    "10hv7rw20ox8hepe"
                ]
            ]
        },
        {
            "id": "a3cjeyrbczu8w5a4",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "decode",
            "func": "const values = msg.payload; // raw result array\nconst dataPoints = msg.sequence.dataPoints;\nconst baseAddress = msg.sequence.address;\nconst getLength = global.get(\"function.typeToRegisterLength\");\n\nfor (let dp of dataPoints) {\n    const startIndex = dp.address - baseAddress;\n    const length = getLength(dp.type); // usually 1 or 2\n    const payloadSlice = values.slice(startIndex, startIndex + length);\n\n    node.send({\n        payload: payloadSlice,\n        dataPoint: dp\n    });\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 840,
            "y": 440,
            "wires": [
                [
                    "sl0j6yyw4qn1uoo4",
                    "jgfxtp1hq3bxd1c8"
                ]
            ]
        },
        {
            "id": "x7zipnsirieh9z3l",
            "type": "buffer-parser",
            "z": "e0bb868bd3f1e16c",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1090,
            "y": 480,
            "wires": [
                [
                    "7sveulg0k19w9vmx"
                ]
            ]
        },
        {
            "id": "sl0j6yyw4qn1uoo4",
            "type": "function",
            "z": "e0bb868bd3f1e16c",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    let byteSwap = false;\n    if (msg.dataPoint.byteswap !== undefined && msg.dataPoint.byteswap !== null){\n        byteSwap = msg.dataPoint.byteswap;\n    } else if (msg.dataPoint.type.includes(\"bool\")){\n        byteSwap = true;\n    }\n    \n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": byteSwap,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.dataPoint.id,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1040,
            "y": 440,
            "wires": [
                [
                    "x7zipnsirieh9z3l"
                ]
            ]
        }
    ]
}