nodered/generic/modbus/MUV-EDGE-BUS-30-CHANNEL-2.json
{
    "id": "85085be1f6a09cc2",
    "label": "6a27dab134aa19305658acb3",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "4oxemnpf5rlb3wiz",
            "type": "mqtt out",
            "z": "85085be1f6a09cc2",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "cjxjqip0ut5ghmdp",
            "type": "inject",
            "z": "85085be1f6a09cc2",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "ps597e6623k16yhq"
                ]
            ]
        },
        {
            "id": "ps597e6623k16yhq",
            "type": "getflows",
            "z": "85085be1f6a09cc2",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "2iypuz0j3wgsehsa"
                ]
            ]
        },
        {
            "id": "2iypuz0j3wgsehsa",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\nglobal.set(\"scheduler.channel.\" + bridge.image.controller.channel, 0);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "1gvivplui1aox43g"
                ]
            ]
        },
        {
            "id": "a8fwhoggp5l9xyt3",
            "type": "modbus-flex-sequencer",
            "z": "85085be1f6a09cc2",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "645f9d0037486156",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "1b485om4sgox2nyf",
                    "u3s6pryqjiedtx26",
                    "fdnz1v4mdgn0q18e"
                ],
                []
            ]
        },
        {
            "id": "gsb1rr7ct66ixtc2",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "8vcaivuxcl7dcdfo"
                ]
            ]
        },
        {
            "id": "81s6viodrq2efo9j",
            "type": "comment",
            "z": "85085be1f6a09cc2",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "20kfk3r6omi29wl0",
            "type": "comment",
            "z": "85085be1f6a09cc2",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "1gvivplui1aox43g",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "ef1980xa8idvfamn"
                ]
            ]
        },
        {
            "id": "tf773os0wgxaaarl",
            "type": "comment",
            "z": "85085be1f6a09cc2",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "1b485om4sgox2nyf",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    let byteSwap = false;\n    if (msg.dataPoint.byteswap !== undefined && msg.dataPoint.byteswap !== null){\n        byteSwap = msg.dataPoint.byteswap;\n    } else if (msg.dataPoint.type.includes(\"bool\")){\n        byteSwap = true;\n    }\n    \n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": byteSwap,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 480,
            "wires": [
                [
                    "dwdmw8etuf5caen5"
                ]
            ]
        },
        {
            "id": "dwdmw8etuf5caen5",
            "type": "buffer-parser",
            "z": "85085be1f6a09cc2",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1130,
            "y": 480,
            "wires": [
                [
                    "yg57qs7lco3krgwi"
                ]
            ]
        },
        {
            "id": "uydoqvhp2ep015g7",
            "type": "inject",
            "z": "85085be1f6a09cc2",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "cab6fda55b621978"
                ]
            ]
        },
        {
            "id": "u9dujae115quffd8",
            "type": "modbus-flex-write",
            "z": "85085be1f6a09cc2",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "645f9d0037486156",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "5k0zy5esr0x7urag",
                    "hcuai4nqjyi9j0mz",
                    "0bpcdln2uarkfnnc"
                ],
                []
            ]
        },
        {
            "id": "u3s6pryqjiedtx26",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 520,
            "wires": [
                [
                    "yg57qs7lco3krgwi"
                ]
            ]
        },
        {
            "id": "5k0zy5esr0x7urag",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1140,
            "wires": [
                [
                    "4oxemnpf5rlb3wiz"
                ]
            ]
        },
        {
            "id": "qi4j9dgaku1z4ei1",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "4oxemnpf5rlb3wiz"
                ]
            ]
        },
        {
            "id": "ef1980xa8idvfamn",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? 15 : 15,\n            \"clientTimeout\": controllerParameter.clientTimeout ? 2000 : 2000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "wmywwo6kzlwogfba"
                ]
            ]
        },
        {
            "id": "uzv5xdte8ke2afdi",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "p4hq5r1dj54gp3sq"
                ]
            ]
        },
        {
            "id": "p4hq5r1dj54gp3sq",
            "type": "mqtt out",
            "z": "85085be1f6a09cc2",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "wmywwo6kzlwogfba",
            "type": "modbus-flex-connector",
            "z": "85085be1f6a09cc2",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "645f9d0037486156",
            "emptyMsgOnFail": false,
            "configMsgOnChange": false,
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "2uobiek3ucl069o7",
            "type": "comment",
            "z": "85085be1f6a09cc2",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "uf7tagwajp99xaw7",
            "type": "link out",
            "z": "85085be1f6a09cc2",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "kjdtgmalgtp6f034",
                "i48ibujgpk89qka5"
            ],
            "x": 1055,
            "y": 120
        },
        {
            "id": "kjdtgmalgtp6f034",
            "type": "link in",
            "z": "85085be1f6a09cc2",
            "name": "Protocol Read",
            "links": [
                "uf7tagwajp99xaw7",
                "hbayijho1bg0w9mt"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "rmrxtc3jz5xx8bdt"
                ]
            ]
        },
        {
            "id": "rmrxtc3jz5xx8bdt",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "m9hko6dmjjh5qy3z"
                ]
            ]
        },
        {
            "id": "hbayijho1bg0w9mt",
            "type": "link out",
            "z": "85085be1f6a09cc2",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "kjdtgmalgtp6f034"
            ],
            "x": 1465,
            "y": 1180
        },
        {
            "id": "i48ibujgpk89qka5",
            "type": "link in",
            "z": "85085be1f6a09cc2",
            "name": "Virtual Read",
            "links": [
                "uf7tagwajp99xaw7"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "q7324q8ov6t92ftz"
                ]
            ]
        },
        {
            "id": "q7324q8ov6t92ftz",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "c266bl4j479qubne"
                ]
            ]
        },
        {
            "id": "vqd6ohusnn2p68sl",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "avyos7znn5ajem88"
                ]
            ]
        },
        {
            "id": "jgtc5exfx0d9c2k8",
            "type": "comment",
            "z": "85085be1f6a09cc2",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "wtgcys5cvo4if4h3",
            "type": "link in",
            "z": "85085be1f6a09cc2",
            "name": "Update Metrics",
            "links": [
                "avyos7znn5ajem88",
                "yg57qs7lco3krgwi"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "h4598474s2kuf6su"
                ]
            ]
        },
        {
            "id": "h4598474s2kuf6su",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n            msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "qi4j9dgaku1z4ei1",
                    "uzv5xdte8ke2afdi"
                ]
            ]
        },
        {
            "id": "yg57qs7lco3krgwi",
            "type": "link out",
            "z": "85085be1f6a09cc2",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "wtgcys5cvo4if4h3"
            ],
            "x": 1435,
            "y": 480
        },
        {
            "id": "duskg4bqfkft3cs8",
            "type": "flogger",
            "z": "85085be1f6a09cc2",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "awzg57q27gfxyigs",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "prwhx7onkikwq0rr"
                ]
            ]
        },
        {
            "id": "e90w2cg8w8d67u5s",
            "type": "catch",
            "z": "85085be1f6a09cc2",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "awzg57q27gfxyigs"
                ]
            ]
        },
        {
            "id": "prwhx7onkikwq0rr",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "duskg4bqfkft3cs8"
                ]
            ]
        },
        {
            "id": "avyos7znn5ajem88",
            "type": "link out",
            "z": "85085be1f6a09cc2",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "wtgcys5cvo4if4h3"
            ],
            "x": 1435,
            "y": 260
        },
        {
            "id": "mafjpkuntvxva0ut",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "vqd6ohusnn2p68sl"
                ]
            ]
        },
        {
            "id": "c266bl4j479qubne",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "mafjpkuntvxva0ut"
                ]
            ]
        },
        {
            "id": "m9hko6dmjjh5qy3z",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "gsb1rr7ct66ixtc2"
                ]
            ]
        },
        {
            "id": "tr4qoepxlavgfusk",
            "type": "mqtt in",
            "z": "85085be1f6a09cc2",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "n9x9ph3hcpjdfjvu"
                ]
            ]
        },
        {
            "id": "o5aocfpuo05p3mmq",
            "type": "inject",
            "z": "85085be1f6a09cc2",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "4pa9dk8r7foiixf7"
                ]
            ]
        },
        {
            "id": "ewuvkwn3ruzikvog",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "tr4qoepxlavgfusk"
                ]
            ]
        },
        {
            "id": "4pa9dk8r7foiixf7",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "qguloxhggxoxknkh"
                ],
                [
                    "ewuvkwn3ruzikvog"
                ]
            ]
        },
        {
            "id": "qguloxhggxoxknkh",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "n9x9ph3hcpjdfjvu",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id);\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\n// FC 15/16 => value muss Array sein\nfunction ensureArrayForMultipleFC(value, fc) {\n    if (fc === 15 || fc === 16) {\n        return Array.isArray(value) ? value : [value];\n    }\n    return value;\n}\n\n// 16-bit types -> single Modbus register (number 0..65535)\nfunction encode16ToRegister(value, type) {\n    const buf = Buffer.alloc(2);\n\n    switch (type) {\n        case 'int':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16be':\n            buf.writeInt16BE(value);\n            break;\n        case 'int16le':\n            buf.writeInt16LE(value);\n            break;\n        case 'uint':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16be':\n            buf.writeUInt16BE(value);\n            break;\n        case 'uint16le':\n            buf.writeUInt16LE(value);\n            break;\n        case 'int8':\n            // store in low byte of the register\n            buf.writeInt8(value, 1);\n            break;\n        case 'uint8':\n        case 'byte':\n            buf.writeUInt8(value, 1);\n            break;\n        default:\n            throw new Error(\"Unsupported 16-bit type: \" + type);\n    }\n\n    // we send Modbus register as an unsigned 16-bit word 0..65535\n    return buf.readUInt16BE(0);\n}\n\n// 32-Bit Wert in zwei 16-Bit Register umwandeln\nfunction encode32ToRegisters(value, type) {\n    const buf = Buffer.alloc(4);\n\n    switch (type) {\n        case \"int32le\":\n            buf.writeInt32LE(value);\n            break;\n        case \"int32be\":\n            buf.writeInt32BE(value);\n            break;\n        case \"uint32le\":\n            buf.writeUInt32LE(value);\n            break;\n        case \"uint32be\":\n            buf.writeUInt32BE(value);\n            break;\n        case \"floatle\":\n            buf.writeFloatLE(value);\n            break;\n        case \"floatbe\":\n            buf.writeFloatBE(value);\n            break;\n        case \"bool32\":\n            buf.writeUInt32BE(value);\n            break;\n        default:\n            throw new Error(\"Unsupported 32-bit type: \" + type);\n    }\n\n    const useLE = type.endsWith(\"le\");\n    const reg0 = useLE ? buf.readUInt16LE(0) : buf.readUInt16BE(0);\n    const reg1 = useLE ? buf.readUInt16LE(2) : buf.readUInt16BE(2);\n\n    return [reg0, reg1];\n}\n\nif (matchingProtocol && matchingCommand && matchingProtocol.scale <= 1) {\n    if (typeof command.value === \"string\") {\n        const trimmed = command.value.trim();\n        if (trimmed !== \"\" && !isNaN(trimmed)) {\n            command.value = Number(trimmed);\n        }\n    }\n    const registerLength = global.get(\"function.typeToRegisterLength\")(matchingProtocol.type);\n    response.value = {\n        actual: flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        target: command.value\n    };\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n\n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n\n        if (matchingCommand.fc === 6 || matchingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n\n        if (matchingCommand.fc === 6 || matchingCommand.fc === 16) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            let registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit);\n            }\n            command.value = registerValue;\n        }\n\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n\n    } else if (typeof command.value === \"number\") {\n        // scale first (logical -> raw)\n        let scaledValue = command.value * (1 / (matchingProtocol.scale || 1));\n        let valueToSend;\n\n        if (registerLength === 2) {\n            // 32-Bit Wert in zwei Register nach Typ\n            valueToSend = encode32ToRegisters(scaledValue, matchingProtocol.type);\n        } else {\n            // 1 Register: 8-/16-Bit Typen\n            const regValue = encode16ToRegister(scaledValue, matchingProtocol.type);\n            valueToSend = regValue;\n        }\n\n        valueToSend = ensureArrayForMultipleFC(valueToSend, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    } else {\n        const valueToSend = ensureArrayForMultipleFC(command.value, matchingCommand.fc);\n\n        msg.payload = {\n            value: valueToSend,\n            fc: matchingCommand.fc,\n            unitid: flow.get(\"bridge.image.controller.unitId\"),\n            address: matchingProtocol.address,\n            quantity: registerLength\n        };\n    }\n\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage];\n\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n\n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "gil7nt2f7vq9qswd"
                ],
                [
                    "2mg4w1kq8c48sowd"
                ]
            ]
        },
        {
            "id": "ks5makl9i3eiqj80",
            "type": "mqtt out",
            "z": "85085be1f6a09cc2",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "gil7nt2f7vq9qswd",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "0kjsyokrml7ko4jh"
                ],
                [
                    "yngdyvg9x2uwz73c"
                ]
            ]
        },
        {
            "id": "bh1aeb40a92hgen0",
            "type": "debug",
            "z": "85085be1f6a09cc2",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "0kjsyokrml7ko4jh",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "3v3uj3yiyfcvux93"
                ],
                [
                    "u9dujae115quffd8",
                    "bh1aeb40a92hgen0"
                ]
            ]
        },
        {
            "id": "3v3uj3yiyfcvux93",
            "type": "debug",
            "z": "85085be1f6a09cc2",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "2pltntxymgsmsuxd",
            "type": "comment",
            "z": "85085be1f6a09cc2",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "t07hcnl42byz2k1e",
            "type": "catch",
            "z": "85085be1f6a09cc2",
            "name": "",
            "scope": [
                "u9dujae115quffd8"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "xrn4hcsw7xk3whqn"
                ]
            ]
        },
        {
            "id": "2mg4w1kq8c48sowd",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "ks5makl9i3eiqj80"
                ]
            ]
        },
        {
            "id": "hcuai4nqjyi9j0mz",
            "type": "change",
            "z": "85085be1f6a09cc2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "2mg4w1kq8c48sowd"
                ]
            ]
        },
        {
            "id": "yngdyvg9x2uwz73c",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "ks5makl9i3eiqj80"
                ]
            ]
        },
        {
            "id": "xrn4hcsw7xk3whqn",
            "type": "change",
            "z": "85085be1f6a09cc2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "yngdyvg9x2uwz73c"
                ]
            ]
        },
        {
            "id": "8h2ucp262rltibd0",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 680,
            "wires": [
                [
                    "ksote95zxbjl49b2"
                ]
            ]
        },
        {
            "id": "tcdut4s80o0n8lbd",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 600,
            "wires": [
                [
                    "pd4km0qr6cin16eg"
                ]
            ]
        },
        {
            "id": "pd4km0qr6cin16eg",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 600,
            "wires": [
                [
                    "yg57qs7lco3krgwi"
                ]
            ]
        },
        {
            "id": "60ydf73j0328oee3",
            "type": "change",
            "z": "85085be1f6a09cc2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 640,
            "wires": [
                [
                    "8h2ucp262rltibd0"
                ]
            ]
        },
        {
            "id": "ksote95zxbjl49b2",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 950,
            "y": 720,
            "wires": [
                [
                    "pd4km0qr6cin16eg"
                ]
            ]
        },
        {
            "id": "jvluwszor5tygh3l",
            "type": "catch",
            "z": "85085be1f6a09cc2",
            "name": "",
            "scope": [
                "a8fwhoggp5l9xyt3"
            ],
            "uncaught": false,
            "x": 690,
            "y": 680,
            "wires": [
                [
                    "h86dlp0o8ineaurq",
                    "rgt53l16cb9jqoyc"
                ]
            ]
        },
        {
            "id": "h86dlp0o8ineaurq",
            "type": "change",
            "z": "85085be1f6a09cc2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 680,
            "wires": [
                [
                    "8h2ucp262rltibd0"
                ]
            ]
        },
        {
            "id": "rgt53l16cb9jqoyc",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 760,
            "wires": [
                [
                    "tvv1bt9f7pjhe0bh"
                ]
            ]
        },
        {
            "id": "tvv1bt9f7pjhe0bh",
            "type": "change",
            "z": "85085be1f6a09cc2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 760,
            "wires": [
                []
            ]
        },
        {
            "id": "fdnz1v4mdgn0q18e",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 880,
            "y": 560,
            "wires": [
                [
                    "tcdut4s80o0n8lbd",
                    "60ydf73j0328oee3"
                ]
            ]
        },
        {
            "id": "8vcaivuxcl7dcdfo",
            "type": "switch",
            "z": "85085be1f6a09cc2",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "a8fwhoggp5l9xyt3"
                ],
                [
                    "a8fwhoggp5l9xyt3"
                ]
            ]
        },
        {
            "id": "0bpcdln2uarkfnnc",
            "type": "change",
            "z": "85085be1f6a09cc2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1290,
            "y": 1180,
            "wires": [
                [
                    "hbayijho1bg0w9mt"
                ]
            ]
        },
        {
            "id": "73db8db832959dd1",
            "type": "delay",
            "z": "85085be1f6a09cc2",
            "name": "",
            "pauseType": "delay",
            "timeout": "20",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 560,
            "y": 180,
            "wires": [
                [
                    "56e02c1d65447b31"
                ]
            ]
        },
        {
            "id": "cab6fda55b621978",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "check scheduler",
            "func": "const bridge = flow.get(\"bridge\");\nconst channelBridges = global.get(\"cloud.bridges\").filter(global => global.image.controller.channel === bridge.image.controller.channel);\nconst bridgeIndex = channelBridges.findIndex(channelBridge => channelBridge.id === bridge.id);\n\nif (bridgeIndex === global.get(\"scheduler.channel.\" + bridge.image.controller.channel)) {\n    msg.payload = { \"channel\": bridge.image.controller.channel };\n    msg.payload.next = (bridgeIndex + 1) % channelBridges.length\n    return msg;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 400,
            "y": 120,
            "wires": [
                [
                    "73db8db832959dd1",
                    "uf7tagwajp99xaw7"
                ]
            ]
        },
        {
            "id": "56e02c1d65447b31",
            "type": "function",
            "z": "85085be1f6a09cc2",
            "name": "set next bridge index",
            "func": "global.set(\"scheduler.channel.\" + msg.payload.channel, msg.payload.next)\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 740,
            "y": 180,
            "wires": [
                []
            ]
        }
    ]
}