nodered/generic/modbus/SENECA-Z-8I-V.json
{
    "id": "4afdea7267ebe825",
    "label": "123123123123",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "uvv81h4pf5gqnp9h",
            "type": "mqtt out",
            "z": "4afdea7267ebe825",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 880,
            "wires": []
        },
        {
            "id": "zr1ted9ilulrxk1m",
            "type": "inject",
            "z": "4afdea7267ebe825",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "c9u0nogmg2obcufc"
                ]
            ]
        },
        {
            "id": "c9u0nogmg2obcufc",
            "type": "getflows",
            "z": "4afdea7267ebe825",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "twln5xy38i0gr137"
                ]
            ]
        },
        {
            "id": "twln5xy38i0gr137",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\nbridge.error = false;\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "fwdf70uu5gvx26sn"
                ]
            ]
        },
        {
            "id": "n1u9wv74t7uxxmml",
            "type": "modbus-flex-sequencer",
            "z": "4afdea7267ebe825",
            "name": "Channel Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "ay0nsn138kfojd5u",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 660,
            "y": 480,
            "wires": [
                [
                    "2kk5ybdcl97sizdy",
                    "kx4emmb8w4rrpqld",
                    "yz1v4ays6o20dhad"
                ],
                []
            ]
        },
        {
            "id": "589ctm0mmq5qaxi3",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "send bridge data",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type !== \"virtual\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint,\n        name: dataPoint.id,\n        fc: dataPoint.fc,\n        address: dataPoint.address,\n        unitid: flow.get(\"bridge.image.controller.unitId\"),\n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.type)\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 480,
            "wires": [
                [
                    "whsrre7aj34sovtq"
                ]
            ]
        },
        {
            "id": "2e8kn88ff7r671dk",
            "type": "comment",
            "z": "4afdea7267ebe825",
            "name": "----- Execute Commands",
            "info": "",
            "x": 110,
            "y": 1020,
            "wires": []
        },
        {
            "id": "3pf5ao0j6esx23pe",
            "type": "comment",
            "z": "4afdea7267ebe825",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "fwdf70uu5gvx26sn",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "4eo3bleyi2mx8xmm"
                ]
            ]
        },
        {
            "id": "x7nonp8gtxw5d9to",
            "type": "comment",
            "z": "4afdea7267ebe825",
            "name": "---- Protocol Read",
            "info": "",
            "x": 90,
            "y": 360,
            "wires": []
        },
        {
            "id": "2kk5ybdcl97sizdy",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Set number data point values",
            "func": "if (!msg.dataPoint.type.includes(\"bool\") || (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\")) {\n    let byteSwap = false;\n    if (msg.dataPoint.byteswap !== undefined && msg.dataPoint.byteswap !== null){\n        byteSwap = msg.dataPoint.byteswap;\n    } else if (msg.dataPoint.type.includes(\"bool\")){\n        byteSwap = true;\n    }\n    \n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": byteSwap,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.type.includes(\"bool\") ? \"bool\" : msg.dataPoint.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.offsetbit,\n            \"scale\": msg.dataPoint.scale.toString(),\n            \"mask\": msg.dataPoint.mask\n        }\n    ];\n\n    if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] !== \"boolean\" && msg.dataPoint.invert) {\n        msg.payload[0] = Math.abs(msg.payload[0] - 1)\n    }\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 920,
            "y": 480,
            "wires": [
                [
                    "jimellei30dpvug0"
                ]
            ]
        },
        {
            "id": "jimellei30dpvug0",
            "type": "buffer-parser",
            "z": "4afdea7267ebe825",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1130,
            "y": 480,
            "wires": [
                [
                    "aerso5ubu99w9gmh"
                ]
            ]
        },
        {
            "id": "qtovpfpb2ifz2gx5",
            "type": "inject",
            "z": "4afdea7267ebe825",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "30",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 120,
            "wires": [
                [
                    "stv9hd6r3ne06mog"
                ]
            ]
        },
        {
            "id": "6k6itrs2ilbd0kwv",
            "type": "modbus-flex-write",
            "z": "4afdea7267ebe825",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 1000,
            "y": 1160,
            "wires": [
                [
                    "wpfugvpphl92c95h",
                    "ln4lii1nfgf7r4wc",
                    "cnlteqtfrdpd7fkr"
                ],
                []
            ]
        },
        {
            "id": "kx4emmb8w4rrpqld",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Set boolean data point values",
            "func": "if (msg.dataPoint.type.includes(\"bool\") && typeof msg.payload[0] === \"boolean\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.offsetbit];\n\n    if (msg.dataPoint.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 520,
            "wires": [
                [
                    "aerso5ubu99w9gmh"
                ]
            ]
        },
        {
            "id": "wpfugvpphl92c95h",
            "type": "delay",
            "z": "4afdea7267ebe825",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1320,
            "y": 1140,
            "wires": [
                [
                    "uvv81h4pf5gqnp9h"
                ]
            ]
        },
        {
            "id": "2q2yqszdgvzvl3vo",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "State Upstream Required?",
            "property": "stateUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 880,
            "wires": [
                [
                    "uvv81h4pf5gqnp9h"
                ]
            ]
        },
        {
            "id": "4eo3bleyi2mx8xmm",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "8csxu5k80v6tevpc"
                ]
            ]
        },
        {
            "id": "42x93ece215y9hic",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Error Upstream Required?",
            "property": "errorUpstreamRequired",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 680,
            "y": 840,
            "wires": [
                [
                    "fwjj4kvh6nht4g5c"
                ]
            ]
        },
        {
            "id": "fwjj4kvh6nht4g5c",
            "type": "mqtt out",
            "z": "4afdea7267ebe825",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1360,
            "y": 820,
            "wires": []
        },
        {
            "id": "8csxu5k80v6tevpc",
            "type": "modbus-flex-connector",
            "z": "4afdea7267ebe825",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1070,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "r508ztczl7uy9p4w",
            "type": "comment",
            "z": "4afdea7267ebe825",
            "name": "---- Virtual Read",
            "info": "",
            "x": 80,
            "y": 180,
            "wires": []
        },
        {
            "id": "stv9hd6r3ne06mog",
            "type": "link out",
            "z": "4afdea7267ebe825",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "tamvuihyydys2cvb",
                "4ths2hleg9t2iaup"
            ],
            "x": 295,
            "y": 120
        },
        {
            "id": "tamvuihyydys2cvb",
            "type": "link in",
            "z": "4afdea7267ebe825",
            "name": "Protocol Read",
            "links": [
                "stv9hd6r3ne06mog",
                "1oh510ze3wd6g9cw"
            ],
            "x": 75,
            "y": 480,
            "wires": [
                [
                    "v2hvjc99gsse2l6p"
                ]
            ]
        },
        {
            "id": "v2hvjc99gsse2l6p",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 480,
            "wires": [
                [
                    "7eh1yatoqbhq77op"
                ]
            ]
        },
        {
            "id": "1oh510ze3wd6g9cw",
            "type": "link out",
            "z": "4afdea7267ebe825",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "tamvuihyydys2cvb"
            ],
            "x": 1465,
            "y": 1180
        },
        {
            "id": "4ths2hleg9t2iaup",
            "type": "link in",
            "z": "4afdea7267ebe825",
            "name": "Virtual Read",
            "links": [
                "stv9hd6r3ne06mog"
            ],
            "x": 75,
            "y": 260,
            "wires": [
                [
                    "igkx0yw5lybdtcn8"
                ]
            ]
        },
        {
            "id": "igkx0yw5lybdtcn8",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 260,
            "wires": [
                [
                    "b9wwil6obu9ys7qc"
                ]
            ]
        },
        {
            "id": "tf47wpfkpz76cxg0",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "calculate virtual values",
            "func": "const functions = {\n    \"deviceState\": (metricId, parameterIds) => {\n        if (!flow.get(\"bridge.image.metrics\").hasOwnProperty(metricId)) {\n            msg.payload[metricId] = 0;\n        }\n        if (parameterIds.length === 0) {\n            parameterIds = flow.get(\"bridge.image.protocols\").filter(dataPoint => {\n                return dataPoint.topic.includes(\"error\")\n            }).map(dataPoint => {\n                return dataPoint.id;\n            });\n        }\n\n        const ok = Object.keys(flow.get(\"bridge.image.metrics\")).filter(key => {\n            return parameterIds.includes(key)\n        }).reduce((accumulator, id) => accumulator && (flow.get(\"bridge.image.metrics\")[id] === \"\" || flow.get(\"bridge.image.metrics\")[id] === 0 || flow.get(\"bridge.image.metrics\")[id] === false), true)\n        \n        if (ok) {\n            msg.payload[metricId] = 0;\n        } else {\n            msg.payload[metricId] = 2;\n        }\n    }\n}\n\nconst executor = (metricId, func, parameterIds) => {\n    msg.payload[metricId] = eval(\"(\" + func + \")\")(...parameterIds.map(x => flow.get(\"bridge.image.metrics\")[x]))\n}\n\nmsg.sequences.forEach(sequence => {\n    msg = sequence;\n    msg.payload = {};\n    let calc = sequence.dataPoint.calculation\n    let metricsExist = calc.ids.reduce((accumulator, currentValue) => accumulator && flow.get(\"bridge.image.metrics\").hasOwnProperty(currentValue), true)\n    if (metricsExist) {\n        if (functions.hasOwnProperty(calc.func)){\n            functions[calc.func](sequence.dataPoint.id, calc.ids)\n        } else {\n            executor(sequence.dataPoint.id, calc.func, calc.ids);\n        }\n    } else {\n        throw \"Parameter IDs: \" + calc.ids + \" is missing for calculation\";\n    }\n    node.send(msg);\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 260,
            "wires": [
                [
                    "8lyl16eesveb26r6"
                ]
            ]
        },
        {
            "id": "g6m3czkhi0762kjz",
            "type": "comment",
            "z": "4afdea7267ebe825",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 760,
            "wires": []
        },
        {
            "id": "avxb248txhunen9m",
            "type": "link in",
            "z": "4afdea7267ebe825",
            "name": "Update Metrics",
            "links": [
                "8lyl16eesveb26r6",
                "aerso5ubu99w9gmh"
            ],
            "x": 75,
            "y": 840,
            "wires": [
                [
                    "4a23gckin8of815c"
                ]
            ]
        },
        {
            "id": "4a23gckin8of815c",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Set sensor value on bridge",
            "func": "function rawToEngineering(raw, rawMin, rawMax, engMin, engMax) {\n    if (raw <= rawMin) return engMin;\n    if (raw >= rawMax) return engMax;\n    return engMin + ((raw - rawMin) / (rawMax - rawMin)) * (engMax - engMin);\n}\n\n/**\n * Inverse: engineering → expected raw\n */\nfunction engineeringToRaw(value, rawMin, rawMax, engMin, engMax) {\n    if (value <= engMin) return rawMin;\n    if (value >= engMax) return rawMax;\n    return rawMin + ((value - engMin) / (engMax - engMin)) * (rawMax - rawMin);\n}\n\n\nvar cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nmsg.stateUpstreamRequired = false;\nmsg.errorUpstreamRequired = false;\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        if (msg.dataPoint.type !== \"virtual\" && msg.dataPoint.type !== \"calculated\") {\n            // Transform sensor read values for Zeneca Z-8I\n            const RAW_MIN = 215;   // raw at 4 mA\n            const RAW_MAX = 1120;  // raw at 20 mA\n            const ENG_MIN = msg.dataPoint.min;     // bar at 4 mA\n            const ENG_MAX = msg.dataPoint.max;    // bar at 20 mA\n            msg.payload[propertyName] = rawToEngineering(msg.payload[propertyName], RAW_MIN, RAW_MAX, ENG_MIN, ENG_MAX);\n            if(msg.payload[propertyName] <= msg.dataPoint.min){\n                msg.payload[propertyName] = -99;\n            }\n        }\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"error\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.errorUpstreamRequired = true;\n    }\n    if (msg.dataPoint.topic.find(topic => topic === \"state\") && flow.get(\"bridge\").image.metrics[propertyName] !== undefined && flow.get(\"bridge\").image.metrics[propertyName] !== msg.payload[propertyName]) {\n        msg.stateUpstreamRequired = true;\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 320,
            "y": 840,
            "wires": [
                [
                    "2q2yqszdgvzvl3vo",
                    "42x93ece215y9hic"
                ]
            ]
        },
        {
            "id": "aerso5ubu99w9gmh",
            "type": "link out",
            "z": "4afdea7267ebe825",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "avxb248txhunen9m"
            ],
            "x": 1435,
            "y": 480
        },
        {
            "id": "xefi4aqzmfaz7ccs",
            "type": "flogger",
            "z": "4afdea7267ebe825",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 590,
            "y": 1520,
            "wires": [
                []
            ]
        },
        {
            "id": "wyq6iju2bihlxw79",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1520,
            "wires": [
                [
                    "w1agiuzbzgshp5fa"
                ]
            ]
        },
        {
            "id": "cuiod3de328z46ql",
            "type": "catch",
            "z": "4afdea7267ebe825",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1520,
            "wires": [
                [
                    "wyq6iju2bihlxw79"
                ]
            ]
        },
        {
            "id": "w1agiuzbzgshp5fa",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 1520,
            "wires": [
                [
                    "xefi4aqzmfaz7ccs"
                ]
            ]
        },
        {
            "id": "8lyl16eesveb26r6",
            "type": "link out",
            "z": "4afdea7267ebe825",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "avxb248txhunen9m"
            ],
            "x": 1435,
            "y": 260
        },
        {
            "id": "45llwemm8m7kfno7",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "send virtual data",
            "func": "msg.sequences = flow.get(\"bridge.image.virtuals\").map(dataPoint => {\n    return {\n        dataPoint: dataPoint\n    };\n});\n\nif (msg.sequences.length > 0) {\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 420,
            "y": 260,
            "wires": [
                [
                    "tf47wpfkpz76cxg0"
                ]
            ]
        },
        {
            "id": "b9wwil6obu9ys7qc",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Config correct",
            "property": "bridge.image.virtuals",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 300,
            "wires": [
                [
                    "45llwemm8m7kfno7"
                ]
            ]
        },
        {
            "id": "7eh1yatoqbhq77op",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Config correct",
            "property": "bridge.image.protocols",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "array",
                    "vt": "array"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 200,
            "y": 520,
            "wires": [
                [
                    "589ctm0mmq5qaxi3"
                ]
            ]
        },
        {
            "id": "9yomsfvc1i1l265b",
            "type": "mqtt in",
            "z": "4afdea7267ebe825",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 110,
            "y": 1260,
            "wires": [
                [
                    "c0xt6bh68xpzugpd"
                ]
            ]
        },
        {
            "id": "30k3tqolftflwgmy",
            "type": "inject",
            "z": "4afdea7267ebe825",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 110,
            "y": 1080,
            "wires": [
                [
                    "gyh5qw7bvhbt23zl"
                ]
            ]
        },
        {
            "id": "j2xwbvuakr65vlud",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 290,
            "y": 1200,
            "wires": [
                [
                    "9yomsfvc1i1l265b"
                ]
            ]
        },
        {
            "id": "gyh5qw7bvhbt23zl",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 1140,
            "wires": [
                [
                    "ml99tcwacanhyvf1"
                ],
                [
                    "j2xwbvuakr65vlud"
                ]
            ]
        },
        {
            "id": "ml99tcwacanhyvf1",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 310,
            "y": 1140,
            "wires": []
        },
        {
            "id": "c0xt6bh68xpzugpd",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        if(matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true){\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === true){\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        if (matchingCommand.fc === 6) {\n            const protocolBits = flow.get(\"bridge.image.protocols\").filter(protocol => protocol.address === matchingProtocol.address);\n            var registerValue = 0;\n            protocolBits.forEach(protocolBit => {\n                if (flow.get(\"bridge.image.metrics\")[protocolBit.id] === true) {\n                    registerValue += Math.pow(2, protocolBit.offsetbit);\n                }\n            });\n            if (command.value === 1) {\n                registerValue += Math.pow(2, matchingProtocol.offsetbit)\n            }\n            command.value = registerValue;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 1260,
            "wires": [
                [
                    "fmchaywyqno64h80"
                ],
                [
                    "776l1k0uveszmvcw"
                ]
            ]
        },
        {
            "id": "y2tymxs0gffznti5",
            "type": "mqtt out",
            "z": "4afdea7267ebe825",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1370,
            "y": 1260,
            "wires": []
        },
        {
            "id": "fmchaywyqno64h80",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1240,
            "wires": [
                [
                    "qhtdmpuzp47jufsc"
                ],
                [
                    "hz9rmcwq719a36rl"
                ]
            ]
        },
        {
            "id": "gnpe4c4b9l7yw120",
            "type": "debug",
            "z": "4afdea7267ebe825",
            "name": "Execute Command",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1020,
            "y": 1120,
            "wires": []
        },
        {
            "id": "qhtdmpuzp47jufsc",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 750,
            "y": 1220,
            "wires": [
                [
                    "91if90oavw1qfx82"
                ],
                [
                    "6k6itrs2ilbd0kwv",
                    "gnpe4c4b9l7yw120"
                ]
            ]
        },
        {
            "id": "91if90oavw1qfx82",
            "type": "debug",
            "z": "4afdea7267ebe825",
            "name": "Command type not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": true,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1070,
            "y": 1080,
            "wires": []
        },
        {
            "id": "xjrg1jek0a7q358d",
            "type": "comment",
            "z": "4afdea7267ebe825",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1480,
            "wires": []
        },
        {
            "id": "6t2y0rpat1oana4b",
            "type": "catch",
            "z": "4afdea7267ebe825",
            "name": "",
            "scope": [
                "6k6itrs2ilbd0kwv"
            ],
            "uncaught": false,
            "x": 590,
            "y": 1320,
            "wires": [
                [
                    "nz08kcsnq9vynk28"
                ]
            ]
        },
        {
            "id": "776l1k0uveszmvcw",
            "type": "delay",
            "z": "4afdea7267ebe825",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1260,
            "wires": [
                [
                    "y2tymxs0gffznti5"
                ]
            ]
        },
        {
            "id": "ln4lii1nfgf7r4wc",
            "type": "change",
            "z": "4afdea7267ebe825",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1220,
            "wires": [
                [
                    "776l1k0uveszmvcw"
                ]
            ]
        },
        {
            "id": "hz9rmcwq719a36rl",
            "type": "delay",
            "z": "4afdea7267ebe825",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 1360,
            "wires": [
                [
                    "y2tymxs0gffznti5"
                ]
            ]
        },
        {
            "id": "nz08kcsnq9vynk28",
            "type": "change",
            "z": "4afdea7267ebe825",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1000,
            "y": 1320,
            "wires": [
                [
                    "hz9rmcwq719a36rl"
                ]
            ]
        },
        {
            "id": "ztg2n379gvuppsmc",
            "type": "delay",
            "z": "4afdea7267ebe825",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1070,
            "y": 680,
            "wires": [
                [
                    "9vnjb6s2n2llshr6"
                ]
            ]
        },
        {
            "id": "rl92q9w6tp61d6wl",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "COMMUNICATION_ERROR - OK",
            "func": "flow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = false;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 940,
            "y": 600,
            "wires": [
                [
                    "pjo67ds9wyqs1g81"
                ]
            ]
        },
        {
            "id": "pjo67ds9wyqs1g81",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "set virtual value",
            "func": "var updatedPayload = {};\nupdatedPayload[msg.name] = msg.payload;\nmsg.payload = updatedPayload;\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1260,
            "y": 600,
            "wires": [
                [
                    "aerso5ubu99w9gmh"
                ]
            ]
        },
        {
            "id": "2pvy2ob9en77rlyn",
            "type": "change",
            "z": "4afdea7267ebe825",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 880,
            "y": 640,
            "wires": [
                [
                    "ztg2n379gvuppsmc"
                ]
            ]
        },
        {
            "id": "9vnjb6s2n2llshr6",
            "type": "function",
            "z": "4afdea7267ebe825",
            "name": "COMMUNICATION_ERROR - ERROR",
            "func": "flow.set(\"bridge.image.metrics\", {});\n\nflow.get(\"bridge.image.protocols\").filter(protocol => protocol.type === \"virtual\").forEach(dataPoint => {\n    if(dataPoint.id === \"COMMUNICATION_ERROR\") {\n        msg.dataPoint = dataPoint;\n        msg.name = dataPoint.id;\n        msg.payload = true;\n        node.send(msg);\n    }\n});\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 950,
            "y": 720,
            "wires": [
                [
                    "pjo67ds9wyqs1g81"
                ]
            ]
        },
        {
            "id": "kwbvrua5ldjmutml",
            "type": "catch",
            "z": "4afdea7267ebe825",
            "name": "",
            "scope": [
                "n1u9wv74t7uxxmml"
            ],
            "uncaught": false,
            "x": 690,
            "y": 680,
            "wires": [
                [
                    "1w2lumjnssh1gfwi",
                    "p98qgw9i9cy9pimj"
                ]
            ]
        },
        {
            "id": "1w2lumjnssh1gfwi",
            "type": "change",
            "z": "4afdea7267ebe825",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 890,
            "y": 680,
            "wires": [
                [
                    "ztg2n379gvuppsmc"
                ]
            ]
        },
        {
            "id": "p98qgw9i9cy9pimj",
            "type": "delay",
            "z": "4afdea7267ebe825",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "minutes",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 870,
            "y": 760,
            "wires": [
                [
                    "wm985vz2ccvqx2vi"
                ]
            ]
        },
        {
            "id": "wm985vz2ccvqx2vi",
            "type": "change",
            "z": "4afdea7267ebe825",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1050,
            "y": 760,
            "wires": [
                []
            ]
        },
        {
            "id": "yz1v4ays6o20dhad",
            "type": "delay",
            "z": "4afdea7267ebe825",
            "name": "",
            "pauseType": "rate",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "30",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": true,
            "allowrate": false,
            "outputs": 1,
            "x": 880,
            "y": 560,
            "wires": [
                [
                    "rl92q9w6tp61d6wl",
                    "2pvy2ob9en77rlyn"
                ]
            ]
        },
        {
            "id": "whsrre7aj34sovtq",
            "type": "switch",
            "z": "4afdea7267ebe825",
            "name": "",
            "property": "bridge.error",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "false"
                },
                {
                    "t": "null"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 470,
            "y": 540,
            "wires": [
                [
                    "n1u9wv74t7uxxmml"
                ],
                [
                    "n1u9wv74t7uxxmml"
                ]
            ]
        },
        {
            "id": "cnlteqtfrdpd7fkr",
            "type": "change",
            "z": "4afdea7267ebe825",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "bridge.error",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1290,
            "y": 1180,
            "wires": [
                [
                    "1oh510ze3wd6g9cw"
                ]
            ]
        }
    ]
}