nodered/muv/E2E-TEST.json
{
    "id": "5a4253bffe0b07b2",
    "label": "654896d61cc334f21f654a29",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "4wx7oioq6ug41irp",
            "type": "mqtt in",
            "z": "5a4253bffe0b07b2",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 140,
            "y": 2180,
            "wires": [
                [
                    "y9odd4i0f3dzo6aa"
                ]
            ]
        },
        {
            "id": "cdkpclpgwjvybe7h",
            "type": "mqtt out",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1140,
            "y": 2000,
            "wires": []
        },
        {
            "id": "zf68b7hpb77xp4ux",
            "type": "inject",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 150,
            "y": 2060,
            "wires": [
                [
                    "6wyagj0nwekwvbc4"
                ]
            ]
        },
        {
            "id": "dd0sjrlf4j6edv8q",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 230,
            "y": 2140,
            "wires": [
                [
                    "4wx7oioq6ug41irp"
                ]
            ]
        },
        {
            "id": "3aldezb0z1g00h3g",
            "type": "inject",
            "z": "5a4253bffe0b07b2",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 180,
            "y": 100,
            "wires": [
                [
                    "750oq2xdbehxdsja"
                ]
            ]
        },
        {
            "id": "750oq2xdbehxdsja",
            "type": "getflows",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "x": 340,
            "y": 100,
            "wires": [
                [
                    "hm59h08fejugtyq1"
                ]
            ]
        },
        {
            "id": "hm59h08fejugtyq1",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 470,
            "y": 100,
            "wires": [
                [
                    "5qht5nrp86xpn3c6"
                ]
            ]
        },
        {
            "id": "6wyagj0nwekwvbc4",
            "type": "switch",
            "z": "5a4253bffe0b07b2",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 160,
            "y": 2100,
            "wires": [
                [
                    "mhzcfg3p4rq752xm"
                ],
                [
                    "dd0sjrlf4j6edv8q"
                ]
            ]
        },
        {
            "id": "mhzcfg3p4rq752xm",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 350,
            "y": 2100,
            "wires": []
        },
        {
            "id": "cd9gbkrwvz2aek8u",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "----- Execute Commands",
            "info": "",
            "x": 130,
            "y": 2000,
            "wires": []
        },
        {
            "id": "rnzuvop4oc88yzsy",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "---- Connections initialization",
            "info": "",
            "x": 140,
            "y": 40,
            "wires": []
        },
        {
            "id": "5qht5nrp86xpn3c6",
            "type": "switch",
            "z": "5a4253bffe0b07b2",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 620,
            "y": 100,
            "wires": [
                [
                    "qii8izli4k1yqey7"
                ]
            ]
        },
        {
            "id": "ni87nd4vcp0zomcs",
            "type": "modbus-flex-write",
            "z": "5a4253bffe0b07b2",
            "name": "Channel Write",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "ay0nsn138kfojd5u",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 780,
            "y": 2180,
            "wires": [
                [
                    "rhubgm6krr73uxiz",
                    "detb4ne9qv2dsz5p"
                ],
                []
            ]
        },
        {
            "id": "rhubgm6krr73uxiz",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 980,
            "y": 2180,
            "wires": [
                [
                    "cdkpclpgwjvybe7h"
                ]
            ]
        },
        {
            "id": "51n5un5fz79kgfqu",
            "type": "switch",
            "z": "5a4253bffe0b07b2",
            "name": "Channel 1",
            "property": "channel",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "1",
                    "vt": "num"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 570,
            "y": 2180,
            "wires": [
                [
                    "ni87nd4vcp0zomcs"
                ]
            ]
        },
        {
            "id": "y9odd4i0f3dzo6aa",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "send write data",
            "func": "if (msg.payload.protocol.type.includes(\"bool\") && typeof msg.payload.value === \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = !msg.payload.value;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 5,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else if (msg.payload.protocol.type.includes(\"bool\") && typeof msg.payload.value !== \"boolean\") {\n    if (msg.payload.protocol.invert) {\n        msg.payload.value = msg.payload.value * -1;\n    }\n    msg.payload = {\n        \"value\": msg.payload.value,\n        \"fc\": 6,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": 1\n    }\n} else {\n    msg.payload = {\n        \"value\": parseInt(msg.payload.value) * (1 / msg.payload.protocol.scale),\n        \"fc\": 16,\n        \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n        \"address\": msg.payload.protocol.address,\n        \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.protocol.type)\n    }\n}\n\nnode.send(msg);\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 340,
            "y": 2180,
            "wires": [
                [
                    "51n5un5fz79kgfqu"
                ]
            ]
        },
        {
            "id": "qii8izli4k1yqey7",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 850,
            "y": 100,
            "wires": [
                [
                    "wtlrhhxarb4sap8o"
                ]
            ]
        },
        {
            "id": "2xwnkenxnwvt2ip6",
            "type": "mqtt out",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1140,
            "y": 1940,
            "wires": []
        },
        {
            "id": "wtlrhhxarb4sap8o",
            "type": "modbus-flex-connector",
            "z": "5a4253bffe0b07b2",
            "name": "Channel Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "ay0nsn138kfojd5u",
            "x": 1090,
            "y": 100,
            "wires": [
                [
                    "3ylurz3v7s4ld9xw"
                ]
            ]
        },
        {
            "id": "rta0jtm6hbwkwcjs",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "---- Start Test Cases",
            "info": "",
            "x": 110,
            "y": 200,
            "wires": []
        },
        {
            "id": "detb4ne9qv2dsz5p",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 19",
            "mode": "link",
            "links": [
                "cf6db4eb8d7b0711",
                "afb6f62110933904"
            ],
            "x": 925,
            "y": 2140
        },
        {
            "id": "7vpvbpkc0qxyi5v2",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "---- Update Metrics",
            "info": "",
            "x": 110,
            "y": 1840,
            "wires": []
        },
        {
            "id": "7m3ees54qgpiseuk",
            "type": "link in",
            "z": "5a4253bffe0b07b2",
            "name": "Update Metrics",
            "links": [
                "jc097u2faxzx6d29",
                "0bd1ce70d3164464",
                "ne5oft057vi8375r",
                "xa1b36ijpco0eyp0",
                "4f5nd91qtk5k85mj",
                "9wxywub4wtet8i28",
                "y14ri7evnhcm85yl",
                "j2cgo029v4otmi58",
                "s0tnm9auli63fcjo",
                "x30xv2uy7c9droxf",
                "m7a3g7d4pbw47deq"
            ],
            "x": 95,
            "y": 1940,
            "wires": [
                [
                    "472p16nfo5q0yiez"
                ]
            ]
        },
        {
            "id": "472p16nfo5q0yiez",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 260,
            "y": 1940,
            "wires": [
                [
                    "2xwnkenxnwvt2ip6",
                    "cdkpclpgwjvybe7h"
                ]
            ]
        },
        {
            "id": "9hxxcsw9j7ihkerr",
            "type": "flogger",
            "z": "5a4253bffe0b07b2",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 610,
            "y": 2400,
            "wires": [
                []
            ]
        },
        {
            "id": "c35ro91fdt4e5ytu",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 280,
            "y": 2400,
            "wires": [
                [
                    "zxyap7lz59bw2bcg"
                ]
            ]
        },
        {
            "id": "pn2n61x555j6mgoy",
            "type": "catch",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 140,
            "y": 2400,
            "wires": [
                [
                    "c35ro91fdt4e5ytu"
                ]
            ]
        },
        {
            "id": "zxyap7lz59bw2bcg",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 2400,
            "wires": [
                [
                    "9hxxcsw9j7ihkerr"
                ]
            ]
        },
        {
            "id": "jc097u2faxzx6d29",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 21",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 140
        },
        {
            "id": "j22nwt3l0g45m7sb",
            "type": "function",
            "z": "5a4253bffe0b07b2",
            "name": "Send Response",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => bridge.id === flow.get(\"bridge.id\"));\nif (bridge) {\n    msg.topic = bridge.uplink.endpoint.url + \"/command/bridge/update\";\n    msg.payload = { response: {} };\n    msg.payload.response = bridge.updateRequest.response;\n    msg.payload.response.status = \"ERROR\";\n    msg.payload.response.error = \"Bridge publish failed\";\n    \n    return msg;\n}\n\nnode.done();",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 280,
            "y": 280,
            "wires": [
                [
                    "k6ztu68xqciojqep",
                    "8f6l0qdh1xlwxlht"
                ]
            ]
        },
        {
            "id": "8f6l0qdh1xlwxlht",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 22",
            "mode": "link",
            "links": [
                "0892516bb5295768"
            ],
            "x": 1165,
            "y": 280
        },
        {
            "id": "3ggtzje5q8hkowpq",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "2",
            "info": "",
            "x": 70,
            "y": 240,
            "wires": []
        },
        {
            "id": "jevwgkg8sjjwv7of",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 280,
            "wires": [
                [
                    "j22nwt3l0g45m7sb"
                ]
            ]
        },
        {
            "id": "3ylurz3v7s4ld9xw",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "simulationData initial values",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData",
                    "pt": "flow",
                    "to": "{\"SIM-0\":0,\"SIM-1\":0,\"SIM-2\":false,\"SIM-11\":\"off\",\"SIM-4\":false,\"SIM-5\":\"\",\"SIM-6\":0,\"SIM-97\":\"\",\"SIM-98\":\"\",\"SIM-99\":\"\"}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 220,
            "y": 140,
            "wires": [
                [
                    "5g6naur02j3xbrd6"
                ]
            ]
        },
        {
            "id": "579hpnvapv8oxkji",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 400,
            "wires": [
                [
                    "gye3xxl08fpaegy8"
                ]
            ]
        },
        {
            "id": "ne5oft057vi8375r",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 23",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 400
        },
        {
            "id": "z35qr6kr4x024wv4",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "3",
            "info": "",
            "x": 70,
            "y": 360,
            "wires": []
        },
        {
            "id": "sjahl3vyq45735kj",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 660,
            "y": 140,
            "wires": [
                [
                    "jc097u2faxzx6d29",
                    "jevwgkg8sjjwv7of"
                ]
            ]
        },
        {
            "id": "k6ztu68xqciojqep",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 2",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 2",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Events Tab",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "FAILED Bridge Update Event visible. ",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 430,
            "y": 320,
            "wires": [
                [
                    "xa1b36ijpco0eyp0",
                    "579hpnvapv8oxkji"
                ]
            ]
        },
        {
            "id": "xa1b36ijpco0eyp0",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 24",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 320
        },
        {
            "id": "gye3xxl08fpaegy8",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 3",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 3",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Monitoring SIM 4-6, check Events Tab.",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "SIM-4,SIM-5,SIM-6 Error TRUE, Events visible",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-4",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-5",
                    "pt": "flow",
                    "to": "ERROR TRUE",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-6",
                    "pt": "flow",
                    "to": "1",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 290,
            "y": 400,
            "wires": [
                [
                    "ne5oft057vi8375r",
                    "vzx06pr7i5sbv5o5"
                ]
            ]
        },
        {
            "id": "vzx06pr7i5sbv5o5",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 500,
            "wires": [
                [
                    "ybkgpxv98kp8imyw"
                ]
            ]
        },
        {
            "id": "4f5nd91qtk5k85mj",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 500
        },
        {
            "id": "cl9dibq0ira37jr6",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "4",
            "info": "",
            "x": 70,
            "y": 460,
            "wires": []
        },
        {
            "id": "ybkgpxv98kp8imyw",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 4",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 4",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Monitoring SIM 4-6, check Events Tab.",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": " SIM-4,SIM-5,SIM-6 Error FALSE, Events visible",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-4",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-5",
                    "pt": "flow",
                    "to": "ERROR FALSE",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-6",
                    "pt": "flow",
                    "to": "0",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 290,
            "y": 500,
            "wires": [
                [
                    "4f5nd91qtk5k85mj",
                    "y20td02i8w2prkac",
                    "baepmpekapmlei6r"
                ]
            ]
        },
        {
            "id": "baepmpekapmlei6r",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 700,
            "wires": [
                [
                    "9oq18j9k8qt6e6bq"
                ]
            ]
        },
        {
            "id": "9wxywub4wtet8i28",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 26",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 700
        },
        {
            "id": "dtcl24e89alxds8y",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "5",
            "info": "",
            "x": 70,
            "y": 660,
            "wires": []
        },
        {
            "id": "9oq18j9k8qt6e6bq",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 5",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 5",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Monitoring SIM-0",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "SIM-0 50 °C",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-0",
                    "pt": "flow",
                    "to": "50",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 290,
            "y": 700,
            "wires": [
                [
                    "9wxywub4wtet8i28",
                    "pr9sy3jfw6anauv9",
                    "a1b5gdgvoqq9vewg"
                ]
            ]
        },
        {
            "id": "5g6naur02j3xbrd6",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 1",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 1",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Events Tab",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "Sucessful Bridge Update event visible",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 450,
            "y": 140,
            "wires": [
                [
                    "sjahl3vyq45735kj"
                ]
            ]
        },
        {
            "id": "a1b5gdgvoqq9vewg",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 940,
            "wires": [
                [
                    "jfaolptcammq92px"
                ]
            ]
        },
        {
            "id": "y14ri7evnhcm85yl",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 27",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 940
        },
        {
            "id": "l7e5ggsdzgk7cp7j",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "6",
            "info": "",
            "x": 70,
            "y": 900,
            "wires": []
        },
        {
            "id": "jfaolptcammq92px",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 6",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 6",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check SIM-0 Monitoring",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "SIM-0 40 °C",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-0",
                    "pt": "flow",
                    "to": "40",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 290,
            "y": 940,
            "wires": [
                [
                    "y14ri7evnhcm85yl",
                    "s54ltz8aewvaiw9v",
                    "vmw1z4m7znde8xf7"
                ]
            ]
        },
        {
            "id": "vmw1z4m7znde8xf7",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 1140,
            "wires": [
                [
                    "35ravrf4641dcmht"
                ]
            ]
        },
        {
            "id": "j2cgo029v4otmi58",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 28",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 1140
        },
        {
            "id": "fjl7fp3u2u8d9ry6",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "7",
            "info": "",
            "x": 70,
            "y": 1100,
            "wires": []
        },
        {
            "id": "35ravrf4641dcmht",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 7",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 7",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check SIM-0 Monitoring, check SIM-0 Analytics",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "M: SIM-0 40 °C, A: 50,40,10 curve.",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-0",
                    "pt": "flow",
                    "to": "10",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 290,
            "y": 1140,
            "wires": [
                [
                    "j2cgo029v4otmi58",
                    "scxk6m1fhrqvjsik",
                    "tebadqes4gjvsrju"
                ]
            ]
        },
        {
            "id": "tebadqes4gjvsrju",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 120,
            "y": 1360,
            "wires": [
                [
                    "qph8wpctk0jbu7bn"
                ]
            ]
        },
        {
            "id": "s0tnm9auli63fcjo",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 29",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 1360
        },
        {
            "id": "fjb5uyd0g0jj6kia",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "8",
            "info": "",
            "x": 70,
            "y": 1320,
            "wires": []
        },
        {
            "id": "qph8wpctk0jbu7bn",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 8",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 8",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Monitoring SIM-1, SIM-2, SIM-11",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "SIM-1:ON,  SIM-2:ON,  SIM-11:ON.",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-1",
                    "pt": "flow",
                    "to": "1",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-2",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-11",
                    "pt": "flow",
                    "to": "on",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 290,
            "y": 1360,
            "wires": [
                [
                    "s0tnm9auli63fcjo",
                    "8hnhnbpyuxk97f59",
                    "bn571le3z7s336iz"
                ]
            ]
        },
        {
            "id": "r5exrarq98yb4u3q",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "simulationData initial values",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData",
                    "pt": "flow",
                    "to": "{\"SIM-0\":0,\"SIM-1\":0,\"SIM-2\":false,\"SIM-11\":\"off\",\"SIM-4\":false,\"SIM-5\":\"\",\"SIM-6\":0,\"SIM-97\":\"\",\"SIM-98\":\"\",\"SIM-99\":\"\"}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1800,
            "y": 180,
            "wires": [
                []
            ]
        },
        {
            "id": "s1issd3cz8ss0ff5",
            "type": "link in",
            "z": "5a4253bffe0b07b2",
            "name": "reset to initial values",
            "links": [
                "y20td02i8w2prkac",
                "8hnhnbpyuxk97f59",
                "pr9sy3jfw6anauv9",
                "scxk6m1fhrqvjsik",
                "xdt45mgo7uqhghsh"
            ],
            "x": 1415,
            "y": 180,
            "wires": [
                [
                    "dr9qdhh6huzb8rgn"
                ]
            ]
        },
        {
            "id": "y20td02i8w2prkac",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 30",
            "mode": "link",
            "links": [
                "s1issd3cz8ss0ff5"
            ],
            "x": 475,
            "y": 540
        },
        {
            "id": "pr9sy3jfw6anauv9",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 31",
            "mode": "link",
            "links": [
                "s1issd3cz8ss0ff5"
            ],
            "x": 475,
            "y": 760
        },
        {
            "id": "s54ltz8aewvaiw9v",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 32",
            "mode": "link",
            "links": [],
            "x": 475,
            "y": 980
        },
        {
            "id": "scxk6m1fhrqvjsik",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 33",
            "mode": "link",
            "links": [
                "s1issd3cz8ss0ff5"
            ],
            "x": 485,
            "y": 1200
        },
        {
            "id": "bn571le3z7s336iz",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 140,
            "y": 1560,
            "wires": [
                [
                    "nvqjcv9pgj33pzoy"
                ]
            ]
        },
        {
            "id": "x30xv2uy7c9droxf",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 34",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 1560
        },
        {
            "id": "vfp6tiuexzw219yl",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "9",
            "info": "",
            "x": 50,
            "y": 1520,
            "wires": []
        },
        {
            "id": "nvqjcv9pgj33pzoy",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 9",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-97",
                    "pt": "flow",
                    "to": "Step 9",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-98",
                    "pt": "flow",
                    "to": "Check Monitoring SIM-1, SIM-2, SIM-11",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "SIM-1:OFF,  SIM-2:OFF,  SIM-11:OFF",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-1",
                    "pt": "flow",
                    "to": "0",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-2",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-11",
                    "pt": "flow",
                    "to": "off",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 270,
            "y": 1560,
            "wires": [
                [
                    "x30xv2uy7c9droxf",
                    "lsmqloyntt3lg6fd",
                    "xdt45mgo7uqhghsh"
                ]
            ]
        },
        {
            "id": "8hnhnbpyuxk97f59",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 35",
            "mode": "link",
            "links": [
                "s1issd3cz8ss0ff5"
            ],
            "x": 485,
            "y": 1440
        },
        {
            "id": "dr9qdhh6huzb8rgn",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "2",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1560,
            "y": 180,
            "wires": [
                [
                    "r5exrarq98yb4u3q"
                ]
            ]
        },
        {
            "id": "lsmqloyntt3lg6fd",
            "type": "delay",
            "z": "5a4253bffe0b07b2",
            "name": "",
            "pauseType": "delay",
            "timeout": "60",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 140,
            "y": 1720,
            "wires": [
                [
                    "bk7i2ornvm2iwtpu"
                ]
            ]
        },
        {
            "id": "m7a3g7d4pbw47deq",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 36",
            "mode": "link",
            "links": [
                "7m3ees54qgpiseuk"
            ],
            "x": 1165,
            "y": 1720
        },
        {
            "id": "77nej9acrl1s94pd",
            "type": "comment",
            "z": "5a4253bffe0b07b2",
            "name": "END OF TEST",
            "info": "",
            "x": 80,
            "y": 1680,
            "wires": []
        },
        {
            "id": "bk7i2ornvm2iwtpu",
            "type": "change",
            "z": "5a4253bffe0b07b2",
            "name": "Step 10",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-99",
                    "pt": "flow",
                    "to": "END",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 280,
            "y": 1720,
            "wires": [
                [
                    "m7a3g7d4pbw47deq"
                ]
            ]
        },
        {
            "id": "xdt45mgo7uqhghsh",
            "type": "link out",
            "z": "5a4253bffe0b07b2",
            "name": "link out 37",
            "mode": "link",
            "links": [
                "s1issd3cz8ss0ff5"
            ],
            "x": 485,
            "y": 1600
        }
    ]
}