nodered/muv/SIMULATOR.json
{
    "id": "82badb4b93a0b5d8",
    "label": "657981a347cb8bb5e47cc126",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "bd8g8mbrgcgghkkf",
            "type": "inject",
            "z": "82badb4b93a0b5d8",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 140,
            "y": 80,
            "wires": [
                [
                    "ag4zec12wg1wdo2b"
                ]
            ]
        },
        {
            "id": "ag4zec12wg1wdo2b",
            "type": "getflows",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "x": 300,
            "y": 80,
            "wires": [
                [
                    "00ha5801qtc17lei"
                ]
            ]
        },
        {
            "id": "00ha5801qtc17lei",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Init",
            "func": "var bridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\nbridge.image.metrics = {};\n\nflow.set(\"bridge\", bridge);\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 80,
            "wires": [
                [
                    "grmcjhufx6vo8mq9"
                ]
            ]
        },
        {
            "id": "grmcjhufx6vo8mq9",
            "type": "switch",
            "z": "82badb4b93a0b5d8",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 580,
            "y": 80,
            "wires": [
                [
                    "mekhhnr7hicujrse"
                ]
            ]
        },
        {
            "id": "mekhhnr7hicujrse",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Set channel parameters",
            "func": "const controllerParameter = flow.get(\"bridge.image.controller\");\nconst protocols = flow.get(\"bridge.image.protocols\");\nvar channel = global.get(\"hardware.interface.serial.channels\").concat(global.get(\"hardware.interface.tcp.channels\")).find(channel => channel.id === controllerParameter.channel);\n\nif (channel && controllerParameter && protocols) {\n    if (channel.connectorType == \"TCP\") {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"tcpHost\": controllerParameter.tcpHost,\n            \"tcpPort\": controllerParameter.tcpPort,\n            \"tcpType\": controllerParameter.tcpType ? controllerParameter.tcpType : \"DEFAULT\",\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    } else {\n        msg.payload = {\n            \"connectorType\": controllerParameter.connectorType ? controllerParameter.connectorType : channel.connectorType,\n            \"serialPort\": controllerParameter.serialPort ? controllerParameter.serialPort : channel.serialPort,\n            \"serialBaudrate\": controllerParameter.serialBaudrate ? controllerParameter.serialBaudrate : 19200,\n            \"serialDatabits\": controllerParameter.serialDatabits ? controllerParameter.serialDatabits : 8,\n            \"serialStopbits\": controllerParameter.serialStopbits ? controllerParameter.serialStopbits : 1,\n            \"serialParity\": controllerParameter.serialParity ? controllerParameter.serialParity : \"none\",\n            \"serialType\": controllerParameter.serialType ? controllerParameter.serialType : \"RTU-BUFFERD\",\n            \"serialConnectionDelay\": controllerParameter.serialConnectionDelay ? controllerParameter.serialConnectionDelay : 100,\n            \"unitId\": controllerParameter.unitId ? controllerParameter.unitId : 1,\n            \"commandDelay\": controllerParameter.commandDelay ? controllerParameter.commandDelay : 5,\n            \"clientTimeout\": controllerParameter.clientTimeout ? controllerParameter.clientTimeout : 1000,\n            \"reconnectTimeout\": controllerParameter.reconnectTimeout ? controllerParameter.reconnectTimeout : 2000\n        };\n    }\n    node.send(msg);\n} else {\n    node.warn(\"Invalid channel configuration!\");\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 830,
            "y": 80,
            "wires": [
                [
                    "f3a1u0lt99vmivj2"
                ]
            ]
        },
        {
            "id": "f3a1u0lt99vmivj2",
            "type": "change",
            "z": "82badb4b93a0b5d8",
            "name": "simulationData initial values",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData",
                    "pt": "flow",
                    "to": "{\"SYSTEM-0\":0,\"SIM-0\":0,\"SIM-1\":false,\"SIM-2\":99,\"ERROR-0\":false,\"RESET-0\":false}",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 200,
            "y": 140,
            "wires": [
                [
                    "usmbx5wzfg7mjnzw",
                    "ujhnevqab6v28qcu"
                ]
            ]
        },
        {
            "id": "4z1a0nq09r3vtx2h",
            "type": "link in",
            "z": "82badb4b93a0b5d8",
            "name": "Update Metrics",
            "links": [
                "1ypi0mey3buvl189",
                "2e9ox9hiehxpjubc",
                "3wcumolrc7abwjpz",
                "clq34ql3cfcpsa46",
                "euwtxowe0swpmaic",
                "lrenkwr398kz3jwx",
                "px3ywqtgcaqwnesx",
                "q4c6dtk9f5p2u1iu",
                "uqococ1bn6nvhehy",
                "xlam54c5gw4j32l9",
                "ujhnevqab6v28qcu"
            ],
            "x": 65,
            "y": 640,
            "wires": [
                [
                    "bdb4ggt9iclfj4hu"
                ]
            ]
        },
        {
            "id": "y7bw1pt5hfwzstlc",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Set sensor value on bridge",
            "func": "var cloudBridge = global.get(\"cloud.bridges\").find(bridge => {\n    return bridge.id === flow.get(\"bridge\").id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === \"number\") {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    flow.get(\"bridge\").image.metrics[propertyName] = msg.payload[propertyName];\n}\n\ncloudBridge.image.metrics = flow.get(\"bridge\").image.metrics;\n\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 480,
            "y": 640,
            "wires": [
                [
                    "gku6lm1jocg3acul",
                    "ra7as215nq941f7h"
                ]
            ]
        },
        {
            "id": "gku6lm1jocg3acul",
            "type": "mqtt out",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1100,
            "y": 640,
            "wires": []
        },
        {
            "id": "ra7as215nq941f7h",
            "type": "mqtt out",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1100,
            "y": 680,
            "wires": []
        },
        {
            "id": "ij4wusjkb9ds9bsy",
            "type": "comment",
            "z": "82badb4b93a0b5d8",
            "name": "---- Update Metrics",
            "info": "",
            "x": 90,
            "y": 580,
            "wires": []
        },
        {
            "id": "snkb44hi5j1myo2y",
            "type": "flogger",
            "z": "82badb4b93a0b5d8",
            "name": "Error",
            "logfile": "bridge.log",
            "inputchoice": "fullmsg",
            "inputobject": "payload",
            "inputobjectType": "msg",
            "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
            "loglevel": "ERROR",
            "logconfig": "2c6b06edb20118d0",
            "sendpane": true,
            "x": 610,
            "y": 1300,
            "wires": [
                []
            ]
        },
        {
            "id": "fdf4cp8ygcncldf0",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "set error",
            "func": "msg.payload = {\n    \"payload\" : msg.payload,\n    \"error\" : msg.error\n};\n\nif (msg._error){\n    msg.payload._error = msg._error;\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 280,
            "y": 1300,
            "wires": [
                [
                    "accq0cgq0ypvo71s"
                ]
            ]
        },
        {
            "id": "accq0cgq0ypvo71s",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Set log file name",
            "func": "msg.logfile = \"bridge-\" + env.get(\"NR_FLOW_NAME\") + \".log\"\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 1300,
            "wires": [
                [
                    "snkb44hi5j1myo2y"
                ]
            ]
        },
        {
            "id": "ydnpyr2o5xt1j2x8",
            "type": "catch",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "scope": null,
            "uncaught": false,
            "x": 120,
            "y": 1300,
            "wires": [
                [
                    "fdf4cp8ygcncldf0"
                ]
            ]
        },
        {
            "id": "35us74ybjasbibbr",
            "type": "change",
            "z": "82badb4b93a0b5d8",
            "name": "Step 1",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-0",
                    "pt": "flow",
                    "to": "10",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-1",
                    "pt": "flow",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 230,
            "y": 260,
            "wires": [
                [
                    "bqotivi0wwl3b8cd",
                    "ujhnevqab6v28qcu"
                ]
            ]
        },
        {
            "id": "ujhnevqab6v28qcu",
            "type": "link out",
            "z": "82badb4b93a0b5d8",
            "name": "link out 19",
            "mode": "link",
            "links": [
                "4z1a0nq09r3vtx2h"
            ],
            "x": 1025,
            "y": 280
        },
        {
            "id": "ki1vf6ga6tcexk3p",
            "type": "delay",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 240,
            "y": 220,
            "wires": [
                [
                    "35us74ybjasbibbr"
                ]
            ]
        },
        {
            "id": "khpnleur1cnq5gs4",
            "type": "delay",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "pauseType": "delay",
            "timeout": "30",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 240,
            "y": 360,
            "wires": [
                [
                    "07un2jjo583cmcd0"
                ]
            ]
        },
        {
            "id": "07un2jjo583cmcd0",
            "type": "change",
            "z": "82badb4b93a0b5d8",
            "name": "Step 2",
            "rules": [
                {
                    "t": "set",
                    "p": "simulationData.SIM-0",
                    "pt": "flow",
                    "to": "30",
                    "tot": "num"
                },
                {
                    "t": "set",
                    "p": "simulationData.SIM-1",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 230,
            "y": 400,
            "wires": [
                [
                    "ujhnevqab6v28qcu",
                    "etxadjsiktcpbu02"
                ]
            ]
        },
        {
            "id": "jfwhcjw7ln4if5u6",
            "type": "link in",
            "z": "82badb4b93a0b5d8",
            "name": "Step 1",
            "links": [
                "usmbx5wzfg7mjnzw",
                "etxadjsiktcpbu02"
            ],
            "x": 95,
            "y": 220,
            "wires": [
                [
                    "ki1vf6ga6tcexk3p"
                ]
            ]
        },
        {
            "id": "vaiicr7rssbr7acw",
            "type": "link in",
            "z": "82badb4b93a0b5d8",
            "name": "Step 2",
            "links": [
                "bqotivi0wwl3b8cd"
            ],
            "x": 95,
            "y": 360,
            "wires": [
                [
                    "khpnleur1cnq5gs4"
                ]
            ]
        },
        {
            "id": "usmbx5wzfg7mjnzw",
            "type": "link out",
            "z": "82badb4b93a0b5d8",
            "name": "link out 20",
            "mode": "link",
            "links": [
                "jfwhcjw7ln4if5u6"
            ],
            "x": 1025,
            "y": 160
        },
        {
            "id": "bqotivi0wwl3b8cd",
            "type": "link out",
            "z": "82badb4b93a0b5d8",
            "name": "link out 21",
            "mode": "link",
            "links": [
                "vaiicr7rssbr7acw"
            ],
            "x": 1025,
            "y": 200
        },
        {
            "id": "etxadjsiktcpbu02",
            "type": "link out",
            "z": "82badb4b93a0b5d8",
            "name": "link out 22",
            "mode": "link",
            "links": [
                "jfwhcjw7ln4if5u6"
            ],
            "x": 1025,
            "y": 240
        },
        {
            "id": "bdb4ggt9iclfj4hu",
            "type": "change",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "simulationData",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 220,
            "y": 640,
            "wires": [
                [
                    "y7bw1pt5hfwzstlc"
                ]
            ]
        },
        {
            "id": "b8pgvteppb62yf0t",
            "type": "inject",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 180,
            "wires": [
                [
                    "f3a1u0lt99vmivj2"
                ]
            ]
        },
        {
            "id": "u5ib9r18vr1871zl",
            "type": "mqtt in",
            "z": "82badb4b93a0b5d8",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 120,
            "y": 1020,
            "wires": [
                [
                    "0t520qd3f6imcpqj"
                ]
            ]
        },
        {
            "id": "wr9mztk70vcy0p3c",
            "type": "inject",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 130,
            "y": 900,
            "wires": [
                [
                    "ywep08jon0w5381l"
                ]
            ]
        },
        {
            "id": "pzf1nv9mq3xjtilr",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Subscribe to commands for this bridge",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"bridge/command/\" + flow.get(\"bridge\").id + \"/#\"\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 210,
            "y": 980,
            "wires": [
                [
                    "u5ib9r18vr1871zl"
                ]
            ]
        },
        {
            "id": "ywep08jon0w5381l",
            "type": "switch",
            "z": "82badb4b93a0b5d8",
            "name": "Config correct",
            "property": "bridge.image.controller",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 940,
            "wires": [
                [
                    "wveg9b5upmss451n"
                ],
                [
                    "pzf1nv9mq3xjtilr"
                ]
            ]
        },
        {
            "id": "wveg9b5upmss451n",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Error",
            "func": "node.warn(\"The bridge configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 940,
            "wires": []
        },
        {
            "id": "0t520qd3f6imcpqj",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "prepare write data",
            "func": "const command = msg.payload.command;\nconst response = msg.payload.response;\nconst matchingCommand = flow.get(\"bridge.image.commands\").find(bridgeCommand => bridgeCommand.id === command.id)\nconst matchingProtocol = matchingCommand ? flow.get(\"bridge.image.protocols\").find(protocol => protocol.id === matchingCommand.protocolId) : undefined;\n\nif (matchingProtocol && matchingCommand) {\n    response.value = {\n        \"actual\": flow.get(\"bridge.image.metrics\")[matchingProtocol.id],\n        \"target\": command.value\n    }\n    msg.protocolCommand = matchingCommand;\n    msg.response = response;\n    \n    if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"boolean\") {\n        if (matchingProtocol.invert) {\n            command.value = !command.value;\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.id,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (matchingProtocol.type.includes(\"bool\") && typeof command.value === \"number\") {\n        if (matchingProtocol.invert) {\n            command.value = Math.abs(command.value - 1);\n        }\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.id,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else if (typeof command.value === \"number\") {\n        msg.payload = {\n            \"value\": matchingProtocol.type.startsWith(\"int16\") && command.value < 0 ? 65536 + command.value * (1 / matchingProtocol.scale) : command.value * (1 / matchingProtocol.scale),\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.id,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    } else {\n        msg.payload = {\n            \"value\": command.value,\n            \"fc\": matchingCommand.fc,\n            \"unitid\": flow.get(\"bridge.image.controller.unitId\"),\n            \"address\": matchingProtocol.id,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(matchingProtocol.type)\n        }\n    }\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_EXECUTION\";\n\n    return [msg, responseMessage]\n} else {\n    node.warn(\"Command configuration wrong!\");\n    let responseMessage = { payload: { response: response } };\n    responseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\n    responseMessage.payload.response.status = \"ERROR\";\n    responseMessage.payload.response.error = \"ERROR_BRIDGE_COMMAND_CONFIG\";\n    \n    return [null, responseMessage];\n}\n",
            "outputs": 2,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 1020,
            "wires": [
                [
                    "wpqtdkdtvy5eecnn"
                ],
                [
                    "gro588c8myv3ty3n"
                ]
            ]
        },
        {
            "id": "gro588c8myv3ty3n",
            "type": "mqtt out",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "topic": "cloud/upstream/response",
            "qos": "2",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1090,
            "y": 1020,
            "wires": []
        },
        {
            "id": "wpqtdkdtvy5eecnn",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Write data",
            "func": "let writeMessage = { payload:  msg.payload };\nwriteMessage.protocolCommand = msg.protocolCommand;\n\nlet responseMessage = { payload: { response: msg.response } };\nresponseMessage.payload.topic = flow.get(\"bridge\").uplink.endpoint.url + \"/command/response\";\nresponseMessage.payload.response.status = \"OK\";\nresponseMessage.payload.response.error = \"\";\n\nreturn [writeMessage, responseMessage];",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 1000,
            "wires": [
                [
                    "bq0g1q0hbk4u1qs0"
                ],
                [
                    "gro588c8myv3ty3n",
                    "pawo7bnhezsop119"
                ]
            ]
        },
        {
            "id": "pawo7bnhezsop119",
            "type": "debug",
            "z": "82badb4b93a0b5d8",
            "name": "Response",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 560,
            "y": 1060,
            "wires": []
        },
        {
            "id": "z39em0yswtqq7spq",
            "type": "debug",
            "z": "82badb4b93a0b5d8",
            "name": "Command",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1050,
            "y": 900,
            "wires": []
        },
        {
            "id": "alm3dfncoscjq7ne",
            "type": "comment",
            "z": "82badb4b93a0b5d8",
            "name": "---- Handle commands",
            "info": "",
            "x": 100,
            "y": 840,
            "wires": []
        },
        {
            "id": "bq0g1q0hbk4u1qs0",
            "type": "switch",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "property": "protocolCommand.type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "setpoint",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "virtual",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 830,
            "y": 960,
            "wires": [
                [
                    "z39em0yswtqq7spq",
                    "x60xlr0r2kpqc9qm"
                ],
                [
                    "zx2nwu0uacd6klqj"
                ]
            ]
        },
        {
            "id": "zx2nwu0uacd6klqj",
            "type": "debug",
            "z": "82badb4b93a0b5d8",
            "name": "Not yet implemented",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 1080,
            "y": 980,
            "wires": []
        },
        {
            "id": "lxxrejulm8n5ck5c",
            "type": "comment",
            "z": "82badb4b93a0b5d8",
            "name": "---- Handle errors",
            "info": "",
            "x": 80,
            "y": 1240,
            "wires": []
        },
        {
            "id": "x60xlr0r2kpqc9qm",
            "type": "function",
            "z": "82badb4b93a0b5d8",
            "name": "Set Value",
            "func": "if (msg.payload.address === \"RESET-0\") {\n    flow.set(\"simulationData.ERROR-0\", false);\n} else if (msg.payload.address === \"ERROR-0\") {\n    flow.set(\"simulationData.ERROR-0\", true);\n} else {\n    var metrics = flow.get(\"simulationData\");\n    metrics[msg.payload.address] = msg.payload.value;\n    flow.set(\"simulationData\", metrics);\n}\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1040,
            "y": 820,
            "wires": [
                [
                    "29b1207e78baf5f4"
                ]
            ]
        },
        {
            "id": "29b1207e78baf5f4",
            "type": "delay",
            "z": "82badb4b93a0b5d8",
            "name": "",
            "pauseType": "delay",
            "timeout": "5",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 200,
            "y": 700,
            "wires": [
                [
                    "bdb4ggt9iclfj4hu"
                ]
            ]
        }
    ],
    "configs": [
        {
            "id": "inkma6mlx514wai6",
            "type": "modbus-client",
            "z": "82badb4b93a0b5d8",
            "name": "Flexible Channel",
            "clienttype": "serial",
            "bufferCommands": true,
            "stateLogEnabled": false,
            "queueLogEnabled": false,
            "failureLogEnabled": true,
            "tcpHost": "127.0.0.1",
            "tcpPort": "10502",
            "tcpType": "DEFAULT",
            "serialPort": "/dev/ttyAMA2",
            "serialType": "RTU-BUFFERD",
            "serialBaudrate": "19200",
            "serialDatabits": "8",
            "serialStopbits": "1",
            "serialParity": "none",
            "serialConnectionDelay": "100",
            "serialAsciiResponseStartDelimiter": "0x3A",
            "unit_id": "1",
            "commandDelay": "1",
            "clientTimeout": "1000",
            "reconnectOnTimeout": true,
            "reconnectTimeout": "2000",
            "parallelUnitIdsAllowed": false,
            "showWarnings": true,
            "showLogs": true
        }
    ]
}